body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.maintable {
	background-color:#bfdcf3;
	border-bottom:1px solid #87bbe4;
	border-top:1px solid #87bbe4;
	border-left:1px solid #87bbe4;
	border-right:1px solid #87bbe4;
}

.whitetable_bg {
	background-color:#FFFFFF;
}

.wh_ar_b {
	font-family: verdana;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
}

.grey_ar_s {
	font-family: verdana;
	font-size: 9px;
	color: #999999;
}

.blue_ar_b {
	font-family: verdana;
	font-size: 12px;
	color: #074180;
	font-weight: bold;
}
.blue_ar_b_17 {
	font-family: verdana;
	font-size: 17px;
	color: #074180;
	font-weight: bold;
}
.blue_ar_c {
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	/*font-weight: bold;*/
}

.black_ar_s {
	font-family: verdana;
	font-size: 10px;
	color: #000000;
}

.black_ar_b {
	font-family: verdana;
	font-size: 11px;
	color: #323232;
	font-weight: bold;
}

.black_ar_disabled {
	font-family: verdana;
	font-size: 11px;
	color: #323232;
	vertical-align:middle;
	background-color:#E6E6E6;
}

.wh_ar_s {
	font-family: verdana;
	font-size: 0.7em;
	color: #ffffff;
}

.black_ar_b_13 {
	font-family: verdana;
	font-size: 13px;
	color: #171717;
	vertical-align:middle;
	margin:0px;
}

.black_ar {
	font-family: verdana;
	font-size: 11px;
	color: #171717;
	vertical-align:middle;
	margin:0px;
}

.black_ar_t {
	font-family: verdana;
	font-size: 11px;
	color: #000000;
	vertical-align:top;
	padding-top:7px;

}


.black_new{
	font-family: verdana;
	font-size: 11px;
	vertical-align:middle;
}

.grey_ar {
	font-family: verdana;
	font-size: 11px;
	color: #999999;
}

.messagetext {
	font-family:Verdana;
	font-size:11px;
	color:#ea6c15;
}

.messagetexterror {
	font-family:Verdana;
	font-size:11px;
	color: red;
	vertical-align:middle;
	margin:0px;
}

.messagetextsuccess {
	font-family:Verdana;
	font-size:11px;
	color: green;
	vertical-align:middle;
	margin:0px;
}

.messagehighlight {
	border-bottom:1px solid #ea6c15;
	border-top:1px solid #ea6c15;
	border-right:1px solid #ea6c15;
	border-left:1px solid #ea6c15;
	background-color:#fcf6f2;
	font-family: verdana;
	font-size: 10px;
	color: #000000;

}


/*Start table css*/
.tableheading {
	background-color:#d7d7d7;
	border-top:1px solid #c1c0c0;
	font-family:Verdana;
	font-size:11px;
	color:#323232;
}

.tabletd1 {
	background-color:#f6f6f6;
	font-family:Verdana;
	font-size:11px;
}

/*End table css*/


/*Start link css*/

A.cancellink:link{
	font-family: verdana;
	font-size: 12px;
	color: #054a8f;
	font-weight:bold;
	text-decoration:underline;
}
A.cancellink:visited{
	font-family: verdana;
	font-size: 12px;
	color: #054a8f;
	font-weight:bold;
	text-decoration:underline;
}
A.cancellink:active{
	font-family: verdana;
	font-size: 12px;
	color: #054a8f;
	font-weight:bold;
	text-decoration:underline;
}
A.cancellink:hover{
	font-family: verdana;
	font-size: 12px;
	color: #054a8f;
	font-weight:bold;
	text-decoration: none;
}


A.white:link {
	color: #FFFFFF;
	Text-Decoration: none;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
}
A.white:active {color: #FFFFFF;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}
A.white:visited {color: #FFFFFF;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	Text-Decoration: none;
}
A.white:hover {color: #d4e6f9;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	Text-Decoration: underline;
}


A.view:link{
	font-family: verdana;
	font-size: 11px;
	color: #054a8f;
	text-decoration:underline;
}
A.view:visited{
	font-family: verdana;
	font-size: 11px;
	color: #054a8f;
	text-decoration:underline;
}
A.view:active{
	font-family: verdana;
	font-size: 11px;
	color: #054a8f;
	text-decoration:underline;
}
A.view:hover{
	font-family: verdana;
	font-size: 11px;
	color: #054a8f;
	text-decoration: none;
}

A.viewhelp:link{
	text-decoration:underline;
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}
A.viewhelp:visited{
	text-decoration:underline;
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}
A.viewhelp:active{
	text-decoration:underline;
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}
A.viewhelp:hover{
	text-decoration:none;
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

/*End link css*/


/*Start td/tr css*/

.td_color_bfdcf3 {
	background-color: #bfdcf3;
}

.td_tab_bg {
	background-color:#bfdcf3;
	border-bottom:1px solid #ea6c15;
	padding-top:8px;
}

.tr_bg_blue1 {
	background-color: #eef5fb;
	height:25px;
	vertical-align:middle;
}

.buttonbg {
	border-top:1px solid #eeeeee;
	background-color: #F7F7F7;
	height:30px;
	padding-left:6px;
}

.tr_bg_border {
	background-color: #f8fcff;
	border-bottom:1px solid #eef5fb;
}

.td_table_head {
	background-image: url(../images/uIEnhancementImages/table_title_bg.gif);
	background-repeat:repeat-x;
	padding-left:12px;
	padding-right:18px;
}

.td_orange_line {
	background-image: url(../images/uIEnhancementImages/or_dot.gif);
}

.td_boxborder {
	border-top:1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

.messagebox {
	border-bottom:1px solid #bfdcf3;
	border-top:1px solid #bfdcf3;
	border-right:1px solid #bfdcf3;
	border-left:1px solid #bfdcf3;
}

.tdPartition {
	border-bottom:2px solid #ffffff;
	background-color:#f6f6f6;
	font-family: verdana;
	font-size: 11px;
	color: #000000;

}

.cp_tabbg {
	border-bottom:1px solid #61a1e3;
	width:100%;
}

.cp_tabtable {
	border-left:1px solid #61a1e3;
	border-right:1px solid #61a1e3;
	border-bottom:1px solid #61a1e3;

}
.tablepadding {
            padding-left:10px;
            padding-right:10px;
            padding-bottom:10px;
            background-color:#bfdcf3;
}


.toptd {
	height:18px;
}
.bottomtd {
	height:12px;
}

.searchbox {
	border-bottom:1px solid #f2f2f2;
	border-right:1px solid #f2f2f2;
	border-left:1px solid #f2f2f2;
}
/*End td/tr css*/


/* Start Popup css */

.dhtmlwindow{
position: absolute;
border: 1px solid #05509b;
visibility: hidden;
background-color: white;
}

.drag-handle{ /*CSS for Drag Handle*/
padding: 2px;
text-indent: 3px;
font: bold 12px verdana;
background-color: #CA0000;
border-bottom:1px solid #05509b;
color: white;
cursor: move;
overflow: hidden;
width: auto;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 3px;
top: 1px;
cursor: hand;
cursor: pointer;
vertical-align:top;
}

* html .drag-handle{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/
width: 100%;
}


.drag-contentarea{ /*CSS for Content Display Area div*/
/*border-top: 1px solid brown;*/
background-color: white;
color: #ffffff;
height: 150px;
padding: 0px;
overflow: auto;
border:none;
}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
/*border-top: 1px solid gray;*/
background-color: #F8F8F8;
height: 13px; /*height of resize image*/
}


.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0;
}

.drag-handle{ /*Overwrite default drag handle bar background color with below*/
background-color: #377dc3;
/*background-image: url(../../../caTissue_suite_new/HTML/images/top_bg.jpg);*/
vertical-align:top;

}


#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background: url(../images/uIEnhancementImages/blackdot.gif);
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=85);
opacity: 0.8;
}

/* End Popup css */



/* css_Anil */
td.showhide{
padding-top:10px; padding-bottom:15px;
}

td.showhide1{
padding-top:10px;
}

.nonedittext
{
	font-family: verdana;
	font-size: 11px;
	color: #575656;
}

.noneditable {
	font-family: verdana;
	font-size: 11px;
	color: #575656;
	background-color:#f6f6f6;
}

.subtd {
	border-bottom:1px solid #d7d7d7;
	background-color: #ebeaea;
	height:15px;
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#323232;
}

.groupElements {
	background-color:#f6f6f6;
	border:1px solid #eeeeee;

}
.dividerline{
    border-top:1px solid #ebebeb;
}
.formFieldSized12{ /* for the autocomplete tag */
	font-family:verdana;
	border:1px solid #6E81A6;
  font-size:11px;
}

div.autocomplete {
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
      word-wrap:break-word;
      overflow:auto;
    }
    div.autocomplete ul {
      list-style-type:none;
      margin:0px;
      padding:0px;
    }
    div.autocomplete ul li.selected { background-color: #ffb;}
    div.autocomplete ul li {
      list-style-type:none;
      margin:0;
      padding:2px;
	  cursor:pointer;
	  overflow:none;
    }
	.formFieldSizedNew{ /* for the autocomplete tag */
  	font-family: verdana;
	font-size: 11px;
	color: #000000;
	width:18em;
	}

	.formFielDisabled{ /* for the autocomplete tag */
  	font-family: verdana;
	font-size: 11px;
	color: grey;
	width:18em;
	}
	.formFieldSized19{ /* for the autocomplete tag */
	font-family:verdana;
	border:1px solid #6E81A6;
	  font-size:11px;
	width:19em;
	}

	.formFieldSizedTime{ /* for the form elements themselves and with a constant width (on elements) */
	font-family:verdana;
	 border:1px solid #6E81A6;
	  font-size:11px;
	  width:5em;
	  vertical-align:middle;
	  }
.formFieldSizedText{ /* for the autocomplete tag */
	font-family:verdana;
	border:1px solid #6E81A6;
  font-size:11px;
	width:12em;
}
.addRow_s{
	width:14em;
	font-family: verdana;
	font-size: 11px;
	color: #000000;

}
.formFieldSized8{
	font-family:verdana;
	font-size:11px;
	width:8em;
}
.even
{
	background-color:#FFFFFF;
}
.uneven
{
	background-color:#f6f6f6;
}

.grid_hover
{
  background-color:#bfdcf3;
  font-size:20px;
}

.nComboGroup{
background-color:#f6f6f6;
border:1px solid #eeeeee;
font-family: verdana;
font-size: 11px;
color: #000000;
}
.tabletdformap {
	background-color:#f6f6f6;
	font-family:Verdana;
	font-size:11px;
}
.formFieldSizedSC{
  	font-family: verdana;
	font-size: 11px;
	color: #000000;
	width:15em;
	}
.formFieldSizedSCG{
  	font-family: verdana;
	font-size: 11px;
	color: #171717;
	vertical-align:middle;
	margin:0px;
	width:15em;

	}
.formFieldSizedAutoSCG{
  	font-family: verdana;
	font-size: 11px;
	color: #171717;
	vertical-align:middle;
	margin:0px;
	width:13.5em;

	}
	.formFieldSizedAutoSCGTime{
  	font-family: verdana;
	font-size: 11px;
	color: #171717;
	vertical-align:middle;
	margin:0px;
	width:4.5em;

	}

.tableborder{
    border:1px solid #ebecec; border-collapse:collapse;

}
.tableborder td{
    border:1px solid #ebecec; border-collapse:collapse;
	padding-left:10px;
}

.pre
{
	white-space: pre; /* CSS2 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP printers */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
	 _white-space: pre;
	font-family: verdana; font-size : 11;
}
.black_ar_md {
	font-family: verdana;
	font-size: 11px;
	color: #171717;
	vertical-align:top;
	margin:0px;
}

/* *********  Mandar : 5Dec08  For AntiSpecimen ******** */
.tr_anti_bg_blue {
	background-color: #eef5fb;
	vertical-align:middle;
}
.tr_anti_bg_gray {
	background-color: #F6F6F6;
	vertical-align:middle;
}
.tr_anti_hdrbg_blue {
	background-color: #cce5f1;
	height:25px;
	vertical-align:middle;
}

.tr_anti_dividerbg_blue {
	background-color: #cce5f1;
	height:10px;
	vertical-align:middle;
}

.black_new_md{
	font-family: verdana;
	font-size: 11px;
	vertical-align:middle;
	width:5em;
}

.bgblue_white{
	font-family: arial;
	font-size: 11px;
	font-weight:bold;
	background-color: #FFFFFF;
	color: #888888;
}
/* *********  Mandar : 20c08  For AntiSpecimen ******** */
.heading1
{
	font-family: verdana;
	font-size: 12px;
	font-weight:bold;
	background-color: #eef5fb;
	color:#074180;	/*   #365F91;		*/
	width:99%;
	padding:5px;
}

.tblborder
{
	background-color:#FFFFFF;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}
.cellBtmRtborder
{
	background-color:#FFFFFF;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
}
.cellBtmborder
{
	background-color:#FFFFFF;
	border-bottom:1px solid #000000;
}
.lastrowcellRtborder
{
	background-color:#FFFFFF;
	border-right:1px solid #000000;
}

.black_ar_mrgn5 {
	font-family: verdana;
	font-size: 11px;
	color: #171717;
	vertical-align:middle;
	margin:5px;
	padding:5px;
	width:90%;
}
.rowht
{
	height:25px;
}

/* ************* Mandar : 19Jan09 : For Summary Page changes *********** */
.gray_h1_md{
	font-family: verdana;
	font-size: 11px;
	font-weight:bold;
	vertical-align:middle;
	background-color: #cce5f1;
	color: #074180;
}

.gray_h2_md{
	font-family: verdana;
	font-size: 11px;
	font-weight:bold;
	vertical-align:middle;
	background-color: #cccccc;
}

.gray_h3_md{
	font-family: verdana;
	font-size: 11px;
	font-weight:bold;
	vertical-align:middle;
	background-color: #dedede;
}

.tr_h1_bggray {
	background-color: #cce5f1;
	height:20px;
}
.tr_h2_bggray {
	background-color: #cccccc;
	height:20px;
}
.tr_h3_bggray {
	background-color: #dedede;
	height:20px;
}

.boldText
{
	font-family: verdana;
	font-size: 11px;
	font-weight:bold;
}