body {
	background-color: #ffffff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a {
/*	color: #3366CC;*/
	color: #333333;
	text-decoration: none;
}

form {
	background-color: #FFFFFF;
}

.newMaintable {
	background-color:#FFFFFF;
	border-bottom:1px solid #87bbe4;
	border-top:1px solid #87bbe4;
	border-left:1px solid #87bbe4;
	border-right:1px solid #87bbe4;
}	

.whitetable_bg {
	background-color:#FFFFFF;
}

.wh_ar_b {
	font-family: verdana;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
}

.grey_ar_s {
	font-family: verdana;
	font-size: .6em;
	color: #999999;
}
.black_ar {
	font-family: verdana;
	font-size: 11px;
	color: #000000;
}

.black_arNew {
	font-family: verdana;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}


.blue_ar_b {
	font-family: verdana;
	font-size: 12px;
	color: #074180;
	font-weight: bold;
}

.button_main {
	font-family: verdana;
	font-size: .8em;
	font-weight: bold;
	color: #034381;
	margin: 1px;
	padding: 1px;
}

.black_ar_s {
	font-family: verdana;
	font-size: 10px;
	color: #000000;
}

.black_ar_b {
	font-family: verdana;
	font-size: 11px;
	color: #323232;
	font-weight: bold;
}

.wh_ar_s {
	font-family: verdana;
	font-size: 0.7em;
	color: #ffffff;
}

.black_ar {
	font-family: verdana;
	font-size: 11px;
	color: #000000;
}

.grey_ar {
	font-family: verdana;
	font-size: 11px;
	color: #999999;
}

.messagetext {
	font-family:Verdana;
	font-size:11px;
	color:#ea6c15;
}

.messagehighlight {
	border-bottom:1px solid #ea6c15;
	border-top:1px solid #ea6c15;
	border-right:1px solid #ea6c15;
	border-left:1px solid #ea6c15;
	background-color:#fcf6f2;
	font-family: verdana;
	font-size: 10px;
	color: #000000;

}

/*Start table css*/
.tableheading {
	background-color:#d7d7d7;
	border-top:1px solid #c1c0c0;
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#323232;
}

.tabletd1 {
	background-color:#f6f6f6;
	font-family:Verdana;
	font-size:11px;
}	



/*End table css*/








/*Start link css*/
.smalllink {
	font-family: verdana;
	font-size: 10px;
	color: #054281;
	font-weight: bold;
	text-decoration:underline;
}
.smalllink a:link{
	font-family: verdana;
	font-size: 10px;
	color: #054281;
	font-weight: bold;
	text-decoration:none;
}
.smalllink a:visible{
	font-family: verdana;
	font-size: 10px;
	color: #054281;
	font-weight: bold;
	text-decoration:none;
}
.smalllink a:activate{
	font-family: verdana;
	font-size: 10px;
	color: #054281;
	font-weight: bold;
	text-decoration:none;
}
.smalllink a:hover{
	font-family: verdana;
	font-size: 10px;
	color: #054281;
	font-weight: bold;
	text-decoration: underline;
}

.cancellink {
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration:underline;
}
.cancellink a:link{
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;
}
.cancellink a:visible{
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;
}
.cancellink a:activate{
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;
}
.cancellink a:hover{
	font-family: verdana;
	font-size: 12px;
	color: #054281;
	font-weight: bold;
	text-decoration: underline;
}

A.blue:link {
	color: #054380;
	Text-Decoration: underline;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
}
A.blue:active {color: #054380; 
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline}
A.blue:visited {color: #054380; 
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	Text-Decoration: underline}
A.blue:hover {color: #0099FF; 
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	Text-Decoration: none}

A.orange:link {
	color: #ea6c15;
	Text-Decoration: underline;
	font-family: verdana;
	font-size: 11px;
}
A.orange:active {color: #ea6c15; 
	font-family: verdana;
	font-size: 11px;
	text-decoration: underline
}
A.orange:visited {color: #ea6c15; 
	font-family: verdana;
	font-size: 11px;
	Text-Decoration: underline
}
A.orange:hover {color: #0099FF; 
	font-family: verdana;
	font-size: 11px;
	Text-Decoration: none
}	

A.white:link {
	color: #FFFFFF;
	Text-Decoration: none;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
}
A.white:active {color: #FFFFFF; 
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none}
A.white:visited {color: #FFFFFF; 
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	Text-Decoration: none}
A.white:hover {color: #d4e6f9; 
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	Text-Decoration: underline}

.link {
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;
}
.link a:link{
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;
}
.link a:visible{
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;
}
.link a:activate{
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	text-decoration:none;
}
.link a:hover{
	font-family: verdana;
	font-size: 10px;
	color: #ea6c15;
	font-weight: bold;
	text-decoration: underline;
}

/*End link css*/


	


/*Start td/tr css*/

.td_color_bfdcf3 {
	background-color: #bfdcf3;
}

.td_tab_bg {
/*	background-image: url(../images/tab_bg.gif);
	background-repeat:repeat-y;	*/
	background-color:#bfdcf3;
	border-bottom:1px solid #ea6c15;

}

.tr_bg_blue1 {
	background-color: #eef5fb;
}

.buttonbg {
	border-top:1px solid #eeeeee;
	background-color: #F7F7F7;
	height:30px;
}

.tr_bg_border {
	background-color: #f8fcff;
	border-bottom:1px solid #eef5fb;
}

.td_table_head {
	background-image: url(../images/uIEnhancementImages/table_title_bg.gif);
}

.td_orange_line {
	background-image: url(../images/uIEnhancementImages/or_dot.gif);
}

.td_boxborder {
	border-top:1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

.messagebox {
	border-bottom:1px solid #bfdcf3;
	border-top:1px solid #bfdcf3;
	border-right:1px solid #bfdcf3;
	border-left:1px solid #bfdcf3;
}
/*End td/tr css*/





/* Start Popup css */

.dhtmlwindow{
position: absolute;
border: 1px solid #05509b;
visibility: hidden;
background-color: white;
}

.drag-handle{ /*CSS for Drag Handle*/
padding: 1px;
text-indent: 3px;
font: bold 12px verdana;
background-color: #CA0000;
color: white;
cursor: move;
overflow: hidden;
width: auto;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 1px;
top: 0px;
cursor: hand;
cursor: pointer;
vertical-align:top;
}

* html .drag-handle{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/
width: 100%;
}


.drag-contentarea{ /*CSS for Content Display Area div*/
/*border-top: 1px solid brown;*/
background-color: white;
color: black;
height: 150px;
padding: 0px;
overflow: auto;
}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
/*border-top: 1px solid gray;*/
background-color: #F8F8F8;
height: 13px; /*height of resize image*/
}


.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0;
}

.drag-handle{ /*Overwrite default drag handle bar background color with below*/
/*background-color: #990000;*/
background-image: url(../../../caTissue_suite_new/HTML/images/top_bg.jpg);
vertical-align:top;

}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background: url(../images/uIEnhancementImages/blackdot.gif);
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=75);
opacity: 0.8;
}

/* End Popup css */



/* Start Tooltip css */

#dhtmltooltip{
position: absolute;
left: -300px;
width: 150px;
border: 1px solid black;
padding: 2px;
background-color: lightyellow;
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}

/* End Tooltip css */
















.black_new{
	font-family: verdana;
	font-size: 11px;
}

.blue_ar_b1 {
	font-family: verdana;
	font-size: 12px;
	color: #074180;
	font-weight: bold;
}
.drag-handle{ /*Overwrite default drag handle bar background color with below*/
background-color: #03277C;
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background: black url(blackdot.gif);
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=80);
opacity: 0.8;
}

/* End Tooltip css */