.box-border{
	border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 10px #999999;
	border: 1px solid #F2F2F2;
 /*   background: #f8f8f8;*/
}
.text-field-login{
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #BBBBBB inset;
	font-size:14px;
	height:32px;
	padding-left: 4px;
}
.login-inner-div{
	padding: 10px;
}
.login-box-content{
	background: #f8f8f8;
	text-align: left;
	width:269px;
	 padding: 18px;
}

.box-content{
	text-align: left;
	
}

.box-class{
 float: left;
    font-size: 15px;
    margin-right: 40px;
}

.signin{
	font-size:16px;
}

.login-label{
	font-size: 15px;
	font-family: verdana;
}

.login-button{
	font-size: 13px;
    height: 32px;
	
	  font-weight: bold;
	   padding: 0 8px;
    text-align: center;
	width: 56px;
	/*background-color: #F1F1F1;
	border: 1px solid #DCDCDC;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	*/
	 background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #4787ED;
	color:white;
}

.signup-link-div{
	float:left;
   /*margin-left:20px;*/
   margin-top:6px;
   padding-left:18px;
   
}

.anchor-no-style{
text-decoration: none;
}

.logo-margin{
    margin-left: 15px;

}
.version-header-font{
 font-size: 24px;
    font-weight: bold;
}
.container-header-spacing{
margin-left:7px;
    padding-top: 13px;
}

.help-summary {
      height: 107px;
    overflow: hidden;
}

.container-text{
	padding-left:9px;
	font-size:13px;
	font-weight: 200;
	
}
.container-text-top-margin{
	 margin-left: 8px;
    margin-top: 4px;
}
.help-header {
  /*  background-color: #D0DCBD;*/
    font-size: 16px;
    font-weight: 200;
	font-weight: bold;
	padding: 8px;
	text-align: left;
}
.detail-summary-link{
float: right;
    font-size: 9px;
    padding-right: 10px;
    padding-top: 8px;
	}