Hello $sharedUser.firstName, $sharedUser.lastName

#if($sharedTags.size() == 1)
Query folder by title $sharedTags.get(0).label has been shared to you by $user.firstName, $user.lastName. 
#else 
Query folders by title #foreach($tag in $sharedTags) #if($velocityCount == $sharedTags.size())$tag.label#{else}$tag.label,#end #end has been shared to you by $user.firstName, $user.lastName. 
#end You can now access the query after you login to caTissue.

$footer
