Dear $user.lastName, $user.firstName
 
Congratulations! You are now a member of caTissue. Your registration details are as follows: 
 
Login Name : $user.loginName
Last Name : $user.lastName
First Name : $user.firstName
Street : $user.address.street
City : $user.address.city
Zip Code : $user.address.zipCode
State : $user.address.state
Country : $user.address.country
Phone Number: $user.address.phoneNumber
Fax Number : $user.address.faxNumber
Email Address : $user.emailAddress
Institution : $user.institution.name
Department : $user.department.name
Cancer Research Group : $user.cancerResearchGroup.name

#if($user.targetIdpLoginName != "null") 
Congratulations, you have successfully been migrated to your institution's user account. Please use the same to log into caTissue from now on.
#end

$footer
