Dear $user.lastName, $user.firstName

Your registration is now pending for approval by the System Administrators. Your registration details are as follows:

Login Name : $user.loginName
Last Name : $user.lastName
First Name : $user.firstName
Street : $user.address.street
City : $user.address.city
Zip Code : $user.address.zipCode
State : $user.address.state
Country : $user.address.country
Phone Number: $user.address.phoneNumber
Fax Number : $user.address.faxNumber
Email Address : $user.emailAddress
Institution : $user.institution.name
Department : $user.department.name
Cancer Research Group : $user.cancerResearchGroup.name

$footer
