<div class="os-modal-header">
  <span ng-if="!siteDependencies">{{'user.delete_user' | translate: {name: user.firstName + ' ' + user.lastName} }}</span>
  <span ng-if="siteDependencies" class="text-danger">{{'user.dependency_title' | translate: {name: user.firstName + ' ' + user.lastName} }}</span>
</div>
<div class="os-modal-body">
  <div ng-if="!userDependencies">
    {{ 'user.confirm_delete' | translate:{name: user.lastName + ' ' + user.firstName} }}
  </div>

  <div ng-if="userDependencies">
    <h5>{{'user.dependency_details' | translate: {name: user.lastName + ' ' + user.firstName} }}</h5>
    <div class="os-section">
      <h3 class="os-sub-section-title" translate="site.list">Sites</h3>
      <div class="os-table os-table-muted-hdr os-border">
        <div class="os-table-head">
          <div class="row">
            <div class="col col-xs-6" translate="site.name">Name</div>
            <div class="col col-xs-6" translate="site.type">Type</div>
          </div>
        </div>
        <div class="os-table-body">
          <div class="row" ng-repeat="site in userDependencies.sites">
            <div class="col col-xs-6">{{site.name}}</div>
            <div class="col col-xs-6">{{site.type}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="os-modal-footer">
  <button class="btn os-btn-text" ng-click="cancel()" ng-if="!userDependencies" translate="common.buttons.cancel">Cancel</button>
  <button class="btn btn-primary" ng-click="delete()" ng-if="!userDependencies" translate="common.yes">Yes</button>
  <button class="btn btn-primary" ng-click="cancel()" ng-if="userDependencies" translate="common.buttons.ok">Ok</button>
</div>

