<div> 
  <div os-page-header>
    <ul os-breadcrumbs>
      <li><a ui-sref="user-list" translate="user.list">Users</a></li>
    </ul>

    <h3>{{user.lastName}} {{user.firstName}}</h3>

    <div class="os-btns">
      <button class="primary" title="{{'user.tooltip.create_user' | translate}}" 
        ui-sref="user-addedit({userId: user.id})" ng-if="user.activityStatus != 'Pending'">
        <span class="fa fa-pencil"></span>
        <span translate="common.buttons.edit">Edit</span>
      </button>
    </div>
  </div>
    
  <div os-side-menu ng-if="user.activityStatus != 'Pending'">
    <ul>
      <li ui-sref-active="active">
        <a ui-sref=".overview">
          <i class="fa fa-eye"></i>
          <span class="os-title" translate="user.menu.overview">Overview</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref=".roles">
          <i class="fa fa-users"></i>
          <span class="os-title" translate="user.menu.roles">Roles</span>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="os-side-menu-page-content" ui-view></div>
</div>
