
<div style="margin-top: 100px">
  <div class="os-center-box">
    <h3 class="os-section-title" translate="user.forgot_password.title">Forgot password</h3>
    <div class="alert" ng-if="response.status" ng-class="{true: 'alert-success', false: 'alert-danger'}[response.status == 'ok']">
      {{response.message}}
    </div>
    <div ng-if="response.status != 'ok'">
      <form ng-submit="sendMail()">
        <div class="form-group">
          <input type="text"required class="form-control" ng-model="user.loginName" 
            placeholder="{{'user.forgot_password.login_name' | translate}}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" translate="user.forgot_password.email_button">Email Reset Password Link</button>
        </div>
      </form>
    </div>
    <div if="response.status == 'ok'">
      <span><a ui-sref="login" class="df-link-primary-sm" translate="user.forgot_password.sign_in_link">Return to sign in page</a></span>
    </div>
  </div>

  <div class="os-footer">
    <span>OpenSpecimen is an open source biobanking software developed by Krishagni Solutions on top of NCI caTissue. For more details visit <a href="http://www.openspecimen.org">www.openspecimen.org</a> or mail us at <a href="mailto:support@krishagni.com">support@krishagni.com</a></span>
  </div>
</div>

