
<div class="os-items-group">
  <div class="os-item">
    <h3 class="os-section-title"> 
      <span>
        {{user.lastName}} {{user.firstName}}
      </span>
    </h3>
  </div>
  <div class="os-item os-action-btns os-action-btns-md">
    <a><span class="glyphicon glyphicon-pencil"></span></a>
  </div>
</div>

<div class="clearfix">
  <div class="col-xs-8">
    <ul class="os-key-values os-two-cols" os-inline-editors on-save="editUser">
      <li class="item">
        <strong class="key key-sm" translate="user.last_name">Last Name</strong>
        <os-inline-edit editor="lastNameEditor" name="lastName" class="value value-md" value="user.lastName">
          <span ng-if="lastNameEditor.isDisplayMode()">{{lastNameEditor.viewValue | osNoValue}}</span>
          <input ng-if="lastNameEditor.isEditMode()" type="text" ng-model="lastNameEditor.editValue" 
            class="form-control" placeholder="{{'user.last_name' | translate}}">
        </os-inline-edit>
      </li>
      
      <li class="item">
        <strong class="key key-sm" translate="user.first_name">First Name</strong>
        <os-inline-edit editor="firstNameEditor" name="firstName" class="value value-md" value="user.firstName">
          <span ng-if="firstNameEditor.isDisplayMode()">{{firstNameEditor.viewValue | osNoValue}}</span>
          <input ng-if="firstNameEditor.isEditMode()" type="text" ng-model="firstNameEditor.editValue" 
            class="form-control" placeholder="{{'user.first_name' | translate}}">
        </os-inline-edit>
      </li>
      
      <li class="item">
        <strong class="key key-sm" translate="user.domain_name">Domain Name</strong>
        <os-inline-edit editor="domainEditor" name="domain" class="value value-md" value="user.domainName">
          <span ng-if="domainEditor.isDisplayMode()">{{domainEditor.viewValue | osNoValue}}</span>
          <div ng-if="domainEditor.isEditMode()">
            <ui-select ng-model="domainEditor.editValue">
              <ui-select-match placeholder="{{'user.domain_name' | translate}}">
                {{$select.selected}}
              </ui-select-match>
              <ui-select-choices repeat="domain in domains_pvs | filter: $select.search">
                <span ng-bind-html="domain | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </os-inline-edit>
      </li>
      
      <li class="item">
        <strong class="key key-sm" translate="user.login_name">Login Name</strong>
        <os-inline-edit editor="loginNameEditor" name="loginName" class="value value-md" value="user.loginName">
          <span ng-if="loginNameEditor.isDisplayMode()">{{loginNameEditor.viewValue | osNoValue}}</span>
          <input ng-if="loginNameEditor.isEditMode()" type="text" ng-model="loginNameEditor.editValue" class="form-control" 
            placeholder="{{'user.login_name' | translate}}">
        </os-inline-edit>
      </li>
      
      <li class="item">
        <strong class="key key-sm" translate="user.email_address">Email Address</strong>
        <os-inline-edit editor="emailEditor" name="emailAddress" class="value value-md" value="user.emailAddress">
          <span ng-if="emailEditor.isDisplayMode()">{{emailEditor.viewValue | osNoValue}}</span>
          <input ng-if="emailEditor.isEditMode()" type="text" ng-model="emailEditor.editValue" class="form-control" 
            placeholder="{{'user.email_address' | translate}}">
        </os-inline-edit>
      </li>
      
      <li class="item">
        <strong class="key key-sm" translate="user.institute">Institute</strong>
        <span class="value value-md" os-inline-eddit>{{user.instituteName}}</span>
      </li>   
      
      <li class="item">
        <strong class="key key-sm" translate="user.department"> Department</strong>
        <span class="value value-md" os-inline-eddit>{{user.deptName}}</span>
      </li>   
    </ul>


    <div class="os-section" ng-init="perCollapsed=false">
      <button class="os-btn-section-collapse os-btn-transparent" ng-click="perCollapsed=!perCollapsed">
        <span ng-if="!perCollapsed">&#9660;</span>
        <span ng-if="perCollapsed">&#9654;</span>
      </button>
      <h3 class="os-sub-section-title" translate="user.permissions">Permissions</h3>
      <div collapse="perCollapsed">
        <span ng-if="user.userCPRoles.length == 0" translate="common.none">None</span>
        <table st-table="user.userCPRoles" class="table table-hover os-table-muted-hdr os-table outer-border" ng-if="user.userCPRoles.length > 0">
          <thead>
            <tr>
              <th class="col-xs-4" translate="user.site">Site</th>
              <th class="col-xs-4" translate="user.cp">Collection Protocol</th>
              <th class="col-xs-4" translate="user.role">Role</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="userCPRole in user.userCPRoles">
              <td>{{userCPRole.site}}</td>
              <td>{{userCPRole.cp}}</td>
              <td>{{userCPRole.roleName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
