<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <ul os-breadcrumbs>
        <li>
          <a ui-sref="user-list">
            <span translate="user.list">Users</span>
          </a>
        </li>
      </ul>
      <h3>
        <span>{{user.lastName}} {{user.firstName}}</span>
      </h3>
    </div>
  </div>

  <div class="container">
    <form name="passwordForm" class="form-horizontal" os-form-validator="passwordForm" novalidate>
      <div ng-if="currentUser.id == user.id" class="form-group">
        <label class="col-xs-3 control-label" translate="user.change_password.old_password">Old Password</label>
        <div class="col-xs-6">
          <input type="password" name="oldPassword" class="form-control" ng-model="passwordDetail.oldPassword"
            placeholder="{{'user.change_password.old_password' | translate}}" required>
          <div os-field-error field="passwordForm.oldPassword"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label" translate="user.change_password.new_password">New Password</label>
        <div class="col-xs-6">
          <input type="password" name="newPassword" required class="form-control" ng-model="passwordDetail.newPassword"
            placeholder="{{'user.change_password.new_password' | translate}}" ng-pattern="passwdCtx.pattern"
            bs-popover trigger="focus" placement="right" data-container="body" data-content="'{{passwdCtx.desc}}'">
          <div os-field-error field="passwordForm.newPassword"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label" translate="user.change_password.confirm_password">Confirm Password</label>
        <div class="col-xs-6">
          <input type="password" name="confirmNewPassword" required class="form-control" ng-model="confirmNewPassword"
            placeholder="{{'user.change_password.confirm_password' | translate}}" os-match-field="passwordDetail.newPassword">
          <div os-field-error field="passwordForm.confirmNewPassword"></div>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button class="btn btn-primary" os-form-submit="updatePassword()">
            <span translate="common.buttons.update"> Update </span>
          </button>
          <button class="btn os-btn-text" ng-click="back()">
            <span translate="common.buttons.discard"> Discard </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
