<div class="os-items-group">
  <div class="os-item">
    <h3 class="os-section-title">
      <span>
        {{user.lastName}} {{user.firstName}}
      </span>
    </h3>
  </div>
  <div class="os-item os-action-btns os-action-btns-md">
    <a><span class="glyphicon glyphicon-pencil"></span></a>
  </div>
</div>

<form name="userRoleForm" class="form-horizontal" os-form-validator="userRoleForm" validator="userRoleFormValidator" novalidate>
  <div class="container">
    <div class="form-group clearfix">
      <div class="col-xs-3">
        <label class="control-label" translate="user.site">Site</label>
      </div>
      <div class="col-xs-3">
        <label class="control-label" translate="user.cp">Collection Protocol</label>
      </div>
      <div class="col-xs-3">
        <label class="control-label" translate="user.role">Role</label>
      </div>
    </div>
    <div class="form-group clearfix" ng-repeat="userCPRole in user.userCPRoles">
      <ng-form name="roleForm" os-form-validator="roleForm" parent-validator="userRoleFormValidator">
        <div class="col-xs-3">
          <os-select ng-model="userCPRole.site" list="sites" name="siteName" on-change="getCps"
            placeholder="{{'user.site' | translate}}" required>
          </os-select>
          <div os-field-error field="roleForm.siteName"></div>
        </div>

        <div class="col-xs-3">
          <ui-select name="cp" ng-model="userCPRole.cp" ng-change="updatePermissions(userCPRole)"
            ng-required="!!userCPRole.site || !userCPRole.cp">
            <ui-select-match placeholder="{{'user.cp' | translate}}">
               {{userCPRole.cp}}
            </ui-select-match>
            <ui-select-choices repeat="cp.shortTitle as cp in siteCpMaps[userCPRole.site] |
              siteCP:(user.userCPRoles | filter:{site:userCPRole.site}):userCPRole">
              <span ng-bind-html="cp.shortTitle | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
          <div os-field-error field="roleForm.cp"></div>
        </div>

        <div class="col-xs-3">
          <os-select ng-model="userCPRole.roleName" list="roles" name="role" placeholder="{{'user.role' | translate}}" required>
          </os-select>
          <div os-field-error field="roleForm.role"></div>
        </div>

        <div class="col-xs-1">
          <button class="btn btn-default" ng-click="removePermission(userCPRole)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </ng-form>
    </div>

    <div class="form-group clearfix">
      <div class="col-xs-3" ng-if="addMorePermissions">
        <a ng-click="addPermission()">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        <span translate="user.add_permission">Add Permission</span>
      </div>
    </div>

    <div class="os-divider"></div>

    <div class="form-group">
      <div class="col-xs-6">
        <button class="btn btn-primary" os-form-submit="save()" translate="common.buttons.save"> Save </button>
        <button class="btn os-btn-text" ng-click="$window.history.back();" translate="common.buttons.cancel"> Cancel </button>
      </div>
    </div>

  </div>
</form>