
<div style="margin-top: 100px">      
  <div class="os-center-box" style="width: 450px;" ng-if="response.status == 'not_found'">
    <h3 class="os-section-title" translate="reset_password.link_expired_title">
      Your link has expired
    </h3>
    <div class="os-divider"></div>
    <div class="form-group" translate="reset_password.link_expired_content">
      We'll be happy to send you another one when you're ready.
    </div>
    <a ui-sref="forgot-password" class="btn btn-primary" translate="reset_password.reset_my_password">
      Reset My Password
    </a>
  </div>

  <div class="os-center-box" style="width: 350px;" ng-if="!(response.status == 'not_found')">
    <h3 class="os-section-title" translate="reset_password.title">Reset Password</h3>
    <div class="alert" ng-if="response.status" ng-class="{true: 'alert-success', false: 'alert-danger'}[response.status == 'ok']">
      {{response.message | translate}}
    </div>

    <div ng-if="response.status != 'ok'">
      <form name="resetPasswordForm" os-form-validator="resetPasswordForm" novalidate>
        <div class="form-group">
          <input type="text" name= "loginName" required class="form-control" 
            ng-model="passwordDetail.loginName" placeholder="{{'user.login_name' | translate}}">
          <div os-field-error field="resetPasswordForm.loginName"></div>
        </div>
        <div class="form-group">
          <input type="password" name="newPassword" required class="form-control" ng-model="passwordDetail.newPassword" 
            placeholder="{{'user.password' | translate}}" ng-pattern="passwdCtx.pattern"
            bs-popover trigger="focus" placement="right" data-content="'{{passwdCtx.desc}}'">
          <div os-field-error field="resetPasswordForm.newPassword"></div>
        </div>
        <div class="form-group">
          <input type="password" name="confirmPassword" required class="form-control" ng-model="confirmPassword" 
           placeholder="{{'user.confirm_password' | translate}}" os-match-field="passwordDetail.newPassword">
          <div os-field-error field="resetPasswordForm.confirmPassword"></div>
        </div>
         <div class="form-group">
          <button class="btn btn-primary btn-block" os-form-submit="resetPassword()" translate="reset_password.reset_password">
            Reset Password
          </button>
        </div>
      </form>
    </div>

    <div>
      <a ui-sref="login" ng-if="!(response.status == 'ok')" translate="common.buttons.cancel"> Cancel </a>
      <a ui-sref="login" ng-if="response.status == 'ok'" translate="reset_password.return_to_signin"> Return to Sign in page </a>
    </div>
  </div>
</div>
