
<div>
  <div class="os-custom-banner">
    <div style="height: 100px;"></div>
    <h3>Sign in to continue to OpenSpecimen</h3>
  </div>

  <div class="os-center-box">
    <img class="os-rounded-img" src="images/profile-user.png" />
    <form ng-submit="login()">
      <div class="os-group-controls">
        <input type="text"     class="form-control" ng-model="loginData.loginId" placeholder="Username">
        <input type="password" class="form-control" ng-model="loginData.password" placeholder="Password">
      </div>
      <span class="os-error-msg" ng-if="loginError">The username or password you entered is incorrect</span>
      <button type="submit" class="btn btn-block btn-primary">Sign in</button>
      <div style="padding-top: 5px;">
        <a ui-sref="forgot-password">Forgot password?</a>
      </div>
    </form>
  </div>
</div>

