<div>
  <form name="dprForm" class="form-horizontal" os-form-validator="dprForm" novalidate>
    <div class="form-group">
      <label class="col-xs-3 control-label" translate="dp.distribution_order.specimen_type">Specimen Type</label>
      <div class="col-xs-6">
        <os-select name="type" ng-model="dpr.specimenType" list="specimenTypes"
          required placeholder="{{'dp.distribution_order.specimen_type' | translate}}">
        </os-select>
        <div os-field-error field="dprForm.type"></div>
      </div>
    </div>
     
    <div class="form-group">
      <label class="col-xs-3 control-label" translate="dp.distribution_order.anatomic_site">Anatomic Site</label>
      <div class="col-xs-6">
        <os-select name="anatomicSite" ng-model="dpr.anatomicSite" list="anatomicSites"
          required placeholder="{{'dp.distribution_order.anatomic_site' | translate}}">
        </os-select>
        <div os-field-error field="dprForm.anatomicSite"></div>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-xs-3 control-label" translate="dp.distribution_order.pathology_status">Pathology Status</label>
      <div class="col-xs-6">
        <os-select name="pathology" ng-model="dpr.pathologyStatus" list="pathologyStatuses"
          required placeholder="{{'dp.distribution_order.pathology_status' | translate}}">
        </os-select>
        <div os-field-error field="dprForm.pathology"></div>
      </div>
    </div>
     
    <div class="form-group">
      <label class="col-xs-3 control-label" translate="dp.distribution_order.specimens_req">Specimens Required</label>
      <div class="col-xs-6">
        <input type="number" name="requirement" class="form-control" ng-model="dpr.specimenRequired" required
          placeholder="{{'dp.distribution_order.specimens_req' | translate}}">
        <div os-field-error field="dprForm.requirement"></div>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-xs-3 control-label" translate="dp.distribution_order.unit_price">Price Per Unit</label>
      <div class="col-xs-6">
        <input type="number" name="price" class="form-control" ng-model="dpr.price" required
          placeholder="{{'dp.distribution_order.unit_price' | translate}}">
        <div os-field-error field="dprForm.price"></div>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-xs-3 control-label" translate="dp.distribution_order.comments">Comments</label>
      <div class="col-xs-6">
        <textarea rows="2" class="form-control" ng-model="dpr.comments" 
          placeholder="{{'dp.distribution_order.comments' | translate}}">
        </textarea>
      </div>
    </div>

    <div class="os-divider"></div>
    
    <div class="form-group">
      <div class="col-xs-6 col-xs-offset-3">
        <button type="submit" class="btn btn-primary" os-form-submit="save()">
          <span ng-if="!dpr.id" translate="common.buttons.create">Create</span>
          <span ng-if="dpr.id" translate="common.buttons.update">Update</span>
        </button>
        <button class="btn os-btn-text" os-form-cancel="cancel()">
          <span translate="common.buttons.discard">Discard</span>
        </button>
      </div>
    </div>
  </form>
</div>

