
<div class="os-modal">
  <div class="os-modal-header">
    <span translate="{{'dp.distribution_order.confirm_delete_req_title'}}">
      Deleting distribution requirement confirmation
    </span>
  </div>
  <div class="os-modal-body">
    <span translate="{{'dp.distribution_order.confirm_delete_req'}}">
      Are you sure you want to delete this distribution requirement ?
    </span>
  </div>
  <div class="os-modal-footer">
    <button class="btn os-btn-text" ng-click="cancel()">
      <span translate="common.buttons.cancel">Cancel</span>
    </button>
    <button class="btn btn-danger" ng-click="ok()">
      <span translate="common.buttons.delete">Delete</span>
    </button>
  </div>
</div>

