.addl_table_head {
	background-color: #F3F3F3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	height: 25px;
}
.td_bg_color_CACACA {
	background-color: #CACACA;
}
body {
	background-color: #f7f7f7;
}
