
<div>
  <div os-page-header>
    <ul os-breadcrumbs>
      <li>
        <a ui-sref="dp-list">
          <span translate="dp.list">Distribution Protocols</span>
        </a>
      </li>
    </ul>
    <h3>
      <span ng-if="!distributionProtocol.id" translate="dp.create_dp_title">
        Create Distribution Protocol
      </span>
      <span ng-if="!!distributionProtocol.id">
        {{distributionProtocol.shortTitle}}
      </span>
    </h3>
  </div>
  
  <div class="container">
    <form name="dpForm" class="form-horizontal" os-form-validator="dpForm" validator="dpFormValidator" novalidate>
      <div class="form-group">
        <label class="col-xs-3 control-label" translate="dp.title">Title</label>
        <div class="col-xs-6">
          <input type="text" name="title" ng-model="distributionProtocol.title"
            class="form-control" placeholder="{{'dp.title' | translate}}" ng-maxlength="255" required/>
          <div os-field-error field="dpForm.title"></div>
        </div>
      </div>
     
      <div class="form-group">
        <label class="control-label col-xs-3" translate="dp.short_title">Short Title</label>
        <div class="col-xs-6">
          <input type="text" name="shortTitle" ng-model="distributionProtocol.shortTitle" 
            class="form-control" placeholder="{{'dp.short_title' | translate}}" ng-maxlength="255" required/>
          <div os-field-error field="dpForm.shortTitle"></div>
        </div>
      </div>
       
      <div class="form-group">
        <label class="control-label col-xs-3" translate="dp.institute">Institute</label>
        <div class="col-xs-6">
          <os-select name="institute" ng-model="distributionProtocol.instituteName" 
            list="institutes" select-prop="name" display-prop="name" on-select="loadUsers()"
            placeholder="{{'dp.institute' | translate}}" required></os-select>
          <div os-field-error field="dpForm.institute"></div>
        </div>
      </div>
       
      <div class="form-group">
        <label class="control-label col-xs-3" translate="dp.pi">Principle Investigator</label>
        <div class="col-xs-6">
          <os-users name="pi" ng-model="distributionProtocol.principalInvestigator" filter-opts="piFilterOpts"
            placeholder="{{'dp.pi' | translate}}" required></os-users>
          <div os-field-error field="dpForm.pi"></div>
        </div>
      </div>
     
      <div class="form-group">
        <label class="col-xs-3 control-label" translate="dp.irb_id">IRB Id</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" ng-model="distributionProtocol.irbId" 
            placeholder="{{'dp.irb_id' | translate}}" ng-maxlength="255"/>
        </div>
      </div>
    
      <div class="form-group">
        <label class="control-label col-xs-3" translate="dp.date">Date</label>
        <div class="col-xs-3">
          <input type="text" name="startDate" ng-model="distributionProtocol.startDate" class="form-control" 
            datepicker-popup="{{global.dateFmt}}" show-button-bar="true" 
            is-open="startDt.isOpen" ng-focus="startDt.isOpen=true" 
            placeholder="{{'dp.start_date' | translate}}" />   
        </div>  
        <div class="col-xs-3">
          <input type="text" name="endDate" ng-model="distributionProtocol.endDate" class="form-control" 
            datepicker-popup="{{global.dateFmt}}" show-button-bar="true" 
            is-open="endDt.isOpen" ng-focus="endDt.isOpen=true" 
            placeholder="{{'dp.end_date' | translate}}" />   
        </div>  
      </div>

      <div class="form-group">
        <label class="control-label col-xs-3" translate="dp.order_report_query">Order Report Query</label>
        <div class="col-xs-6">
          <os-select name="report" ng-model="distributionProtocol.report" 
            list="queryList.queries" display-prop="title" refresh="loadQueries"
            placeholder="{{'dp.order_report_query' | translate}}">
          </os-select>
        </div>
      </div>
     
      <div class="os-divider"></div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button class="btn btn-primary" os-form-submit="createDp()">
            <span ng-if="!distributionProtocol.id"  translate="common.buttons.create"> Create </span>
            <span ng-if="!!distributionProtocol.id" translate="common.buttons.update"> Update </span>
          </button>
          <button class="btn os-btn-text" ng-click="back()">
            <span translate="common.buttons.discard">Discard</span>
          </button>
        </div>
      </div>  
    </form>
  </div>
</div>
