
<div class="os-modal">
  <div class="os-modal-header">
    <span translate="{{'dp.confirm_close_title' | translate: entity}}">
      Closing {{shortTitle}} confirmation
    </span>
  </div>
  <div class="os-modal-body">
    <span translate="{{'dp.confirm_close' | translate: entity}}">
      Are you sure you want to close the distribution protocol {{shortTitle}} ?
    </span>
  </div>
  <div class="os-modal-footer">
    <button class="btn os-btn-text" ng-click="cancel()">
      <span translate="common.buttons.cancel">Cancel</span>
    </button>
    <button class="btn btn-primary" ng-click="ok()">
      <span translate="common.buttons.close">Close</span>
    </button>
  </div>
</div>
