<div> 
  <div os-page-header>
    <ul os-breadcrumbs>
      <li><a ui-sref="dp-list" translate="dp.list">Distribution Protocols</a></li>
    </ul>
    
    <h3>
      <span>{{distributionProtocol.shortTitle}}</span>
    
      <span class="os-status-closed" ng-if="distributionProtocol.activityStatus == 'Closed'"
        translate="dp.closed">
        Closed
      </span>
    </h3>

    <div class="os-btns right">
      <button show-if-admin class="primary" title="{{'dp.tooltip.edit' | translate}}"
        ui-sref="dp-addedit({dpId: distributionProtocol.id})">
        <span class="fa fa-pencil"></span>
        <span translate="common.buttons.edit">Edit</span>
      </button>
      <div dropdown os-show-if-menu-items-present class="inline">
        <button class="default dropdown-toggle">
          <span translate="common.buttons.more">More</span>
          <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li show-if-admin class="default" ng-click="deleteDp()">
            <a>
              <span class="fa fa-trash"></span>
              <span translate="dp.menu_options.delete">Delete</span>
            </a>
          </li>
          <li show-if-admin ng-if="distributionProtocol.activityStatus != 'Closed'" class="default"
            ng-click="closeDp()">
            <a>
              <span class="fa fa-remove"></span>
              <span translate="dp.menu_options.close">Close</span>
            </a>
          </li>
          <li show-if-admin ng-if="distributionProtocol.activityStatus == 'Closed'" class="default"
            ng-click="reopenDp()">
            <a>
              <span class="fa fa-check"></span>
              <span translate="dp.menu_options.reopen">Reopen</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div os-side-menu>
    <ul>
      <li ui-sref-active="active">
        <a ui-sref="dp-detail.overview"> 
          <i class="fa fa-eye"></i>
          <span class="os-title" translate="dp.menu.overview">Overview</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="dp-detail.history">
          <i class="fa fa-history"></i>
          <span class="os-title" translate="dp.menu.history">History</span>
        </a>
      </li>
      <li ui-sref-active="active" ui-sref="req-root">
        <a ui-sref="req-list">
          <i class="fa fa-bar-chart"></i>
          <span class="os-title" translate="dp.menu.requirements">Requirements</span>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="os-side-menu-page-content" ui-view></div>
</div>
