
<div>
  <div os-page-header>
    <h3>
      <span translate="dp.list">Distribution Protocols</span>
    </h3>
    <div class="os-btns right">
      <button show-if-admin class="primary" title="{{'dp.tooltip.add' | translate}}" ui-sref="dp-addedit({dpId: ''})">
        <span class="fa fa-plus"></span>
        <span translate="common.buttons.create">Create</span>
      </button>
      <button class="default" os-right-drawer-toggle title="{{'dp.tooltip.search' | translate}}">
        <span class="fa fa-search"></span>
        <span translate="common.buttons.search">Search</span>
      </button>
    </div>
  </div>
  
  <div class="os-cards">
    <div class="os-card" ng-repeat="distributionProtocol in distributionProtocols" 
      ng-click="showDpOverview(distributionProtocol)">
    
      <h4>
        <a title="{{distributionProtocol.shortTitle}}" ui-sref=".overview(distributionProtocol)">
          <span>{{distributionProtocol.shortTitle}}</span>
        </a>
      </h4>

      <h5 title="{{'dp.pi' | translate}}" > 
        {{distributionProtocol.principalInvestigator.firstName}} {{distributionProtocol.principalInvestigator.lastName}}
      </h5>
      
      <h5 title="{{'dp.start_date' | translate}}" > {{distributionProtocol.startDate | date : global.dateFmt}}</h5>

      <div class="stats">
        <div class="stat col-xs-6" title="{{'dp.tooltip.distributed_count' | translate}}">
          <span class="fa fa-truck"></span>
          <span>{{(distributionProtocol.distributedSpecimensCount || 0) | number: 0}}</span>
        </div>
      </div>
    </div>
  </div>

  <div os-right-drawer ng-include="'modules/administrative/dp/search.html'"></div>

</div>
