
<div>
  <div class="os-page-hdr">
    <h3 translate="dp.list">Distribution Protocols</h3>
    <a class="os-btn-icon" title="{{'dp.tooltip.new_dp' | translate}}" ui-sref="dp-new">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
  
  <div class="os-cards">
    <div class="os-card" ng-repeat="distributionProtocol in distributionProtocols" 
      ng-click="showDpOverview(distributionProtocol)">
    
      <h4>
        <a title="{{distributionProtocol.title}}" ui-sref=".overview(distributionProtocol)">
          <span>{{distributionProtocol.title}}</span>
        </a>
      </h4>

      <h5 title="{{'dp.pi' | translate}}" > 
        {{distributionProtocol.principalInvestigator.firstName}} {{distributionProtocol.principalInvestigator.lastName}}
      </h5>
      
      <h5 title="{{'dp.start_date' | translate}}" > {{distributionProtocol.startDate | date : 'MMM dd, yyyy'}}</h5>

      <div class="stats">
        <div class="stat col-xs-6" title="{{'dp.tooltip.distributed_count' | translate}}">
          <span class="os-lavatar os-lavatar-sm">D</span>
          <span>{{(dp.distributedSpecimensCount || 0) | number: 0}}</span>
        </div>
        <div class="stat col-xs-6" title="{{'dp.tooltip.pending_count' | translate}}">
          <span class="os-lavatar os-lavatar-sm">P</span>
          <span>{{(dp.pendingAndNewSpecimensCount || 0 )| number: 0}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
