<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:c="http://www.springframework.org/schema/c"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-3.2.xsd">

  
  
  <bean id="daoConfigFactory" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
   <property name="targetClass"><value>edu.wustl.dao.daofactory.DAOConfigFactory</value></property>
   <property name="targetMethod"><value>getInstance</value></property>
  </bean>
 
  <bean id="sessionFactoryBuilder" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
   <property name="targetObject"><ref local="daoConfigFactory"/></property>
   <property name="targetMethod"><value>getDAOFactory</value></property>
  </bean>

  <bean id="biospecimenDaoFactory" class="com.krishagni.catissueplus.core.biospecimen.repository.impl.DaoFactoryImpl">
    <property name="sessionFactory" value="#{sessionFactoryBuilder.getSessionFactory()}"/>
  </bean>

  <bean id="deDaoFactory" class="com.krishagni.catissueplus.core.de.repository.impl.DaoFactoryImpl">
    <property name="sessionFactory" value="#{sessionFactoryBuilder.getSessionFactory()}"/>
  </bean>
    
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <!-- one of the properties available; the maximum file size in bytes, 100mb -->
    <property name="maxUploadSize" value="100000000"/>
  </bean>

  <aop:aspectj-autoproxy />
  
  <bean id="serviceInterceptor" class="com.krishagni.catissueplus.core.common.TransactionalInterceptor">
    <property name="sessionFactory" value="#{sessionFactoryBuilder.getSessionFactory()}"/>
  </bean>
  
  <!-- bean id="collectionProtocolDao" class="com.krishagni.catissueplus.dao.impl.CollectionProtocolDaoImpl">
    <property name="daoFactory" value="daoFactory"/>  
  </bean>
  
  <bean id="collectionProtocolRegistrationDao" class="com.krishagni.catissueplus.dao.impl.CollectionProtocolRegistrationDaoImpl">
    <property name="sessionFactory" value="#{sessionFactoryBuilder.getSessionFactory()}"/>  
  </bean>
  
  <bean id="specimenCollectionGroupDao" class="com.krishagni.catissueplus.dao.impl.SpecimenCollectionGroupDaoImpl">
    <property name="sessionFactory" value="#{sessionFactoryBuilder.getSessionFactory()}"/>  
  </bean>
  
  <bean id="specimenDao" class="com.krishagni.catissueplus.dao.impl.SpecimenDaoImpl">
    <property name="sessionFactory" value="#{sessionFactoryBuilder.getSessionFactory()}"/>  
  </bean-->
  
  <bean id="collectionProtocolService" class="com.krishagni.catissueplus.core.biospecimen.services.impl.CollectionProtocolServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
  </bean>
  
  <bean id="specimenCollGroupService" class="com.krishagni.catissueplus.core.biospecimen.services.impl.SpecimenCollGroupServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
  </bean>
  
  <bean id="cpSvc" class="com.krishagni.catissueplus.core.biospecimen.services.impl.CollectionProtocolServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
  </bean>
  
  <bean id="participantFactory" class="com.krishagni.catissueplus.core.biospecimen.domain.factory.impl.ParticipantFactoryImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
  </bean>
  <bean id="specimenFactory" class="com.krishagni.catissueplus.core.biospecimen.domain.factory.impl.SpecimenFactoryImpl">
  </bean>
  <bean id="scgFactory" class="com.krishagni.catissueplus.core.biospecimen.domain.factory.impl.SpecimenCollectionGroupFactoryImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
  </bean>
  <bean id="cprFactory" class="com.krishagni.catissueplus.core.biospecimen.domain.factory.impl.CollectionProtocolRegistrationFactoryImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
  </bean>
  <bean id="participantSvc" class="com.krishagni.catissueplus.core.biospecimen.services.impl.ParticipantServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
    <property name="participantFactory" ref="participantFactory"/>
  </bean>
  
  <bean id="cprSvc" class="com.krishagni.catissueplus.core.biospecimen.services.impl.CollectionProtocolRegistrationServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
    <property name="registrationFactory" ref="cprFactory"/>
    <property name="participantFactory" ref="participantFactory"/>
  </bean>

  <bean id="userFact" class="com.krishagni.catissueplus.core.administrative.domain.factory.impl.UserFactoryImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
  </bean>

  <bean id="userSvc" class="com.krishagni.catissueplus.core.administrative.services.impl.UserServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
    <property name="userFactory" ref="userFact"/>	
  </bean>

  <bean id="ldapFact" class="com.krishagni.catissueplus.core.auth.domain.factory.impl.LdapRegistrationFactoryImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
  </bean>

  <bean id="ldapSvc" class="com.krishagni.catissueplus.core.auth.services.impl.LdapRegistrationServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
    <property name="ldapRegFactory" ref="ldapFact"/>	
  </bean>

  <bean id="catAuthenticationService" class="com.krishagni.catissueplus.core.auth.services.impl.CatissueAuthServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
  </bean>
  
  <bean id="authSvc" class="com.krishagni.catissueplus.core.auth.services.impl.UserAuthenticationServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
    <property name="catissueAuthService" ref="catAuthenticationService"/>	
  </bean>		

  <bean id="specimenSvc" class="com.krishagni.catissueplus.core.biospecimen.services.impl.SpecimenServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
  </bean>

  <bean id="formDao" class="com.krishagni.catissueplus.core.de.repository.impl.FormDaoImpl">
    <property name="sessionFactory" value="#{sessionFactoryBuilder.getSessionFactory()}"/> 
  </bean>
  
  <bean id="formSvc" class="com.krishagni.catissueplus.core.de.services.impl.FormServiceImpl">
    <property name="formDao" ref="formDao"/>
  </bean>

  <bean id="querySvc" class="com.krishagni.catissueplus.core.de.services.impl.QueryServiceImpl">
    <property name="daoFactory" ref="deDaoFactory"/>
  </bean>
  
  <bean id="auditFactory" class="com.krishagni.catissueplus.core.audit.domain.factory.impl.AuditFactoryImpl">
  </bean>
  
  <bean id="auditService" class="com.krishagni.catissueplus.core.audit.services.impl.AuditServiceImpl">
    <property name="daoFactory" ref="biospecimenDaoFactory"/>
    <property name="auditFactory" ref="auditFactory"/>
  </bean>
  
  <bean id="extAppNotificationService" class="com.krishagni.catissueplus.core.notification.services.impl.ExternalAppNotificationServiceImpl">
		<property name="daoFactory" ref="biospecimenDaoFactory" />
  </bean>
  
   <bean id="externalApplications" class="com.krishagni.catissueplus.core.notification.util.ExternalApplications"  scope="singleton">
		<property name="daoFactory" ref="biospecimenDaoFactory" />
  </bean>
  
  <bean id="mirthAppService" class="com.krishagni.catissueplus.core.notification.services.impl.MirthApplicationService">
		<property name="sessionFactory" value="#{sessionFactoryBuilder.getSessionFactory()}"/>
  </bean>

	<bean id="catissueNotificationSvc"
		class="com.krishagni.catissueplus.core.notification.services.impl.CatissueNotificationServiceImpl">
		<property name="daoFactory" ref="biospecimenDaoFactory" />
		<property name="cprSvc" ref="cprSvc" />
	</bean>

	<bean id="emailNotificationSvc"
		class="com.krishagni.catissueplus.core.notification.services.impl.EmailNotificationServiceImpl">
		<property name="daoFactory" ref="biospecimenDaoFactory" />
	</bean>

 </beans>
