<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>caTISSUE Core</display-name>

	<description>

    </description>
    <context-param>
		<param-name>applicationproperties</param-name>
		<param-value>ApplicationResources.properties</param-value>
	</context-param>
	<!--  caCore like system entries -->
	<context-param>
		<param-name>cacoreBeans.Properties</param-name>
		<param-value>cacoreBeans.properties,evsBeans.properties</param-value>
	</context-param>
	<context-param>
		<param-name>cacoreFormat.xsl</param-name>
		<param-value>xslt/cacoreFormat.xsl</param-value>
	</context-param>
	<context-param>
		<param-name>evsFormat.xsl</param-name>
		<param-value>xslt/evsFormat.xsl</param-value>
	</context-param>
	<context-param>
		<param-name>rowCounter</param-name>
		<param-value>200</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<!-- FLEX Configuration START-->
	<context-param>
		<param-name>flex.class.path</param-name>
		<param-value>/WEB-INF/flex/hotfixes,/WEB-INF/flex/jars</param-value>
	</context-param>
	<!-- base class for Application Resource bundle -->
	<context-param>
		<param-name>resourcebundleclass</param-name>
		<param-value>ApplicationResources</param-value>
	</context-param>
	<!-- filter definition -->
	<filter>
		<filter-name>FlexComponentFilter</filter-name>
		<filter-class>edu.wustl.catissuecore.filter.FlexComponentFilter</filter-class>
	</filter>
	<filter>
		<filter-name>StingerFilter</filter-name>
		<filter-class>org.owasp.stinger.StingerFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>stinger.xml</param-value>
		</init-param>
		<init-param>
			<param-name>error-page</param-name>
			<param-value>/pages/XssViolation.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>reload</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>NoActionFilter</filter-name>
		<filter-class>edu.wustl.catissuecore.util.NoActionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>BulkEmpiFilter</filter-name>
		<filter-class>edu.wustl.catissuecore.util.global.BulkEMPIFilter</filter-class>
	</filter>
	<filter>
		<filter-name>RestApiAuthFilter</filter-name>
		<filter-class>krishagni.catissueplus.rest.RestApiAuthFilter</filter-class>
	</filter>
	<filter>
         <filter-name>ThrottlingFilter</filter-name>
         <filter-class>krishagni.catissueplus.filter.ThrottlingFilter</filter-class>
         <init-param>
             <param-name>error-page</param-name>
             <param-value>/openspecimen/RedirectHome.do</param-value>
         </init-param>
     </filter>
	
<!--  filter definition ends  -->
<!--  filter mapping starts --> 
<filter-mapping>
		<filter-name>RestApiAuthFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
		
	</filter-mapping>
	<filter-mapping>
        <filter-name>RestApiAuthFilter</filter-name>
        <url-pattern>/rest/ng/*</url-pattern>
        
    </filter-mapping>
	<filter-mapping>
		<filter-name>FlexComponentFilter</filter-name>
		<url-pattern>/flexclient/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>StingerFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/SignUp.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/SignUpUserAdd.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/ReportProblem.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/ContactUs.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/SummaryPage.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/RedirectToHelp.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/Disclaimer.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/PrivacyNotice.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/Accessibility.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/ReportedProblemAdd.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/BulkLogin.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/BulkHandler.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/ImportPVAction.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoActionFilter</filter-name>
		<url-pattern>/CreateCategoryAction.do</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>BulkEmpiFilter</filter-name>
		<url-pattern>/BulkEmpiGeneration.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
         <filter-name>ThrottlingFilter</filter-name>
         <url-pattern>/Login.do</url-pattern>
     </filter-mapping>

 <filter-mapping>
         <filter-name>ThrottlingFilter</filter-name>
         <url-pattern>/Login.do</url-pattern>
     </filter-mapping>


<!-- filter mapping ends -->
<!-- listener definition starts -->
 	<listener>
		<listener-class>edu.wustl.catissuecore.util.listener.CatissueCoreServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>edu.wustl.catissuecore.util.listener.CatissueCoreSessionListener</listener-class>
	</listener>
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
<!-- listener definition starts -->
<!-- servlet configuration starts -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>

		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml, /WEB-INF/bulkoperation-struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ResponseServlet</servlet-name>
		<servlet-class>edu.wustl.common.struts.ResponseServlet</servlet-class>
	</servlet>
	
		<servlet>
     <servlet-name>ContainerExportServlet</servlet-name>
     <servlet-class>edu.wustl.catissuecore.action.ContainerExportServlet</servlet-class>
   </servlet>
   <servlet>
     <servlet-name>LoadGridServlet</servlet-name>
     <servlet-class>edu.wustl.catissuecore.action.LoadGridServlet</servlet-class>
   </servlet>
   
    <servlet>
     <servlet-name>TransferSpecimenAliquots</servlet-name>
     <servlet-class>krishagni.catissueplus.mobile.servlet.TransferSpecimenAliquots</servlet-class>
   </servlet>
   
    <servlet>
     <servlet-name>AppLogin</servlet-name>
     <servlet-class>krishagni.catissueplus.mobile.servlet.Login</servlet-class>
   </servlet>
      <servlet>
     <servlet-name>CatissueMobileAppCommonServlet</servlet-name>
     <servlet-class>krishagni.catissueplus.mobile.servlet.CatissueMobileAppCommonServlet</servlet-class>
   </servlet>
    
    <servlet>
     <servlet-name>ViewSpecimenDetail</servlet-name>
     <servlet-class>krishagni.catissueplus.mobile.servlet.ViewSpecimenDetail</servlet-class>
   </servlet>
  
    <servlet>
     <servlet-name>CreateAliquot</servlet-name>
     <servlet-class>krishagni.catissueplus.mobile.servlet.CreateAliquot</servlet-class>
   </servlet>
   
   <servlet>
     <servlet-name>StorageContainerDetail</servlet-name>
     <servlet-class>krishagni.catissueplus.mobile.servlet.StorageContainerDetail</servlet-class>
   </servlet>
   
     <servlet>
     <servlet-name>DisplayAction</servlet-name>
     <servlet-class>krishagni.catissueplus.mobile.servlet.DisplayAction</servlet-class>
   </servlet>
   
     <servlet>
     <servlet-name>AppLogout</servlet-name>
     <servlet-class>krishagni.catissueplus.mobile.servlet.Logout</servlet-class>
   </servlet>
	
	<servlet>
		<servlet-name>httpinvoker</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>sdkstartup</servlet-name>
		<servlet-class>
			gov.nih.nci.common.util.WebStartupUtil
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetXML</servlet-name>
		<servlet-class>gov.nih.nci.system.proxy.HTTPQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetHTML</servlet-name>
		<servlet-class>gov.nih.nci.system.proxy.HTTPQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Happy</servlet-name>
		<jsp-file>/Happy.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<display-name>MessageBrokerServlet</display-name>
		<servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
		<init-param>
			<param-name>services.configuration.file</param-name>
			<param-value>/WEB-INF/flex/services-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>flex.write.path</param-name>
			<param-value>/WEB-INF/flex</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FlexMxmlServlet</servlet-name>
		<display-name>MXML Processor</display-name>
		<description>Servlet wrapper for the Mxml Compiler</description>
		<servlet-class>flex.bootstrap.BootstrapServlet</servlet-class>
		<init-param>
			<param-name>servlet.class</param-name>
			<param-value>flex.webtier.server.j2ee.MxmlServlet</param-value>
		</init-param>
		<init-param>
			<param-name>webtier.configuration.file</param-name>
			<param-value>/WEB-INF/flex/flex-webtier-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FlexSwfServlet</servlet-name>
		<display-name>SWF Retriever</display-name>
		<servlet-class>flex.bootstrap.BootstrapServlet</servlet-class>
		<init-param>
			<param-name>servlet.class</param-name>
			<param-value>flex.webtier.server.j2ee.SwfServlet</param-value>
		</init-param>
		<!-- SwfServlet must be initialized after MxmlServlet -->
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FlexForbiddenServlet</servlet-name>
		<display-name>Prevents access to *.as/*.swc files</display-name>
		<servlet-class>flex.bootstrap.BootstrapServlet</servlet-class>
		<init-param>
			<param-name>servlet.class</param-name>
			<param-value>flex.webtier.server.j2ee.ForbiddenServlet</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>FlexInternalServlet</servlet-name>
		<servlet-class>flex.bootstrap.BootstrapServlet</servlet-class>
		<init-param>
			<param-name>servlet.class</param-name>
			<param-value>flex.webtier.server.j2ee.filemanager.FileManagerServlet</param-value>
		</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ImportQuery</servlet-name>
		<servlet-class>edu.wustl.query.action.ImportQueryServlet</servlet-class>
	</servlet>
	<servlet>
    <servlet-name>restApi</servlet-name>
    <servlet-class>
      org.springframework.web.servlet.DispatcherServlet
    </servlet-class>

    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/applicationContext.xml</param-value>
    </init-param>
    
    <load-on-startup>1</load-on-startup>
  </servlet>


        <servlet>
          <servlet-name>CreateFormAction</servlet-name>
          <servlet-class>edu.common.dynamicextensions.nui.action.CreateFormAction</servlet-class>
        </servlet>

        <servlet>
          <servlet-name>CreateAQFormAction</servlet-name>
          <servlet-class>edu.common.dynamicextensions.nui.action.CreateAQFormAction</servlet-class>
        </servlet>

 	    <servlet>
          <servlet-name>ExportFormAction</servlet-name>
          <servlet-class>edu.common.dynamicextensions.nui.action.ExportFormAction</servlet-class>
        </servlet>


	<servlet>
		<servlet-name>CSD</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>edu.wustl.dynamicextensions.formdesigner.resource.Resources</param-value>
		</init-param>
	</servlet>
<servlet>
<servlet-name>caTissue REST Service</servlet-name>
<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
<init-param>
<param-name>com.sun.jersey.config.property.packages</param-name>
<param-value>krishagni.catissueplus.rest</param-value>
</init-param>
<init-param>
        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
        <param-value>true</param-value>
    </init-param>
<!--
<init-param>
<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
<param-value>krishagni.catissueplus.rest.imaging.RestAuthFilterFactory</param-value>
</init-param>
-->
<load-on-startup>1</load-on-startup>
</servlet>
	
<!-- servlet configuration ends -->
<!-- servlet mapping starts -->
<servlet-mapping>
<servlet-name>caTissue REST Service</servlet-name>
<url-pattern>/rest/*</url-pattern>
</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSD</servlet-name>
		<url-pattern>/csdApi/*</url-pattern>
	</servlet-mapping>

        <servlet-mapping>
          <servlet-name>CreateFormAction</servlet-name>
          <url-pattern>/CreateFormAction.de</url-pattern>
        </servlet-mapping>
        
         <servlet-mapping>
          <servlet-name>CreateAQFormAction</servlet-name>
          <url-pattern>/CreateAQFormAction.de</url-pattern>
        </servlet-mapping>

         <servlet-mapping>
          <servlet-name>ExportFormAction</servlet-name>
          <url-pattern>/ExportFormAction.de</url-pattern>
        </servlet-mapping>
        

<servlet-mapping>
<servlet-name>restApi</servlet-name>
<url-pattern>/rest/ng/*</url-pattern>
</servlet-mapping>
	<servlet-mapping>
		 <servlet-name>ContainerExportServlet</servlet-name>
		 <url-pattern>/ContainerExportServlet</url-pattern>
	 </servlet-mapping>
	<servlet-mapping>
	     <servlet-name>DisplayAction</servlet-name>
	     <url-pattern>/DisplayAction</url-pattern>
  	</servlet-mapping> 
	
 	<servlet-mapping>
	     <servlet-name>LoadGridServlet</servlet-name>
	     <url-pattern>/LoadGridServlet</url-pattern>
  	</servlet-mapping>
	  <servlet-mapping>
 <servlet-name>TransferSpecimenAliquots</servlet-name>
 <url-pattern>/TransferSpecimenAliquots</url-pattern>
 </servlet-mapping>
 
  <servlet-mapping>
 <servlet-name>CatissueMobileAppCommonServlet</servlet-name>
 <url-pattern>/CatissueMobileAppCommonServlet</url-pattern>
 </servlet-mapping>
 
   <servlet-mapping>
 <servlet-name>CreateAliquot</servlet-name>
 <url-pattern>/CreateAliquot</url-pattern>
 </servlet-mapping>
 
     <servlet-mapping>
 <servlet-name>StorageContainerDetail</servlet-name>
 <url-pattern>/StorageContainerDetail</url-pattern>
 </servlet-mapping>
 
 
  <servlet-mapping>
 <servlet-name>AppLogin</servlet-name>
 <url-pattern>/AppLogin</url-pattern>
 </servlet-mapping>
 
   <servlet-mapping>
     <servlet-name>ViewSpecimenDetail</servlet-name>
     <url-pattern>/ViewSpecimenDetail</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 <servlet-name>AppLogout</servlet-name>
 <url-pattern>/AppLogout</url-pattern>
 </servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResponseServlet</servlet-name>
		<url-pattern>/ResponseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>httpinvoker</servlet-name>
		<url-pattern>/http/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sdkstartup</servlet-name>
		<url-pattern>/server/HTTPServer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/ws/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetXML</servlet-name>
		<url-pattern>/GetXML</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetHTML</servlet-name>
		<url-pattern>/GetHTML</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Happy</servlet-name>
		<url-pattern>/Happy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlexMxmlServlet</servlet-name>
		<url-pattern>*.mxml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlexSwfServlet</servlet-name>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlexForbiddenServlet</servlet-name>
		<url-pattern>*.as</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlexForbiddenServlet</servlet-name>
		<url-pattern>*.swc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlexInternalServlet</servlet-name>
		<url-pattern>/flex-internal/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImportQuery</servlet-name>
		<url-pattern>/ImportQuery</url-pattern>
	</servlet-mapping>
<!-- servlet mapping ends -->
<!-- session timeout -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
<!-- session timeout -->
<!-- mime mapping -->
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
<!-- mime mapping ends -->
<!-- welcome file list -->
	<welcome-file-list>
		<welcome-file>/pages/index.jsp</welcome-file>
	</welcome-file-list>
<!-- welcome file list ends -->
<!-- error page conf -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/pages/content/home/Error.jsp</location>
	</error-page>
<!-- error page conf ends -->
<!--  tag library configuration starts -->
	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/PagenationTag.tld</taglib-uri>
		<taglib-location>/WEB-INF/PagenationTag.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/AutoCompleteTag.tld</taglib-uri>
		<taglib-location>/WEB-INF/AutoCompleteTag.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/nlevelcombo.tld</taglib-uri>
		<taglib-location>/WEB-INF/nlevelcombo.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/specimenDetails.tld</taglib-uri>
		<taglib-location>/WEB-INF/specimenDetails.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/twoColDetailsTag.tld</taglib-uri>
		<taglib-location>/WEB-INF/twoColDetailsTag.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>FlexTagLib</taglib-uri>
		<taglib-location>/WEB-INF/lib/flex-bootstrap-jsp.jar</taglib-location>
	</taglib>
<!-- tag library configuration ends -->
<!-- env entry starts -->
<env-entry>
		<env-entry-name>DataSource</env-entry-name>
		<env-entry-value>java:/catissuecore</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
<!-- env entry ends -->

</web-app>
