<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>OpenSpecimen Core</display-name>

  <description></description>
	
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      /WEB-INF/applicationContext.xml
    </param-value>
  </context-param>

  <context-param>
    <param-name>contextInitializerClasses</param-name>
    <param-value>com.krishagni.catissueplus.core.init.AppInitializer</param-value>
  </context-param>

  <filter>
    <filter-name>authTokenFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>authTokenFilter</filter-name>
    <url-pattern>/rest/ng/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>samlFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>samlFilter</filter-name>
    <url-pattern>/saml/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>com.krishagni.catissueplus.core.init.AppServletContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>restApi</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/restApiContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>pluginUiResources</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/pluginUiContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>CSD</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>edu.wustl.dynamicextensions.formdesigner.resource.Resources</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>CSD</servlet-name>
    <url-pattern>/csdApi/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>restApi</servlet-name>
    <url-pattern>/rest/ng/*</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>pluginUiResources</servlet-name>
    <url-pattern>/plugin-ui-resources/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
