<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d %-5p %c %x: %m%n"/>
        </layout>
    </appender>

    <!-- for testing, purge the log on each run -->
    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="file" value="${env.JBOSS_HOME}/logs/cagrid-wapi.log"/>
        <param name="append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d [%15t] %-5p %c %x: %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="stdout"/>
    </root>

</log4j:configuration>
