<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <ul os-breadcrumbs>
        <li> 
          <a ui-sref="cp-list-view({cpId: cpr.cpId})">
            <span>{{cpr.cpShortTitle}}</span>
          </a>
        </li>
        <li>
          <a ui-sref="participant-detail.overview({cprId: cpr.id})">
            <ng-switch on="!!(cpr.participant.lastName || cpr.participant.firstName)">
              <span ng-switch-when="true"> {{cpr.participant.firstName}} {{cpr.participant.lastName}} </span>
              <span ng-switch-when="false" translate="common.na"> N/A </span>
            </ng-switch>
            <span>({{cpr.ppid}})</span>
          </a>
        </li>
        <li>
          <a ui-sref="participant-detail.visits({visitId: currVisit.id, eventId: currVisit.eventId})">
            <span translate="visits.list">Visits</span>
          </a>
        </li>
      </ul>

      <h3>
        <ng-switch on="!!currVisit.id">
          <span ng-switch-when="true">Update</span> 
          <span ng-switch-default>Add</span>
        </ng-switch>
        <os-event-desc event-point="currVisit.eventPoint" event-label="currVisit.eventLabel"></os-event-desc>
      </h3>
    </div>
  </div>

  <div class="container">
    <form name="vform" class="form-horizontal" os-form-validator="vform" validator="vformValidator" novalidate>
      <div ng-switch on="fieldsCtx.hasDict">
        <div ng-switch-when="true">
          <sde-form-fields base-fields="fieldsCtx.sysDict" fields="fieldsCtx.cpDict"
            obj="visitCtx.obj" in-objs="visitCtx.inObjs">
          </sde-form-fields>
        </div>
        <div ng-switch-default>
          <div ng-include="'modules/biospecimen/participant/visit/static-addedit.html'">
          </div>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button class="btn btn-primary" os-form-submit="saveVisit()" ng-switch on="!!currVisit.id">
            <span ng-switch-when="true" translate="common.buttons.update">Update</span>
            <span ng-switch-default translate="common.buttons.create">Create</span>
          </button>
          <button class="btn os-btn-text" ng-click="back()">
            <span translate="common.buttons.discard">Discard</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/ng-template" id="modules/biospecimen/participant/visit/static-addedit.html">
  <div>
    <div class="form-group"
      ng-if="(currVisit.id || !cp.visitNameFmt || cp.manualVisitNameEnabled) && currVisit.status != 'Missed Collection'">
      <label class="col-xs-3 control-label" translate="visits.name">Name</label>
      <div class="col-xs-6">
        <input type="text" name="name" ng-model="currVisit.name" class="form-control" 
          placeholder="Name" ng-required="!!cp.manualVisitNameEnabled"
          ng-disabled="cp.visitNameFmt && !cp.manualVisitNameEnabled"/>
        <div os-field-error field="vform.name"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label" translate="visits.visit_status">Status</label>
      <div class="col-xs-6">
        <os-select name="status" ng-model="currVisit.status" list="visitStatuses"
          required placeholder="{{'visits.visit_status' | translate}}">
        </os-select>
        <div os-field-error field="sform.status"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label" translate="visits.visit_date">Date of Visit</label>
      <div class="col-xs-6">
        <os-date-picker name="date" date="currVisit.visitDate" required
          placeholder="{{'visits.visit_date' | translate}}">
        </os-date-picker>
        <div os-field-error field="vform.date"></div>
      </div>
    </div>

    <div class="form-group" ng-if="currVisit.status != 'Missed Collection'">
      <label class="col-xs-3 control-label" translate="visits.visit_site">Site of Visit</label>
      <div class="col-xs-6">
        <os-sites name="site" ng-model="currVisit.site" list-all="true"
          ng-required="currVisit.status != 'Missed Collection'" placeholder="{{'visits.visit_site' | translate}}">
        </os-sites>
        <div os-field-error field="vform.site"></div>
      </div>
    </div>

    <div class="form-group" ng-if="currVisit.status != 'Missed Collection'">
      <label class="col-xs-3 control-label" translate="visits.clinical_diagnosis">Clinical Diagnosis</label>
      <div class="col-xs-6">
        <os-pvs name="diagnosis" ng-model="currVisit.clinicalDiagnosis" attribute="clinical-diagnosis"
          placeholder="{{'visits.clinical_diagnosis' | translate}}">
        </os-pvs>
        <div os-field-error field="vform.diagnosis"></div>
      </div>
    </div>

    <div class="form-group" ng-if="currVisit.status != 'Missed Collection'">
      <label class="col-xs-3 control-label" translate="visits.clinical_status">Clinical Status</label>
      <div class="col-xs-6">
        <os-pvs name="clinicalStatus" ng-model="currVisit.clinicalStatus" attribute="clinical-status" 
          placeholder="{{'visits.clinical_status' | translate}}">
        </os-pvs>
        <div os-field-error field="vform.clinicalStatus"></div>
      </div>
    </div>

    <div class="form-group" ng-if="currVisit.status != 'Missed Collection' && !!cohorts && cohorts.length > 0">
      <label class="col-xs-3 control-label" translate="visits.cohort">Cohort</label>
      <div class="col-xs-6">
        <os-pvs name="cohort" ng-model="currVisit.cohort" attribute="cohort" 
          placeholder="{{'visits.cohort' | translate}}"> 
        </os-pvs>
        <div os-field-error field="vform.cohort"></div>
      </div>
    </div>

    <div class="form-group" ng-if="currVisit.status != 'Missed Collection'">
      <label class="col-xs-3 control-label" translate="visits.surgical_path_no">Surgical Pathology No.</label>
      <div class="col-xs-6">
        <input type="text" name="spn" ng-model="currVisit.surgicalPathologyNumber" class="form-control" 
          placeholder="{{'visits.surgical_path_no' | translate}}"/>
      </div>
    </div>

    <div class="form-group" ng-if="currVisit.status == 'Missed Collection'">
      <label class="col-xs-3 control-label" translate="visits.missed_by">Missed By</label>
      <div class="col-xs-6">
        <os-users name="missedBy" ng-model="currVisit.missedBy" placeholder="{{'visits.missed_by' | translate}}">
        </os-users>
        <div os-field-error field="vform.missedBy"></div>
      </div>
    </div>

    <div class="form-group" ng-if="currVisit.status == 'Missed Collection'">
      <label class="col-xs-3 control-label" translate="visits.reason_for_missed_visit">Reason for Missed Visit</label>
      <div class="col-xs-6">
        <os-pvs name="missedReason" ng-model="currVisit.missedReason" attribute="missed-visit-reason"
          placeholder="{{'visits.reason_for_missed_visit' | translate}}">
        </os-pvs>
        <div os-field-error field="vform.missedReason"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label" translate="visits.comments">Comments</label>
      <div class="col-xs-6">
        <textarea type="text" name="comments" ng-model="currVisit.comments" class="form-control" 
          placeholder="{{'visits.comments' | translate}}">
        </textarea>
      </div>
    </div>

    <div class="os-entity-extn-form-fields" ng-if="!!extnOpts">
      <div id='de-form' class='os-extn-form' os-de-form opts="extnOpts" ctrl="deFormCtrl" 
        extended-obj="currVisit" ng-hide="currVisit.status == 'Missed Collection'">
      </div>
    </div>
  </div>
</script>
