<div>
  <div class="os-modal-header">
    <span translate="visits.deleting_spr">Deleting Surgical Pathology Report</span>
    <div class="os-close" ng-click="cancel()">&times;</div>
  </div>
  <div class="os-modal-body">
    <p> {{'visits.confirm_delete_spr' | translate : entity}} </p>
  </div>
  <div class="os-modal-footer">
    <button class="btn os-btn-text" ng-click="cancel()" translate="common.buttons.cancel">
      Cancel
    </button>
    <button class="btn btn-danger" ng-click="ok()" translate="common.yes">
      Yes
    </button>
  </div>
</div>

