<div> 
  <div os-page-header>
    <div class="os-page-header-content">
      <ul os-breadcrumbs>
        <li> 
          <a ui-sref="cp-list-view({cpId: cpr.cpId})">
            <span>{{cpr.cpShortTitle}}</span>
          </a> 
        </li>
        <li>
          <a ui-sref="participant-detail.overview({cprId: cpr.id})">
            <span>{{cpr.ppid}}</span>
          </a>
        </li>
        <li>
          <a ui-sref="participant-detail.visits({visitId: visit.id, eventId: visit.eventId})">
            <span translate="visits.list">Visits</span>
          </a>
        </li>
      </ul>

      <h3>
        <os-event-desc event-point="visit.eventPoint" event-label="visit.eventLabel"></os-event-desc>
      </h3>
    </div>
  </div>

  <div os-side-menu>
    <ul>
      <li ui-sref-active="active">
        <a ui-sref=".overview"> 
          <i class="fa fa-eye"></i>
          <span class="os-title" translate="visits.menu.overview">Overview</span>
        </a>
      </li>
      <li show-if-allowed="sprResource.readOpts" ui-sref-active="active" ng-if="!!visit.id">
        <a ui-sref=".spr">
          <i class="fa fa-file-text-o"></i>
          <span class="os-title" translate="visits.menu.spr_report">Surgical Pathology Report</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-if="!!visit.id">
        <a ui-sref=".extensions.list">
          <i class="fa fa-files-o"></i>
          <span class="os-title" translate="visits.menu.extensions">Forms</span>
        </a>
      </li>

    </ul>
  </div>

  <div class="os-side-menu-page-content" ui-view></div>
</div>

