<div class="form-group">
  <div>
    <input type="text" os-md-input name="visitName" ng-model="searchData.visitName"
      class="form-control" placeholder="{{'visits.name' | translate}}" ng-disabled = "searchData.sprNumber" autofocus>
      <div os-field-error field="searchForm.visitName"></div>
    </div>
</div>

<div class="form-group" ng-if="userCtx.hasPhiAccess">
  <div>
    <input type="text" os-md-input name="sprNumber" ng-model="searchData.sprNumber"
      class="form-control" placeholder="{{'visits.surgical_path_no' | translate}}"  ng-disabled = "searchData.visitName">
    <div os-field-error field="searchForm.sprNumber"></div>
  </div>
</div>
