<!DOCTYPE html>
<html ng-app="forms-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextGen Dynamic Extensions Form Builder - Demo</title>

    <link href="../external/select2/css/select2.css" rel="stylesheet" type="text/css"></link>
    <link href="../external/select2/css/select2-bootstrap.css" rel="stylesheet" type="text/css"></link>
    <link href="../external/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
    <link href="../external/eternicode/css/datepicker.css" rel="stylesheet" type="text/css"></link>
    <link href="../external/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet" type="text/css"></link>
    <link href="../external/de/css/de.css" rel="stylesheet" type="text/css"></link>
    <link href="../css/app.css" rel="stylesheet" type="text/css"></link>

    <script src="../external/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="../external/select2/select2.min.js" type="text/javascript"></script>
    <script src="../external/angularjs/angular.min.js" type="text/javascript"></script>
    <script src="../external/angularjs/angular-resource.min.js" type="text/javascript"></script>
    <script src="../external/angularjs/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript"></script>
    <script src="../external/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../external/eternicode/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <style type="text/css">
      .yellowbg {
        background-color: #ffffcc;
      }

      .plus-hr {
        margin-top: 4px;
        margin-bottom: 4px;
      }
  
      .modal-dialog {
        padding-bottom: 15px;
        padding-top: 15px;
      }

      html, body {
        height: 100%;
      }
    </style>
  </head>
  <body ng-controller="FormsController">
    <!--div id="notifications" class="cp-notifs hidden">{{alert(notify.msg, notify.type)}</div-->
    <div id="notifications" class="cp-notifs hidden"></div>
    <div id="containers-list" class="container">
      <div class="row">
        <div class="col-xs-7"><h3>Forms Dashboard</h3></div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button class="pull-left btn btn-primary" ng-click="addForm()">Add Form</button>
          <div class="watch-tutorial">
            <a target="_blank" href="https://catissueplus.atlassian.net/wiki/x/MoB2AQ">Watch Tutorial</a>
          </div>
        </div>
        <div class="col-xs-offset-6 col-xs-3">
          <div class="plus-addon plus-addon-input-right">
            <span class="glyphicon glyphicon-search"></span>
            <input type="text" class="form-control" placeholder="Search Forms" ng-model="searchFormName">
          </div>
        </div>
      </div>
      <table class="table" overflow="auto" ng-if="formsList.length > 0">
        <thead>
          <tr>
            <th class="col-xs-4">Form Name</th>
            <th class="col-xs-3">Created By</th>
            <th class="col-xs-2">Last Updated</th>
            <th class="col-xs-1">CP Count</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="form in formsList | filter:searchFormName" 
              ng-mouseenter="form.highlight=true"
              ng-mouseleave="form.highlight=false"
              style="height: 39px;">
            <td>
              <a style="cursor:pointer;" ng-click="editForm(form)" tooltip-placement="right" tooltip="Click to edit form">{{form.caption}}</a>
            </td>
            <td>{{formatUsername(form.createdBy)}}</td>
            <td ng-if="form.modificationTime">{{formatDate(form.modificationTime)}}</td>
            <td ng-if="!form.modificationTime">{{formatDate(form.creationTime)}}</td>
            <td class="clearfix"> 
              {{form.cpCount == -1 ? "ALL" : form.cpCount}} 

              <div class="pull-right btn-group btn-group-xs" ng-if="form.highlight">
                <button type="button" class="btn btn-default" ng-click="showFormContexts(form)"
                  tooltip-placement="bottom" tooltip="Click to attach form to a Collection Protocol" tooltip-append-to-body="true">
                  <span class="glyphicon glyphicon-wrench"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="deleteForm(form)" 
                  tooltip-placement="bottom" tooltip="Delete Form" tooltip-append-to-body="true">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script type="text/ng-template" id="formCtxts.html">
      <div class="ka-modal-header">
        <h4>{{form.caption}}</h4>
      </div>
      <div class="ka-modal-body">
        <div style="margin-bottom: 10px;">
          Used in following collection protocols
        </div>
        <table class="table" style="margin-bottom: 0px;">
          <thead>
            <tr>
              <th class="col-xs-6">Collection Protocol</th>
              <th class="col-xs-5">Level</th>
              <th class="col-xs-1"></th>
            </tr>
          </thead>
        </table>
        <div style="height:175px; margin-bottom: 20px; width: 100%; overflow:auto;">
          <table class="table">
            <tbody>
              <tr ng-repeat="cpFormCtxt in cpFormCtxts">
                <td class="col-xs-6">{{cpFormCtxt.title}}</td>
                <td class="col-xs-5">{{cpFormCtxt.levels.join(", ")}}</td>
                <td class="col-xs-1">
                  <span class="glyphicon glyphicon-th-list" 
                        tooltip="Multiple records allowed" tooltip-placement= "bottom" tooltip-append-to-body="true" 
                        ng-if="cpFormCtxt.multiRecord"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="height: 210px; overflow: auto;">
          <div ng-show="isSpecimenEvent != true">Use form in following collection protocols</div>
          <div ng-show="isSpecimenEvent">Specimen Event forms always attached to all collection protocols. </div>
          <div class="checkbox" ng-show="isSpecimenEvent != true">
            <label><input type="checkbox" ng-checked="allProtocols" ng-model="allProtocols" ng-disabled="isSpecimenEvent"> All Present and Future Collection Protocols </label>
          </div>
          <div ng-show="allProtocols != true" style="margin-top:10px;margin-bottom:10px;">
            <ka-select style="width: 100%" multiple data-placeholder="Select One or More Collection Protocols"
                       options="cpList" option-id="id" option-value="shortTitle" selected="selectedCps"></ka-select>
          </div>
          <div style="margin-top:10px;margin-bottom:10px;">
            <ka-select style="width: 100%" data-placeholder="Select Level"
                       options="extnEntities" option-id="entity" option-value="name" selected="selectedEntity" on-select="onEntitySelect"></ka-select>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-checked="isMultiRecord" ng-model="isMultiRecord"> Multiple records allowed </label>
          </div>
        </div>
        <div class="ka-modal-footer" ng-switch on="enableAttach(allProtocols, selectedCps, selectedEntity)">
          <button ng-switch-when="true"  class="btn btn-primary" 
            ng-click="attach(allProtocols, selectedCps, selectedEntity, isMultiRecord)">
            Attach Form
          </button>
          <button ng-switch-when="true"  class="btn btn-default" ng-click="cancel()">
            Cancel
          </button>
          <button ng-switch-when="false" class="btn btn-primary" ng-click="cancel()">
            Done
          </button>
        </div> 
      </div>
    </script>

    <script type="text/ng-template" id="delete-form-confirm.html">
      <div class="ka-modal-header">
        <span>Delete Form</span>
        <div class="ka-close" ng-click="cancel()">&times;</div>
      </div>
      <div class="ka-modal-body">
        <p> Are you sure you want to delete following form? </p>
        <p> <i> {{form.caption}} </i> </p>

        <div class="ka-modal-footer">
          <button class="btn ka-btn-secondary" ng-click="cancel()">No</button>
          <button class="btn btn-primary" ng-click="ok()">Yes</button>
        </div>
      </div>
    </script>

    <script src="../js/utility.js" type="text/javascript"></script>
    <script src="../js/wrapper.js" type="text/javascript"></script>
    <script src="../js/directives.js" type="text/javascript"></script>
    <script src="../js/forms-controller.js" type="text/javascript"></script>
    <script src="../js/forms-service.js" type="text/javascript"></script>
    <script src="../js/forms-app.js" type="text/javascript"></script>
</body>
