.chkBoxStyle {

}

.hBoxForSpLabel
{
	horizontal-gap : 0.1;
}

.pageBtnWithBlueColor
{
	color:#0000FF;
}

.pageButtonStyleBlackColor
{
	   color: #000000;
}

.errorMessageStyle
{
	font-size:12;
	color:#FF0000;
}	
	
.successMessageStyle	
{
	font-size:12;
	color:#0000FF;

}