#set ( $url = "$appUrl/#/cps/${cp.id}/overview" )

<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:separate">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;line-height:20px">
          <tbody>
            <tr>
              <td style="padding:0px;border-collapse:collapse;padding:0px;padding-bottom:10px">
                <p style="margin:10px 0 0 0">
                  Hello $cp.principalInvestigator.firstName $cp.principalInvestigator.lastName,
                  <br><br>
                  $cp.title is expiring on $dateFmt.format($cp.endDate).
                  <br><br>
                  A brief description of the protocol is given below:
                  <br>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td> Title </td>
                    <td> : $cp.title </td>
                  </tr>
                  <tr>
                    <td> Short Title </td>
                    <td> : $cp.shortTitle </td>
                  </tr>
                  <tr>
                    <td> PI Name </td>
                    <td> : $cp.principalInvestigator.firstName $cp.principalInvestigator.lastName </td>
                  </tr>
                  <tr>
                    <td> Start Date </td>
                    #if ( $cp.startDate )
                      <td> : $dateFmt.format($cp.startDate) </td>
                    #else
                      <td> : Not Specified </td>
                    #end
                  </tr>
                  <tr>
                    <td> End Date </td>
                    <td> : $dateFmt.format($cp.endDate) </td>
                  </tr>
                  <tr>
                    <td> IRB ID </td>
                    #if ( $cp.irbIdentifier && !$cp.irbIdentifier.trim().isEmpty() )
                      <td> : $cp.irbIdentifier </td>
                    #else
                      <td> : Not Specified </td>
                    #end
                  <tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="height:15px;line-height:5px;">&nbsp;</td>
            </tr>
            <tr>
              <td style="border-collapse:collapse;padding-bottom:10px">
                <table cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;color:#333">
                  <tbody>
                    <tr>
                      <td style="background:#3068a2;background:-moz-linear-gradient(top,#4687ce 0%,#3068a2 100%);
                      background:-webkit-linear-gradient(top,#4687ce 0%,#3068a2 100%);
                      background:-o-linear-gradient(top,#4687ce 0%,#3068a2 100%);
                      background:-ms-linear-gradient(top,#4687ce 0%,#3068a2 100%);
                      background:linear-gradient(top,#4687ce 0%,#3068a2 100%);
                      padding:0px;border-collapse:collapse;border-radius:3px;padding:5px;margin:0px">
                        <a style="color:#3b73af;text-decoration:none;color:#fff;font-weight:bold;padding:6px;
                        font-size:14px;line-height:1.429;font-family:Arial,sans-serif" href="$url" target="_blank">
                          View Protocol Details
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="height:5px;line-height:5px;">&nbsp;</td>
    </tr>
    <tr>
      <td>
        #parse( $footer )
      </td>
    </tr>
  </tbody>
</table>
