<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:separate">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;line-height:20px">
          <tbody>
            <tr>
              <td style="padding:0px;border-collapse:collapse;padding:0px;padding-bottom:10px">
                <p style="margin:10px 0 0 0">
                  Hello $order.requester.firstName $order.requester.lastName,
                  <br><br>
                  Your order "$order.name" has been processed.
                  <br>
                  A brief description of the order:
                  <br><br>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td> Order Name </td> <td> : $order.name </td>
                  </tr>
                  <tr>
                    <td> Requester </td> <td> : $order.requester.firstName $order.requester.lastName </td>
                  </tr>
                  <tr>
                    <td> Receiving Site </td> <td> : $order.site.name </td>
                  </tr>
                  <tr>
                    <td> Distribution Protocol </td> <td> : $order.distributionProtocol.shortTitle </td>
                  </tr>
                  <tr>
                    <td> Distributor </td> <td> : $order.distributor.firstName $order.distributor.lastName </td>
                  </tr>
                  <tr>
                    <td> Distribution Date </td>
                    <td> : $dateFmt.format( $order.executionDate ) </td>
                  </tr>
                  <tr>
                    <td> Tracking URL </td>
                    #if ( $order.trackingUrl )
                      <td> : $order.trackingUrl </td>
                    #else
                      <td> : </td>
                    #end
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="height:5px;line-height:5px;">&nbsp;</td>
    </tr>
    <tr>
      <td>
        #parse( $footer )
      </td>
    </tr>
  </tbody>
</table>
