<?xml version="1.0" encoding="UTF-8"?>

<configuration xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">
    <service name="PrintWebService"
             targetNamespace="http://edu.wustl.webservice.catissuecore.print.jboss.org/"
             typeNamespace="http://edu.wustl.webservice.catissuecore.print.jboss.org/types"
             packageName="edu.wustl.webservice.catissuecore.print">
        <interface name="edu.wustl.webservice.catissuecore.print.PrintService"/>
    </service>
</configuration> 
