<div class="list-group">
  <div class="list-group-item os-section-hdr">
    <span ng-if="!sr.id">New Specimen Requirement</span>
  </div>
  <div class="list-group-item">
    <form class="form-horizontal" name="srForm" os-form-validator="srForm" novalidate>
      <div class="form-group">
        <label class="control-label col-xs-4">Name</label>
        <div class="col-xs-8">
          <input ng-model="sr.name" class="form-control" type="text" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Specimen Class</label>
        <div class="col-xs-8">
          <os-select name="specimenClass" ng-model="sr.specimenClass" list="specimenClasses"
            placeholder="Specimen Class" required>
          </os-select>
          <div os-field-error field="srForm.specimenClass"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Specimen Type</label>
        <div class="col-xs-8">
          <os-select name="specimenType" ng-model="sr.type" list="specimenTypes"
            placeholder="Specimen Type" required>
          </os-select>
          <div os-field-error field="srForm.specimenType"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Anatomic Site</label>
        <div class="col-xs-8">
          <os-select name="anatomicSite" ng-model="sr.anatomicSite" list="anatomicSites"
            placeholder="Anatomic Sites" required>
          </os-select>
          <div os-field-error field="srForm.anatomicSite"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Laterality</label>
        <div class="col-xs-8">
          <os-select name="laterality" ng-model="sr.laterality" list="lateralities"
            placeholder="Laterality" required>
          </os-select>
          <div os-field-error field="srForm.laterality"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Pathology Status</label>
        <div class="col-xs-8">
          <os-select name="pathologyStatus" ng-model="sr.pathologyStatus" list="pathologyStatuses"
            placeholder="Pathology Status" required>
          </os-select>
          <div os-field-error field="srForm.pathologyStatus"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Storage Type</label>
        <div class="col-xs-8">
          <os-select name="storageType" ng-model="sr.storageType" list="storageTypes"
            placeholder="Storage Type" required>
          </os-select>
          <div os-field-error field="srForm.storageType"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Initial Quantity</label>
        <div class="col-xs-8">
          <div class="input-group">
            <input name="initialQty" ng-model="sr.initialQty" class="form-control" type="text" 
              placeholder="Initial Quantity" required ng-pattern="/^([0-9]+|[0-9]*\.[0-9]+)$/">
            <div class="input-group-addon" ng-switch on="sr.specimenClass">
              <span ng-switch-when="Cell">cells</span>
              <span ng-switch-when="Fluid">ml</span>
              <span ng-switch-when="Molecular">&#181;g</span>
              <span ng-switch-when="Tissue">gm</span>
            </div>
          </div>
          <div os-field-error field="srForm.initialQty"></div>
        </div>
      </div>
      <div class="form-group" ng-if="sr.specimenClass == 'Molecular'">
        <label class="control-label col-xs-4">Concentration</label>
        <div class="col-xs-8">
          <div class="input-group">
            <input name="concentration" ng-model="sr.concentration" class="form-control" type="text" 
              placeholder="Concentration" required ng-pattern="/^([0-9]+|[0-9]*\.[0-9]+)$/">
            <div class="input-group-addon">
              <span>&#181;g/&#181;l</span>
            </div>
          </div>
          <div os-field-error field="srForm.concentration"></div>
        </div>
      </div>
      <div class="os-divider"></div>
      <div class="form-group">
        <label class="control-label col-xs-4">Collector</label>
        <div class="col-xs-8">
          <os-users name="collector" ng-model="sr.collector" placeholder="Collector" required></os-users>
          <div os-field-error field="srForm.collector"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Collection Container</label>
        <div class="col-xs-8">
          <os-select name="collectionContainer" ng-model="sr.collectionContainer" list="collectionContainers"
            placeholder="Collection Container" required>
          </os-select>
          <div os-field-error field="srForm.collectionContainer"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Collection Procedure</label>
        <div class="col-xs-8">
          <os-select name="collectionProcedure" ng-model="sr.collectionProcedure" list="collectionProcs"
            placeholder="Collection Procedure" required>
          </os-select>
          <div os-field-error field="srForm.collectionProcedure"></div>
        </div>
      </div>
      <div class="os-divider"></div>
      <div class="form-group">
        <label class="control-label col-xs-4">Receiver</label>
        <div class="col-xs-8">
          <os-users name="receiver" ng-model="sr.receiver" placeholder="Receiver" required></os-users>
          <div os-field-error field="srForm.receiver"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4">Label Format</label>
        <div class="col-xs-8">
          <input class="form-control" type="text" placeholder="Label Format">
        </div>
      </div>
      <div class="os-divider"></div>
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
          <button type="submit" class="btn btn-success" os-form-submit="createSr()">Create</button>
          <a class="btn os-btn-text-secondary" ng-click="revertEdit()">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
