<div>
  <form name="aliquotForm" os-form-validator="aliquotForm" novalidate>
    <div class="clearfix">
      <div class="col-xs-12">
        <ul class="os-key-values os-two-cols">
          <li class="item">
            <strong class="key key-sm" translate="srs.available_qty">Available Quantity:</strong>
            <span class="value value-md">{{parentSr.availableQty() | osNumberInScientificNotation}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="clearfix">
      <div class="col-xs-3" ng-if="!childReq.id">
        <div class="form-group">
          <input name="noOfAliquots" ng-model="childReq.noOfAliquots" 
            os-md-input class="form-control" type="text" placeholder="{{'srs.aliquot_cnt' | translate}}"
            ng-required="!childReq.qtyPerAliquot" ng-pattern="/^[1-9][0-9]*$/">
          <div os-field-error field="aliquotForm.noOfAliquots"></div>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group" ng-if="!childReq.id">
          <input name="qtyPerAliquot" ng-model="childReq.qtyPerAliquot" 
            os-md-input class="form-control" type="text" placeholder="{{'srs.qty_per_aliquot' | translate}}"
            ng-required="!childReq.noOfAliquots" ng-pattern="/^([0-9]+|[0-9]*\.?[0-9]+[e]?[+-]?[0-9]*)$/"
            ng-model-options="{allowInvalid: 'true'}">
          <div os-field-error field="aliquotForm.qtyPerAliquot"></div>
        </div>
        <div class="form-group" ng-if="!!childReq.id">
          <input name="aliquotQty" ng-model="childReq.initialQty" 
            os-md-input class="form-control" type="text" placeholder="{{'srs.qty' | translate}}"
            ng-pattern="/^([0-9]+|[0-9]*\.?[0-9]+[e]?[+-]?[0-9]*)$/"
            ng-model-options="{allowInvalid: 'true'}">
          <div os-field-error field="aliquotForm.aliquotQty"></div>
        </div>
      </div>

      <div class="col-xs-3" ng-if="codingEnabled">
        <div class="form-group">
          <input name="code" ng-model="childReq.code" os-md-input class="form-control" type="text" 
            ng-model-options="{allowInvalid: true}" ng-maxlength="16" placeholder="{{'srs.code' | translate}}">
          <div os-field-error field="aliquotForm.code"></div>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <os-select name="storageType" ng-model="childReq.storageType" list="storageTypes"
            os-md-input placeholder="{{'srs.storage_type' | translate}}" required>
          </os-select>
          <div os-field-error field="aliquotForm.storageType"></div>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <input ng-model="childReq.labelFmt" os-md-input class="form-control" type="text"
            ng-change="ensureLabelFmtSpecified(childReq, 'Aliquot')"  placeholder="{{'srs.label_fmt' | translate}}">
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <os-select name="printLabelEvent" ng-model="childReq.labelAutoPrintMode" list="spmnLabelAutoPrintModes"
            display-prop="displayName" select-prop="name" on-change="ensureLabelFmtSpecified(childReq, 'Aliquot')"
            os-md-input placeholder="{{'srs.auto_print_label' | translate}}">
          </os-select>
          <div os-field-warn="'srs.lbl_fmt_required_for_auto_print'" ng-if="!childReq.labelFmtSpecified"></div>
        </div>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="col-xs-4">
        <button type="submit" class="btn btn-success" os-form-submit="createAliquots()" ng-if="!childReq.id">
          <span translate="srs.buttons.create_aliquots">Create Aliquots</span>
        </button>
        <button type="submit" class="btn btn-success" os-form-submit="updateSr()" ng-if="!!childReq.id">
          <span translate="srs.buttons.update_aliquot">Update Aliquot</span>
        </button>
        <a class="btn os-btn-text-secondary" ng-click="revertEdit()" translate="common.buttons.cancel">
          Cancel
        </a>
      </div>
      <div class="col-xs-8" ng-if="!!errorCode">
        <alert type="danger">
          {{errorCode | translate}}
        </alert>
      </div>
    </div>
  </form>
</div>
