<div>
  <form name="aliquotForm" os-form-validator="aliquotForm" novalidate>
    <div class="clearfix">
      <div class="col-xs-12">
        <ul class="os-key-values os-two-cols">
          <li class="item">
            <strong class="key key-sm">Available Quantity:</strong>
            <span class="value value-md">{{parentSr.availableQty()}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="clearfix">
      <div class="col-xs-3">
        <div class="form-group">
          <input name="noOfAliquots" ng-model="aliquot.noOfAliquots" 
            os-md-input class="form-control" type="text" placeholder="Count of Aliquots"
            required ng-pattern="/^[1-9][0-9]*$/">
          <div os-field-error field="aliquotForm.noOfAliquots"></div>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <input name="qtyPerAliquot" ng-model="aliquot.qtyPerAliquot" 
            os-md-input class="form-control" type="text" placeholder="Quantity Per Aliquot"
            required ng-pattern="/^[1-9][0-9]*$/">
          <div os-field-error field="aliquotForm.qtyPerAliquot"></div>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <os-select name="storageType" ng-model="aliquot.storageType" list="storageTypes"
            os-md-input placeholder="Storage Type" required>
          </os-select>
          <div os-field-error field="aliquotForm.storageType"></div>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <input ng-model="aliquot.labelFmt" os-md-input class="form-control" type="text" placeholder="Label Format">
        </div>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="col-xs-5">
        <button type="submit" class="btn btn-success" os-form-submit="createAliquots()">Create Aliquots</button>
        <a class="btn os-btn-text-secondary" ng-click="revertEdit()">Cancel</a>
      </div>
      <div class="col-xs-7">
        <alert type="danger" ng-if="errorMsg">{{errorMsg}}</alert>
      </div>
    </div>
  </form>
</div>
