<div class="list-group">
  <div class="list-group-item os-section-hdr">
    <span ng-if="!sr.id" translate="srs.new_sr">New Specimen Requirement</span>
    <span ng-if="!!sr.id" ng-switch on="!!sr.name">
      <span ng-switch-when="true">{{sr.name}}</span>
      <span ng-switch-default>{{sr.type}} ({{sr.specimenClass}})</span>
    </span>
  </div>
  <div class="list-group-item">
    <form class="form-horizontal" name="srForm" os-form-validator="srForm" novalidate>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.name">Name</label>
        <div class="col-xs-8">
          <input ng-model="sr.name" class="form-control" type="text" placeholder="{{'srs.name' | translate}}">
        </div>
      </div>
      <div class="form-group" ng-if="codingEnabled">
        <label class="control-label col-xs-4" translate="srs.code">Code</label>
        <div class="col-xs-8">
          <input name="code" ng-model="sr.code" class="form-control" type="text" 
            ng-maxlength="16" placeholder="{{'srs.code' | translate}}">
          <div os-field-error field="srForm.code"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.specimen_class">Specimen Class</label>
        <div class="col-xs-8">
          <os-select name="specimenClass" ng-model="sr.specimenClass"
            on-select="loadSpecimenTypes(sr.specimenClass)" list="specimenClasses"
            placeholder="{{'srs.specimen_class' | translate}}" required ng-disabled="specimensCount > 0"
            title="{{(specimensCount > 0 ? 'srs.cannot_change_class_or_type' : '') | translate}}">
          </os-select>
          <div os-field-error field="srForm.specimenClass"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.specimen_type">Specimen Type</label>
        <div class="col-xs-8">
          <os-select name="specimenType" ng-model="sr.type" list="specimenTypes"
            placeholder="{{'srs.specimen_type' | translate}}" required ng-disabled="specimensCount > 0"
            title="{{(specimensCount > 0 ? 'srs.cannot_change_class_or_type' : '') | translate}}">
          </os-select>
          <div os-field-error field="srForm.specimenType"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.anatomic_site">Anatomic Site</label>
        <div class="col-xs-8">
          <os-select name="anatomicSite" ng-model="sr.anatomicSite" list="anatomicSites"
            placeholder="{{'srs.anatomic_site' | translate}}" required>
          </os-select>
          <div os-field-error field="srForm.anatomicSite"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.laterality">Laterality</label>
        <div class="col-xs-8">
          <os-select name="laterality" ng-model="sr.laterality" list="lateralities"
            placeholder="{{'srs.laterality' | translate}}" required>
          </os-select>
          <div os-field-error field="srForm.laterality"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.pathology">Pathology Status</label>
        <div class="col-xs-8">
          <os-select name="pathology" ng-model="sr.pathology" list="pathologyStatuses"
            placeholder="{{'srs.pathology' | translate}}" required>
          </os-select>
          <div os-field-error field="srForm.pathology"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.storage_type">Storage Type</label>
        <div class="col-xs-8">
          <os-select name="storageType" ng-model="sr.storageType" list="storageTypes"
            placeholder="{{'srs.storage_type' | translate}}" required>
          </os-select>
          <div os-field-error field="srForm.storageType"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.initial_qty">Initial Quantity</label>
        <div class="col-xs-8">
          <div class="input-group">
            <input name="initialQty" ng-model="sr.initialQty" class="form-control" type="text" 
              placeholder="{{'srs.initial_qty' | translate}}" required ng-pattern="/^([0-9]+|[0-9]*\.?[0-9]+[e]?[+-]?[0-9]*)$/">
            <div class="input-group-addon">
              <os-specimen-unit specimen-class="sr.specimenClass" type="sr.type"></os-specimen-unit>
            </div>
          </div>
          <div os-field-error field="srForm.initialQty"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.concentration">Concentration</label>
        <div class="col-xs-8">
          <div class="input-group">
            <input name="concentration" ng-model="sr.concentration" class="form-control" type="text" 
              placeholder="{{'srs.concentration' | translate}}" ng-pattern="/^([0-9]+|[0-9]*\.?[0-9]+[e]?[+-]?[0-9]*)$/">
            <div class="input-group-addon">
              <os-specimen-unit specimen-class="sr.specimenClass" type="sr.type" measure="concentration"></os-specimen-unit>
            </div>
          </div>
          <div os-field-error field="srForm.concentration"></div>
        </div>
      </div>
      <div class="os-divider"></div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.collector">Collector</label>
        <div class="col-xs-8">
          <os-users name="collector" ng-model="sr.collector" placeholder="{{'srs.collector' | translate}}"></os-users>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.collection_container">Collection Container</label>
        <div class="col-xs-8">
          <os-select name="collectionContainer" ng-model="sr.collectionContainer" list="collectionContainers"
            placeholder="{{'srs.collection_container' | translate}}" required>
          </os-select>
          <div os-field-error field="srForm.collectionContainer"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.collection_proc">Collection Procedure</label>
        <div class="col-xs-8">
          <os-select name="collectionProcedure" ng-model="sr.collectionProcedure" list="collectionProcs"
            placeholder="{{'srs.collection_proc' | translate}}" required>
          </os-select>
          <div os-field-error field="srForm.collectionProcedure"></div>
        </div>
      </div>
      <div class="os-divider"></div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.receiver">Receiver</label>
        <div class="col-xs-8">
          <os-users name="receiver" ng-model="sr.receiver" placeholder="{{'srs.receiver' | translate}}"></os-users>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="srs.label_fmt">Label Format</label>
        <div class="col-xs-8">
          <input ng-model="sr.labelFmt" class="form-control" type="text" 
            placeholder="{{'srs.label_fmt' | translate}}">
        </div>
      </div>
      <div class="os-divider"></div>
      <div ng-if="!sr.id">
        <div class="form-group">
          <label class="control-label col-xs-4">
            <span translate="srs.create_pooled_spmn">Do you want to create pooled specimen?</span>
          </label>
          <div class="col-xs-8">
            <label class="radio-inline">
              <input type="radio" name="pooledSpmns" ng-model="createPooledSpmns" ng-value="true"
                ng-change="onCreatePooledSpmnsClick(true)">
              <span translate="common.yes">Yes</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="pooledSpmns" ng-model="createPooledSpmns" ng-value="false"
                ng-change="onCreatePooledSpmnsClick(false)">
              <span translate="common.no">No</span>
            </label>
          </div>
        </div>
        <div ng-if="createPooledSpmns">
          <div class="form-group clearfix">
            <label class="control-label col-xs-4">
              <span translate="specimens.list">Specimens</span>
            </label>
            <div class="col-xs-3" ng-if="codingEnabled">
              <label class="control-label">
                <span translate="srs.code">Code</span>
              </label>
            </div>
            <div class="col-xs-4">
              <label class="control-label">
                <span translate="srs.initial_qty">Initial Quantity</span>
              </label>
            </div>
          </div>
          <div class="form-group clearfix" ng-form="psForm" ng-repeat="poolSpmn in sr.specimensPool">
            <label class="control-label col-xs-4">
              <span>{{$index + 1}}</span>
            </label>
            <div class="col-xs-3" ng-if="codingEnabled">
              <input name="code" ng-model="poolSpmn.code" class="form-control" type="text"
                ng-maxlength="16" placeholder="{{'srs.code' | translate}}">
              <div os-field-error field="psForm.code"></div>
            </div>
            <div class="col-xs-4">
              <div class="input-group">
                <input name="initialQty" ng-model="poolSpmn.initialQty" class="form-control" type="text"
                  placeholder="{{'srs.initial_qty' | translate}}" required
                  ng-pattern="/^([0-9]+|[0-9]*\.?[0-9]+[e]?[+-]?[0-9]*)$/">
                <div class="input-group-addon">
                  <os-specimen-unit specimen-class="sr.specimenClass" type="sr.type"></os-specimen-unit>
                </div>
              </div>
              <div os-field-error field="psForm.initialQty"></div>
            </div>
            <div class="col-xs-1">
              <button class="btn btn-default" ng-click="removeSpecimenPoolReq(poolSpmn)">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="col-xs-offset-4 col-xs-8">
              <a ng-click="addSpecimenPoolReq()">
                <span translate="common.buttons.add_another">Add Another</span>
              </a>
            </div>
          </div>
        </div>
        <div class="os-divider"></div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
          <button type="submit" class="btn btn-success" os-form-submit="createSr()" ng-if="!sr.id">
            <span translate="common.buttons.create">Create</span>
          </button>
          <button type="submit" class="btn btn-success" os-form-submit="updateSr()" ng-if="!!sr.id">
            <span translate="common.buttons.update">Update</span>
          </button>
          <a class="btn os-btn-text-secondary" ng-click="revertEdit()">
            <span translate="common.buttons.cancel">Cancel</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
