
<div class="list-group" ng-if="view != 'addedit_sr'">
  <div class="list-group-item os-section-hdr" translate="srs.list">
    Specimen Requirements
  </div>

  <div class="list-group-item" ng-if="!specimenRequirements || specimenRequirements.length == 0">
    <div class="alert alert-warning">
      <span translate="srs.no_srs">
        There are no specimen requirements to show. 
        Create new requirement by clicking Add Specimen Requirement...
      </span>
    </div>
  </div>

  <div class="list-group-item" ng-if="specimenRequirements.length > 0">
    <div class="os-table os-table-fixed os-table-tree">
      <div class="os-table-head">
        <div class="row">
          <div class="col col-xs-5" translate="srs.name">Name</div>
          <div class="col col-xs-2" translate="srs.type">Type</div>
          <div class="col col-xs-2" translate="srs.pathology">Pathology</div>
          <div class="col col-xs-2" translate="srs.storage_type">Storage Type</div>
          <div class="col col-xs-1">&nbsp;</div>
        </div>
      </div>
      <div class="os-table-body">
        <div ng-class="{'os-inplace-form-edit-po': parentSr == sr}" 
          ng-repeat="sr in specimenRequirements | openedTreeNodes" 
          ng-mouseenter="showBtns=true" ng-mouseleave="showBtns=false">
          <div class="row title">
            <div class="col col-xs-5 os-ellipsis">
              <div style="padding-left: {{sr.hasChildren ? sr.depth * 20 : sr.depth * 20 + 16}}px">
                <a ng-if="sr.hasChildren && sr.isOpened" 
                   class="fa fa-chevron-circle-down"
                   ng-click="closeSpecimenNode(sr)">
                </a>
                <a ng-if="sr.hasChildren && !sr.isOpened" 
                   class="fa fa-chevron-circle-right"
                   ng-click="openSpecimenNode(sr)">
                </a>
                <span class="fa fa-circle" 
                      ng-class="{'os-lineage-new': sr.lineage == 'New',
                                 'os-lineage-aliquot': sr.lineage == 'Aliquot',
                                 'os-lineage-derivative': sr.lineage == 'Derived'}">
                </span>
                <a ng-if="sr.name">{{sr.name}}</a>
                <a ng-if="!sr.name">{{sr.type}} ({{sr.specimenClass}})</a>
              </div>
            </div>
            <div class="col col-xs-2 os-ellipsis">{{sr.type}}</div>
            <div class="col col-xs-2 os-ellipsis">{{sr.pathologyStatus | osNoValue}}</div>
            <div class="col col-xs-2 os-ellipsis">{{sr.storageType | osNoValue}}</div>
            <div class="col col-xs-1 action">
              <div class="os-more-options" dropdown ng-if="view == 'list_sr'">
                <div class="dropdown-toggle">
                  <span class="fa fa-ellipsis-v"></span>
                </div>

                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-eye"></i>
                      <span translate="srs.ctx_menu.view_sr">View Requirement</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-pencil"></i>
                      <span translate="srs.ctx_menu.edit_sr">Edit Requirement</span>
                    </a>
                  </li>
                  <li>
                    <a ng-click="copyRequirement(sr)">
                      <i class="fa fa-copy"></i>
                      <span>Copy Requirement</span>
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="showCreateAliquots(sr)">
                      <i class="fa fa-share-alt"></i>
                      <span translate="srs.ctx_menu.create_aliquots">
                        Create Aliquots
                      </span>
                    </a>
                  </li>
                  <li>
                    <a ng-click="showCreateDerived(sr)">
                      <i class="fa fa-flask"></i>
                      <span translate="srs.ctx_menu.create_derivatives">
                        Create Derivatives
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row content" ng-if="parentSr == sr && view != 'list_sr'">
            <div ng-if="view == 'addedit_aliquot'"  
                ng-include="'modules/biospecimen/cp/addedit-aliquot.html'"> 
            </div>
            <div ng-if="view == 'addedit_derived'"  
                ng-include="'modules/biospecimen/cp/addedit-derived.html'"> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="list-group-item" ng-click="showAddSr()" translate="srs.buttons.add_sr">
    Add Specimen Requirement... 
  </a>
</div>

<div ng-include="'modules/biospecimen/cp/addedit-sr.html'" ng-if="view == 'addedit_sr'"> 
</div>
