<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog 
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
  http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">
        
  <changeSet author="mdnasim" id="Expiring cps notification mail">
    <sql>
      call add_cfg_prop(
        'biospecimen', 'cp_expiry_rem_notif',
        'cp_expiry_rem_notif', 'cp_expiry_rem_notif_desc',
        'INT', '30'
      );
    </sql>
  </changeSet>
  
  <changeSet author="mdnasim" id="Repeat interval for expiring cps notification mail">
    <sql>
      call add_cfg_prop(
        'biospecimen', 'cp_expiry_rem_rept_inter',
        'cp_expiry_rem_rept_inter', 'cp_expiry_rem_rept_inter_desc',
        'INT', '5'
      );
    </sql>
  </changeSet>
 </databaseChangeLog>
