.dhtmlxcalendar_simplegrey {
	background: url(../imgs/__dhxCal_skin_SimpleGrey/cal_bg_single.png) no-repeat;
	border: 0px solid green;
	font-family: Arial;
	z-index:99;
	height:174px;
	width:160px;
	padding:16px;
}

.dhtmlxcalendar_simplegrey_mini {
  background: url(../imgs/__dhxCal_skin_SimpleGrey/cal_bg_single_mini.gif) no-repeat;
  height:5px;
  width:160px;
}

.dhtmlxcalendar_simplegrey_maxi {
  background: url(../imgs/__dhxCal_skin_SimpleGrey/cal_bg_single_maxi.gif) no-repeat;
  height:175px;
}

.dhtmlxcalendar_simplegrey_ifr,
.dhtmlxcalendar_simplegrey_mini_ifr,
.dhtmlxcalendar_simplegrey_maxi_ifr {
  height:195px;
  width:189px;
}

.dhtmlxcalendar_simplegrey_maxi_ifr {
  height:195px;
  width:180px;
}

.dhtmlxcalendar_simplegrey_mini_ifr {
  height:25px;
}

.dhtmlxcalendar_simplegrey_mini .winHeader{
  -moz-user-select: none;
}

.dhtmlxcalendar_simplegrey .winHeader {
  height: 13px;
  margin-top: -7px;
  margin-bottom: 3px;
  width: 160px;
  -moz-user-select:none;
}

.dhtmlxcalendar_simplegrey .winTitle {
  color:#575757;
  font-size:12px;
  float:left;
  cursor: move;  
  width: 100px;
  margin-top: -1px;
  overflow: hidden;
}

.dhtmlxcalendar_simplegrey .btn_maxi,
.dhtmlxcalendar_simplegrey .btn_mini,
.dhtmlxcalendar_simplegrey .btn_close,
.dhtmlxcalendar_simplegrey .btn_today,
.dhtmlxcalendar_simplegrey .btn_clear {
  background: url(../imgs/__dhxCal_skin_SimpleGrey/btns.gif) no-repeat;
  float:right;
  height:12px;
  width:12px;  
  margin-left: 1px;
}

.dhtmlxcalendar_simplegrey .btn_mini {
  background-position: -48px 0;
}

.dhtmlxcalendar_simplegrey .btn_maxi {
  background-position: -36px 0;
}

.dhtmlxcalendar_simplegrey .btn_close {
  background-position: 0 0;
}

.dhtmlxcalendar_simplegrey .btn_today {
  background-position: -12px 0;
}

.dhtmlxcalendar_simplegrey .btn_clear {
  background-position: -24px 0;
}


.dhtmlxcalendar_simplegrey .entbox{
	width:161px;
	height:174px;
}

.dhtmlxcalendar_simplegrey td {
	font-size: 10px;
	font-family: Tahoma;
	text-align:center;
}

.dhtmlxcalendar_simplegrey .dxcalmonth td{
  	font-weight:bold;	
	font-size: 12px;
}

.dhtmlxcalendar_simplegrey .dxcalmonth .planeYear{
	margin-left:4px;
}

.dhtmlxcalendar_simplegrey .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_simplegrey .dxcalmonth td.month_btn_right {
	background: url(../imgs/__dhxCal_skin_SimpleGrey/btns.gif) no-repeat;
	background-position: -60px 0;
	width: 4px;
}
.dhtmlxcalendar_simplegrey .dxcalmonth td.month_btn_right {
	background-position: -64px 0;
}

.dhtmlxcalendar_simplegrey .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_simplegrey .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_simplegrey .dxcalmonth table {
  margin: auto;
}

.dhtmlxcalendar_simplegrey .dxcaldlabel {
  margin-top: 10px;
	border-bottom: 1px solid #7e7e7e;
	color:#7e7e7e;
}
.dhtmlxcalendar_simplegrey .dxcaldlabel td,
.dhtmlxcalendar_simplegrey .dxcaldays td,
.dhtmlxcalendar_simplegrey .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	font-weight:normal;		
	text-align: center;
	vertical-align: middle;
	width: 24px;
	height: 18px;
	color: #7e7e7e;
}

.dhtmlxcalendar_simplegrey .dxcaldlabel{
	border-top: 0px;
}

.dhtmlxcalendar_simplegrey .dxcaldlabel td{
	color: black;
}

.dhtmlxcalendar_simplegrey .dxcaldays td,
.dhtmlxcalendar_simplegrey .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_simplegrey .dxcaldays_ie td{
	display: block;
	height:19px;
	
}
.dhtmlxcalendar_simplegrey td.comma{
	visibility:visible;
}
.dhtmlxcalendar_simplegrey div.planeMonth,
.dhtmlxcalendar_simplegrey div.planeYear {
	height: auto;
	overflow: auto;
}

div.dhtmlxcalendar_simplegrey div.planeYear{
	display:inline;
	width:auto;
}

/* begin: days colors */
.dhtmlxcalendar_simplegrey td.thismonth{
	color:black;
	padding:1px;
	width: 24px;
}

.dhtmlxcalendar_simplegrey td.othermonth{
	visibility: visible;
}

.dhtmlxcalendar_simplegrey td.weekend{
	color:black;
	padding:1px;
}

.dhtmlxcalendar_simplegrey td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_simplegrey td.selected{
	background: url(../imgs/__dhxCal_skin_SimpleGrey/cell_select.png) center center no-repeat;
	border:1px solid #b5b5b5;
	padding:0px;
	color:black !important;
}


.dhtmlxcalendar_simplegrey td.current{
	color:black;
	font-weight:bold !important

}

.dhtmlxcalendar_simplegrey td.hover{
	border:1px solid #b5b5b5;
	padding:0px;
}

.dhtmlxcalendar_simplegrey td.holiday{ 
	font-weight:bold;
	text-decoration:underline;
	color:#000;
}

/* begin: dhtmlxRichSelector */
 .dhtmlxcalendar_simplegrey div.dhtmlxRichSelector {
  position: relative;
  background-color:#ffffff;
  display: block;
  width: 1px;
  height: 1px;
}

.dhtmlxcalendar_simplegrey textarea.dhtmlxRichSelector,
.dhtmlxcalendar_simplegrey select.dhtmlxRichSelector {
  position: absolute;
  font-family: Arial;
  font-size: 10pt;
  overflow: hidden;
  border-width: 0px;
  z-index:100;
  left: 0px;
  top: 0px;
}

.dhtmlxcalendar_simplegrey select.dhtmlxRichSelector {
	border: 1px solid #7b9ebd;
}
/* end: dhtmlxRichSelector */