.dhtmlxcalendar_dhx_skyblue{
  background: #fff;
  font: 12px Tahoma;
  color: #000;
  z-index:99;
  height:153px;
  padding-top:14px;
  width:193px;  
  border: 1px solid #a4bed4;
}

.dhtmlxcalendar_dhx_skyblue_mini{
  height:25px;
  padding-top: 0px;
}

.dhtmlxcalendar_dhx_skyblue_maxi{
  height:179px !important;
  height:193px;
}

.dhtmlxcalendar_dhx_skyblue_ifr,
.dhtmlxcalendar_dhx_skyblue_mini_ifr,
.dhtmlxcalendar_dhx_skyblue_maxi_ifr {
  height:173px;
  width:193px;
}

.dhtmlxcalendar_dhx_skyblue_mini_ifr {
  height:25px;
}

.dhtmlxcalendar_dhx_skyblue_maxi_ifr {
  height:185px;
}

.dhtmlxcalendar_dhx_skyblue_mini .winHeader {
  margin:0 !important;
  border-bottom: 0 !important;
}

.dhtmlxcalendar_dhx_skyblue .winHeader {
  background:url('../imgs/__dhxCal_skin_Skyblue/cal_header_bg.gif');
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #fff #fff #a4bed4 #fff;
  padding: 9px 5px 0;
  height: 16px;
  
  
  margin: -14px 0 12px;
  -moz-user-select:none;       
}

.dhtmlxcalendar_dhx_skyblue .winTitle {
  font-size:11px;
  font-weight: bold;
  float:left;
  cursor: move;  
  width: 105px;
  margin-top: -2px;
}

.dhtmlxcalendar_dhx_skyblue .btn_maxi,
.dhtmlxcalendar_dhx_skyblue .btn_mini,
.dhtmlxcalendar_dhx_skyblue .btn_close,
.dhtmlxcalendar_dhx_skyblue .btn_today,
.dhtmlxcalendar_dhx_skyblue .btn_clear {
  background: url(../imgs/__dhxCal_skin_Skyblue/btns.gif) no-repeat;
  float:right;
  height:12px;
  width:12px;  
  margin-left: 3px;
}

.dhtmlxcalendar_dhx_skyblue .btn_mini {
    background-position: -48px 0;
}

.dhtmlxcalendar_dhx_skyblue .btn_maxi {
    background-position: -36px 0;
}

.dhtmlxcalendar_dhx_skyblue .btn_close {
    background-position: 0 0;
}

.dhtmlxcalendar_dhx_skyblue .btn_today {
    background-position: -12px 0;

}

.dhtmlxcalendar_dhx_skyblue .btn_clear {
    background-position: -24px 0;
}

.dhtmlxcalendar_dhx_skyblue .entbox{
  width:161px;
  height: 114px;
  clear:both;
  margin: 0 15px;
}

.dhtmlxcalendar_dhx_skyblue td {
  text-align:center;
}

.dhtmlxcalendar_dhx_skyblue .dxcalmonth td{
  font-size: 11px;
  font-weight: bold;
}

.dhtmlxcalendar_dhx_skyblue .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_dhx_skyblue .dxcalmonth td.month_btn_right {
  background: url(../imgs/__dhxCal_skin_Skyblue/btns.gif) no-repeat;
  background-position: -60px;
  width: 4px;
}

.dhtmlxcalendar_dhx_skyblue .dxcalmonth td.month_btn_right {
  background-position: -64px;
}

.dhtmlxcalendar_dhx_skyblue .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_dhx_skyblue .dxcalmonth td.month_btn_right span{
  visibility: hidden;
}

.dhtmlxcalendar_dhx_skyblue .dxcalmonth table {
  margin: auto;
}

.dhtmlxcalendar_dhx_skyblue .dxcaldlabel {
  font-size: 11px;
  font-weight: bold;
  border-top: 0px;
  padding-left:2px;
  margin-top: 4px;
}

.dhtmlxcalendar_dhx_skyblue .dxcaldays{
  margin-top:5px;
}

.dhtmlxcalendar_dhx_skyblue .dxcaldays_ie{
  width: 161px;
  margin-top:5px;
}

.dhtmlxcalendar_dhx_skyblue .dxcaldlabel td,
.dhtmlxcalendar_dhx_skyblue .dxcaldays td,
.dhtmlxcalendar_dhx_skyblue .dxcaldays_ie td{
  text-align: center;
  vertical-align: middle;
}

.dhtmlxcalendar_dhx_skyblue .dxcaldays td,
.dhtmlxcalendar_dhx_skyblue .dxcaldays_ie td{
  height: 19px;
  width: 21px;
  font-size:12px;
  border: 0px;
  cursor: pointer;
  padding: 0px;
}

.dhtmlxcalendar_dhx_skyblue .dxcaldays_ie td{
  height:19px;
}

.dhtmlxcalendar_dhx_skyblue td.comma{
  visibility:visible;
  padding-right: 3px;
}

.dhtmlxcalendar_dhx_skyblue div.planeMonth,
.dhtmlxcalendar_dhx_skyblue div.planeYear {
  height: auto;
  overflow: auto;
}

div.dhtmlxcalendar_dhx_skyblue div.planeYear{
  display:inline;
  width:28px;
}

.dhtmlxcalendar_dhx_skyblue td.othermonth{
  visibility: visible;
  color: #ccc;
}

.dhtmlxcalendar_dhx_skyblue td.weekend{

}

.dhtmlxcalendar_dhx_skyblue td.insensitive{
  color:#ccc;
  cursor: default;

}

.dhtmlxcalendar_dhx_skyblue td.selected{
  background: url(../imgs/__dhxCal_skin_Skyblue/cell_select.gif) center no-repeat;
}

.dhtmlxcalendar_dhx_skyblue td.current{
  font-weight:bold  !important;
}

.dhtmlxcalendar_dhx_skyblue td.hover{

}

.dhtmlxcalendar_dhx_skyblue td.holiday{ 
  font-weight:bold;
  color:#ed3a64;
}

/* begin: dhtmlxDblCalendarObject */
.dhtmlxdblcalendar_dhx_skyblue {
  background: url(_dhx_blue/cal_bg_double.png) no-repeat;
  padding: 0px;
}
.dhtmlxdblcalendar_dhx_skyblue .dhtmlxcalendar {
  background-image: url(../imgs/blank.gif);
}
/* end: dhtmlxDblCalendarObject */

/* begin: dhtmlxRichSelector */
.dhtmlxcalendar_dhx_skyblue div.dhtmlxRichSelector {
  position: absolute;
  background-color:#ffffff;
  display: block;
}
.dhtmlxcalendar_dhx_skyblue textarea.dhtmlxRichSelector,
.dhtmlxcalendar_dhx_skyblue select.dhtmlxRichSelector {
  font-family: verdana;
  position: absolute;
  font-size: 9px;
  overflow: hidden;
  border-width: 0px;
  z-index:100;
}
.dhtmlxcalendar_dhx_skyblue select.dhtmlxRichSelector {
  border: 1px solid #555555;
}
/* end: dhtmlxRichSelector */