.dhtmlxcalendar_simpleblue {
	background: url(../imgs/__dhxCal_skin_SimpleBlue/cal_bg_single.png) no-repeat;
	border: 0px solid green;
	font-family: Arial;
	z-index:99;
	height:174px;
	width:160px;
	padding:16px;
}

.dhtmlxcalendar_simpleblue_mini {
  background: url(../imgs/__dhxCal_skin_SimpleBlue/cal_bg_single_mini.gif) no-repeat;
  height:5px;
  width:160px;
}

.dhtmlxcalendar_simpleblue_maxi {
  background: url(../imgs/__dhxCal_skin_SimpleBlue/cal_bg_single_maxi.gif) no-repeat;
  height:175px;
}

.dhtmlxcalendar_simpleblue_ifr,
.dhtmlxcalendar_simpleblue_mini_ifr,
.dhtmlxcalendar_simpleblue_maxi_ifr {
  height:195px;
  width:189px;
}

.dhtmlxcalendar_simpleblue_maxi_ifr {
  height:195px;
  width:180px;
}

.dhtmlxcalendar_simpleblue_mini_ifr {
  height:25px;
}

.dhtmlxcalendar_simpleblue_mini .winHeader{
  -moz-user-select: none;
}

.dhtmlxcalendar_simpleblue .winHeader {
  height: 13px;
  margin-top: -7px;
  margin-bottom: 3px;
  width: 160px;
  -moz-user-select:none;
}

.dhtmlxcalendar_simpleblue .winTitle {
  color:#575757;
  font-size:12px;                                
  float:left;
  cursor: move;  
  width: 100px;
  margin-top: -1px;
  overflow: hidden;
}

.dhtmlxcalendar_simpleblue .btn_maxi,
.dhtmlxcalendar_simpleblue .btn_mini,
.dhtmlxcalendar_simpleblue .btn_close,
.dhtmlxcalendar_simpleblue .btn_today,
.dhtmlxcalendar_simpleblue .btn_clear {
  background: url(../imgs/__dhxCal_skin_SimpleBlue/btns.gif) no-repeat;
  float:right;
  height:12px;
  width:12px;
  margin-left:1px;
}

.dhtmlxcalendar_simpleblue .btn_mini {
  background-position: -48px 0;
}

.dhtmlxcalendar_simpleblue .btn_maxi {
  background-position: -36px 0;
}

.dhtmlxcalendar_simpleblue .btn_close {
  background-position: 0 0;
}

.dhtmlxcalendar_simpleblue .btn_today {
  background-position: -12px 0;
}

.dhtmlxcalendar_simpleblue .btn_clear {
  background-position: -24px 0;
}

.dhtmlxcalendar_simpleblue .entbox{
	width:161px;
	height:174px;
}

.dhtmlxcalendar_simpleblue td {
	font-size: 10px;
	font-family: Tahoma;
	
	text-align:center;
}

.dhtmlxcalendar_simpleblue .dxcalmonth{

}

.dhtmlxcalendar_simpleblue .dxcalmonth td{
	font-size: 12px;
	font-weight:bold;		
}

.dhtmlxcalendar_simpleblue .dxcalmonth .planeYear{
	margin-left:8px;
}


.dhtmlxcalendar_simpleblue .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_simpleblue .dxcalmonth td.month_btn_right {
	background: url(../imgs/__dhxCal_skin_SimpleBlue/btns.gif) no-repeat;
	background-position: -60px 0;
	width: 8px;
}
.dhtmlxcalendar_simpleblue .dxcalmonth td.month_btn_right {
	background-position: -68px 0;
}

.dhtmlxcalendar_simpleblue .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_simpleblue .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_simpleblue .dxcalmonth table {
  margin: auto;
}

.dhtmlxcalendar_simpleblue .dxcaldlabel {
	border-bottom: 1px solid #7e7e7e;
  	margin-top: 10px;	
	color:#7e7e7e;
}
.dhtmlxcalendar_simpleblue .dxcaldlabel td,
.dhtmlxcalendar_simpleblue .dxcaldays td,
.dhtmlxcalendar_simpleblue .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	font-weight:normal;	
	text-align: center;
	vertical-align: middle;
	width: 24px;
	height: 18px;
	color: #7e7e7e;
}

.dhtmlxcalendar_simpleblue .dxcaldlabel{
	border-top: 0px;
}

.dhtmlxcalendar_simpleblue .dxcaldlabel td{
	color: black;
}

.dhtmlxcalendar_simpleblue .dxcaldays td,
.dhtmlxcalendar_simpleblue .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_simpleblue .dxcaldays_ie td{
	height:19px;
}
.dhtmlxcalendar_simpleblue td.comma{
	visibility:visible;
}
.dhtmlxcalendar_simpleblue div.planeMonth,
.dhtmlxcalendar_simpleblue div.planeYear {
	height: auto;
	overflow: auto;
}
div.dhtmlxcalendar_simpleblue div.planeYear{
	display:inline;
	width:auto;
}

/* begin: days colors */
.dhtmlxcalendar_simpleblue td.thismonth{
	color:black;
	padding:1px;
	width: 24px;
}

.dhtmlxcalendar_simpleblue td.othermonth{
	visibility: visible;
}

.dhtmlxcalendar_simpleblue td.weekend{
	color:black;
	padding:1px;
}

.dhtmlxcalendar_simpleblue td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_simpleblue td.selected{
	background-color: #6fdcfa;
	color:black !important;
}


.dhtmlxcalendar_simpleblue td.current{
  	color:black;
	font-weight:bold !important
}

.dhtmlxcalendar_simpleblue td.hover{
	border:1px solid #6fdcfa;
	padding:0px;
}

.dhtmlxcalendar_simpleblue td.holiday{ 
	font-weight:bold;
	text-decoration:underline;
	color:#000;
}

/* begin: dhtmlxRichSelector */
 .dhtmlxcalendar_simpleblue div.dhtmlxRichSelector {
  position: relative;
  background-color:#ffffff;
  display: block;
  width: 1px;
  height: 1px;
}

.dhtmlxcalendar_simpleblue textarea.dhtmlxRichSelector,
.dhtmlxcalendar_simpleblue select.dhtmlxRichSelector {
  position: absolute;
  font-family: Arial;
  font-size: 10pt;
  overflow: hidden;
  border-width: 0px;
  z-index:100;
  left: 0px;
  top: 0px;
}

.dhtmlxcalendar_simpleblue select.dhtmlxRichSelector {
  border: 1px solid #7b9ebd;
}
/* end: simpleblue */