/* MAIN OBJ */
div.dhx_acc_base_dhx_black {
	overflow: hidden;
}
/* SINGLE ITEM */
div.dhx_acc_base_dhx_black div.dhx_acc_item {
	position: relative;
	overflow: hidden;
	width: 100%;
}
div.dhx_acc_base_dhx_black div.dhx_acc_item_hidden {
	display: none;
}
/* HEADER */
div.dhx_acc_base_dhx_black div.dhx_acc_item div.dhx_acc_item_label {
	position: relative;
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	border-left: #333333 1px solid;
	border-right: #333333 1px solid;
	vertical-align: middle;
	overflow: hidden;
	background-image: url("../imgs/dhxaccord_dhx_black/dhxacc_bg_normal.gif");
	background-position: top;
	background-repeat: repeat-x;
	-moz-user-select: none;
	cursor: default;
}
/* LABEL */
div.dhx_acc_base_dhx_black div.dhx_acc_item div.dhx_acc_item_label span {
	margin: 0px 4px;
}
/* HOVERED HEADER */
div.dhx_acc_base_dhx_black div.dhx_acc_item_lavel_hover {
	background-image: url("../imgs/dhxaccord_dhx_black/dhxacc_bg_hover.gif") !important;
}
/* HEADER BOTTOM BORDER FAKE */
div.dhx_acc_base_dhx_black div.dhx_acc_item div.dhx_acc_item_label div.dhx_acc_item_label_btmbrd {
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0px;
	border-bottom: #333333 1px solid;
}
/* ICON */
div.dhx_acc_base_dhx_black div.dhx_acc_item div.dhx_acc_item_label img.dhx_acc_item_icon {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 4px;
	top: 4px;
}

/* ?? accordion attached to window */
.dhtmlxAccordionAttached {
	border: none !important;
}


/* tabbar */
div.dhx_acc_base_dhx_black div.dhx_acc_item div.dhx_tabbar_row {
	background-color: #000000;
}
/* status bar */
div.dhx_acc_base_dhx_black div.dhxcont_statusbar {
	position: absolute;
	width: 100%;
	bottom: 0px;
	_bottom: -1px;
	border-top: #333333 1px solid;
	background-color: #555555;
	width: 100%;
	overflow: hidden;
	font-family: Tahoma;
	color: #F0F0F0;
	font-size: 11px;
	vertical-align: middle;
	line-height: 19px;
	-moz-user-select: none;
	cursor: default;
	padding-left: 4px;
}
/* CONTAINER */
div.dhx_acc_base_dhx_black div.dhx_acc_item div.dhxcont_global_content_area {
	position: absolute;
	border: #333333 1px solid;
	background-color: #FFFFFF;
	overflow: hidden;
}
div.dhxcont_content_blocker {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 101%;
	height: 101%;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	background: #FFFFFF;
	z-index: 1;
	-moz-user-select: none;
}
