.dhtmlxcalendar_simplecolorsand {
	background: url(../imgs/__dhxCal_skin_SimpleColorSand/cal_bg_single.png) repeat-x;
	border: 1px solid #c3c9aa;
	font-family: Arial;
	z-index:99;
	height:174px;
	width:160px;
	padding:10px;
}

.dhtmlxcalendar_simplecolorsand_mini {
  background: #f2f7e4;
  height:5px;
  width:160px;
  padding: 10px 10px 0px;
}

.dhtmlxcalendar_simplecolorsand_maxi {
  height:175px;
}

.dhtmlxcalendar_simplecolorsand_ifr,
.dhtmlxcalendar_simplecolorsand_mini_ifr,
.dhtmlxcalendar_simplecolorsand_maxi_ifr {
  height:184px;
  width:180px;
}

.dhtmlxcalendar_simplecolorsand_maxi_ifr {
  height:195px;
  width:180px;
}

.dhtmlxcalendar_simplecolorsand_mini_ifr {
  height:26px;
}

.dhtmlxcalendar_simplecolorsand_mini .winHeader{
  -moz-user-select: none;
}

.dhtmlxcalendar_simplecolorsand .winHeader {
  height: 13px;
  margin: -5px 0px 3px;
  width: 160px;
  -moz-user-select:none;
}

.dhtmlxcalendar_simplecolorsand .winTitle {
  color:#575757;
  font-size:12px;
  float:left;
  cursor: move;  
  width: 100px;
  margin-top: -1px;
  overflow: hidden;
}

.dhtmlxcalendar_simplecolorsand .btn_maxi,
.dhtmlxcalendar_simplecolorsand .btn_mini,
.dhtmlxcalendar_simplecolorsand .btn_close,
.dhtmlxcalendar_simplecolorsand .btn_today,
.dhtmlxcalendar_simplecolorsand .btn_clear {
  background: url(../imgs/__dhxCal_skin_SimpleColorSand/btns.gif) no-repeat;
  float:right;
  height:12px;
  width:12px;  
  margin-left: 1px;
}

.dhtmlxcalendar_simplecolorsand .btn_mini {
  background-position: -48px 0;
}

.dhtmlxcalendar_simplecolorsand .btn_maxi {
  background-position: -36px 0;
}

.dhtmlxcalendar_simplecolorsand .btn_close {
  background-position: 0 0;
}

.dhtmlxcalendar_simplecolorsand .btn_today {
  background-position: -12px 0;
}

.dhtmlxcalendar_simplecolorsand .btn_clear {
  background-position: -24px 0;
}

.dhtmlxcalendar_simplecolorsand .entbox{
	width:161px;
	height:160px;
}

.dhtmlxcalendar_simplecolorsand td {
	font-size: 10px;
	font-family: Tahoma;
	font-weight:bold;
	text-align:center;
	
}

.dhtmlxcalendar_simplecolorsand .dxcalmonth .planeYear{
	margin-left:4px;
}

.dhtmlxcalendar_simplecolorsand .dxcalmonth td{
	font-size: 12px;
	color:#575757;	
}

.dhtmlxcalendar_simplecolorsand .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_simplecolorsand .dxcalmonth td.month_btn_right {
	background: url(../imgs/__dhxCal_skin_SimpleColorSand/btns.gif) no-repeat;
	background-position: -60px 0;
	width: 4px;
}
.dhtmlxcalendar_simplecolorsand .dxcalmonth td.month_btn_right {
	background-position: -64px 0;
}

.dhtmlxcalendar_simplecolorsand .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_simplecolorsand .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_simplecolorsand .dxcalmonth table {
  margin: auto;
}

.dhtmlxcalendar_simplecolorsand .dxcaldlabel {
  margin-top: 6px;  
	border-bottom: 1px solid #7e7e7e;
	color:#717171;
}
.dhtmlxcalendar_simplecolorsand .dxcaldlabel td,
.dhtmlxcalendar_simplecolorsand .dxcaldays td,
.dhtmlxcalendar_simplecolorsand .dxcaldays_ie td{
  font: normal 11px Tahoma;
	text-align: center;
	vertical-align: middle;
	width: 24px;
	height: 19px;
	color: #7e7e7e;
}

.dhtmlxcalendar_simplecolorsand .dxcaldlabel{
	border-top: 0px;
}

.dhtmlxcalendar_simplecolorsand .dxcaldlabel td{
	color: #3b3b3b;
}

.dhtmlxcalendar_simplecolorsand .dxcaldays td,
.dhtmlxcalendar_simplecolorsand .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_simplecolorsand .dxcaldays_ie td{
	height:16px;
}
.dhtmlxcalendar_simplecolorsand td.comma{
	visibility:visible;
}
.dhtmlxcalendar_simplecolorsand div.planeMonth,
.dhtmlxcalendar_simplecolorsand div.planeYear {
	height: auto;
	overflow: auto;
}
div.dhtmlxcalendar_simplecolorsand div.planeYear{
	display:inline;
	width:auto;
}

/* begin: days colors */
.dhtmlxcalendar_simplecolorsand td.thismonth{
	color:#3b3b3b;
	padding:1px;
	
}

.dhtmlxcalendar_simplecolorsand td.othermonth{
	visibility: visible;
	color:#a5a5a5;
}

.dhtmlxcalendar_simplecolorsand td.weekend{
	color:#3b3b3b;
	padding:1px;
}

.dhtmlxcalendar_simplecolorsand td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_simplecolorsand td.selected{
  	background-color: #f5c453;
	color:black !important;
}


.dhtmlxcalendar_simplecolorsand td.current{
  	color:#3b3b3b;
	font-weight:bold !important
}

.dhtmlxcalendar_simplecolorsand td.hover{
  	border: 1px solid #f5c453;
	padding:0px;
}

.dhtmlxcalendar_simplecolorsand td.holiday{ 
	font-weight:bold;
	text-decoration:underline;
	color:#3b3b3b;
}
/* begin: dhtmlxRichSelector */
 .dhtmlxcalendar_simplecolorsand div.dhtmlxRichSelector {
  position: relative;
  background-color:#ffffff;
  display: block;
  width: 1px;
  height: 1px;
}

.dhtmlxcalendar_simplecolorsand textarea.dhtmlxRichSelector,
.dhtmlxcalendar_simplecolorsand select.dhtmlxRichSelector {
  position: absolute;
  font-family: Arial;
  font-size: 10pt;
  overflow: hidden;
  border-width: 0px;
  z-index:100;
  left: 0px;
  top: 0px;
}

.dhtmlxcalendar_simplecolorsand select.dhtmlxRichSelector {
  border: 1px solid #7b9ebd;
}