iframe.dhxeditor_mainiframe_dhx_skyblue {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
td.dhxeditor_toolbar_dhx_skyblue {
	position: relative;
	height: 26px;
}
td.dhxeditor_toolbar_dhx_skyblue div.dhtmlxToolbar_dhx_skyblue {
	height: 24px !important;
}
div.dhxeditor_container_dhx_skyblue {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* native lite toolbar */
div.dhxeditor_dhx_skyblue_btns {
	background-image: url("../imgs/dhxeditor_dhx_skyblue/dhxeditor_bg_lite.gif");
	background-repeat: repeat-x;
	position: absolute;
	width: 100%;
	height: 25px;
}
div.dhxeditor_dhx_skyblue_btns div.verline_l {
	position: absolute;
	left: 0px;
	top: 0px;
	border-left: #ffffff 1px solid;
	height: 24px;
	width: 1px;
}
div.dhxeditor_dhx_skyblue_btns div.verline_r {
	position: absolute;
	right: 0px;
	top: 0px;
	border-right: #ffffff 1px solid;
	height: 24px;
	width: 1px;
}
div.dhxeditor_dhx_skyblue_tbbtn {
	float: left;
	position: relative;
	width: 18px;
	height: 18px;
	font-size: 2px;
	margin-left: 2px;
	margin-top: 3px;
	cursor: pointer;
	background-image: url("../imgs/dhxeditor_dhx_skyblue/buttons.gif");
}
div.dhxeditor_dhx_skyblue_tbbtn.btn_bold {
	margin-left: 5px;
	background-position: 0px 0px;
}
div.dhxeditor_dhx_skyblue_tbbtn.btn_italic {
	background-position: -18px 0px;
}
div.dhxeditor_dhx_skyblue_tbbtn.btn_underline {
	background-position: -36px 0px;
}
div.dhxeditor_dhx_skyblue_tbbtn.btn_clearformat {
	background-position: -54px 0px;
}