<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
    http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">

  <changeSet author="vlonushte" id="Specifiy directory to store collection protocol SOP documents">
    <sql>
      call add_cfg_prop(
        'biospecimen', 'cp_sop_doc_dir',
        'cp_sop_doc_dir', 'cp_sop_doc_dir_desc',
        'STRING', ''
      );
    </sql>
  </changeSet>

  <changeSet author="pjoshi" id="Number of days of last login before user is considered as inactive">
    <sql>
      call add_cfg_prop(
        'administrative', 'active_users_login_days',
        'active_users_login_days', 'active_users_login_days_desc',
        'INT', '90'
      );
    </sql>
  </changeSet>	
</databaseChangeLog>
