<div class="clearfix">
  <div class="col-xs-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span translate="specimens.list">Specimens</span>
        <span class="os-btns" ng-if="!selection.closed">
          <button show-if-allowed="orderCreateOpts" class="default" ng-click="distributeSpecimens()">
            <span class="fa fa-share"></span>
            <span translate="specimen_list.distribute">Distribute</span>
          </button>
          <button show-if-allowed="shipmentCreateOpts" class="default" ng-click="shipSpecimens()">
            <span class="fa fa-paper-plane-o"></span>
            <span translate="specimen_list.ship">Ship</span>
          </button>
        </span>
      </div>
      <div class="panel-body">
        <table class="os-table">
          <thead class="os-table-head">
            <tr class="row">
              <th class="col">
                <div class="clearfix">
                  <div class="pull-left os-select-specimen-cb" ng-if="!selection.closed">
                    <os-checkbox ng-change="toggleAllSpecimenSelect()" ng-model="selection.all"></os-checkbox>
                  </div>
                  <div class="pull-left" style="padding-left: 12px;">
                    <span translate="specimens.label">Label</span>
                  </div>
                </div>
              </th>
              <th class="col">
                <span translate="specimens.description">Description</span>
              </th>
              <th class="col">
                <span translate="specimens.available_qty">Available Quantity</span>
              </th>
              <th class="col">
                <span translate="specimens.location">Location</span>
              </th>
              <th class="col">
                <span translate="specimen_requests.status">Status</span>
              </th>
            </tr>
          </thead>
          <tbody class="os-table-body">
            <tr class="row" ng-class="{'selected': item.selected}" ng-repeat="item in spmnRequest.items">
              <td class="col">
                <div class="clearfix">
                  <div class="pull-left os-select-specimen-cb" ng-if="!selection.closed && item.status == 'PENDING'">
                    <os-checkbox ng-change="toggleSpecimenSelect(item)" ng-model="item.selected">
                    </os-checkbox>
                  </div>
                  <div class="pull-left" style="padding-left: 12px;">
                    <a ui-sref="specimen({specimenId: item.specimen.id})">
                      <span>{{item.specimen.label}}</span>
                    </a>
                  </div>
                </div>
              </td>
              <td class="col">
                <a ui-sref="specimen({specimenId: item.specimen.id})">
                  <os-specimen-desc specimen="item.specimen" detailed="true"></os-specimen-desc>
                </a>
              </td>
              <td class="col">
                <span>{{item.specimen.availableQty}}</span>
                <os-specimen-unit specimen-class="item.specimen.specimenClass" type="item.specimen.type"></os-specimen-unit>
              </td>
              <td class="col">
                <span ng-switch on="!!item.specimen.storageLocation.name">
                  <span ng-switch-when="true">
                    <span>{{item.specimen.storageLocation.name}}</span>
                    <span>({{item.specimen.storageLocation.positionY}}, {{item.specimen.storageLocation.positionX}})</span>
                  </span>
                  <span ng-switch-when="false">
                    <span translate="specimens.virtually_located">Virtual</span>
                  </span>
                </span>
              </td>
              <td class="col">
                <span class="status" ng-switch on="item.status">
                  <span ng-switch-when="PENDING" class="fa fa-circle os-status-pending"></span>
                  <span ng-switch-when="DISTRIBUTED" class="fa fa-circle os-status-distributed"></span>
                  <span ng-switch-when="SHIPPED" class="fa fa-circle os-status-distributed"></span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
