<div>
  <div os-page-header>
    <ul os-breadcrumbs>
      <li> 
        <a ui-sref="cp-detail.overview({cpId: cpr.cpId})">
          {{cpr.cpTitle}}
        </a>
      </li>
      <li>
        <a ui-sref="participant-detail.overview({cprId: cpr.id})">
          <ng-switch on="!!(cpr.participant.lastName || cpr.participant.firstName)">
            <span ng-switch-when="true"> {{cpr.participant.firstName}} {{cpr.participant.lastName}} </span>
            <span ng-switch-when="false" translate="common.na"> N/A </span>
          </ng-switch>
          <span>({{cpr.ppid}})</span>
        </a>
      </li>
      <li>
        <a ui-sref="visit-detail.overview({visitId: visit.id, eventId: visit.eventId})">
          T{{visit.eventPoint}}: {{visit.eventLabel}}
        </a>
      </li>
    </ul>

    <h3 ng-switch on="!!currSpecimen.label">
      <span ng-switch-when="true">{{currSpecimen.label}}</span>
      <span ng-switch-default>{{currSpecimen.type}} ({{currSpecimen.specimenClass}})</span>
    </h3>
  </div>

  <div class="container os-margin-top" ng-init="showAdvAttrs=currSpecimen.lineage == 'New' && !currSpecimen.id && !currSpecimen.reqId">
    <form name="sform" class="form-horizontal" os-form-validator="sform" validator="sformValidator" novalidate>
      <div class="form-group" ng-init="pLabel = currSpecimen.label"
        ng-hide="!currSpecimen.label && !!currSpecimen.labelFmt && !cp.manualSpecLabelEnabled">
        <label class="col-xs-3 control-label">Label</label>
        <div class="col-xs-6">
          <input type="text" name="label" ng-model="currSpecimen.label" class="form-control" 
            ng-required="currSpecimen.status == 'Collected' && (!currSpecimen.labelFmt || cp.manualSpecLabelEnabled)" 
            ng-disabled="!!pLabel" placeholder="{{'specimens.label' | translate}}"/>
          <div os-field-error field="sform.label"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Collection Status</label>
        <div class="col-xs-6">
          <os-select name="collectionStatus" ng-model="currSpecimen.status" list="collectionStatuses"
            required placeholder="Collection Status">
          </os-select>
          <div os-field-error field="sform.collectionStatus"></div>
        </div>
      </div>


      <div ng-if="currSpecimen.lineage != 'Aliquot'">
        <div class="form-group">
          <label class="col-xs-3 control-label">Specimen Class</label>
          <div class="col-xs-6">
            <os-select name="class" ng-model="currSpecimen.specimenClass" list="specimenClasses"
              on-change="loadSpecimenTypes" required placeholder="Specimen Class">
            </os-select>
            <div os-field-error field="sform.class"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3 control-label">Specimen Type</label>
          <div class="col-xs-6">
            <os-select name="type" ng-model="currSpecimen.type" list="specimenTypes"
              required placeholder="Specimen Type">
            </os-select>
            <div os-field-error field="sform.type"></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Initial Quantity</label>
        <div class="col-xs-6">
          <div class="input-group">
            <input type="text" name="qty" ng-model="currSpecimen.initialQty" class="form-control" 
                required ng-pattern="/^([0-9]+|[0-9]*\.[0-9]+)$/" placeholder="Initial Quantity">
            <div class="input-group-addon" ng-switch on="currSpecimen.specimenClass">
              <os-specimen-qty-unit specimen-class="currSpecimen.specimenClass" type="currSpecimen.type">
              </os-specimen-qty-unit>
            </div>
          </div>
          <div os-field-error field="sform.qty"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">Available Quantity</label>
        <div class="col-xs-6"> 
          <div class="input-group">
            <input type="text" name="aqty" ng-model="currSpecimen.availableQty" class="form-control" 
                required ng-pattern="/^([0-9]+|[0-9]*\.[0-9]+)$/" placeholder="Available Quantity">
            <div class="input-group-addon" ng-switch on="currSpecimen.specimenClass">
              <os-specimen-qty-unit specimen-class="currSpecimen.specimenClass" type="currSpecimen.type">
              </os-specimen-qty-unit>
            </div>
          </div>
          <div os-field-error field="sform.aqty"></div>
        </div>
      </div>

      <div class="form-group" ng-if="currSpecimen.lineage != 'New'">
        <label class="col-xs-3 control-label" translate="specimens.created_on">Created On</label>
        <div class="col-xs-6">
          <div class="os-date-time">
            <div class="os-col-85">
              <input type="text" name="createdOn" ng-model="currSpecimen.createdOn" class="form-control"
                datepicker-popup="{{global.dateFmt}}" show-button-bar="true" 
                is-open="createdOn.isOpen" ng-focus="createdOn.isOpen=true"
                required placeholder="Created On">
            </div>
            <div class="os-col-15">
              <timepicker class="os-time-no-wheels"  ng-model="currSpecimen.createdOn" show-meridian="false">
              </timepicker>
            </div>
          </div>
          <div os-field-error field="sform.createdOn"></div>
        </div>
      </div>

      <div class="form-group" ng-if="currSpecimen.lineage != 'Aliquot' && currSpecimen.specimenClass == 'Molecular'">
        <label class="col-xs-3 control-label">Concentration</label>
        <div class="col-xs-6"> 
          <div class="input-group">
            <input type="text" name="concentration" ng-model="currSpecimen.concentration" class="form-control" 
                ng-pattern="/^([0-9]+|[0-9]*\.[0-9]+)$/" placeholder="Concentration">
            <div class="input-group-addon">
              <span translate="specimens.concentration_unit"></span>
            </div>
          </div>
          <div os-field-error field="sform.concentration"></div>
        </div>
      </div>

      <div class="form-group" ng-if="currSpecimen.status == 'Collected'">
        <label class="col-xs-3 control-label">Location</label>
        <div class="col-xs-6">
          <os-specimen-position specimen="currSpecimen" cp-id="cpr.cpId"></os-specimen-position>
        </div>
      </div>

      <div class="form-group"  
        ng-if="(currSpecimen.lineage == 'New' || currSpecimen.lineage == 'Derived') && biohazards.length > 0">
        <label class="col-xs-3 control-label">Biohazards</label>
        <div class="col-xs-6">
          <os-select name="biohazards" ng-model="currSpecimen.biohazards" list="biohazards"
            multiple placeholder="Biohazards">
          </os-select>
        </div>
      </div>

      <div ng-if="showAdvAttrs">
        <div class="form-group">
          <label class="col-xs-3 control-label">Anatomic Site</label>
          <div class="col-xs-6">
            <os-select name="anatomicSite" ng-model="currSpecimen.anatomicSite" list="anatomicSites"
              required placeholder="Anatomic Site">
            </os-select>
            <div os-field-error field="sform.anatomicSite"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label">Laterality</label>
          <div class="col-xs-6">
            <os-select name="laterality" ng-model="currSpecimen.laterality" list="lateralities"
              required placeholder="Laterality">
            </os-select>
            <div os-field-error field="sform.laterality"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label">Pathology Status</label>
          <div class="col-xs-6">
            <os-select name="pathology" ng-model="currSpecimen.pathology" list="pathologyStatuses"
              required placeholder="Pathology Status">
            </os-select>
            <div os-field-error field="sform.pathology"></div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3 control-label">
            <span translate="specimens.comments">Comments</span>
          </label>
          <div class="col-xs-6">
            <textarea ng-model="currSpecimen.comments" class="form-control" 
              placeholder="{{'specimens.comments' | translate}}" rows="2">
            </textarea>
          </div>
        </div>
      </div>

      <div class="form-group" ng-if="currSpecimen.lineage == 'New'">
        <div class="col-xs-offset-3 col-xs-6">
          <a ng-click="$parent.showAdvAttrs = !$parent.showAdvAttrs">
            <span ng-if="!showAdvAttrs">More Specimen Information</span>
            <span ng-if="showAdvAttrs">Less Specimen Information</span>
          </a>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button class="btn btn-primary" os-form-submit="saveSpecimen()" ng-switch on="!!currSpecimen.id">
            <span ng-switch-when="true">Update</span>
            <span ng-switch-default>Collect</span>
          </button>
          <button class="btn os-btn-text" ng-click="back()" translate="common.buttons.discard">
            Discard
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
