<div> 
  <div os-page-header>
    <ul os-breadcrumbs>
      <li> 
        <a ui-sref="cp-detail.overview({cpId: cpr.cpId})">
          {{cpr.cpShortTitle}}
        </a> 
      </li>
      <li>
        <a ui-sref="participant-detail.overview({cprId: cpr.id})">
          <span>{{cpr.ppid}}</span>
        </a>
      </li>
      <li>
        <a ui-sref="visit-detail.overview({visitId: visit.id, eventId: visit.eventId})">
          <span>T{{visit.eventPoint}}: {{visit.eventLabel}}</span>
        </a>
      </li>
    </ul>
  
    <h3 ng-switch on="!!specimen.label">
      <span ng-switch-when="true">{{specimen.label}}</span>
      <span ng-switch-default>{{specimen.type}} ({{specimen.specimenClass}})</span>
    </h3>

    <span class="os-status-closed" ng-if="specimen.activityStatus == 'Closed'" translate="specimens.closed">
      Closed
    </span>

    <div class="os-btns right">
      <button show-if-allowed="specimenResource.updateOpts" class="primary" ui-sref="specimen-addedit"
        ng-if="!!visit.id && (!specimen.activityStatus || specimen.activityStatus == 'Active')"
        ng-switch on="specimen.status == 'Collected'"> 
        <span ng-switch-when="true">
          <span class="fa fa-pencil"></span>
          <span translate="common.buttons.edit">Edit</span>
        </span>
        <span ng-switch-default>
          <span class="fa fa-plus"></span>
          <span translate="specimens.buttons.collect">Collect</span>
        </span>
      </button>
      <button show-if-allowed="specimenResource.updateOpts" class="default" 
        ng-if="specimen.activityStatus == 'Active' && specimen.status == 'Collected'"
        ng-click="closeSpecimen()">
        <span class="fa fa-remove"></span>
        <span translate="specimens.buttons.close">Close</span>
      </button>
      <button show-if-allowed="specimenResource.updateOpts" class="primary" ng-click="reopen()"
        ng-if="specimen.activityStatus == 'Closed'">
        <span class="fa fa-check"></span>
        <span translate="specimens.buttons.reopen">Reopen</span>
      </button>
      <button show-if-allowed="specimenResource.deleteOpts" class="default" 
        ng-if="!!specimen.id" ng-click="deleteSpecimen()">
        <span class="fa fa-trash"></span>
        <span translate="common.buttons.delete">Delete</span>
      </button>
    </div>
  </div>

  <div os-side-menu>
    <ul>
      <li ui-sref-active="active">
        <a ui-sref=".overview"> 
          <i class="fa fa-eye"></i>
          <span class="os-title" translate="specimens.menu.overview">Overview</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-if="!!specimen.id">
        <a ui-sref=".extensions.list">
          <i class="fa fa-files-o"></i>
          <span class="os-title" translate="specimens.menu.extensions">Extensions</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-if="!!specimen.id">
        <a ui-sref=".events">
          <i class="fa fa-calendar-o"></i>
          <span class="os-title">Events</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="os-side-menu-page-content" ui-view></div>
</div>

