
<div class="clearfix">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Events</span>
        <div class="btn-group" style="margin-left: 10px;" dropdown>
          <button class="btn btn-primary os-round-btn dropdown-toggle">
            <span class="fa fa-plus"></span>
          </button>
          <ul class="dropdown-menu" role="menu" style="max-height: 400px; overflow: auto;">
            <li ng-repeat="eventForm in eventForms" ng-if="!eventForm.sysForm">
              <a ui-sref="specimen-detail.extensions.addedit({formId: eventForm.formId, formCtxId: eventForm.formCtxtId})">
                {{eventForm.formCaption}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <div class="os-table">
          <div class="os-table-head">
            <div class="row">
              <div class="col col-xs-2">Record ID</div>
              <div class="col col-xs-5">Name</div>
              <div class="col col-xs-2">User</div>
              <div class="col col-xs-2">Date and Time</div>
              <div class="col col-xs-1">&nbsp;</div>
            </div>
          </div>
          <div class="os-table-body">
            <div class="row" ng-repeat="event in events">
              <div class="col col-xs-2">
                <a ui-sref="specimen-detail.extensions.addedit({formId: event.formId, recordId: event.id, formCtxId: event.formCtxtId})">
                  {{event.id}} 
                </a>
              </div>
              <div class="col col-xs-5">{{event.name}}</div>
              <div class="col col-xs-2">{{event.user}}</div>
              <div class="col col-xs-2">{{event.time | date: global.dateTimeFmt}}</div>
              <div class="col col-xs-1">
                <button class="btn btn-xs btn-default">
                  <span class="fa fa-trash"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
