
<div class="clearfix">
  <div class="col-xs-8">
    <ul class="os-key-values os-two-cols">
      <li class="item">
        <strong class="key key-sm" translate="specimens.lineage">Lineage</strong>
        <span class="value value-md">{{specimen.lineage | osNoValue}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.collection_status">Status</strong>
        <ng-switch on="specimen.status">
          <span ng-switch-when="Collected" class="value value-md os-status-collected">Collected</span>
          <span ng-switch-when="Missed Collection" class="value value-md os-status-not-collected">Missed Collection</span>
          <span ng-switch-default class="value value-md os-status-pending">Pending</span>
        </ng-switch>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.class">Specimen Class</strong>
        <span class="value value-md">{{specimen.specimenClass | osNoValue}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.type">Specimen Type</strong>
        <span class="value value-md">{{specimen.type | osNoValue}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.anatomic_site">Anatomic Site</strong>
        <span class="value value-md">{{specimen.anatomicSite | osNoValue}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.laterality">Laterality</strong>
        <span class="value value-md">{{specimen.laterality | osNoValue}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.initial_qty">Initial Quantity</strong>
        <span class="value value-md">
          {{specimen.initialQty}}
          <os-specimen-qty-unit specimen-class="specimen.specimenClass" type="specimen.type"></os-specimen-qty-unit>
        </span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.available_qty">Available Quantity</strong>
        <span class="value value-md" ng-switch="!!specimen.availableQty || specimen.availableQty == 0">
          <span ng-switch-when="true">
            {{specimen.availableQty}}
            <os-specimen-qty-unit specimen-class="specimen.specimenClass" type="specimen.type">
            </os-specimen-qty-unit>
          </span>
          <span ng-switch-when="false" translate="common.not_specified"></span>
        </span>
      </li>

      <li class="item" ng-if="specimen.specimenClass == 'Molecular'">
        <strong class="key key-sm" translate="specimens.concentration">Concentration</strong>
        <span class="value value-md" 
          ng-switch="specimen.concentration != undefined && specimen.concentration != null">
          <span ng-switch-when="true">
            {{specimen.concentration}} 
            <span translate="specimens.concentration_unit"></span>
          </span>
          <span ng-switch-default translate="common.not_specified"></span>
        </span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.parent_specimen">Parent Specimen</strong>
        <ng-switch on="!!specimen.parentId">
          <span class="value value-md" ng-switch-when="true">
            <a ui-sref="specimen-detail.overview(
                         {eventId: visit.eventId, visitId: visit.id, specimenId: specimen.parentId, srId: specimen.reqId})">
              {{specimen.parentLabel}}
            </a>
          </span>
          <span class="value value-md" ng-switch-default>None</span>
        </ng-switch>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.pathology">Pathology Status</strong>
        <span class="value value-md">{{specimen.pathology | osNoValue}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.storage_location">Storage Location</strong>
        <ng-switch on="!!specimen.storageLocation.id && specimen.storageLocation.id != -1">
          <span class="value value-md" ng-switch-when="true">
            {{specimen.storageLocation.name}} 
              ({{specimen.storageLocation.positionY}} x {{specimen.storageLocation.positionX}})
          </span>
          <span class="value value-md" ng-switch-default translate="specimens.virtually_located"> 
            Virtual 
          </span>
        </ng-switch>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="specimens.biohazards">Biohazards</strong>
        <span class="value value-md">{{specimen.biohazards | osArrayJoin | osNoValue}}</span>
      </li>
    </ul>

    <div class="os-section os-line-section" ng-if="!!specimen.comments">
      <strong class="key key-sm">
        <span translate="specimens.comments">Comments</span>
        <span>&nbsp;</span>
      </strong>
      <span class="value value-md">{{specimen.comments}}</span>
    </div>

    <os-specimen-tree cpr="cpr" visit="visit" specimens="childSpecimens" allowed-ops="specimenAllowedOps">
    </os-specimen-tree>
  </div>

  <div class="col-xs-4">
    <h3 class="os-sub-section-title" translate="specimens.recent_events">
      Recent Activity
    </h3>
    <span ng-if="activities.length == 0" translate="common.none">None</span>
    <ul class="os-activity-list" ng-if="activities.length > 0">
      <li class="os-activity" ng-repeat="activity in activities">
        <div class="title">
          <a ui-sref="specimen-detail.extensions.addedit({recordId: activity.id, formId: activity.formId, formCtxId: activity.formCtxtId})">
            <span ng-if="!!activity.user && !!activity.time">
              {{'specimens.activity_full_info' | translate: activity}} 
            </span>
            <span ng-if="!!activity.user && !activity.time">
              {{'specimens.activity_user_info' | translate: activity}}
            </span>
            <span ng-if="!activity.user && !!activity.time">
              {{'specimens.activity_time_info' | translate: activity}}
            </span>
            <span ng-if="!activity.user && !activity.time">
              {{'specimens.activity_info' | translate: activity}}
            </span>
          </a>
        </div>
        <div class="info">
          <span>
            {{activity.updatedBy.lastName}}, {{activity.updatedBy.firstName}} - 
            {{activity.updateTime | date: dateFmt}}
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
