<div> 
  <div os-page-header>
    <h3>
      <span translate="configuration.title">Configurations</span>
    </h3>
  </div>

  <div class="container">
    <div class="os-table os-table-muted-hdr os-border">
      <div class="os-table-head">
        <div class="row">
          <div class="col col-xs-3" translate="configuration.category">Category</div>
          <div class="col col-xs-3" translate="configuration.name">Name</div>
          <div class="col col-xs-6" translate="configuration.value">Value</div>
        </div>
      </div>
      <div class="os-table-body">
        <div ng-repeat="config in configList">
          <div class="row os-pointer-cursor" ng-click="editProperty(config)">
            <div class="col col-xs-3" translate="configuration.modules.{{config.module}}"></div>
            <div class="col col-xs-3" translate="configuration.props.{{config.displayNameCode}}"></div>
            <div class="col col-xs-6">{{config.value}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
