
<div>
  <div class="os-modal-header">
    <span translate="setting.edit_title">Edit setting</span>
  </div>
  <div class="os-modal-body">
    <form class="form-horizontal" name="settingForm" os-form-validator="settingForm" novalidate>
      <div class="form-group">
        <label class="col-xs-2 control-label" translate="setting.category">Category</label>
        <div class="form-value col-xs-10">
          <span translate="setting.modules.{{setting.module}}"></span>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-xs-2 control-label" translate="setting.name">Name</label>
        <div class="form-value col-xs-10">
          <span translate="setting.display_codes.{{setting.displayNameCode}}"></span>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-xs-2 control-label" translate="setting.value">Value</label>
        <div class="col-xs-10">
          <input type="text" name="value" class="form-control" ng-model="setting.value" required ng-if="setting.type == 'STRING'"></input>
          <input type="text" name="value" class="form-control" ng-pattern="/^[0-9]*$/" ng-model="setting.value" required 
            ng-if="setting.type == 'INT'"></input>
          <div ng-if="setting.type == 'BOOLEAN'">
            <div class="os-onoffswitch">
              <input type="checkbox" name="onoffswitch" class="os-onoffswitch-checkbox" id="os-switch" ng-model="setting.value"
                ng-true-value="'true'" ng-false-value="'false'"/>
              <label class="os-onoffswitch-label" for="os-switch">
                <span class="os-onoffswitch-switch"></span>
                <span class="os-onoffswitch-inner"></span>
              </label>
            </div>
          </div>
          <div os-field-error field="settingForm.value"></div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <button type="submit" class="btn btn-primary" os-form-submit="submit()">
            <span translate="common.buttons.update">Update</span>
          </button>
          <button class="btn os-btn-text" os-form-cancel="cancel()">
            <span translate="common.buttons.cancel">Cancel</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

