
<div>
  <form class="form-horizontal" name="settingForm" os-form-validator="settingForm" novalidate>
    <div class="form-group">
      <label class="col-xs-2 control-label" translate="settings.property">Property</label>
      <div class="form-value col-xs-10">
        <span>{{'settings.' + setting.module + '.' + setting.name | translate}}</span>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-xs-2 control-label" translate="settings.description">Description</label>
      <div class="form-value col-xs-10">
        <span>{{'settings.' + setting.module + '.' + setting.name + '_desc' | translate}}</span>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-xs-2 control-label" translate="settings.old_value">Old Value</label>
      <div class="form-value col-xs-10" ng-switch on="setting.type">
        <span ng-switch-when="BOOLEAN">
          {{oldValue | osBoolValue: 'common.enabled': 'common.disabled': 'common.not_specified'}}
        </span>
        <span ng-switch-default>
          {{oldValue | osNoValue}}
        </span>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-xs-2 control-label" translate="settings.new_value">New Value</label>
      <div class="col-xs-10">
        <input type="text" name="value" class="form-control" ng-model="setting.value" 
          ng-if="setting.type == 'STRING'" required></input>
        <input type="text" name="value" class="form-control" ng-model="setting.value" 
          ng-pattern="/^[0-9]*$/" ng-if="setting.type == 'INT'" required></input>
        <div ng-if="setting.type == 'BOOLEAN'">
          <div class="btn-group">
            <button type="button" class="btn btn-default" name="value" ng-model="setting.value" 
              btn-radio="'true'" required translate="common.enabled">Enabled</button>
            <button type="button" class="btn btn-default" name="value" ng-model="setting.value" 
              btn-radio="'false'" required translate="common.disabled">Disabled</button>
          </div>
        </div>
        <div os-field-error field="settingForm.value"></div>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-xs-2 control-label" translate="settings.last_updated">Last Updated</label>
      <div class="form-value col-xs-10">
        <span translate="{{setting.activationDate | date: global.dateFmt}}"></span>
      </div>
    </div>
    
    <div class="os-divider"></div>
    
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <button type="submit" class="btn btn-primary" os-form-submit="submit()">
          <span translate="common.buttons.update">Update</span>
        </button>
        <button class="btn os-btn-text" os-form-cancel="cancel()">
          <span translate="common.buttons.cancel">Cancel</span>
        </button>
      </div>
    </div>
  </form>
</div>

