Dear $user.lastName, $user.firstName
<br>
<br>
Your account has been closed by the administrator. 
<br>
For performing eMPI id generation related activities,specified eMPI admin user should be active. So please set the activity status as "Active".
<br>
<br>
$footer
