Dear caTissue Administrator,<br>
<br>
This is to notify that the participant integration job for $jobDate is finished.<br>
Job details are as follow: <br>
Added Participant Count: $addedCount <br>
Updated Participant Count: $editedCount <br>
Failed Participant Count: $failedCount <br> 

<br>
<br>
$footer
