Dear caTissue Administrator,<br>
<br>
This is an automated notification from caTissue reporting dated $currentDate.<br>
Please find attached list of participants which have not merged successfully into caTissue.

<br>
<br>
$footer
