Dear caTissue Administrator,<br>
<br>
This is to notify that the Order $order.Name requested by $user.firstName $user.lastName under Distribution Protocol $order.distributionProtocol.title have been placed successfully.<br>
<br>
$footer
