Hello $siteadmin
<br>
<br>
$creator has $activityStatus shipment $name on $date. Shipment details is as below.
<br>
Sender Site  $senderSiteName            
<br>
Receiver Site $requestSiteName
<br>
Please click on the link to see shipment dashboard: $url/st_ShowShipmentReceving.do?id=$id
<br>
<br>
$footer
