Hello $creator
<br>
<br>
$siteadmin has $activityStatus the shipment on $date which you have requested. Shipment details is as below.
<br>
Sender Site  $senderSiteName            
<br>
Receiver Site $requestSiteName
<br>
<br>
$footer
