Hello $siteadmin
<br>
<br>
$creator has created shipment $name on $date. Shipment details is as below.
<br>
Sender Site	 $senderSiteName	 	 	
<br>
Receiver Site $requestSiteName
<br>
Please click on the link to see shipment dashboard: $url/RequestReceived.do?id=$id
<br>
<br>
$footer
