Hi,<br>
<br>
You have requested to reset your caTissue application password. Please click the below link to reset:<br>
<br>
$url/ResetPassword.do?operation=edit&pageOf=pageOfResetPassword&resetPasswordToken=$userToken<br>
<br>
Ignore this email if you have not requested for the password reset and you will be able to login with your old password.<br>
<br>
$footer
