<div>
  <div class="os-modal-header">
    <span ng-if="!list.id" translate="specimen_list.new_specimen_list">New Specimen List</span>
    <span ng-if="!!list.id" translate="specimen_list.update_specimen_list">Update Specimen List</span>
    <div class="os-close" ng-click="cancel()">&times;</div>
  </div>

  <div class="os-modal-body">
    <div class="form-group">
      <label translate="specimen_list.list_name">List Name</label>
      <input type="text" ng-model="list.name" class="form-control" 
        placeholder="{{'specimen_list.list_name' | translate}}">
    </div>

    <div> 
      <label translate="specimen_list.list">Specimens</label> 
    </div>
    <div class="os-list-specimens-section">
      <table class="table" ng-if="list.specimens.length > 0">
        <tbody>
          <tr ng-repeat="specimen in list.specimens">
            <td class="col-xs-11">{{specimen.label}}</td>
            <td class="col-xs-1">
              <span ng-click="removeSpecimen(specimen, $index)" class="fa fa-trash os-pointer-cursor"
                title="{{'specimen_list.remove_specimen_from_list' | translate}}">
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <span ng-if="list.specimens.length == 0" translate="specimen_list.no_specimens_selected">
        No specimens selected. Please select at least on specimen.
      </span>
    </div>

    <div class="os-list-users-section">
      <label translate="specimen_list.share_list_with_users">Share list with following users</label>
      <div class="users-select-container">
        <os-users multiple ng-model="list.sharedWith" placeholder="{{'specimen_list.users' | translate}}"></os-users>
      </div>
    </div>
  </div>

  <div class="os-modal-footer">
    <button class="btn os-btn-text" 
      ng-click="cancel()" 
      translate="common.buttons.cancel">
      Cancel
    </button>
    <button class="btn btn-danger" ng-if="list.id"
      ng-click="deleteList()"
      translate="common.buttons.delete">
      Delete
    </button>
    <button class="btn btn-primary" 
      ng-disabled="list.specimens.length == 0 || !list.name" 
      ng-click="saveOrUpdateList()" 
      ng-switch on="!list.id">
      <span ng-switch-when="true" translate="common.buttons.create">
        Create
      </span>
      <span ng-switch-default translate="common.buttons.update">
        Update
      </span>
    </button>
  </div> 
</div>
