<div dropdown  class="os-inline-btn">
  <button class="btn btn-default dropdown-toggle default">
    <span class="fa fa-shopping-cart"></span>
    <span translate="specimens.buttons.assign_to">Cart</span>
  </button>
  
  <ul class="dropdown-menu dropdown-menu-right os-query-folders-dd">
    <li>
      <input ng-model="searchList" type="text" class="form-control"
        placeholder="{{'specimen_list.search_list' | translate}}" ng-click="$event.stopPropagation()">
    </li>
    <li>
      <ul class="dropdown-menu-subgroup">
        <li ng-repeat="list in specimenLists | filter: searchList" ng-click="addToList(list)">
          <a><span>{{list.name}}</span></a>
        </li>
      </ul>
    </li>
    <li class="divider"></li>
    <li ng-click="addToList()">
      <a translate="specimen_list.create_new_list"></a>
    </li>
  </ul>
</div>
