<div>
  <div os-page-header>
    <ul os-breadcrumbs>
      <li> 
        <span translate="specimen_list.lists">Specimen Lists</span>
      </li>
    </ul>

    <h3>
      <os-spmn-list-name list="lists.selectedList"></os-spmn-list-name>
      <button class="btn btn-default btn-xs"
        title="{{'specimen_list.cart_info' | translate}}"
        data-placement="bottom"
        data-container="body"
        data-trigger="focus"
        content-template="modules/biospecimen/specimen-list/detail-po.html" bs-popover>
        <span class="fa fa-info-circle"></span>
      </button>
    </h3>

    <div class="os-btns right">
      <a class="btn default" target="_blank" href="{{lists.url + '/' + lists.selectedList.id + '/csv-file'}}">
        <span class="fa fa-download"></span>
        <span translate="common.buttons.export">Export</span>
      </a>
      <os-plugin-hooks view-name="'specimen-list'" sec-name="'page-header'"></os-plugin-hooks>
      <div dropdown os-show-if-menu-items-present class="inline">
        <button class="default dropdown-toggle">
          <span translate="common.buttons.more">More</span>
          <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a ng-click="confirmRemoveSpecimens()">
              <span class="fa fa-trash"></span>
              <span translate="common.buttons.delete">Delete</span>
            </a>
          </li>
          <li show-if-allowed="orderCreateOpts" ng-if="!lists.reqBasedDistOrShip">
            <a ng-click="distributeSpecimens()">
              <span class="fa fa-share"></span>
              <span translate="specimen_list.distribute">Distribute</span>
            </a>
          </li>
          <li show-if-allowed="shipmentCreateOpts" ng-if="!lists.reqBasedDistOrShip">
            <a ng-click="shipSpecimens()">
              <span class="fa fa-paper-plane-o"></span>
              <span translate="specimen_list.ship">Ship</span>
            </a>
          </li>
          <li show-if-allowed="specimenUpdateOpts">
            <a ng-click="createAliquots()">
              <span class="fa fa-share-alt"></span>
              <span translate="specimen_list.create_aliquots">Create Aliquots</span>
            </a>
          </li>
          <li show-if-allowed="specimenUpdateOpts">
            <a ng-click="createDerivatives()">
              <span class="fa fa-flask"></span>
              <span translate="specimen_list.create_derivatives">Create Derivatives</span>
            </a>
          </li>
          <li show-if-allowed="specimenUpdateOpts">
            <a ng-click="addEvent()">
              <span class="fa fa-calendar-o"></span>
              <span translate="specimen_list.add_event">Add Event</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container os-list-container">
    <div>
      <div class="os-col-20">
        <div ng-include src="'specimen-list/lists.html'"></div>
      </div>
      <div class="os-col-80">
        <div ng-include src="'specimen-list/specimens.html'"></div>
      </div>
    </div>
  </div>

</div>

<script type="text/ng-template" id="specimen-list/lists.html">
  <div class="os-table os-table-condensed"> 
    <div class="os-table-head">
      <div class="row">
        <div class="col col-xs-12">
          <span translate="specimen_list.my_lists">My Lists</span>
        </div>
      </div>
    </div>
  </div>
  <div class="os-specimen-list">
    <div class="os-table os-table-condensed os-table-borderless" ng-if="lists.myLists.length != 0">
      <div class="os-table-body">
        <div class="row" ng-repeat="list in lists.myLists"> 
          <div class="col col-xs-12 clearfix list" 
            ng-class="{'os-specimen-list-selected-list': lists.selectedList.id == list.id}"> 

            <div class="pull-left" ng-click="selectList(list)">
              <os-spmn-list-name list="list"></os-spmn-list-name>
            </div>

            <div class="pull-right">
              <button type="button" class="btn btn-xs btn-default" ui-sref="specimen-list-addedit({listId: list.id})">
                <span class="fa fa-pencil"></span>
              </button> 
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="table table-condensed borderless" ng-if="lists.myLists.length == 0">
      <div class="os-table-body">
        <div class="row">
          <div class="col col-xs-12">
            <span translate="common.none">None</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="os-table os-table-condensed"> 
    <div class="os-table-head">
      <div class="row">
        <div class="col col-xs-12">
          <span translate="specimen_list.shared_lists">Shared Lists</span>
        </div>
      </div>
    </div>
  </div>
  <div class="os-specimen-list">
    <div class="os-table os-table-condensed os-table-borderless" ng-if="lists.sharedLists.length != 0">
      <div class="os-table-body">
        <div class="row" ng-repeat="list in lists.sharedLists">
          <div class="col col-xs-12 clearfix list"
            ng-class="{'os-specimen-list-selected-list': lists.selectedList.id == list.id}"> 
            <div class="pull-left" ng-click="selectList(list)">
              <os-spmn-list-name list="list"></os-spmn-list-name>
            </div>
           <div class="pull-right">
              <button type="button" class="btn btn-xs btn-default" ui-sref="specimen-list-addedit({listId: list.id})">
                <span class="fa fa-pencil"></span>
              </button> 
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="table table-condensed borderless" ng-if="lists.sharedLists.length == 0">
      <div class="os-table-body">
        <div class="row">
          <div class="col col-xs-12">
            <span translate="common.none">None</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="specimen-list/specimens.html">
  <table class="os-table os-table-hover" overflow="auto" ng-if="listSpecimens.actualCount != 0">
    <thead class="os-table-head">
      <tr class="row">
        <th class="col">
          <div class="clearfix">
            <div class="pull-left os-select-specimen-cb">
              <os-checkbox ng-change="toggleAllSpecimenSelect()" ng-model="selection.all" ></os-checkbox>
            </div>
            <div class="pull-left" style="padding-left: 12px;">
              <span translate="specimen_list.label">Label</span>
            </div>
          </div>
        </th>
        <th class="col os-col-25">
          <span translate="specimen_list.description">Description</span>
        </th>
        <th class="col">
          <span translate="specimen_list.cp">Collection Protocol</span>
        </th>
        <th class="col">
          <span translate="specimen_list.location">Location</span>
        </th>
        <th class="col">
          <span translate="specimen_list.quantity">Quantity</span>
        </th>
        <th class="col">
          <span translate="specimen_list.lineage">Lineage</span>
        </th>
      </tr>
    </thead>
    <tbody class="os-table-body">
      <tr class="row" ng-repeat="specimen in listSpecimens.specimens"
        ng-class="{selected: specimen.selected}" os-row-click="viewSpecimen(specimen)">
        <td class="col">
          <div class="clearfix">
            <div class="pull-left os-select-specimen-cb os-click-esc">
              <os-checkbox ng-change="toggleSpecimenSelect(specimen)" ng-model="specimen.selected"></os-checkbox>
            </div>
            <div class="pull-left" style="padding-left: 12px;">
              <a ui-sref="specimen({specimenId: specimen.id})">
                <span>{{specimen.label}}</span>
                <span ng-if="!!specimen.barcode">
                  ({{specimen.barcode}})
                </span>
              </a>
            </div>
          </div>
        </td>
        <td class="col os-col-25">
          <a ui-sref="specimen({specimenId: specimen.id})">
            <os-specimen-desc specimen="specimen" detailed="true"></os-specimen-desc>
          </a>
        </td>
        <td class="col">
          <span>{{specimen.cpShortTitle}}</span>
        </td>
        <td class="col" ng-switch on="!!specimen.storageLocation.name">
          <span ng-switch-when="true">
            {{specimen.storageLocation.name}}:
            ({{specimen.storageLocation.positionY}}, {{specimen.storageLocation.positionX}})
          </span>
          <span ng-switch-when="false">
            <span translate="specimens.virtually_located">Virtual</span>
          </span>
        </td>
        <td class="col">
          <span>{{specimen.availableQty}}</span>
          <os-specimen-unit specimen-class="specimen.specimenClass" type="specimen.type"></os-specimen-unit>
        </td>
        <td class="col">
          <span>{{specimen.lineage}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-if="listSpecimens.actualCount > listSpecimens.specimens.length">
    <span class="text-warning" ng-switch on="listSpecimens.actualCount <= 1000">
      <span ng-switch-when="true" translate="specimen_list.more_specimens_no_rights">
        There are more specimens in cart than displayed on screen because you do
        not have enough rights to view them.
      </span>
      <span ng-switch-when="false" translate="specimen_list.more_specimens_limit_reached">
        There are more specimens in cart than displayed on screen because only
        1000 specimens can be displayed at a time.
      </span>
    </span>
  </div>
  <table class="os-table" ng-if="listSpecimens.actualCount == 0">
    <thead class="os-table-head">
      <tr class="row">
        <td class="col os-col-100">
          <span translate="specimen_list.info">Information</span>
        </td>
      </tr>
    </thead>
    <tbody class="os-table-body">
      <tr class="row">
        <td class="col os-col-100">
          <span translate="specimen_list.no_specimens">
            There are no specimens to show in selected specimen list.
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</script>
