<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <h3>
        <span translate="specimen_list.lists">
          Specimen Lists
        </span>
      </h3>
    </div>
    <div class="os-page-header-actions">
      <os-list-pager opts="pagerOpts"></os-list-pager>
    </div>
  </div>

  <div class="os-page-commands">
    <div class="left">
      <os-help class="os-btns btn default" link="specimen_list_help_link"></os-help>
    </div>

    <div class="right">
      <button class="default" os-right-drawer-toggle>
        <span class="fa fa-search"></span>
        <span translate="common.buttons.search">Search</span>
      </button>
    </div>
  </div>

  <div class="container">
    <table class="os-table os-table-hover">
      <thead class="os-table-head">
        <tr class="row">
          <th class="col">
            <span translate="specimen_list.name">Name</span>
          </th>
          <th class="col">
            <span translate="specimen_list.created_by">Created By</span>
          </th>
          <th class="col">
            <span translate="specimen_list.creation_time">Creation Time</span>
          </th>
          <th class="col">
            <span translate="specimen_list.last_updated">Last Updated</span>
          </th>
          <th class="col">
            <span translate="specimen_list.specimens">Specimens</span>
          </th>
        </tr>
      </thead>
      <tbody class="os-table-body">
        <tr class="row" ng-repeat="list in ctx.lists" os-row-click="viewList(list)">
          <td class="col">
            <a ui-sref="specimen-list({listId: list.id})">
              <span>
                <os-spmn-list-name list="list"></os-spmn-list-name>
              </span>
            </a>
          </td>
          <td class="col">
            <span>{{list.owner | osUserDisplayName}}</span>
          </td>
          <td class="col">
            <span>{{list.createdOn | date: global.dateFmt}}</span>
          </td>
          <td class="col">
            <span>{{list.lastUpdatedOn | date: global.dateFmt}}</span>
          </td>
          <td class="col">
            <span>{{list.specimenCount | number}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div os-right-drawer ng-include="'modules/biospecimen/specimen-list/search.html'"></div>
</div>

<script type="text/ng-template" id="modules/biospecimen/specimen-list/search.html">
  <div class="os-search">
    <div class="os-head">
      <h3 class="os-title" translate="specimen_list.filter_lists">
        Filters
      </h3>
    </div>

    <div class="os-body">
      <div class="form-group">
        <input os-md-input type="text" ng-model="ctx.filterOpts.name" class="form-control"
          placeholder="{{'specimen_list.name' | translate}}">
        <span translate="specimen_list.search_def_list_tip">
          Use $$ to search users' default lists
        </span>
      </div>
    </div>
  </div>
</script>
