<div>
  <div os-page-header>
    <ul os-breadcrumbs>
      <li> 
        <span translate="specimen_list.lists">Specimen Lists</span>
      </li>
    </ul>

    <h3>
      <span>{{lists.selectedList.name}}</span>
      <button class="btn btn-default btn-xs"
        title="{{'specimen_list.cart_info' | translate}}"
        data-placement="bottom"
        data-container="body"
        data-trigger="focus"
        content-template="modules/biospecimen/specimen-list/detail-po.html" bs-popover>
        <span class="fa fa-info-circle"></span>
      </button>
    </h3>

    <div class="os-btns right">
      <button show-if-allowed="orderCreateOpts" class="default" ng-click="distributeSpecimens()">
        <span class="fa fa-share"></span>
        <span translate="specimen_list.distribute">Distribute</span>
      </button>
      <button show-if-allowed="shipmentCreateOpts" class="default" ng-click="shipSpecimens()">
        <span class="fa fa-paper-plane-o"></span>
        <span translate="specimen_list.ship">Ship</span>
      </button>
      <div dropdown os-show-if-menu-items-present class="inline">
        <button class="default dropdown-toggle">
          <span translate="common.buttons.more">More</span>
          <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a ng-click="confirmRemoveSpecimens()">
              <span class="fa fa-trash"></span>
              <span translate="common.buttons.delete">Delete</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container os-list-container">
    <div class="row">
      <div class="os-col-20">
        <div ng-include src="'specimen-list/lists.html'"></div>
      </div>
      <div class="os-col-80">
        <div ng-include src="'specimen-list/specimens.html'"></div>
      </div>
    </div>
  </div>

</div>

<script type="text/ng-template" id="specimen-list/lists.html">
  <div class="os-table os-table-condensed"> 
    <div class="os-table-head">
      <div class="row">
        <div class="col col-xs-12">
          <span translate="specimen_list.my_lists">My Lists</span>
        </div>
      </div>
    </div>
  </div>
  <div class="os-specimen-list">
    <div class="os-table os-table-condensed os-table-borderless" ng-if="lists.myLists.length != 0">
      <div class="os-table-body">
        <div class="row" ng-repeat="list in lists.myLists"> 
          <div class="col col-xs-12 clearfix list" 
            ng-class="{'os-specimen-list-selected-list': lists.selectedList.id == list.id}"> 
            <div class="pull-left" ng-click="selectList(list)" title="{{list.name}}">
              <span>{{list.name}}</span>
            </div>

            <div class="pull-right">
              <button type="button" class="btn btn-xs btn-default" ui-sref="specimen-list-addedit({listId: list.id})">
                <span class="fa fa-pencil"></span>
              </button> 
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="table table-condensed borderless" ng-if="lists.myLists.length == 0">
      <div class="os-table-body">
        <div class="row">
          <div class="col col-xs-12">
            <span translate="common.none">None</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="os-table os-table-condensed"> 
    <div class="os-table-head">
      <div class="row">
        <div class="col col-xs-12">
          <span translate="specimen_list.shared_lists">Shared Lists</span>
        </div>
      </div>
    </div>
  </div>
  <div class="os-specimen-list">
    <div class="os-table os-table-condensed os-table-borderless" ng-if="lists.sharedLists.length != 0">
      <div class="os-table-body">
        <div class="row" ng-repeat="list in lists.sharedLists">
          <div class="col col-xs-12 clearfix list"
            ng-class="{'os-specimen-list-selected-list': lists.selectedList.id == list.id}"> 
            <div class="pull-left" ng-click="selectList(list)" title="{{list.name}}">
              <span>{{list.name}}</span>
            </div>
           <div class="pull-right">
              <button type="button" class="btn btn-xs btn-default" ui-sref="specimen-list-addedit({listId: list.id})">
                <span class="fa fa-pencil"></span>
              </button> 
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="table table-condensed borderless" ng-if="lists.sharedLists.length == 0">
      <div class="os-table-body">
        <div class="row">
          <div class="col col-xs-12">
            <span translate="common.none">None</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="specimen-list/specimens.html">
  <div class="os-table os-table-hover" overflow="auto" ng-if="listSpecimens.actualCount != 0">
    <div class="os-table-head">
      <div class="row">
        <div class="col os-col-20">
          <div class="clearfix">
            <div class="pull-left os-select-specimen-cb">
              <os-checkbox ng-change="toggleAllSpecimenSelect()" ng-model="selection.all" ></os-checkbox>
            </div>
            <div class="pull-left" style="padding-left: 12px;">
              <span translate="specimen_list.label">Label</span>
            </div>
          </div>
        </div>
        <div class="col os-col-30">
          <span translate="specimen_list.description">Description</span>
        </div>
        <div class="col os-col-20">
          <span translate="specimen_list.cp">Collection Protocol</span>
        </div>
        <div class="col os-col-15">
          <span translate="specimen_list.quantity">Quantity</span>
        </div>
        <div class="col os-col-15">
          <span translate="specimen_list.lineage">Lineage</span>
        </div>
      </div>
    </div>
    <div class="os-table-body">
      <div class="row" ng-repeat="specimen in listSpecimens.specimens"
        ng-class="{selected: specimen.selected}" os-row-click="viewSpecimen(specimen)">
        <div class="col os-col-20">
          <div class="clearfix">
            <div class="pull-left os-select-specimen-cb os-click-esc">
              <os-checkbox ng-change="toggleSpecimenSelect(specimen)" ng-model="specimen.selected"></os-checkbox>
            </div>
            <div class="pull-left" style="padding-left: 12px;">
              <a ui-sref="specimen({specimenId: specimen.id})">
                <span>{{specimen.label}}</span>
                <span ng-if="!!specimen.barcode">
                  ({{specimen.barcode}})
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col os-col-30">
          <a ui-sref="specimen({specimenId: specimen.id})">
            <os-specimen-desc specimen="specimen" detailed="true"></os-specimen-desc>
          </a>
        </div>
        <div class="col os-col-20">
          <span>{{specimen.cpShortTitle}}</span>
        </div>
        <div class="col os-col-15">
          <span>{{specimen.availableQty}}</span>
          <os-specimen-unit specimen-class="specimen.specimenClass" type="specimen.type"></os-specimen-unit>
        </div>
        <div class="col os-col-15">
          <span>{{specimen.lineage}}</span>
        </div>
      </div>
      <div class="row" ng-if="listSpecimens.actualCount > listSpecimens.specimens.length">
        <div class="col os-col-100">
          <span class="text-warning" translate="specimen_list.more_specimens">
           There are more specimens in list than displayed.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="os-table" ng-if="listSpecimens.actualCount == 0">
    <div class="os-table-head">
      <div class="row">
        <div class="col col-xs-10">
          <span translate="specimen_list.info">Information</span>
        </div>
      </div>
    </div>
    <div class="os-table-body">
      <div class="row">
        <div class="col col-xs-10">
          <span translate="specimen_list.no_specimens">
            There are no specimens to show in selected specimen list.
          </span>
        </div>
      </div>
    </div>
  </div>
</script>
