<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <ul os-breadcrumbs>
        <li ng-repeat="breadcrumb in ctx.breadcrumbs">
          <a ui-sref="{{breadcrumb.state}}({{breadcrumb.params}})">
            <span ng-if="!!breadcrumb.captionKey" translate="{{breadcrumb.captionKey}}"></span>
            <span ng-if="!!breadcrumb.caption">{{breadcrumb.caption}}</span>
          </a>
        </li>
      </ul>

      <h3>
        <os-spmn-list-name list="ctx.list"></os-spmn-list-name>
        <button class="btn btn-default btn-xs"
          title="{{'specimen_list.cart_info' | translate}}"
          data-placement="bottom" data-container="body" data-trigger="hover"
          content-template="modules/biospecimen/specimen-list/detail-po.html" bs-popover>
          <span class="fa fa-info-circle"></span>
        </button>
      </h3>
    </div>
  </div>

  <div class="os-page-commands">
    <div class="left">
      <button show-if-allowed="specimenUpdateOpts" class="default" ng-click="createAliquots()">
        <span class="fa fa-share-alt"></span>
        <span translate="specimen_list.create_aliquots">Create Aliquots</span>
      </button>

      <button show-if-allowed="specimenUpdateOpts" class="default" ng-click="createDerivatives()">
        <span class="fa fa-flask"></span>
        <span translate="specimen_list.create_derivatives">Create Derivatives</span>
      </button>

      <button show-if-allowed="orderCreateOpts" ng-if="!ctx.reqBasedDistOrShip" class="default"
        ng-click="distributeSpecimens()">
        <span class="fa fa-share"></span>
        <span translate="specimen_list.distribute">Distribute</span>
      </button>

      <button show-if-allowed="shipmentCreateOpts" ng-if="!ctx.reqBasedDistOrShip" class="default"
        ng-click="shipSpecimens()">
        <span class="fa fa-paper-plane-o"></span>
        <span translate="specimen_list.ship">Ship</span>
      </button>

      <os-plugin-hooks view-name="'specimen-list'" sec-name="'page-header'"></os-plugin-hooks>

      <div dropdown os-show-if-menu-items-present class="os-inline-btn">
        <button class="default dropdown-toggle">
          <span translate="common.buttons.more">More</span>
          <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a ui-sref="specimen-list-addedit({listId: ctx.list.id})">
              <span class="fa fa-pencil"></span>
              <span translate="specimen_list.edit_or_delete">Edit or Delete Cart</span>
            </a>
          </li>
          <li>
            <a ng-click="addChildSpecimens()">
              <span class="fa fa-plus"></span>
              <span translate="specimen_list.inc_child_spmns">Include Child Specimens</span>
            </a>
          </li>
          <li>
            <a target="_blank" href="{{ctx.url + '/' + ctx.list.id + '/csv-file'}}">
              <span class="fa fa-download"></span>
              <span translate="specimen_list.export">Export Cart</span>
            </a>
          </li>
          <li class="os-divider"></li>
          <li>
            <a ng-click="confirmRemoveSpecimens()">
              <span class="fa fa-trash"></span>
              <span translate="specimen_list.remove_spmns">Remove from Cart</span>
            </a>
          </li>
          <li show-if-allowed="specimenUpdateOpts">
            <a ng-click="addEvent()">
              <span class="fa fa-calendar-o"></span>
              <span translate="specimen_list.add_event">Add Event</span>
            </a>
          </li>
          <li show-if-allowed="specimenUpdateOpts">
            <a ng-click="transferSpecimens()">
              <span class="fa fa-arrows-h"></span>
              <span translate="specimen_list.transfer_specimens">Transfer Specimens</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="right">
      <button class="default" os-right-drawer-toggle ng-if="ctx.list.specimens.length > 1">
        <span class="fa fa-search"></span>
        <span translate="common.buttons.search">Search</span>
      </button>
    </div>
  </div>

  <div class="container os-list-container">
    <table class="os-table os-table-hover" overflow="auto" ng-if="ctx.list.specimens.length > 0">
      <thead class="os-table-head">
        <tr class="row">
          <th class="col os-click-esc os-pointer-cursor" ng-click="toggleAllSpecimenSelect($event)">
            <div class="os-select-specimen-cb">
              <os-checkbox ng-model="ctx.selection.all"></os-checkbox>
            </div>
          </th>
          <th class="col os-no-left-padding">
            <span translate="specimen_list.label">Label</span>
          </th>
          <th class="col">
            <span translate="specimen_list.type">Type</span>
          </th>
          <th class="col">
            <span translate="specimen_list.anatomic_site">Anatomic Site</span>
          </th>
          <th class="col">
            <span translate="specimen_list.cp">Collection Protocol</span>
          </th>
          <th class="col">
            <span translate="specimen_list.location">Location</span>
          </th>
          <th class="col">
            <span translate="specimen_list.quantity">Quantity</span>
          </th>
          <th class="col">
            <span translate="specimen_list.lineage">Lineage</span>
          </th>
        </tr>
      </thead>
      <tbody class="os-table-body">
        <tr class="row" ng-repeat="specimen in ctx.spmnsInView"
          ng-class="{selected: specimen.selected}" os-row-click="viewSpecimen(specimen)">
          <td class="col os-click-esc os-pointer-cursor" ng-click="toggleSpecimenSelect($event, specimen)">
            <div class="os-select-specimen-cb">
              <os-checkbox ng-model="specimen.selected"></os-checkbox>
            </div>
          </td>
          <td class="col os-no-left-padding">
            <a ui-sref="specimen({specimenId: specimen.id})">
              <span>{{specimen.label}}</span>
              <span ng-if="!!specimen.barcode">
                ({{specimen.barcode}})
              </span>
            </a>
          </td>
          <td class="col">
            <span>{{specimen.type}}</span>
          </td>
          <td class="col">
            <span>{{specimen.anatomicSite | osNoValue}}</span>
          </td>
          <td class="col">
            <span>{{specimen.cpShortTitle}}</span>
          </td>
          <td class="col">
            <os-disp-storage-position position="specimen.storageLocation"></os-disp-storage-position>
          </td>
          <td class="col">
            <os-spmn-measure-val value="specimen.availableQty" specimen="specimen"></os-spmn-measure-val>
          </td>
          <td class="col">
            <span>{{specimen.lineage}}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="os-table" ng-if="ctx.list.specimens.length == 0">
      <thead class="os-table-head">
        <tr class="row">
          <td class="col os-col-100">
            <span translate="specimen_list.info">Information</span>
          </td>
        </tr>
      </thead>
      <tbody class="os-table-body">
        <tr class="row">
          <td class="col os-col-100">
            <span translate="specimen_list.no_specimens">
              There are no specimens to show in selected specimen list.
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div os-right-drawer ng-include="'modules/biospecimen/specimen-list/search-specimens.html'"></div>
</div>

<script type="text/ng-template" id="modules/biospecimen/specimen-list/search-specimens.html">
  <div class="os-search">
    <div class="os-head">
      <h3 class="os-title" translate="specimen_list.filter_specimens">
        Specimens Filter
      </h3>
    </div>

    <div class="os-body">
      <div class="form-group" ng-if="ctx.filterPvs.cps.length > 1">
        <os-select os-md-input ng-model="ctx.filterOpts.cpShortTitle" list="ctx.filterPvs.cps"
          placeholder="{{'specimen_list.cp' | translate}}">
        </os-select>
      </div>

      <div class="form-group">
        <input os-md-input type="text" ng-model="ctx.filterOpts.ppid" class="form-control"
          placeholder="{{'specimen_list.ppid' | translate}}">
      </div>

      <div class="form-group" ng-if="ctx.filterPvs.lineages.length > 1">
        <os-select os-md-input ng-model="ctx.filterOpts.lineage" list="ctx.filterPvs.lineages"
          placeholder="{{'specimen_list.lineage' | translate}}">
        </os-select>
      </div>

      <div class="form-group">
        <input os-md-input type="text" ng-model="ctx.filterOpts.label" class="form-control"
          placeholder="{{'specimen_list.label' | translate}}">
      </div>

      <div class="form-group" ng-if="ctx.filterPvs.types.length > 1">
        <os-select os-md-input ng-model="ctx.filterOpts.type" list="ctx.filterPvs.types"
          placeholder="{{'specimen_list.type' | translate}}">
        </os-select>
      </div>

      <div class="form-group" ng-if="ctx.filterPvs.sites.length > 1">
        <os-select os-md-input ng-model="ctx.filterOpts.anatomicSite" list="ctx.filterPvs.sites"
          placeholder="{{'specimen_list.anatomic_site' | translate}}">
        </os-select>
      </div>

      <div class="form-group" ng-if="ctx.filterPvs.containers.length > 1">
        <os-select os-md-input ng-model="ctx.filterOpts.storageLocation.name" list="ctx.filterPvs.containers"
          placeholder="{{'specimen_list.container' | translate}}">
        </os-select>
      </div>

      <div class="form-group">
        <div class="os-text-checkbox">
          <div class="checkbox">
            <os-checkbox ng-model="ctx.filterOpts.showAvailable"></os-checkbox>
          </div>
          <div class="message">
            <span translate="specimen_list.available_spmns">Available Specimens?</span>
          </div>
        </div>
      </div>

      <div class="form-group os-btns">
        <button class="default full-width" ng-click="clearFilters()">
          <span translate="common.buttons.clear_filters">Clear Filters</span>
        </button>
      </div>
    </div>
  </div>
</script>
