<div ng-controller="AddVisitCtrl" os-auto-scroll>
  <form name="visitForm" os-form-validator="visitForm" novalidate>
    <div class="clearfix">
      <div class="col-xs-4" ng-if="cp.manualVisitNameEnabled && visit.status != 'Missed Collection'">
        <div class="form-group">
          <input name="visitName" ng-model="visit.name" os-md-input
            class="form-control" type="text" required placeholder="Visit Name">
          <div os-field-error field="visitForm.visitName"></div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="form-group">
          <div ng-model="visit.visitDate" placeholder="Visit Date" os-md-input>
            <input name="visitDate" ng-model="visit.visitDate" class="form-control" type="text"
               datepicker-popup="{{global.dateFmt}}" show-button-bar="true" 
               is-open="regDt.isOpen" ng-focus="regDt.isOpen=true"
               required placeholder="Visit Date">
          </div>
          <div os-field-error field="visitForm.visitDate"></div>
        </div>
      </div>

      <div class="col-xs-4" ng-if="visit.status != 'Missed Collection'">
        <div class="form-group">
          <os-select name="site" ng-model="visit.site" list="sites"
            os-md-input placeholder="Visit Site" required>
          </os-select>
          <div os-field-error field="visitForm.site"></div>
        </div>
      </div>

      <div class="col-xs-6" ng-if="visit.status == 'Missed Collection'">
        <div class="form-group">
          <os-select name="missedReason" ng-model="visit.missedReason" list="missedReasons"
            os-md-input placeholder="Reason for Missed Visit">
          </os-select>
          <div os-field-error field="visitForm.missedReason"></div>
        </div>
      </div>

    </div>

    <div class="clearfix">
      <div class="col-xs-4" ng-if="visit.status != 'Missed Collection'">
        <div class="form-group">
          <os-select name="clinicalDiagnosis" ng-model="visit.clinicalDiagnosis" 
            list="clinicalDiagnoses" refresh="searchClinicalDiagnoses"
            os-md-input placeholder="Clinical Diagnosis" required>
          </os-select>
          <div os-field-error field="visitForm.clinicalDiagnosis"></div>
        </div>
      </div>

      <div class="col-xs-4" ng-if="visit.status != 'Missed Collection'">
        <div class="form-group">
          <os-select name="clinicalStatus" ng-model="visit.clinicalStatus" list="clinicalStatuses"
            os-md-input placeholder="Clinical Status" required>
          </os-select>
          <div os-field-error field="visitForm.clinicalStatus"></div>
        </div>
      </div>

      <div class="col-xs-4" ng-if="visit.status != 'Missed Collection'">
        <div class="form-group">
          <input name="surgicalPathologyNo" ng-model="visit.surgicalPathologyNumber" 
            os-md-input class="form-control" type="text" placeholder="Surgical Pathology Number">
        </div>
      </div>
    </div>

    <div class="clearfix">
      <div class="col-xs-12">
        <div class="form-group">
          <input name="comments" ng-model="visit.comments" 
            os-md-input class="form-control" type="text" placeholder="Comments">
        </div>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="col-xs-4">
        <button type="submit" class="btn btn-success" 
          os-form-submit="addVisit()">
          Add Visit
        </button>
        <a class="btn os-btn-text-secondary" ng-click="revertAddVisit()" translate="common.buttons.cancel">
          Cancel
        </a>
      </div>
    </div>
  </form>
</div>
