<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <ul os-breadcrumbs>
        <li>
          <a ui-sref="cp-list-view({cpId: cpr.cpId})">
            <span>{{cpr.cpShortTitle}}</span>
          </a> 
        </li>
        <li>
          <a ui-sref="participant-detail.overview({cprId: cpr.id})">
            <span>{{cpr.ppid}}</span>
          </a>
        </li>
        <li>
          <a ui-sref="participant-detail.visits({visitId: visit.id, eventId: visit.eventId})" translate="visits.list">
            Visits
          </a>
        </li>
      </ul>

      <h3>
        Specimen Collection for
        <os-event-desc event-point="visit.eventPoint" event-label="visit.eventLabel"></os-event-desc>
      </h3>
    </div>
  </div>

  <div class="container">
    <form name="collectionForm" os-form-validator="collectionForm" novalidate>
      <div ng-include src="'specimen_coll_visit_details.html'"></div>

      <table class="os-table os-table-fixed os-table-tree bulk-edit os-border os-table-muted-hdr">
        <thead class="os-table-head">
          <tr class="row">
            <th class="col os-col-30" translate="specimens.description">Description</th>
            <th class="col os-col-15" translate="specimens.label">Label</th>
            <th class="col os-col-10" translate="specimens.qty">Quantity</th>
            <th class="col os-col-25">
              <div class="os-col-60 os-no-left-padding">
                <span translate="specimens.container">Container</span>
                <span style="font-weight: normal" ng-switch on="autoPosAllocate">
                  <span>(</span>
                  <a ng-switch-when="true" ng-click="manuallySelectContainers()">
                    <span translate="specimens.manual_selection">Manual Selection</span>
                  </a>
                  <a ng-switch-default ng-click="applyFirstLocationToAll()">
                    <span translate="specimens.copy_first_to_all">Copy First To All</span>
                  </a>
                  <span>)</span>
                </span>
              </div>
              <div class="os-col-15 os-no-left-padding">
                <span translate="specimens.row">Row</span>
              </div>
              <div class="os-col-15 os-no-left-padding">
                <span translate="specimens.column">Column</span>
              </div>
            </th>
            <th class="col os-col-10">Status</th>
            <th class="col os-col-5">Print</th>
            <th class="col os-col-5">&nbsp;</th>
          </tr>
        </thead>
        <tbody class="os-table-body" os-storage-positions>
          <tr class="row" ng-class="{'os-pool-specimen': !!specimen.pooledSpecimen}"
            ng-repeat="specimen in specimens | openedTreeNodes" ng-form="sform" ng-if="specimen.showInTree">
            <td class="col os-col-30">
              <div ng-style="{'padding-left': (specimen.hasChildren ? specimen.depth * 20 : specimen.depth * 20 + 16) + 'px'}">
                <a ng-if="specimen.hasChildren && specimen.isOpened" 
                  class="fa fa-chevron-circle-down"
                  ng-click="closeSpecimenNode(specimen)">
                </a>
                <a ng-if="specimen.hasChildren && !specimen.isOpened" 
                  class="fa fa-chevron-circle-right"
                  ng-click="openSpecimenNode(specimen)">
                </a>
                <span class="fa fa-circle"
                  ng-class="{'os-status-collected': specimen.existingStatus == 'Collected',
                             'os-status-pending': specimen.existingStatus == 'Pending' || !specimen.existingStatus,
                             'os-status-not-collected': specimen.existingStatus == 'Missed Collection'}">
                </span>
                <os-specimen-desc specimen="specimen" show-req-label="true"></os-specimen-desc>

                <span ng-if="specimen.aliquotGrp.length > 1">
                  <div class="btn-group">
                    <button class="btn btn-xs btn-default" ng-if="specimen.expanded"
                      ng-click="collapseAliquotsGroup(specimen)">
                      <span class="fa fa-minus"></span>
                      <span>({{specimen.aliquotGrp.length}})</span>
                    </button>
                    <button class="btn btn-xs btn-default" ng-if="!specimen.expanded"
                      ng-click="expandAliquotsGroup(specimen)">
                      <span class="fa fa-plus"></span>
                      <span>({{specimen.aliquotGrp.length}})</span>
                    </button>
                    <button class="btn btn-xs btn-default" ng-disabled="specimen.expanded"
                       ng-if = "!cp.manualSpecLabelEnabled && !specimen.label && !!specimen.labelFmt"
                       bs-popover trigger="click" data-container="body"
                       placement="bottom" content-template="aliquot-count.html">
                       <span class="fa fa-ellipsis-h"></span>
                    </button>
                  </div>
                </span>
              </div>
            </td>
            <td class="col os-col-15"
              ng-switch="!cp.manualSpecLabelEnabled && !specimen.label && !!specimen.labelFmt"> 
              <div ng-switch-when="true">
                <span translate="specimens.auto">Auto</span>
              </div>
              <div ng-switch-default>
                <span ng-switch on="!!specimen.aliquotGrp && !specimen.expanded">
                  <span ng-switch-when="true">
                    <textarea os-md-input rows="1" name="label" 
                      ng-model="specimen.aliquotLabels" edit-when="!specimen.pLabel"
                      ng-blur="assignLabels(specimen, specimen.aliquotLabels)" required>
                    </textarea>
                  </span>
                  <span ng-switch-default>
                    <input type="text" os-md-input edit-when="!specimen.pLabel"
                      name="label" ng-model="specimen.label"
                      ng-required="!specimen.labelFmt || cp.manualSpecLabelEnabled"
                      ng-model-options="{updateOn: 'blur', allowInvalid: 'true'}" os-unique-specimen-label>
                  </span>
                </span>
                <div os-field-error field="sform.label"></div>
              </div>
            </td>
            <td class="col os-col-10">
              <div ng-switch on="specimen.existingStatus == 'Collected'">
                <span ng-switch-when="true">
                  <os-spmn-measure-val value="specimen.availableQty" specimen="specimen"></os-spmn-measure-val>
                </span>
                <span ng-switch-when="false">
                  <os-spmn-measure name="qty" specimen="specimen" quantity="specimen.initialQty"
                    md-input ng-required="specimen.lineage == 'Aliquot'"
                    on-change="changeQuantity(specimen, specimen.initialQty)">
                  </os-spmn-measure>
                </span>
              </div>
              <div os-field-error field="sform.qty"></div>
            </td>
            <td class="col os-col-25" style="overflow: visible;" ng-switch on="autoPosAllocate">
              <span ng-switch-when="true">
                <os-disp-storage-position position="specimen.storageLocation"></os-disp-storage-position>
              </span>
              <span ng-switch-default>
                <os-storage-position os-md-input edit-when="entity.existingStatus != 'Collected'"
                  entity="specimen" cp-id="cpr.cpId" virtual="specimen.isVirtual" hide-placeholder>
                </os-storage-position>
              </span>
            </td>
            <td class="col os-col-10" style="overflow: visible;">
              <os-select os-md-input edit-when="specimen.existingStatus != 'Collected'" list="specimenStatuses" 
                ng-model="specimen.status" on-change="statusChanged(specimen)" required>
              </os-select>
            </td>
            <td class="col os-col-5">
              <os-checkbox ng-model="specimen.printLabel" ng-change="togglePrintLabels(specimen)"></os-checkbox>
            </td>
            <td class="col os-col-5">
              <button class="btn btn-xs btn-default" ng-click="remove(specimen)">
                <span class="fa fa-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-xs-10">
          <button type="submit" class="btn btn-primary" os-form-submit="saveSpecimens()" mousedown-click="true"> 
            <span translate="common.buttons.submit"> Submit </span>
          </button>
          <button class="btn os-btn-text" ng-click="back()">
            <span translate="common.buttons.cancel"> Cancel </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/ng-template" id="specimen_coll_visit_details.html">
  <div class="form-horizontal os-md-form">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label class="col-xs-2 control-label" translate="specimens.visit_details">Visit Details</label>
          <div ng-if="visit.status != 'Complete'">
            <div class="col-xs-3 input" ng-if="!cp.visitNameFmt || cp.manualVisitNameEnabled">
              <input name="visitName" ng-model="visit.name" class="form-control" type="text" 
                os-md-input ng-required="!!cp.manualVisitNameEnabled"
                placeholder="{{'specimens.visit_name' | translate}}">
              <div os-field-error field="collectionForm.visitName"></div>
            </div>
            <div class="col-xs-3 input">
              <os-date-picker name="visitDate" date="visit.visitDate" required md-type="true"
                placeholder="{{'specimens.visit_date' | translate}}">
              </os-date-picker>
              <div os-field-error field="collectionForm.visitDate"></div>
            </div>
            <div class="col-xs-3 input">
              <os-sites name="site" md-type="true" ng-model="visit.site" list-all="true"
                placeholder="{{'specimens.visit_site' | translate}}" required>
              </os-sites>
              <div os-field-error field="collectionForm.site"></div>
            </div>
          </div>

          <div ng-if="visit.status == 'Complete'">
            <div class="col-xs-3 os-md-input read">
              <label class="os-md-input-label" translate="specimens.visit_date">Visit Date</label>
              <span>{{visit.visitDate | date: global.dateFmt}}</span>
            </div>
            <div class="col-xs-3 os-md-input read">
              <label class="os-md-input-label" translate="specimens.visit_site">Visit Site</label>
              <span>{{visit.site}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label class="col-xs-2 control-label" translate="specimens.col_event.title">Collection Details</label>
          <div class="col-xs-3 input">
            <div os-md-input ng-model="collDetail.collector" placeholder="{{'specimens.col_event.user' | translate}}">
              <os-users ng-model="collDetail.collector" placeholder="{{'specimens.col_event.user' | translate}}"> </os-users>
            </div>
          </div>
          <div class="col-xs-2 input">
            <os-date-picker name="collDate" date="collDetail.collectionDate" md-type="true"
              required placeholder="{{'specimens.col_event.date' | translate}}">
            </os-date-picker>
            <div os-field-error field="collectionForm.collDate"></div>
          </div>
          <div class="col-xs-1 input os-md-time">
            <timepicker class="os-time-no-wheels" os-md-input ng-model="collDetail.collectionDate" show-meridian="false"></timepicker>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label class="col-xs-2 control-label" translate="specimens.recv_event.title">Receive Details</label>
          <div class="col-xs-3 input">
            <div os-md-input ng-model="collDetail.receiver" placeholder="{{'specimens.recv_event.user' | translate}}">
              <os-users ng-model="collDetail.receiver" placeholder="{{'specimens.recv_event.user' | translate}}"> </os-users>
            </div>
          </div>
          <div class="col-xs-2 input">
            <os-date-picker name="receiveDate" date="collDetail.receiveDate" required md-type="true"
              placeholder="{{'specimens.recv_event.date' | translate}}">
            </os-date-picker>
            <div os-field-error field="collectionForm.receiveDate"></div>
          </div>
          <div class="col-xs-1 input os-md-time">
            <timepicker class="os-time-no-wheels" os-md-input ng-model="collDetail.receiveDate" show-meridian="false"></timepicker>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="aliquot-count.html">
  <div>
    <div class="form-group">
      <input type="text" os-md-input  ng-model="specimen.newAliquotsCnt"
        placeholder="{{'specimens.new_aliquot_count' | translate}}">
    </div>
    <div>
      <button class="btn btn-xs btn-success" ng-click="updateCount(specimen)">
        <span translate="common.buttons.ok"> Ok </span>
      </button>
      <button class="btn os-btn-text-secondary" ng-click="closePopover()">
        <span translate="common.buttons.cancel"> Cancel </span>
      </button>
    </div>
  </div>
</script>
