<div class="panel panel-default">
  <div class="panel-heading">
    <span>T{{visit.calendarPoint}}: {{visit.label}} / </span>
    <span translate="specimens.list">Specimens</span>
  </div>
  <div class="panel-body">
    <form name="collectionForm" os-form-validator="collectionForm" novalidate os-specimen-qty-validators>
      <table class="os-table os-table-fixed os-table-tree bulk-edit">
        <thead class="os-table-head">
          <tr class="row">
            <th class="col os-col-30">
              <span>Name</span>
            </th>
            <th class="col os-col-15" translate="specimens.type">Type</th>
            <th class="col os-col-15" translate="specimens.label">Label</th>
            <th class="col os-col-15">Quantity</th>
            <th class="col os-col-25" translate="specimens.container">Container</th>
          </tr>
        </thead>
        <tbody class="os-table-body">
          <tr class="row" ng-repeat="specimen in specimensToCollect | openedTreeNodes" ng-form="sform">
            <td class="col os-col-30">
              <div style="padding-left: {{specimen.hasChildren ? specimen.depth * 20 : specimen.depth * 20 + 16}}px">
                <a ng-if="specimen.hasChildren && specimen.isOpened" 
                  class="fa fa-chevron-circle-down"
                  ng-click="closeSpecimenNode(specimen)">
                </a>
                <a ng-if="specimen.hasChildren && !specimen.isOpened" 
                  class="fa fa-chevron-circle-right"
                  ng-click="openSpecimenNode(specimen)">
                </a>
                <span class="fa fa-circle" 
                  ng-class="{'os-status-collected': specimen.status == 'Collected',
                             'os-status-pending': specimen.status == 'Pending' || !specimen.status,
                             'os-status-not-collected': specimen.status == 'Not Collected'}">
                </span>
                <a ng-if="specimen.reqLabel">{{specimen.reqLabel}}</a>
                <a ng-if="!specimen.reqLabel">{{specimen.type}} ({{specimen.specimenClass}})</a>
              </div>
            </td>
            <td class="col os-col-15">{{specimen.type}}</td>
            <td class="col os-col-15">
              <input type="text" os-md-input edit-when="specimen.status != 'Collected'"
                name="label" ng-model="specimen.label" required 
                ng-model-options="{updateOn: 'blur'}" os-unique-specimen-label>
              <div os-field-error field="sform.label"></div>
            </td>
            <td class="col os-col-15">
              <input type="text" os-md-input edit-when="specimen.status != 'Collected'"
                name="qty" ng-model="specimen.initialQty" required
                ng-model-options="{allowInvalid: 'true'}"
                os-specimen-qty-validate="{specimen: specimen, idx: $index}">
              <div os-field-error field="sform.qty"></div>
            </td>
            <td class="col os-col-25">
              <os-select os-md-input edit-when="specimen.status != 'Collected'"
                ng-model="specimen.storageType" list="storageTypes">
              </os-select>
            </td>
          </tr>
          <tr class="row">
            <td class="col">
              <button class="btn btn-primary" 
                ng-disabled="collectionForm.$invalid || collectionForm.$pending"
                os-form-submit="saveSpecimens()">
                Save
              </button>
            </td>
            <td class="col" colspan="4">
              <alert type = "danger" ng-if="!!errorCode">
                {{errorCode}}
              </alert>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
