<div>
  <div class="os-modal-header">
    <span translate="participant.confirm_merging"> Merging Participant </span>
    <div class="os-close" ng-click="cancel()">&times;</div>
  </div>
  <div class="os-modal-body">
    <p> {{'participant.confirm_merge' | translate}} </p>
  </div>
  <div class="os-modal-footer">
    <button class="btn os-btn-text" ng-click="cancel()">
      <span translate="common.buttons.cancel">Cancel</span>
    </button>
    <button class="btn btn-danger" ng-click="ok()">
      <span translate="common.yes">Yes</span>
    </button>
  </div>
</div>

