<div>
  <div class="os-modal-header">
    <span translate="participant.delete_consent_doc" translate-values="entity">Deleting Signed Consent Document</span>
    <div class="os-close" ng-click="cancel()">&times;</div>
  </div>
  <div class="os-modal-body">
    <p> {{'participant.confirm_delete_consent_doc' | translate : entity}} </p>
  </div>
  <div class="os-modal-footer">
    <button class="btn os-btn-text" ng-click="cancel()" translate="common.buttons.cancel">
      Cancel
    </button>
    <button class="btn btn-danger" ng-click="ok()" translate="common.yes">
      Yes
    </button>
  </div>
</div>

