<div class="os-consent-form clearfix">
  <div class="col-xs-6">
    <div class="list-group">
      <div class="list-group-item os-section-hdr">
        <span translate="participant.signed_consent_form">Signed Consent Form</span>
      </div>
      <div class="list-group-item" ng-if="!cpr.consentDetails.consentDocumentName && !uploadMode">
        <div class="alert alert-warning">
          <span  translate="participant.no_consent_form">
            There is no form to show. Add a file by clicking upload form
          </span>
        </div>
      </div>
      <div class="list-group-item" ng-class="{'os-bottom-padding-none': uploadMode}" 
        ng-if="cpr.consentDetails.consentDocumentName">
        <div class="os-table os-table-fixed os-table-0">
          <div class="os-table-body">
            <div class="row" ng-if="!uploadMode">
              <div class="col col-xs-10">
                <a href="{{consentDocUrl}}">{{cpr.consentDetails.consentDocumentName}}</a>
              </div>
              <div class="col col-xs-2 action">
                <div class="btn-group">
                  <button class="btn btn-xs btn-default os-btn-icon" ng-click="showUploadMode()">
                    <span class="fa fa-pencil"></span>
                  </button>
                  <button class="btn btn-xs btn-default os-btn-icon" ng-click="confirmDeleteConsentDoc()">
                    <span class="fa fa-trash"></span>
                  </button>
                </div>
              </div>
            </div>
            <div ng-if="uploadMode && cpr.consentDetails.consentDocumentName" class="os-inplace-form-edit-po">
              <div class="list-group-item">
                <div class="title" translate="participant.update_form">Update Form</div>
                <div class="content" ng-include="'consent-form-addedit.html'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="list-group-item" ng-click="showUploadMode()"
        ng-if="!uploadMode && !cpr.consentDetails.consentDocumentName" 
        translate="participant.buttons.upload_form">Upload Form</a>

      <div ng-if="uploadMode && !cpr.consentDetails.consentDocumentName" class="os-inplace-form-edit-po">
        <div class="list-group-item">
          <div class="title" translate="participant.new_consent_form">New Consent Form</div>
          <div class="content" ng-include="'consent-form-addedit.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix">
  <div class="col-xs-8">
    
  </div>
</div>


<script type="text/ng-template" id="consent-form-addedit.html">
  <form action="{{consentDocUrl}}" class="form-horizontal" action="{{cpImportUrl}}">
    <div class="form-group">
      <div os-file-upload ctrl="consentDocUploader"></div>
    </div>

    <div class="form-group clearfix">
      <div class="col-xs-6">
        <button type="button" class="btn btn-success" ng-click="uploadConsentDoc()" translate="common.buttons.upload">
          Upload
        </button>
        <a class="btn os-btn-text-secondary" ng-click="cancel()" translate="common.buttons.cancel">
          Cancel
        </a>
      </div>
    </div>
  </form>
</script>

