<div>
  <alert ng-if="alert.msg" type="{{alert.type}}" class="os-alert">{{alert.msg}}</alert>
  <div os-page-header>
    <ul os-breadcrumbs>
      <li> <a ui-sref="cp-detail.overview({cpId: cp.id})">{{cp.shortTitle}}</a> </li>
    </ul>
    <h3 translate="participant.list"></h3>
    <div class="os-btns right">
      <button show-if-allowed="participantResource.registerOpts" class="primary"
        title="{{'participant.tooltip.register' | translate}}" ui-sref="participant-addedit({cprId: -1, cpId: cp.id})">
        <span class="fa fa-plus"></span>
        <span translate="participant.buttons.register">Register</span>
      </button>
      <button class="default" os-right-drawer-toggle title="{{'participant.tooltip.search' | translate}}">
        <span class="fa fa-search"></span>
        <span translate="common.buttons.search">Search</span>
      </button>
    </div>
  </div>

  <div class="os-cards">
    <div class="os-card" ng-repeat="cpr in cprList" ng-click="showParticipantOverview(cpr)">
      <h4>
        <a title="{{'participant.tooltip.view_details' | translate}}" ui-sref="participant-detail.overview({cprId: cpr.cprId})">
          <span ng-if="!cpr.participant.firstName && !cpr.participant.lastName" translate="common.na">
            N/A
          </span>
          <span ng-if="cpr.participant.firstName || cpr.participant.lastName">
            {{cpr.participant.firstName}} {{cpr.participant.lastName}}
          </span>
        </a>
      </h4>
      <h5>{{cpr.ppid}}</h5>
      <p>{{cpr.registrationDate | date: global.dateFmt}}</p>
      <div class="stats">
        <div class="stat col-xs-6" title="{{'participant.tooltip.completed_visits_count' | translate}}">
          <span class="os-lavatar os-lavatar-sm">V</span>
          <span>{{cpr.scgCount | number: 0}}</span>
        </div>
        <div class="stat col-xs-6" title="{{'participant.tooltip.collected_specimens_count' | translate}}">
          <span class="os-lavatar os-lavatar-sm">S</span>
          <span>{{cpr.specimenCount | number: 0}}</span>
        </div>
      </div>
    </div>
  </div>

  <div os-right-drawer ng-include="'modules/biospecimen/participant/search.html'"></div>
</div>
