
<div class="clearfix">
  <div class="col-xs-8">
    <ul class="os-key-values os-two-cols" os-inline-editors on-save="editCpr">
      <li class="item">
        <strong class="key key-sm" translate="participant.reg_date">Registration Date:</strong>
        <os-inline-edit editor="rdEditor" name="regDate" class="value value-md" value="cpr.registrationDate">
          <span ng-if="rdEditor.isDisplayMode()">{{rdEditor.viewValue | date: global.dateFmt | osNoValue}}</span>
          <os-date-picker ng-if="rdEditor.isEditMode()" date="rdEditor.editValue">
          </os-date-picker>
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.protocol_id">PPID:</strong>
        <os-inline-edit editor="ppidEditor" name="ppid" class="value value-md" value="cpr.ppid">
          <span ng-if="ppidEditor.isDisplayMode()">{{ppidEditor.viewValue | osNoValue}}</span>
          <input ng-if="ppidEditor.isEditMode()" type="text" ng-model="ppidEditor.editValue" class="form-control" 
            required placeholder="Participant Protocol ID">
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.first_name">First Name</strong>
        <os-inline-edit editor="fnEditor" name="fname" class="value value-md" value="cpr.participant.firstName">
          <span ng-if="fnEditor.isDisplayMode()">{{fnEditor.viewValue | osNoValue}}</span>
          <input ng-if="fnEditor.isEditMode()" type="text" ng-model="fnEditor.editValue" class="form-control"
            placeholder="{{'participant.first_name' | translate}}">
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.last_name">Last Name</strong>
        <os-inline-edit editor="lnEditor" name="lname" class="value value-md" value="cpr.participant.lastName">
          <span ng-if="lnEditor.isDisplayMode()">{{lnEditor.viewValue | osNoValue}}</span>
          <input ng-if="lnEditor.isEditMode()" type="text" ng-model="lnEditor.editValue" class="form-control"
            placeholder="{{'participant.last_name' | translate}}">
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.birth_date">Birth Date:</strong>
        <os-inline-edit editor="bdEditor" name="birthDate" class="value value-md" value="cpr.participant.birthDate">
          <span ng-if="bdEditor.isDisplayMode()">{{bdEditor.viewValue | date: global.dateFmt | osNoValue}}</span>
          <os-date-picker ng-if="bdEditor.isEditMode()" date="bdEditor.editValue">
          </os-date-picker>
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.pmis">Medical Identifiers:</strong>
        <span class="value value-md" os-inline-edit>{{cpr.participant.pmis | osArrayJoin: pmiText | osNoValue}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.mpi">Master Patient Index:</strong>
        <os-inline-edit editor="mpiEditor" name="empi" class="value value-md" value="cpr.participant.empi">
          <span ng-if="mpiEditor.isDisplayMode()">{{mpiEditor.viewValue | osNoValue}}</span>
          <input ng-if="mpiEditor.isEditMode()" type="text" ng-model="mpiEditor.editValue" class="form-control" 
            placeholder="{{'participant.mpi' | translate}}">
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.uid">Social Security No:</strong>
        <os-inline-edit editor="uidEditor" name="uid" class="value value-md" value="cpr.participant.uid">
          <span ng-if="uidEditor.isDisplayMode()">{{uidEditor.viewValue | osNoValue}}</span>
          <input ng-if="uidEditor.isEditMode()" type="text" ng-model="uidEditor.editValue" class="form-control">
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.gender">Gender:</strong>
        <os-inline-edit editor="genderEditor" name="gender" class="value value-md" value="cpr.participant.gender">
          <span ng-if="genderEditor.isDisplayMode()">{{genderEditor.viewValue | osNoValue}}</span>
          <div ng-if="genderEditor.isEditMode()">
            <os-select ng-model="genderEditor.editValue" list="genders"></os-select>
          </div>
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.vital_status">Vital Status:</strong>
        <os-inline-edit editor="vsEditor" name="vitalStatus" class="value value-md" value="cpr.participant.vitalStatus">
          <span ng-if="vsEditor.isDisplayMode()">{{vsEditor.viewValue | osNoValue}}</span>
          <div ng-if="vsEditor.isEditMode()">
            <os-select ng-model="vsEditor.editValue" list="vitalStatuses"></os-select>
          </div>
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.race">Race:</strong>
        <os-inline-edit editor="raceEditor" name="race" class="value value-md" value="cpr.participant.races">
          <span ng-if="raceEditor.isDisplayMode()">{{raceEditor.viewValue.join(", ") | osNoValue}}</span>
          <div ng-if="raceEditor.isEditMode()">
            <os-select ng-model="raceEditor.editValue" list="races" multiple></os-select>
          </div>
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="participant.other_cps">Other Protocols:</strong>
        <span class="value value-md">{{cpr.participant.registeredCps | filter : isOtherProtocol | osArrayJoin | osNoValue}}</span>
      </li>
    </ul>

    <div ng-if="!!cpr.participant.extensionDetail">
      <div os-extension-overview ext-object="cpr.participant.extensionDetail" show-column="2"></div>
    </div>

    <div class="os-section" ng-init="ovCollapsed=false">
      <button class="os-btn-section-collapse os-btn-transparent" ng-click="ovCollapsed=!ovCollapsed">
        <span ng-if="!ovCollapsed" class="fa fa-chevron-circle-down"></span>
        <span ng-if="ovCollapsed" class="fa fa-chevron-circle-right"></span>
      </button>
      <h3 class="os-sub-section-title" translate="visits.occurred_visits">Occurred Visits</h3>
      <div collapse="ovCollapsed">
        <span ng-if="occurredVisits.length == 0" translate="common.none">None</span>
        <div class="os-table os-table-muted-hdr os-border" ng-if="occurredVisits.length > 0">
          <div class="os-table-head">
            <div class="row">
              <div class="col os-col-25" translate="visits.event_label">Event Label</div>
              <div class="col os-col-25" translate="visits.name">Name</div>
              <div class="col os-col-15" translate="common.date">Date</div>
              <div class="col os-col-30" translate="visits.collection_status">Collection Status</div>
              <div class="col os-col-5">&nbsp;</div>
            </div>
          </div>
          <div class="os-table-body">
            <div ng-repeat="visit in occurredVisits"
              ng-class="{'os-inplace-form-edit-po': rptVisitIdx == $index}">
              <div class="row title">
                <div class="col os-col-25">
                  <a ui-sref="visit-detail.overview({visitId: visit.id, eventId: visit.eventId})">
                    T{{visit.eventPoint}}: {{visit.eventLabel}}
                  </a>
                </div>
                <div class="col os-col-25">
                  {{visit.name}}
                </div>
                <div class="col os-col-15">
                  {{visit.visitDate | date: global.dateFmt}} 
                </div>
                <div class="col os-col-30">
                  <progress class="progress" max="visit.totalSpecimens"
                    bs-popover trigger="hover" placement="bottom" content-template="specimen-count.html">
                    <bar value="visit.collectedSpecimens" type="success">
                      <span><b> {{visit.collectedSpecimens}} </b> </span>
                    </bar>
                    <bar value="visit.pendingSpecimens" type="warning">
                      <span><b> {{visit.pendingSpecimens}} </b> </span>
                    </bar>
                    <bar value="visit.uncollectedSpecimens" type="missed">
                      <span><b> {{visit.uncollectedSpecimens}} </b> </span>
                    </bar>
                    <bar value="visit.unplannedSpecimens" type="unplanned">
                      <span><b> {{visit.unplannedSpecimens}} </b> </span>
                    </bar>
                  </progress>
                </div>
                <div class="col os-col-5 os-more-options">
                  <div dropdown>
                    <button class="dropdown-toggle">
                      <span class="fa fa-ellipsis-v"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a ui-sref="visit-detail.overview({visitId: visit.id, eventId: visit.eventId})">
                          <i class="fa fa-eye"></i>
                          <span translate="visits.ctx_menu.view_visit">View Visit</span>
                        </a>
                      </li>
                      <li show-if-allowed="specimenResource.updateOpts">
                        <a ui-sref="visit-addedit({visitId: visit.id, eventId: visit.eventId, repeatVisit: true, redirectTo: 'participant-detail.visits'})"> 
                          <i class="fa fa-repeat"></i>
                          <span translate="visits.ctx_menu.repeat_visit">Repeat Visit</span>
                        </a>
                      </li>
                      <li class="divider"></li>
                      <li show-if-allowed="specimenResource.updateOpts">
                        <a ui-sref="specimen-addedit({visitId: visit.id})">
                          <i class="fa fa-plus"></i>
                          <span translate="visits.ctx_menu.collect_unplanned_specimens">
                            Collect Unplanned Specimens
                          </span>
                        </a>
                      </li>
                      <li>
                        <a ng-click="printSpecimenLabels({visitId: visit.id})">
                          <i class="fa fa-print"></i>
                          <span translate="visits.ctx_menu.print_specimen_labels">
                            Print Specimen Labels
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="os-section" ng-init="ovCollapsed=false" ng-if="missedVisits.length > 0">
      <button class="os-btn-section-collapse os-btn-transparent" ng-click="ovCollapsed=!ovCollapsed">
        <span ng-if="!ovCollapsed" class="fa fa-chevron-circle-down"></span>
        <span ng-if="ovCollapsed" class="fa fa-chevron-circle-right"></span>
      </button>
      <h3 class="os-sub-section-title" translate="visits.missed_visits">Missed Visits</h3>
      <div collapse="ovCollapsed">
        <div class="os-table os-table-muted-hdr os-border" ng-if="missedVisits.length > 0">
          <div class="os-table-head">
            <div class="row">
              <div class="col col-xs-5" translate="visits.title">Visit</div>
              <div class="col col-xs-3" translate="common.date">Date</div>
              <div class="col col-xs-4" translate="visits.reason">Reason</div>
            </div>
          </div>
          <div class="os-table-body">
            <div ng-repeat="visit in missedVisits">
              <div class="row title">
                <div class="col col-xs-5">
                  <a ui-sref="participant-detail.visits({visitId: visit.id, eventId: visit.eventId})">
                    T{{visit.eventPoint}}: {{visit.eventLabel}}
                  </a>
                </div>
                <div class="col col-xs-3">
                  {{visit.visitDate | date: global.dateFmt}}
                </div>
                <div class="col col-xs-4">
                  {{visit.missedReason | osNoValue}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="os-section" ng-init="avCollapsed=false">
      <button class="os-btn-section-collapse os-btn-transparent" ng-click="avCollapsed=!avCollapsed">
        <span ng-if="!avCollapsed" class="fa fa-chevron-circle-down"></span>
        <span ng-if="avCollapsed" class="fa fa-chevron-circle-right"></span>
      </button>
      <h3 class="os-sub-section-title" translate="visits.anticipated_visits">Anticipated Visits</h3>
      <div collapse="avCollapsed">
        <span ng-if="anticipatedVisits.length == 0" translate="common.none">None</span>
        <div class="os-table os-table-muted-hdr os-border" ng-if="anticipatedVisits.length > 0">
          <div class="os-table-head">
            <div class="row">
              <div class="col col-xs-5" translate="visits.title">Visit</div>
              <div class="col col-xs-3" translate="common.date">Date</div>
              <div class="col col-xs-3" translate="visits.anticipated_specimens">Anticipated Specimens</div>
              <div class="col col-xs-1">&nbsp;</div>
            </div>
          </div>
          <div class="os-table-body">
            <div ng-repeat="visit in anticipatedVisits"
              ng-class="{'os-inplace-form-edit-po': addVisitIdx == $index}">
              <div class="row title">
                <div class="col col-xs-5">
                  <a ui-sref="participant-detail.visits({visitId: visit.id, eventId: visit.eventId})">
                    T{{visit.eventPoint}}: {{visit.eventLabel}}
                  </a>
                </div>
                <div class="col col-xs-3">{{visit.anticipatedVisitDate | date: global.dateFmt}}</div>
                <div class="col col-xs-3">{{visit.anticipatedSpecimens}}</div>
                <div class="col col-xs-1 os-more-options">
                  <div dropdown>
                    <button class="dropdown-toggle">
                      <span class="fa fa-ellipsis-v"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li show-if-allowed="specimenResource.updateOpts">
                        <a ui-sref="visit-addedit({visitId: visit.id, eventId: visit.eventId, redirectTo: 'participant-detail.visits'})">
                          <i class="fa fa-plus"></i>
                          <span translate="visits.ctx_menu.add_visit">Add Visit</span>
                        </a> 
                      </li>
                      <li show-if-allowed="specimenResource.updateOpts">
                        <a ui-sref="visit-addedit({visitId: visit.id, eventId: visit.eventId, missedVisit: true, redirectTo: 'participant-detail.visits'})">
                          <i class="fa fa-ban"></i>
                          <span translate="visits.ctx_menu.missed_visit">Missed Visit</span>
                        </a>
                      </li>
                      <li>
                        <a ui-sref="visit-detail.overview({visitId: visit.id, eventId: visit.eventId})">
                          <i class="fa fa-eye"></i>
                          <span translate="visits.ctx_menu.view_visit">View Visit</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- div class="col-xs-4">
    <h3 class="os-sub-section-title"> Recent Activity </h3>
    <ul class="os-activity-list">
      <li class="os-activity">
        <div class="title"><a>Specimen abc disposed</a></div>
        <div class="info"><span>User 1 - an hour ago</span></div>
      </li>
      <li class="os-activity">
        <div class="title"><a>Specimen xyz aliquoted into 4 specimens</a></div>
        <div class="info"><span>User 1 - 5 hrs ago</span></div>
      </li>
      <li class="os-activity">
        <div class="title"><a>Specimen xyz under visit SCG1 collected</a></div>
        <div class="info"><span>User 1 - 10 hrs ago</span></div>
      </li>
      <li class="os-activity">
        <div class="title"><a>Visit SCG1 completed</a></div>
        <div class="info"><span> User 1 - 20 hrs ago</span></div>
      </li>
      <li class="os-activity">
        <div class="title"><a>Consent Response Updated</a></div>
        <div class="info"><span> User 1 - Nov 10, 2014 </span></div>
      </li>
    </ul>
  </div -->
</div>

<script id="specimen-count.html" type="text/ng-template">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th translate="visits.collection_status">Collection Status</th>
        <th translate="common.count">Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td translate="specimens.status.collected">Collected</td>
        <td>{{visit.collectedSpecimens}}</td>
      </tr>
      <tr>
        <td translate="specimens.status.pending">Pending</td>
        <td>{{visit.pendingSpecimens}}</td>
      </tr>
      <tr>
        <td translate="specimens.status.not_collected">Not Collected</td>
        <td>{{visit.uncollectedSpecimens}}</td>
      </tr>
      <tr>
        <td translate="specimens.unplanned">Unplanned</td>
        <td>{{visit.unplannedSpecimens}}</td>
      </tr>
    </tbody>
  </table>
</script>
