<button show-if-allowed="partRegOpts" class="default" title="{{'participant.tooltip.register' | translate}}"
  ui-sref="participant-addedit({cprId: -1, cpId: cp.id})">
  <span class="fa fa-plus"></span>
  <span translate="participant.buttons.register">Register</span>
</button>

<button ng-if="listViewCtx.twoStepReg" class="default" ui-sref="participant-addedit({cprId: -1, cpId: cp.id, twoStep: true})">
  <span class="fa fa-plus"></span>
  <span translate="participant.buttons.lookup_add_part">Lookup and Add Participant</span>
</button>

<button ng-if="!!listViewCtx.spmnListCfg" class="default" ui-sref="cp-specimens({cpId: cp.id})">
  <span class="fa fa-flask"></span>
  <span translate="cp.view_specimens">View Specimens</span>
</button>
