<div class="panel panel-default">
  <div class="panel-heading">
    <span translate="specimens.list">Specimens</span>
    <div class="btn-group os-action-btns" ng-if="selection.any">
      <button class="btn btn-default" ng-click="collectSpecimens()" ng-if="visit.id">
        <span class="fa fa-plus"></span>
        Collect
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="os-table os-table-fixed os-table-tree">
      <div class="os-table-head">
        <div class="row">
          <div class="col col-xs-5">
            <div class="clearfix">
              <div class="pull-left os-select-specimen-cb">
                <os-checkbox ng-model="selection.all" ng-change="toggleAllSpecimenSelect()"></os-checkbox>
              </div>
              <div class="pull-left" style="padding-left: 40px;">
                <span translate="specimens.label"> Label </span>
              </div>
            </div>
          </div>
          <div class="col col-xs-2" translate="specimens.type">Type</div>
          <div class="col col-xs-2" translate="specimens.pathology">Pathology</div>
          <div class="col col-xs-2" translate="specimens.container">Container</div>
          <div class="col col-xs-1">&nbsp;</div>
        </div>
      </div>
      <div class="os-table-body">
        <div class="row" ng-repeat="specimen in specimens | openedTreeNodes" ng-mouseenter="showBtns=true" ng-mouseleave="showBtns=false"
          ng-class="{'selected': specimen.selected}" ng-click="toggleSelection(specimen)">
          <div class="col col-xs-5">
            <div class="clearfix">
              <div class="pull-left os-select-specimen-cb">
                <os-checkbox ng-change="toggleSpecimenSelect(specimen)" ng-model="specimen.selected"></os-checkbox>
              </div>

              <div class="pull-left">
                <div style="padding-left: {{specimen.hasChildren ? specimen.depth * 20 : specimen.depth * 20 + 16}}px">
                  <a ng-if="specimen.hasChildren && specimen.isOpened" 
                     class="fa fa-chevron-circle-down"
                     ng-click="closeSpecimenNode(specimen)">
                  </a>
                  <a ng-if="specimen.hasChildren && !specimen.isOpened" 
                     class="fa fa-chevron-circle-right"
                     ng-click="openSpecimenNode(specimen)">
                  </a>
                  <span class="fa fa-circle" 
                    ng-class="{'os-status-collected': specimen.status == 'Collected',
                               'os-status-pending': specimen.status == 'Pending' || !specimen.status,
                               'os-status-not-collected': specimen.status == 'Not Collected'}">
                  </span>
                  <a ng-if="specimen.label">{{specimen.label}}</a>
                  <a ng-if="!specimen.label">{{specimen.type}} ({{specimen.specimenClass}})</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-xs-2">{{specimen.type}}</div>
          <div class="col col-xs-2">{{specimen.pathology | osNoValue}}</div>
          <div class="col col-xs-2" ng-if="specimen.storageLocation.name">
            <span>{{specimen.storageLocation.name}}</span>
            <span ng-if="!!specimen.storageLocation.positionX && !!specimen.storageLocation.positionY">
              : ({{specimen.storageLocation.positionX}}, {{specimen.storageLocation.positionY}})
            </span>
          </div>
          <div class="col col-xs-2" ng-if="!specimen.storageLocation.name">
            <span>Virtual</span>
          </div>
          <div class="col col-xs-1 action">
            <div class="btn-group" dropdown ng-if="showBtns && !selection.any">
              <button type="button" class="btn btn-xs btn-default os-btn-icon">
                <span class="fa fa-cog"></span>
              </button>
              <button type="button" class="btn btn-xs btn-default os-btn-icon dropdown-toggle">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#" translate="specimens.ctx_menu.view_specimen">View Specimen</a></li>
                <li><a href="#" translate="specimens.ctx_menu.edit_specimen">Edit Specimen</a></li>
                <li class="divider"></li>
                <li><a href="#" translate="specimens.ctx_menu.create_aliquots">Create Aliquots</a></li>
                <li><a href="#" translate="specimens.ctx_menu.create_derivatives">Create Derivatives</a></li>
                <li class="divider"></li>
                <li><a href="#" translate="specimens.ctx_menu.add_event">Add Event</a></li>
                <li><a href="#" translate="specimens.ctx_menu.dispose">Dispose</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
