<div os-show-if-menu-items-present dropdown class="os-inline-btn">
  <button class="default dropdown-toggle">
    <span translate="specimens.ops">Specimen Ops</span>
    <span class="fa fa-caret-down"></span>
  </button>

  <ul class="dropdown-menu">
    <li show-if-allowed="specimenDeleteOpts">
      <a ng-click="listViewCtx.ctrl.deleteSpecimens()">
        <span class="fa fa-trash"></span>
        <span translate="common.buttons.delete">Delete</span>
      </a>
    </li>
    <li show-if-allowed="orderCreateOpts" ng-if="!ctx.reqBasedDistOrShip">
      <a ng-click="listViewCtx.ctrl.distributeSpecimens()">
        <span class="fa fa-share"></span>
        <span translate="specimen_list.distribute">Distribute</span>
      </a>
    </li>
    <li show-if-allowed="shipmentCreateOpts" ng-if="!ctx.reqBasedDistOrShip">
      <a ng-click="listViewCtx.ctrl.shipSpecimens()">
        <span class="fa fa-paper-plane-o"></span>
        <span translate="specimen_list.ship">Ship</span>
      </a>
    </li>
    <li show-if-allowed="specimenUpdateOpts">
      <a ng-click="listViewCtx.ctrl.createAliquots()">
        <span class="fa fa-share-alt"></span>
        <span translate="specimen_list.create_aliquots">Create Aliquots</span>
      </a>
    </li>
    <li show-if-allowed="specimenUpdateOpts">
      <a ng-click="listViewCtx.ctrl.createDerivatives()">
        <span class="fa fa-flask"></span>
        <span translate="specimen_list.create_derivatives">Create Derivatives</span>
      </a>
    </li>
    <li show-if-allowed="specimenUpdateOpts">
      <a ng-click="listViewCtx.ctrl.addEvent()">
        <span class="fa fa-calendar-o"></span>
        <span translate="specimen_list.add_event">Add Event</span>
      </a>
    </li>
  </ul>
</div>

<os-assign-to-spmn-list menu-align="left" on-add-to-list="listViewCtx.ctrl.addSpecimensToList(list)">
</os-assign-to-spmn-list>

<button class="default" ui-sref="participant-list({cpId: cp.id})">
  <span class="fa fa-group"></span>
  <span translate="cp.view_participants">View Participants</span>
</button>
