<div class="panel panel-default">
  <div class="panel-heading">
    <span translate="specimens.list">Specimens</span>
    <div class="btn-group os-action-btns" ng-if="selection.any">
      <button class="btn btn-default" ng-click="collectSpecimens()" ng-if="visit.id">
        <span class="fa fa-plus"></span>
        Collect
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div ng-if="!specimens || specimens.length == 0">
      <span translate="specimens.no_specimens_to_show">No Specimens to Show</span>
    </div>
    <div class="os-table os-table-fixed os-table-tree" ng-if="specimens && specimens.length > 0">
      <div class="os-table-head">
        <div class="row">
          <div class="col col-xs-5">
            <div class="clearfix">
              <div class="pull-left os-select-specimen-cb">
                <os-checkbox ng-model="selection.all" ng-change="toggleAllSpecimenSelect()"></os-checkbox>
              </div>
              <div class="pull-left" style="padding-left: 40px;">
                <span translate="specimens.label"> Label </span>
              </div>
            </div>
          </div>
          <div class="col col-xs-2" translate="specimens.type">Type</div>
          <div class="col col-xs-2" translate="specimens.pathology">Pathology</div>
          <div class="col col-xs-2" translate="specimens.container">Container</div>
          <div class="col col-xs-1">&nbsp;</div>
        </div>
      </div>
      <div class="os-table-body">
        <div class="row" ng-repeat="specimen in specimens | openedTreeNodes" ng-mouseenter="showBtns=true" ng-mouseleave="showBtns=false"
          ng-class="{'selected': specimen.selected}" ng-click="toggleSelection(specimen)">
          <div class="col col-xs-5">
            <div class="clearfix">
              <div class="pull-left os-select-specimen-cb">
                <os-checkbox ng-change="toggleSpecimenSelect(specimen)" ng-model="specimen.selected"></os-checkbox>
              </div>

              <div class="pull-left">
                <div style="padding-left: {{specimen.hasChildren ? specimen.depth * 20 : specimen.depth * 20 + 16}}px">
                  <a ng-if="specimen.hasChildren && specimen.isOpened" 
                     class="fa fa-chevron-circle-down"
                     ng-click="closeSpecimenNode(specimen)">
                  </a>
                  <a ng-if="specimen.hasChildren && !specimen.isOpened" 
                     class="fa fa-chevron-circle-right"
                     ng-click="openSpecimenNode(specimen)">
                  </a>
                  <span class="fa fa-circle" 
                    ng-class="{'os-status-collected': specimen.status == 'Collected',
                               'os-status-pending': specimen.status == 'Pending' || !specimen.status,
                               'os-status-not-collected': specimen.status == 'Not Collected'}">
                  </span>
                  <a ng-switch on="!!specimen.label" 
                     ui-sref="specimen-detail.overview(
                                {eventId: visit.eventId, visitId: visit.id, specimenId: specimen.id, srId: specimen.reqId})">
                    <span ng-switch-when="true">{{specimen.label}}</span>
                    <span ng-switch-default>{{specimen.type}} ({{specimen.specimenClass}})</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-xs-2">{{specimen.type}}</div>
          <div class="col col-xs-2">{{specimen.pathology | osNoValue}}</div>
          <div class="col col-xs-2" ng-if="specimen.storageLocation.name">
            <span>{{specimen.storageLocation.name}}</span>
            <span ng-if="!!specimen.storageLocation.positionX && !!specimen.storageLocation.positionY">
              : ({{specimen.storageLocation.positionX}}, {{specimen.storageLocation.positionY}})
            </span>
          </div>
          <div class="col col-xs-2" ng-if="!specimen.storageLocation.name">
            <span>Virtual</span>
          </div>
          <div class="col col-xs-1 action">
            <div class="os-more-options" dropdown ng-if="!selection.any">
              <button type="button" class="dropdown-toggle">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                  <a ui-sref="specimen-detail.overview(
                                {eventId: visit.eventId, visitId: visit.id, specimenId: specimen.id, srId: specimen.reqId})">
                    <i class="fa fa-eye"></i>
                    <span translate="specimens.ctx_menu.view_specimen">View Specimen</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-pencil"></i>
                    <span translate="specimens.ctx_menu.edit_specimen">Edit Specimen</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">
                    <i class="fa fa-share-alt"></i>
                    <span translate="specimens.ctx_menu.create_aliquots">Create Aliquots</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-flask"></i>
                    <span translate="specimens.ctx_menu.create_derivatives">Create Derivatives</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span translate="specimens.ctx_menu.add_event">Add Event</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-trash"></i>
                    <span translate="specimens.ctx_menu.dispose">Dispose</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
