<div class="os-specimen-position clearfix">
  <div class="os-col-60" style="padding-left: 0px;">
    <os-select ng-model="specimen.storageLocation.name" list="containers" 
      refresh="searchContainer" on-change="onContainerChange" placeholder="{{'specimens.container' | translate}}">
    </os-select>
  </div>

  <div class="os-col-15">
    <input type="text" ng-model="specimen.storageLocation.positionX" class="form-control">
  </div>

  <div class="os-col-15">
    <input type="text" ng-model="specimen.storageLocation.positionY" class="form-control">
  </div>

  <div class="os-col-10">
    <button class="btn btn-default" ng-click="openPositionSelector()"
      ng-disabled="!specimen.specimenClass || !specimen.type || !cpId"> 
      <span class="fa fa-search"></span>
    </button>
  </div>
</div>

