Thanks,<br>
OpenSpecimen Administration Team<br> 
<table>
<tr>
	<td>
		URL		         
	<td>
	<td>
		: #if ($appUrl != '$appUrl') $appUrl #end
	</td> 
<tr>       
<tr>
	<td>
		Helpdesk Phone		         
	<td>
	<td>
		: $helpDeskPhone
	</td> 
<tr>         
</table> 
