Hello $user.lastName, $user.firstName<br>
<br>
<br>
Please click on below link to download result of job

<br>
<a href=$appUrl/rest/ng/query/export?fileId=$filename>$appUrl/rest/ng/query/export?fileId=$filename</a> 
<br>
<br>
The link will be valid for 30 days
<br>
<br>
$footer	
	 
