Hi,<br>
<br>
You have requested to reset your OpenSpecimen application password. Please click the below link to reset:<br>
<br>
<br>
$appUrl/rest/ng/users/$user.id/password?token=$user.passwordToken
<br>
<br>
Ignore this email if you have not requested for the password reset and you will be able to login with your old password.<br>
<br>
$footer
