<div>
  <div os-page-header>
    <h3> 
      <span translate="custom_sgh.bulk_printing">Bulk Print Trids for Unplanned Protocols</span>
    </h3>
  </div>
   
  <div class="container os-margin-top">
    <form class="form-horizontal" name="bulkPrintForm" os-form-validator="bulkPrintForm" novalidate>
      <div class="form-group">
        <label class="control-label col-xs-4" translate="custom_sgh.trid_count">TRID Count</label>
        <div class="col-xs-5">
          <input type="text" name="tridCount" ng-model="regReq.tridCount" class="form-control" 
            placeholder="{{'custom_sgh.trid_count' | translate}}" ng-pattern="/^[1-9][0-9]*$/" required>
          <div os-field-error field="bulkPrintForm.tridCount"></div>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
          <button type="submit" class="btn btn-primary" os-form-submit="bulkPrint()">
            <span translate="custom_sgh.buttons.print">Print</span>
          </button>
          <button type="submit" class="btn os-btn-text" ng-click="back()">
            <span translate="common.buttons.cancel">Cancel</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
