<div>
  <div os-page-header> 
    <ul os-breadcrumbs>
      <li ng-switch on="!!cp.id">
        <a ng-switch-when="true" ui-sref="cp-detail.overview({cpId: cp.id})">
          <span>{{cp.shortTitle}}</span>
        </a>
        <a ng-switch-default ui-sref="cp-list">
          <span translate="cp.list">Collection Protocols</span>
        </a>
      </li>
    </ul>
    <h3> 
      <span translate="custom_sgh.register_participants">
        Register Participants
      </span>
    </h3>
  </div>

  <div class="container">
    <form class="form-horizontal" name="bulkRegForm" os-form-validator="bulkRegForm" novalidate>
      <div class="form-group">
        <label class="control-label col-xs-3">
          <span translate="custom_sgh.number_of_participants">
            Number of Participants
          </span>
        </label>
        <div class="col-xs-6">
          <input type="text" name="participantCnt" ng-model="regReq.participantCount" class="form-control" 
            placeholder="{{'custom_sgh.number_of_participants' | translate}}" ng-pattern="/^[1-9][0-9]*$/" required>
          <div os-field-error field="bulkRegForm.participantCnt"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-3">
          <span translate="custom_sgh.print_labels">
            Print Labels
          </span>
        </label>
        <div class="col-xs-6">
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="regReq.printLabels" ng-true-value="true" ng-false-value="false"/> 
            <span>&nbsp;</span>
          </label>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button type="submit" class="btn btn-primary" os-form-submit="bulkRegister()">
            <span translate="participant.buttons.register">Register</span>
          </button>
          <button type="submit" class="btn os-btn-text" ng-click="back()">
            <span translate="common.buttons.cancel">Cancel</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
