<div class="os-home">
  <div class="os-navbar os-navbar-default os-navbar-docked">
    <a href="#"><img src="images/os_logo.png"></img></a>
    <ul class="secondary">
      <li><a href="#">Features</a></li>
      <li class="form-input"><button class="btn btn-primary">Sign Up</button></li>
    </ul>
  </div>

  <div os-content="os-navbar">
    <div class="os-alert-container" ng-if="alerts.length > 0">
      <alert type="{{alert.type}}" ng-repeat="alert in alerts">{{alert.text}}</alert>
    </div>
    <div ui-view></div>
  </div>
</div>
