<div os-toggle-wrap class="os-section os-line-section" ng-if="!!extObject.attrs.length > 0">
  <strong class="key key-sm"> 
    <i class="fa fa-chevron-right"></i>
    <span translate="common.buttons.more">More</span>
  </strong>
  <div class="os-content">
    <ul class="os-key-values os-one-col">
      <li class="item" ng-repeat="attr in $parent.extObject.attrs">
        <strong class="key key-sm">{{attr.caption}}</strong>
        <span class="value value-md">{{$parent.getValue(attr.value) | osNoValue}}</span>
      </li>
    </ul>
  </div>
</div>

