<div>
  <div class="os-modal-header">
    <span ng-if="entityType == 'specimen'" translate="specimens.pos_selector">Specimen Position Selector</span>
    <span ng-if="entityType == 'storage_container'" translate="container.pos_selector">Container Position Selector</span>
    <div class="os-close" ng-click="cancel()">&times;</div>
  </div>


  <div class="os-modal-body">
    <div os-wizard="selectPositionWizard">
      <os-wizard-step title="Select Container" on-finish="getOccupancyMap">
        <div class="os-select-container-tab" ng-include src="'container-tree.html'"></div>
      </os-wizard-step>
      <os-wizard-step title="Select Position">
        <div ng-if="showGrid" class="os-container-pos-selector-wrapper">
          <os-container-position-selector container="selectedContainer" selected-pos="selectedPos">
          </os-container-position-selector>
        </div>
        <div>
          <span>Selected Position: </span>
          <span ng-if="!!selectedPos.positionX">({{selectedPos.positionY}}, {{selectedPos.positionX}})</span>
          <span ng-if="!selectedPos.positionX" translate="common.none">None</span>
        </div>
      </os-wizard-step>

      <div class="os-modal-footer">
        <button class="btn os-btn-text" translate="common.buttons.cancel" ng-click="cancel()"> Cancel </button>
        <button class="btn os-btn-secondary" ng-if="!selectPositionWizard.isFirstStep()" 
          ng-click="selectPositionWizard.previous(false)">
          Previous
        </button>
        <button class="btn btn-primary" translate="common.buttons.done" ng-click="ok()">
          Done
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="container-tree.html">
  <div class="os-table os-table-fixed os-table-tree os-border os-table-muted-hdr">
    <div class="os-table-head">
      <div class="row">
        <div class="col col-xs-6">
          <div class="clearfix">
            <div class="pull-left" translate="container.name">
              Name
            </div>
          </div>
        </div>
        <div class="col col-xs-2" translate="container.dimension">Dimension</div>
        <div class="col col-xs-2" translate="container.free_locations">Free Locations</div>
        <div class="col col-xs-2">&nbsp;</div>
      </div>
    </div>
    <div class="os-table-body">
      <div class="row" ng-repeat="container in containers | openedTreeNodes" ng-class="{'selected': container.selected}">
        <div class="col col-xs-6">
          <div class="clearfix">
            <div class="pull-left">
              <div ng-style="{'padding-left': (container.hasChildren ? container.depth * 16 : container.depth * 16 + 16) + 'px'}">
                <a ng-if="container.hasChildren" class="fa" 
                  ng-class="{'fa-chevron-circle-down': container.isOpened, 'fa-chevron-circle-right': !container.isOpened}"
                  ng-click="container.isOpened=!container.isOpened; loadChildren(container, $index)">
                </a>
                <span>
                  {{container.name}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-xs-2">
          <span>{{container.noOfRows}} x {{container.noOfColumns}}</span>
        </div>
        <div class="col col-xs-2">
          <span>{{container.freePositions}}</span>
        </div>
        <div class="col col-xs-2">
          <button class="btn btn-xs btn-success" ng-click="toggleSelectedContainer(selectPositionWizard, container)"
            ng-if="(entityType == 'storage_container' || (entityType == 'specimen' && container.storeSpecimensEnabled))
              && !container.selected && container.freePositions > 0">
            <span class="fa fa-check"></span>
            <span translate="common.buttons.select">Select</span>
          </button>
          <button class="btn btn-xs btn-danger" ng-click="toggleSelectedContainer(selectPositionWizard, container)"
            ng-if="(entityType == 'storage_container' || (entityType == 'specimen' && container.storeSpecimensEnabled))
              && container.selected">
            <span class="fa fa-remove"></span>
            <span translate="common.buttons.unselect">Unselect</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</script>
