<div class="os-storage-position clearfix">
  <div class="os-col-60" style="padding-left: 0px;">
    <os-select ng-model="entity.storageLocation.name" list="containers"
      refresh="searchContainer" on-select="onContainerChange()" placeholder="{{'container.container' | translate}}">
    </os-select>
  </div>

  <div class="os-col-15">
    <input type="text" ng-model="entity.storageLocation.positionY" class="form-control"
      placeholder="{{'container.row' | translate}}" title="{{'container.row' | translate}}">
  </div>

  <div class="os-col-15">
    <input type="text" ng-model="entity.storageLocation.positionX" class="form-control"
      placeholder="{{'container.column' | translate}}" title="{{'container.column' | translate}}">
  </div>

  <div class="os-col-10">
    <button class="btn btn-default" ng-click="openPositionSelector()"
      ng-disabled="(entityType == 'specimen' && (!entity.specimenClass || !entity.type || !cpId)) ||
        (entityType == 'storage_container' && !entity.siteName)">
      <span class="fa fa-search"></span>
    </button>
  </div>
</div>

