/*body {
  padding-top: 20px;
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}
ul ul {
    margin-bottom: 0;
}

li {
    line-height: 20px;
}

a {
    color: #08c;
    text-decoration: none;
}*/

.fa {
    padding: 3px;
}


.tree a {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.tooltip-inner{
    font-family: verdana;
    font-size: 11px;
    
}

/* Framework start from here */
ul.tree,
ul.tree ul {
  list-style:none;
  margin:0;
  padding:0;
}

ul.tree ul {
  margin-left:10px; /* indentation */
  position:relative;
}

ul.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

ul.tree li {
  margin:0;
  padding:0 12px; /* indentation + 2 */
  font-size:14px;
  line-height:20px; /* default list item `line-height` */
  color:#369;
  font-weight:bold;
  position:relative;
}

ul.tree ul li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  position:absolute;
  top:10px;
  left:0;
}

ul.tree ul li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:10px; /* (line-height/2) */
  bottom:0;
}

.tree  li .active{
    background-color:#ccc;
}