
<div>
  <div class="os-page-hdr">
    <h3 translate="container.create_container">Create Container</h3>
  </div>

  <div class="container">
    <form name="cform" class="form-horizontal" os-form-validator="cform" validator="cformValidator" novalidate>
      <div class="form-group">
        <label class="col-xs-3 control-label" translate="container.name">Name</label>
        <div class="col-xs-6">
          <input type="text" name="containerName" ng-model="container.name" class="form-control"
            required placeholder="{{'container.name' | translate}}" ng-maxlength="255">
          <div os-field-error field="cform.containerName"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label" translate="container.barcode">Barcode</label>
        <div class="col-xs-6">
          <input type="text" name="containerBarcode" ng-model="container.barcode" class="form-control"
            placeholder="{{'container.barcode' | translate}}" ng-maxlength="255">
          <div os-field-error field="cform.containerBarcode"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label" translate="container.parent_location">Parent Location</label>
        <div class="col-xs-3">
          <os-select ng-model="container.siteName" list="sites" placeholder="{{'container.site' | translate}}"
            name="parentSite" on-change="loadContainers" required></os-select>
          <div os-field-error field="cform.parentSite"></div>
        </div>
        <div class="col-xs-3">
          <os-select ng-model="container.parentContainerName" list="containers"
            placeholder="{{'container.container' | translate}}" name="parentContainer"></os-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label" translate="container.dimension">Dimension</label>
        <div class="col-xs-3">
          <input type="text" name="dimensionOne" ng-model="container.oneDimensionCapacity" class="form-control"
            placeholder="{{'container.one' | translate}}" ng-pattern="/^[0-9]*$/" required>
          <div os-field-error field="cform.dimensionOne"></div>
        </div>
        <div class="col-xs-3">
          <input type="text" name="dimensionTwo" ng-model="container.twoDimensionCapacity" class="form-control"
            placeholder="{{'container.two' | translate}}" ng-pattern="/^[0-9]*$/" required>
          <div os-field-error field="cform.dimensionTwo"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label" translate="container.labeling_scheme">Labeling Scheme</label>
        <div class="col-xs-3">
          <os-select ng-model="container.oneDimentionLabelingScheme" list="dimensionLabelSchemes"
            name="dimensionOneLabelScheme" placeholder="{{'container.dim_one_labeling_scheme' | translate}}" required></os-select>
          <div os-field-error field="cform.dimensionOneLabelScheme"></div>
        </div>
        <div class="col-xs-3">
          <os-select ng-model="container.twoDimentionLabelingScheme" list="dimensionLabelSchemes"
            name="dimensionTwoLabelScheme" placeholder="{{'container.dim_two_labeling_scheme' | translate}}" required></os-select>
          <div os-field-error field="cform.dimensionTwoLabelScheme"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label" translate="container.temperature">Temperature (Celsius)</label>
        <div class="col-xs-6">
          <input type="text" name="temprature" ng-model="container.tempratureInCentigrade" class="form-control"
            placeholder="{{'container.temperature' | translate}}" ng-pattern="/^[-]?[0-9]*$/">
          <div os-field-error field="cform.temprature"></div>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="form-group">
        <label class="col-xs-3 control-label" translate="container.collection_protocol">Collection Protocol</label>
        <div class="col-xs-6">
          <os-select multiple ng-model="container.holdsCPTitles" list="cps"></os-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label" translate="container.specimen_types">Specimen Types</label>
        <div class="col-xs-6">
          <os-specimen-type multiple ng-model="container.holdsSpecimenTypes" placeholder="Specimen Types"></os-specimen-type>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button class="btn btn-primary" os-form-submit="save()" translate="common.buttons.create">Add</button>
          <button class="btn os-btn-text" ng-click="$window.history.back();" translate="common.buttons.discard">Discard</button>
        </div>
      </div>

    </form>
  </div>
</div>