
<div>
  <div os-page-header>
    <ul os-breadcrumbs>
      <li>
        <a ui-sref="container-list">
          <span translate="container.list">Storage Containers</span>
        </a>
      </li>
    </ul>
    <h3>
      <span>
        <span ng-if="!container.id" translate="container.create_container">Create Container</span>
        <span ng-if="!!container.id">{{container.name}}</span>
      </span>
    </h3>
  </div>
  
  <div class="container">
    <form name="cform" class="form-horizontal" os-form-validator="cform" validator="cformValidator" novalidate>
      <div class="form-group" ng-if="!container.id">
        <label class="col-xs-3 control-label">
          <span translate="container.creating_hierarchy">Creating Hierarchy</span>
        </label>
        <div class="col-xs-9">
          <label class="radio-inline">
            <input type="radio" name="createHierarchy" ng-model="ctx.createHierarchy" ng-value="true"
              ng-change="onCreateHierarchyClick(true)">
            <span translate="common.yes">Yes</span>
          </label>
          <label class="radio-inline">
            <input type="radio" name="createHierarchy" ng-model="ctx.createHierarchy" ng-value="false"
              ng-change="onCreateHierarchyClick(false)">
            <span translate="common.no">No</span>
          </label>
        </div>
      </div>

      <div class="form-group" ng-if="ctx.createHierarchy">
        <label class="col-xs-3 control-label">
          <span translate="container.num_of_containers">Number of Containers</span>
        </label>
        <div class="col-xs-6">
          <input type="text" name="numOfContainers" ng-model="container.numOfContainers" class="form-control"
            placeholder="{{'container.num_of_containers' | translate}}" ng-pattern="/^[0-9]*$/" required>
          <div os-field-error field="cform.numOfContainers"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="container.type">Type</span>
        </label>
        <div class="col-xs-6">
          <os-select ng-model="container.typeName" list="containerTypes" name="type" display-prop="name"
            select-prop="name" placeholder="{{'container.type' | translate}}"
            on-select="onSelectContainerType($item)" ng-required="ctx.createHierarchy">
          </os-select>
          <div os-field-error field="cform.type"></div>
        </div>
      </div>

      <div class="form-group" ng-if="!ctx.createHierarchy">
        <label class="col-xs-3 control-label">
          <span translate="container.name">Name</span>
        </label>
        <div class="col-xs-6">
          <input type="text" name="name" ng-model="container.name" class="form-control"
            required placeholder="{{'container.name' | translate}}" ng-maxlength="255">
          <div os-field-error field="cform.name"></div>
        </div>
      </div>

      <div class="form-group" ng-if="!ctx.createHierarchy">
        <label class="col-xs-3 control-label">
          <span translate="container.barcode">Barcode</span>
        </label>
        <div class="col-xs-6">
          <input type="text" name="barcode" ng-model="container.barcode" class="form-control"
            placeholder="{{'container.barcode' | translate}}" ng-maxlength="255">
          <div os-field-error field="cform.barcode"></div>
        </div>
      </div>

      <div class="form-group" ng-if="!locationSelected">
        <label class="col-xs-3 control-label">
          <span translate="container.parent_site">Parent Site</span>
        </label>
        <div class="col-xs-6">
          <os-select ng-model="container.siteName" list="sites" placeholder="{{'container.site' | translate}}"
            name="parentSite" on-change="loadAllCps" required>
          </os-select>
          <div os-field-error field="cform.parentSite"></div>
        </div>
      </div>

      <div class="form-group" ng-if="!locationSelected">
        <label class="col-xs-3 control-label">
          <span translate="container.parent_container">Parent Container</span>
        </label>
        <div class="col-xs-6">
          <os-storage-position entity="container"></os-storage-position>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="container.dimension">Dimension</span>
        </label>
        <div class="col-xs-3">
          <input type="text" name="noOfRows" ng-model="container.noOfRows" class="form-control"
            placeholder="{{'container.vertical_dimension' | translate}}" ng-pattern="/^[0-9]*$/" required>
          <div os-field-error field="cform.noOfRows"></div>
        </div>
        <div class="col-xs-3">
          <input type="text" name="noOfColumns" ng-model="container.noOfColumns" class="form-control"
            placeholder="{{'container.horizontal_dimension' | translate}}" ng-pattern="/^[0-9]*$/" required>
          <div os-field-error field="cform.noOfColumns"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="container.labeling_scheme">Labeling Scheme</span>
        </label>
        <div class="col-xs-3">
          <os-select ng-model="container.rowLabelingScheme" list="positionLabelingSchemes"
            name="rowLabelingScheme" placeholder="{{'container.vertical_labeling_scheme' | translate}}" required>
          </os-select>
          <div os-field-error field="cform.rowLabelingScheme"></div>
        </div>
        <div class="col-xs-3">
          <os-select ng-model="container.columnLabelingScheme" list="positionLabelingSchemes"
            name="columnLabelingScheme" placeholder="{{'container.horizontal_labeling_scheme' | translate}}" required>
          </os-select>
          <div os-field-error field="cform.columnLabelingScheme"></div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="container.temperature">Temperature (Celsius)</span>
        </label>
        <div class="col-xs-6">
          <input type="text" name="temperature" ng-model="container.temperature" class="form-control"
            placeholder="{{'container.temperature' | translate}}" ng-pattern="/^[-]?[0-9]*$/">
          <div os-field-error field="cform.temperature"></div>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="container.stores_specimens">Stores Specimens</span>
        </label>
        <div class="col-xs-9">
          <label class="radio-inline">
            <input type="radio" name="storesSpecimen" ng-model="container.storeSpecimensEnabled" ng-value="true"> 
            <span translate="common.yes">Yes</span>
          </label>
          <label class="radio-inline">
            <input type="radio" name="storesSpecimen" ng-model="container.storeSpecimensEnabled" ng-value="false"> 
            <span translate="common.no">No</span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="container.collection_protocol">Collection Protocol</span>
        </label>
        <div class="col-xs-6">
          <os-select multiple ng-model="container.allowedCollectionProtocols" list="cps" 
            placeholder="{{container.collection_protocol | translate}}"> 
          </os-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">
          <span translate="container.specimen_types">Specimen Types</span>
        </label>
        <div class="col-xs-6">
          <os-group-selector 
            placeholder="{{container.specimen_types | translate}}"
            opts="specimenTypeSelectorOpts" 
            selected-categories="container.allowedSpecimenClasses" 
            selected-category-items="container.allowedSpecimenTypes">
          </os-group-selector>
        </div>
      </div>
 
      <div class="os-divider"></div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button class="btn btn-primary" os-form-submit="save()">
            <span ng-if="!container.id"  translate="common.buttons.create"> Create </span>
            <span ng-if="!!container.id" translate="common.buttons.update"> Update </span>
          </button>
          <button class="btn os-btn-text" ng-click="back()">
            <span translate="common.buttons.discard">Discard</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
