<div>
  <div os-page-header>
    <h3> 
      <span translate="container.list">Storage Containers</span>
    </h3>
    <div class="os-btns right">
      <button class="primary" title="{{'container.tooltip.add' | translate}}" 
        ui-sref="container-addedit({containerId: ''})">
        <span class="fa fa-plus"></span>
        <span translate="common.buttons.create">Create</span>
      </button>
      <button class="default" os-right-drawer-toggle title="{{'container.tooltip.search' | translate}}">
        <span class="fa fa-search"></span>
        <span translate="common.buttons.search">Search</span>
      </button>
    </div>
  </div>

  <div class="os-cards">
    <div class="os-card" ng-repeat="container in containerList" ng-click="showContainerOverview(container)">
      <h4 title="{{'container.tooltip.view_details' | translate}}">
        <a ui-sref="container-detail.overview({containerId: container.id})"> {{container.name}} </a>
      </h4>
      <h5>
        <span title="{{'container.parent_site' | translate}}">
          {{container.siteName}}
        </span>
        <span title="{{'container.parent_container' | translate}}" ng-if="container.parentContainerName">
          | {{container.parentContainerName}}
        </span>
      </h5>
      <div class="stats">
        <div class="stat col-xs-6" title="{{'container.dimension' | translate}}">
          <span class="fa fa-arrows-alt"></span>
          <span>{{container.noOfRows}} X {{container.noOfColumns}}</span>
        </div>
        <div class="stat col-xs-6" title="{{'container.tooltip.count_free_locations' | translate}}">
          <span class="fa fa-table"></span>
          <span>{{container.freePositions}}</span>
        </div>
      </div>
    </div>
  </div>

  <div os-right-drawer ng-include="'modules/administrative/container/search.html'"></div>

</div>
