<div class="os-container-locations">

  <div class="input-spmn-labels" ng-if="container.storeSpecimensEnabled">
    <div class="input-group" os-textarea-input-group>
      <textarea ng-model="input.labels" class="form-control" 
        placeholder="{{'container.paste_specimen_labels' | translate}}" rows="2" style="resize: none;" 
        ng-change="showUpdatedMap()" ng-model-options="{debounce: 500}" os-enable-tab>
      </textarea>
      <span class="input-group-btn">
        <button ng-click="assignPositions()" class="btn btn-primary">
          <span translate="container.assign_positions">Assign Positions</span>
        </button>
      </span>
    </div>
    <div class="os-container-vacate-cb">
      <div class="checkbox">
        <os-checkbox ng-model="input.vacateOccupants" ng-change="showUpdatedMap()"></os-checkbox>
      </div>
      <div class="message">
        <span translate="container.vacate_positions">Vacate existing specimens</span>
      </div>
    </div>
  </div>

  <div class="map">
    <os-container-map 
      container="container" 
      occupancy-map="occupancyMap"
      on-add-event="addContainer">
    </os-container-map>
  </div>
</div>
