<div class="os-items-group">
  <div class="os-item">
    <h3 class="os-section-title">
      {{container.name}}
    </h3>
  </div>

  <div class="os-item os-action-btns os-action-btns-md">
    <a ui-sref="container-addedit({containerId : container.id})"><span class="glyphicon glyphicon-pencil"></span></a>
  </div>
</div>
<div class="clearfix">
  <div class="col-xs-8">
    <ul class="os-key-values os-two-cols" os-inline-editors on-save="editContainer">
      <li class="item">
        <strong class="key key-sm" translate="container.barcode">Barcode</strong>
        <os-inline-edit editor="barcodeEditor" name="barcode" class="value value-md" value="container.barcode">
          <span ng-if="barcodeEditor.isDisplayMode()">{{barcodeEditor.viewValue | osNoValue}}</span>
          <input ng-if="barcodeEditor.isEditMode()" type="text" ng-model="barcodeEditor.editValue" class="form-control" ng-maxlength="255">
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="container.temperature">Temperature (In Celsius)</strong>
        <os-inline-edit editor="temperatureEditor" name="temperature" class="value value-md" value="container.tempratureInCentigrade">
          <span ng-if="temperatureEditor.isDisplayMode()">{{temperatureEditor.viewValue | osNoValue}}</span>
          <input ng-if="temperatureEditor.isEditMode()" type="number" ng-model="temperatureEditor.editValue" class="form-control">
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="container.parent_site">Parent Site</strong>
        <span class="value value-md" os-inline-edit>{{container.siteName}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="container.parent_container">Parent Container</strong>
        <span class="value value-md" os-inline-edit>{{container.parentContainerName | osNoValue}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="container.dimension">Dimension</strong>
        <span class="value value-md" os-inline-edit>{{container.oneDimensionCapacity}} X {{container.twoDimensionCapacity}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="container.labeling_scheme">Dimension Labelling Scheme</strong>
        <span class="value value-md" os-inline-edit>{{container.oneDimentionLabelingScheme}} X {{container.twoDimentionLabelingScheme}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="container.collection_protocol">Collection Protocols</strong>
        <os-inline-edit editor="cpEditor" name="cp" class="value value-md" value="container.holdsCPTitles">
          <span ng-if="cpEditor.isDisplayMode()">{{cpEditor.viewValue | osArrayJoin | osNoValue}}</span>
          <div ng-if="cpEditor.isEditMode()">
            <os-select ng-model="cpEditor.editValue" list="cps" multiple></os-select>
          </div>
        </os-inline-edit>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="container.specimen_types">Specimen Types</strong>
        <os-inline-edit editor="specimenTypeEditor" name="specimenTypes" class="value value-md" value="container.holdsSpecimenTypes">
          <span ng-if="specimenTypeEditor.isDisplayMode()">{{specimenTypeEditor.viewValue | osArrayJoin | osNoValue}}</span>
          <div ng-if="specimenTypeEditor.isEditMode()">
            <os-specimen-type multiple ng-model="specimenTypeEditor.editValue" placeholder="Specimen Types"></os-specimen-type>
          </div>
        </os-inline-edit>
      </li>

    </ul>
  </div>
</div>
