<div>
  <div os-page-header>
    <ul os-breadcrumbs>
      <li>
        <a ui-sref="container-list">
          <span translate="container.list">Storage Containers</span>
        </a>
      </li>
    </ul>
    <h3> 
      <span>
        <span translate="container.replicate">Replicate</span>
        <span>{{container.name}}</span>
      </span>
    </h3>
  </div>

  <div class="container">
    <form name="replForm" os-form-validator="replForm" validator="replFormValidator" novalidate>
      <div class="row form-group">
        <div class="col-xs-offset-1 col-xs-3">
          <label class="control-label">
            <span translate="container.site">Site</span>
          </label>
        </div>
        <div class="col-xs-3">
          <label class="control-label">
            <span translate="container.parent_container">Parent Container</span>
          </label>
        </div>
        <div class="col-xs-4">
          <label class="control-label">
            <span translate="container.new_container_names">New Container Names</span>
          </label>
        </div>
        <div class="col-xs-1">
          <span>&nbsp;</span>
        </div>
      </div>

      <div class="row form-group" ng-if="destinations.length == 0">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="alert alert-warning">
            <span translate="container.no_repl_dest">
              No target site or parent container specified. Add one by clicking Add Another
            </span>
          </div>
        </div>
      </div>

      <div class="row form-group" ng-repeat="dest in destinations">
        <ng-form name="destForm" os-form-validator="destForm" parent-validator="replFormValidator">
          <div class="col-xs-offset-1 col-xs-3">
            <os-select name="siteName" ng-model="dest.siteName" list="sites" on-select="onSiteSelect(dest)" 
              placeholder="{{'container.target_site' | translate}}" required>
            </os-select>
            <div os-field-error field="destForm.siteName"></div>
          </div>
          <div class="col-xs-3">
            <os-select ng-model="dest.parentContainerName" list="dest.containers" 
              display-prop="name" select-prop="name" placeholder="{{'container.target_parent_cont' | translate}}">
            </os-select>
          </div>
          <div class="col-xs-4">
            <textarea name="names" ng-model="dest.newContainerNamesTxt" class="form-control" rows="2" 
              placeholder="{{'container.paste_container_names' | translate}}" required>
            </textarea>
            <div os-field-error field="destForm.names"></div>
          </div>
          <div class="col-xs-1">
            <button class="btn btn-default" ng-click="removeDest($index)">
              <span class="fa fa-remove"></span>
            </button>
          </div>
        </ng-form>
      </div>
 
      <div class="row form-group">
        <div class="col-xs-offset-1 col-xs-3">
          <a class="os-btn-text" ng-click="addDest()">
            <span translate="container.add_another">Add Another</span>
          </a>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="row form-group">
        <div class="col-xs-offset-1 col-xs-6">
          <button class="btn btn-primary" os-form-submit="replicate()">
            <span translate="container.replicate">Replicate</span>
          </button>
          <button class="btn os-btn-text" ng-click="cancel()">
            <span translate="common.buttons.cancel">Cancel</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
