<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <ul os-breadcrumbs>
        <li>
          <a ui-sref="container-list">
            <span translate="container.list">Storage Containers</span>
          </a>
        </li>
      </ul>
      <h3> 
        <span>
          <span translate="container.replicate">Replicate</span>
          <span>{{container.name}}</span>
        </span>
      </h3>
    </div>
  </div>

  <div class="container">
    <div ng-include 
      src="'modules/administrative/container/replica-count.html'" 
      ng-if="repl.countView">
    </div>

    <div ng-include 
      src="'modules/administrative/container/replica-container-details.html'" 
      ng-if="!repl.countView">
    </div>
  </div>
</div>

<script type="text/ng-template" id="modules/administrative/container/replica-count.html">
  <div>
    <form name="replCntForm" class="form-horizontal" os-form-validator="replCntForm" novalidate> 
      <div class="form-group">
        <div class="col-xs-offset-1 col-xs-6">
          <label translate="container.replication_count">Enter number of containers to create</label>
          <input type="number" name="count" ng-model="repl.count" 
            class="form-control" placeholder="{{'container.replication_count' | translate}}"
            ng-min="1" required>
          <div os-field-error field="replCntForm.count"></div>
        </div>
      </div>
      <div class="os-divider"></div>
      <div class="form-group">
        <div class="col-xs-offset-1 col-xs-6">
          <button class="btn btn-primary" os-form-submit="createReplicaHolders()">
            <span translate="common.buttons.next">Next</span>
          </button>
          <a class="btn os-btn-text" ng-click="back()">
            <span translate="common.buttons.cancel">Cancel</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</script>

<script type="text/ng-template" id="modules/administrative/container/replica-container-details.html">
  <div>
    <form name="replForm" os-form-validator="replForm" validator="replFormValidator" novalidate
      ng-if="!repl.countView">

      <div class="row form-group">
        <div class="col-xs-offset-1 col-xs-3">
          <label class="control-label">
            <span translate="container.new_name">New Container Name</span>
          </label>
        </div>

        <div class="col-xs-2">
          <label class="control-label">
            <span translate="container.site">Site</span>
          </label>
        </div>

        <div class="col-xs-4">
          <div class="os-storage-position clearfix">
            <div class="os-col-60">
              <label class="control-label">
                <span translate="container.parent_container">Parent Container</span>
              </label>
            </div>
            <div class="os-col-15">
              <label class="control-label">
                <span translate="container.row">Row</span>
              </label>
            </div>
            <div class="os-col-15">
              <label class="control-label">
                <span translate="container.column">Column</span>
              </label>
            </div>
          </div>
        </div>

        <div class="col-xs-1">
          <span>&nbsp;</span>
        </div>
      </div>

      <div class="row form-group" ng-if="destinations.length == 0">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="alert alert-warning">
            <span translate="container.no_repl_dest">
              No target site or parent container specified. Add one by clicking Add Another
            </span>
          </div>
        </div>
      </div>

      <div class="row form-group" ng-repeat="dest in destinations">
        <ng-form name="destForm" os-form-validator="destForm" parent-validator="replFormValidator">
          <div class="col-xs-offset-1 col-xs-3">
            <input type="text" name="name" ng-model="dest.name" class="form-control" required>
            <div os-field-error field="destForm.name"></div>
          </div>

          <div class="col-xs-2">
            <os-select name="siteName" ng-model="dest.siteName" list="sites" on-select="onSiteSelect(dest)" required>
            </os-select>
            <div os-field-error field="destForm.siteName"></div>
          </div>

          <div class="col-xs-4">
            <div class="clearfix os-storage-position">
              <div class="os-col-60">
                <os-select ng-model="dest.parentContainerName" list="dest.containers"
                  on-select="onContainerSelect(dest)" refresh="searchContainers" refresh-args="dest">
                </os-select>
              </div>
              <div class="os-col-15">
                <input type="text" ng-model="dest.posTwo" class="form-control">
              </div>
              <div class="os-col-15">
                <input type="text" ng-model="dest.posOne" class="form-control">
              </div>
              <div class="os-col-10">
                <button class="btn btn-default" ng-click="openPositionSelector(dest)" 
                  ng-disabled="!dest.parentContainerName">
                  <span class="fa fa-search"></span>
                </button>
              </div>
            </div>
          </div>

          <div class="col-xs-1">
            <button class="btn btn-default" ng-click="removeDest($index)">
              <span class="fa fa-remove"></span>
            </button>
          </div>
        </ng-form>
      </div>
 
      <div class="row form-group">
        <div class="col-xs-offset-1 col-xs-3">
          <a class="os-btn-text" ng-click="addDest()">
            <span translate="container.add_another">Add Another</span>
          </a>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="row form-group">
        <div class="col-xs-offset-1 col-xs-6">
          <button class="btn btn-primary" os-form-submit="replicate()">
            <span translate="container.replicate">Replicate</span>
          </button>
          <button class="btn os-btn-text" ng-click="cancel()">
            <span translate="common.buttons.cancel">Cancel</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</script>
