<div class="os-search">
  <div class="os-head">
    <h3 class="os-title" translate="container.filter.title">Container Filter</h3>
  </div>

  <div class="os-body">
    <div class="form-group">
      <input os-md-input type="text" ng-model="containerFilterOpts.name" class="form-control"
        placeholder="{{'container.name' | translate}}">
    </div>
    <div class="form-group">
      <os-select os-md-input ng-model="containerFilterOpts.site" list="sites"
        placeholder="{{'container.site' | translate}}">
      </os-select>
    </div>
  </div>
</div>
