<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <ul os-breadcrumbs>
        <li>
          <a ui-sref="institute-list">
            <span translate="institutes.list">Institutes</span>
          </a>
        </li>
      </ul>
      <h3>
        <span ng-if="!institute.id" translate="institutes.create_institute"> Create Institute </span>
        <span ng-if="!!institute.id">{{institute.name}}</span>
      </h3>
    </div>
  </div>

  <div class="container">
    <form name="iform" class="form-horizontal" os-form-validator="iform" validator="iformValidator" novalidate>
      <div class="form-group">
        <label class="col-xs-3 control-label" translate="institutes.name">Name</label>
        <div class="col-xs-6">
          <input type="text" name="instituteName" ng-model="institute.name" class="form-control"
            required placeholder="{{'institutes.name' | translate}}" ng-maxlength="255">

          <div os-field-error field="iform.instituteName"></div>
        </div>
      </div>

      <div class="os-divider"></div>

      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button class="btn btn-primary" os-form-submit="save()">
            <span ng-if="!institute.id"  translate="common.buttons.create"> Create </span>
            <span ng-if="!!institute.id" translate="common.buttons.update"> Update </span>
          </button>
          <button class="btn os-btn-text" ng-click="back()" translate="common.buttons.discard">Discard</button>
        </div>
      </div>
    </form>
  </div>
</div>
