<div>
  <div class="os-modal-header">
    <span ng-if="!institute.id"> Create Institute </span>
    <span ng-if="institute.id"> Update Institute </span> 
    <a class="os-close" ng-click="cancel()">&times;</a>
  </div>
  <div class="os-modal-body">
    <alert ng-if="alert" type="{{alert.type}}" class="os-alert">{{alert.msg}}</alert>
    <div ng-include="'institute-add-edit.html'"></div>
  </div>
  <div class="os-modal-footer">
    <button class="btn os-btn-text" ng-click="cancel()">
      Cancel
    </button>
    <button class="btn btn-primary" ng-click="save()">
      <span ng-if="!institute.id"> Create </span>
      <span ng-if="institute.id"> Update </span> 
    </button>
  </div>
</div>

<script type="text/ng-template" id="institute-add-edit.html">
  <form name="instituteForm" novalidate>
    <div class="form-group clearfix">
      <div class="col-xs-12">
        <label class="control-label">Name</label>
        <input type="text" name="instituteName" class="form-control" ng-model="institute.name" placeholder="Name" required ng-maxlength="255"
          ng-class="{true: 'ng-dirty'}[forms.instituteForm.submitted && instituteForm.instituteName.$error.required]">
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="col-xs-12">
        <label class="control-label">Departments</label>
      </div>
    </div>

    <div class="form-group clearfix" ng-repeat="department in institute.departments">
      <ng-form name="departmentForm">
        <div class="col-xs-10">
          <input type="text" name="department" class="form-control" ng-model="department.name" placeholder="Name" required ng-maxlength="255"
            ng-class="{true: 'ng-dirty'}[forms.instituteForm.submitted && departmentForm.department.$error.required]">
        </div>
      </ng-form>
      <div class="col-xs-2">
        <button class="btn btn-default" ng-click="removeDepartment($index)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>

    <div class="form-group">
      <button class="btn os-btn-text os-btn-col" ng-click="addDepartment()"> 
        <span class="glyphicon glyphicon-plus"></span> Add Department 
      </button>
    </div>
  </form>
  <div ng-init="setForm(instituteForm)"></div>
</script>
