<div>
  <div os-page-header>
    <h3>
      <span translate="institutes.list">Institutes</span>
    </h3>
    <div class="os-btns right">
      <button class="primary" title="{{'institutes.tooltip.add' | translate}}" 
        ui-sref="institute-addedit({instituteId: ''})">
        <span class="fa fa-plus"></span>
        <span translate="common.buttons.create">Create</span>
      </button>
      <button class="default" os-right-drawer-toggle title="{{'institutes.tooltip.search' | translate}}">
        <span class="fa fa-search"></span>
        <span translate="common.buttons.search">Search</span>
      </button>
    </div>
  </div>

  <div class="os-cards"> 
    <div class="os-card" ng-repeat="institute in instituteList" ng-click="showInstituteOverview(institute)">
      <h4>
        <a title="{{'institutes.tooltip.view_details' | translate}}" 
          ui-sref="institute-detail.overview({instituteId: institute.id})"> 
          {{institute.name}}
        </a>
      </h4>
      <div class="stats">
        <div class="stat col-xs-6" title="{{'institutes.tooltip.department_count' | translate}}">
          <span class="fa fa-sitemap"></span>
          <span>{{institute.departments.length | number: 0}}</span>
        </div>
        <div class="stat col-xs-6" title="{{'institutes.tooltip.user_count' | translate}}">
          <span class="fa fa-user"></span>
          <span>{{(institute.userCount || 0) | number: 0}}</span>
        </div>
      </div>
    </div>
  </div>

  <div os-right-drawer ng-include="'modules/administrative/institute/search.html'"></div>

</div>
