<div>
  <div os-page-header>
    <h3>
      <span translate="institutes.list">Institutes</span>
    </h3>
    <button class="os-round-btn" title="{{'institutes.tooltip.add' | translate}}" ui-sref="institute-addedit">
      <span class="fa fa-plus"></span>
    </button>
  </div>

  <div class="os-cards"> 
    <div class="os-card" ng-repeat="institute in instituteList" ng-click="showInstituteOverview(institute)">
      <h4>
        <a title="{{'institutes.tooltip.view_details' | translate}}" 
          ui-sref="institute-detail.overview({instituteId: institute.id})"> 
          {{institute.name}} 
        </a>
      </h4>
      <div class="stats">
        <div class="stat col-xs-6" title="{{'institutes.tooltip.department_count' | translate}}">
          <span class="fa fa-sitemap"></span>
          <span>{{institute.departments.length | number: 0}}</span>
        </div>
        <div class="stat col-xs-6" title="{{'institutes.tooltip.user_count' | translate}}">
          <span class="fa fa-user"></span>
          <span>{{(institute.userCount || 0) | number: 0}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
