#set ( $url = "$appUrl/#/orders/${order.id}/overview" )

<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:separate">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;line-height:20px">
          <tbody>
            <tr>
              <td style="padding:0px;border-collapse:collapse;padding:0px;padding-bottom:10px">
                <p style="margin:10px 0 0 0">
                  Hello $order.requester.firstName $order.requester.lastName,
                  <br><br>
                  您的订单 "$order.name" 已经被处理。
                  <br><br>
                  对订单的简单描述：
                  <br><br>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td> 订单名称 </td>
                    <td> : $order.name </td>
                  </tr>
                  <tr>
                    <td> 请求者 </td>
                    <td> : $order.requester.firstName $order.requester.lastName </td>
                  </tr>
                  <tr>
                    <td> 接收站点 </td>
                    <td> : 
                      #if ( $order.site )
                        $order.site.name 
                      #else
                        未指定
                      #end
                    </td>
                  </tr>
                  <tr>
                    <td> 分发方案 </td>
                    <td> : $order.distributionProtocol.shortTitle </td>
                  </tr>
                  <tr>
                    <td> 分发者 </td>
                    <td> : $order.distributor.firstName $order.distributor.lastName </td>
                  </tr>
                  <tr>
                    <td> 分发日期 </td>
                    <td> : $dateFmt.format( $order.executionDate ) </td>
                  </tr>
                  <tr>
                    <td> 追踪 URL </td>
                    #if ( $order.trackingUrl )
                      <td> : $order.trackingUrl </td>
                    #else
                      <td> : 未指定 </td>
                    #end
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="height:5px;line-height:5px;">&nbsp;</td>
            </tr>
            <tr>
              <td style="border-collapse:collapse;padding-bottom:10px">
                <table cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;color:#333">
                  <tbody>
                    <tr>
                      <td style="background:#3068a2;background:-moz-linear-gradient(top,#4687ce 0%,#3068a2 100%);background:-webkit-linear-gradient(top,#4687ce 0%,#3068a2 100%);background:-o-linear-gradient(top,#4687ce 0%,#3068a2 100%);background:-ms-linear-gradient(top,#4687ce 0%,#3068a2 100%);background:linear-gradient(top,#4687ce 0%,#3068a2 100%);padding:0px;border-collapse:collapse;border-radius:3px;padding:5px;margin:0px">
                        <a style="color:#3b73af;text-decoration:none;color:#fff;font-weight:bold;padding:6px;font-size:14px;line-height:1.429;font-family:Arial,sans-serif" href="$url" target="_blank">查看订单细节</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="height:5px;line-height:5px;">&nbsp;</td>
    </tr>
    <tr>
      <td>
        #parse( $footer )
      </td>
    </tr>
  </tbody>
</table>
