#if( $jobRun.message )
  #set ($message = $jobRun.message)
#else
  #set ($message = "None")
#end


<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:separate">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;line-height:20px">
          <tbody>
            <tr>
              <td style="padding:0px;border-collapse:collapse;padding:0px;padding-bottom:10px">
                <p style="margin:10px 0 0 0">
                  您好 $fname $lname,
                  <br><br>
                  作业 <b>$job.name</b> 已经失败。如下是作业运行的详细记录。请联系管理员做进一步的调查。
                  <br><br>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td>Job Run ID </td> <td> : $jobRun.id</td>
                  </tr>
                  <tr>
                    <td>开始日期 </td><td> : $dateFmt.format($jobRun.startedAt) </td>
                  </tr>
                  <tr>
                    <td>结束日期  </td> <td>: $dateFmt.format($jobRun.finishedAt) </td>
                  </tr>
                  <tr>
                    <td>错误</td><td> : $message </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="height:5px;line-height:5px;">&nbsp;</td>
    </tr>
    <tr>
      <td>
        #parse( $footer )
      </td>
    <tr>
  </tbody>
</table>
