<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog 
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd
        http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd">

  <changeSet author="vlonushte" id="Config property to enable/disable CP object coding">
    <sql>
      call add_cfg_prop(
        'biospecimen', 'cp_coding_enabled',
        'cp_coding_enabled', 'cp_coding_enabled_desc',
        'STRING', ''
      );
    </sql>
  </changeSet>

</databaseChangeLog>
