<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog 
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd
        http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd">

  <changeSet author="vlonushte" id="Enabled unique code for cp, cp event, and secimen requirement config setting" dbms="mysql">
    <sql>
      select identifier into @module_id from os_modules where name = 'biospecimen';

      insert into os_cfg_props
        (identifier, name, display_name_code, desc_code, data_type, module_id)
      values
        (default, 'coding_enabled', 'coding_enabled', 'coding_enabled_desc', 'STRING', @module_id);

      select last_insert_id() into @prop_id;

      insert into os_cfg_settings
        (identifier, property_id, value, activated_by, activation_date, activity_status)
      values
        (default, @prop_id, '', 1, current_timestamp(), 'Active');
    </sql>
  </changeSet>

  <changeSet author="vlonushte" id="Enabled unique code for cp, cp event, and secimen requirement config setting" dbms="oracle">
    <sql endDelimiter="//">
      declare
        module_id number;
      begin
        select identifier into module_id from os_modules where name = 'biospecimen';

        insert into os_cfg_props
          (identifier, name, display_name_code, desc_code, data_type, module_id)
        values
          (OS_CFG_PROPS_SEQ.nextval, 'coding_enabled', 'coding_enabled', 'coding_enabled_desc', 'STRING', module_id);

        insert into os_cfg_settings
          (identifier, property_id, value, activated_by, activation_date, activity_status)
        values
          (OS_CFG_SETTINGS_SEQ.nextval, OS_CFG_PROPS_SEQ.currval, '', 1, sysdate, 'Active');
      end;
      //
    </sql>
  </changeSet>

</databaseChangeLog>
