Hello $requestor
<br>
<br>
Your order "$order" has been updated by $updater on $date. The new status of your order is $status .
<br>
Please click on the below link to view the latest details of the above order: $url/Order.do?id=$orderId
<br>
<br>
$footer
