BODY {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; COLOR: #000000; MARGIN-RIGHT: 0px; BACKGROUND-COLOR: #ffffff
}
.barremenu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #336699; FONT-FAMILY: arial
}
A.barremenu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #336699; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.barremenu:visited {
	COLOR: #6489a0; TEXT-DECORATION: none
}
A.barremenu:active {
	COLOR: #6489a0; TEXT-DECORATION: none
}
A.barremenu:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.titrenews {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffe787
}
.titrecommentaires {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffe787
}
.colonnedroite {
	
}
.corpsnews {
	FONT-SIZE: 12px; FONT-FAMILY: verdana
}
A {
	COLOR: #6489a0; TEXT-DECORATION: none
}
A:visited {
	COLOR: #6489a0; TEXT-DECORATION: none
}
A:active {
	COLOR: #6489a0; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
.infonews {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #555555; FONT-FAMILY: arial; BACKGROUND-COLOR: #e7e8f1
}
.infonewsactif {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #555555; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffe787
}
A.infonews {
	COLOR: #6489a0; TEXT-DECORATION: underline
}
A.infonews:visited {
	COLOR: #6489a0; TEXT-DECORATION: none
}
A.infonews:active {
	COLOR: #6489a0; TEXT-DECORATION: none
}
A.infonews:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A.infonewsactif {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
A.infonewsactif:visited {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A.infonewsactif:active {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A.infonewsactif:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.infonewspassif {
	COLOR: #6489a0; TEXT-DECORATION: underline
}
A.infonewspassif:visited {
	COLOR: #6489a0; TEXT-DECORATION: none
}
A.infonewspassif:active {
	COLOR: #6489a0; TEXT-DECORATION: none
}
A.infonewspassif:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
P.topics {
	FONT-WEIGHT: bold; COLOR: #336699; BACKGROUND-COLOR: #ffffff
}
H1.titres {
	COLOR: #ffec00
}
.MENU {
	BACKGROUND-COLOR: #e7e8f1
}
P.FORM {
	FONT-SIZE: 16px; COLOR: #6489a0; FONT-FAMILY: verdana; TEXT-ALIGN: center
}
TABLE.FORM {
	BACKGROUND-COLOR: #336699
}
TH.FORM {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: verdana; BACKGROUND-COLOR: #336699
}
TD.FORM {
	BACKGROUND-COLOR: #ffffff
}
TD.ERROR {
	BACKGROUND-COLOR: #cc0000
}
TH.FORM TR TD {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: verdana; BACKGROUND-COLOR: #336699
}
.LABEL {
	FONT-SIZE: 12px; COLOR: #336699; FONT-FAMILY: verdana
}
SPAN.LABEL {
	
}
TH.LABEL {
	TEXT-ALIGN: right
}
.LABELLEFT {
	FONT-SIZE: 12px; COLOR: #336699; FONT-FAMILY: verdana
}
SPAN.LABELLEFT {
	
}
TH.LABELLEFT {
	TEXT-ALIGN: left
}
.COMMENT {
	COLOR: #336699; FONT-FAMILY: verdana; TEXT-ALIGN: center
}
.TOPLINK {
	TEXT-ALIGN: left
}
P.SUBSCRIPTION {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #336699; FONT-FAMILY: arial; TEXT-ALIGN: center
}
TABLE.SUBSCRIPTION {
	BACKGROUND-COLOR: #336699
}
TH.SUBSCRIPTION {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #336699
}
TD.SUBSCRIPTION {
	COLOR: #336699; BACKGROUND-COLOR: #ffffff
}
.ongletMain {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: medium none; BORDER-LEFT: #336699 1px solid; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #ffffff
}
.clsAction {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #053c6d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ongletTextEna {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #336699 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #336699 1px solid; COLOR: #ffffff; BORDER-BOTTOM: medium none; FONT-FAMILY: verdana; BACKGROUND-COLOR: #336699; TEXT-ALIGN: center
}
.ongletTextDis {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #336699 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #336699 1px solid; COLOR: #336699; BORDER-BOTTOM: #336699 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.ongletTextErr {
	BORDER-RIGHT: #c5c5c5 1px solid; BORDER-TOP: #c5c5c5 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #c5c5c5 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #80add6 2px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ed4f50; TEXT-ALIGN: center
}
.ongletMiddle {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: medium none; FONT-SIZE: 1px; BORDER-LEFT: #336699 1px solid; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #ffffff
}
.ongletSpace {
	BORDER-BOTTOM: #336699 1px solid
}
TD.CALENDRIER {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #535353; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: center
}
A.CALENDRIER {
	FONT-SIZE: 10px; COLOR: #336699; TEXT-DECORATION: none; 000000
}
.CALENDARBORDER {
	BACKGROUND-COLOR: #336699; 000000 
}
.CALENDARTITLE {
	BACKGROUND-COLOR: #336699; C9252C 
}
.CALENDARWEEK {
	BACKGROUND-COLOR: #ffffff
}
.CALENDARWEEKEND {
	BACKGROUND-COLOR: #fff4e5
}
.CALENDARSELECTED {
	BACKGROUND-COLOR: #ff8f01
}
TABLE.DATAGRID {
	BACKGROUND-COLOR: #336699
}
TH.DATAGRID {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: verdana; BACKGROUND-COLOR: #336699
}
TABLE.DATAGRID TR TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: verdana
}
TR.DATAGRID {
	BACKGROUND-COLOR: #ffffff
}
TR.DATAGRID2 {
	BACKGROUND-COLOR: #ffffff
}
.DATAGRID_SEL {
	BACKGROUND-COLOR: #336699
}
.DATAGRID_DEL {
	TEXT-DECORATION: line-through
}
TR.DATAGRID_DEL TD INPUT {
	TEXT-DECORATION: line-through
}
TABLE.DATAGRID TR TD INPUT {
	WIDTH: 100%
}
DIV.suggestionList {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12px; Z-INDEX: 500; VISIBILITY: hidden; BORDER-LEFT: #333333 1px solid; WIDTH: 150px; CURSOR: default; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Verdana; POSITION: absolute; BACKGROUND-COLOR: #ffffff
}
DIV.suggestionList_element_off {
	PADDING-LEFT: 2px; BACKGROUND: #ffffff; WIDTH: 148px; COLOR: #333333
}
DIV.suggestionList_element_on {
	PADDING-LEFT: 2px; BACKGROUND: #6d99c6; WIDTH: 148px; COLOR: #ffffff
}
