<div class="clearfix">
  <div class="col-xs-10">
    <ul class="os-key-values os-two-cols">
      <li class="item">
        <strong class="key key-sm" translate="orders.requestor">Requestor</strong>
        <span class="value value-md">{{order.requester.firstName}} {{order.requester.lastName}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="orders.receiving_site">Receiving Site</strong>
        <span class="value value-md">{{order.siteName | osNoValue}}</span>
      </li>
        
      <li class="item">
        <strong class="key key-sm" translate="orders.dp">Distribution Protocol</strong>
        <span class="value value-md">
          <a ui-sref="dp-detail.overview({dpId: order.distributionProtocol.id})">
            {{order.distributionProtocol.shortTitle}}
          </a>
        </span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="orders.distributor">Distributor</strong>
        <span class="value value-md">{{order.distributor.firstName}} {{order.distributor.lastName}}</span>
      </li>
        
      <li class="item">
        <strong class="key key-sm" translate="orders.status">Status</strong>
        <span class="value value-md">{{'orders.statuses.' + order.status | translate}}</span>
      </li>
        
      <li class="item">
        <strong class="key key-sm" translate="orders.dist_date">Distribution Date</strong>
        <span class="value value-md">
          {{order.executionDate | date: global.dateFmt | osNoValue}}
        </span>
      </li>
        
      <li class="item">
        <strong class="key key-sm" translate="orders.creation_date">Creation Date</strong>
        <span class="value value-md">{{order.creationDate | date: global.dateFmt}}</span>
      </li>

      <li class="item">
        <strong class="key key-sm" translate="orders.tracking_url">Tracking URL</strong>
        <span class="value value-md" ng-switch on="!order.trackingUrl">
          <span ng-switch-when="true" translate="common.not_specified">Not Specified</span>
          <a ng-switch-default href="{{order.trackingUrl | osHttpPrefixer}}" target="_blank">
            {{order.trackingUrl}}
          </a>
        </span>
      </li>
    </ul>

    <div class="panel panel-default">
      <div class="panel-heading">
        <span translate="specimens.list">Specimens</span>
        <div class="os-action-btns">
          <button class="btn btn-primary" ng-if="order.status == 'EXECUTED'" show-if-allowed="orderResource.updateOpts"
            ng-click="returnSpecimens()">
            <span class="fa fa-plus"></span>
            <span translate="orders.buttons.return_specimen">Return</span>
          </button>
        </div>
      </div>

      <div class="panel-body">
        <div class="os-table">
          <div class="os-table-head">
            <div class="row">
              <div class="col os-col-25">
                <div class="clearfix">
                  <div class="pull-left os-select-specimen-cb" ng-if="order.status == 'EXECUTED'">
                    <os-checkbox ng-model="selection.all" ng-change="toggleAllItemSelect()"></os-checkbox>
                  </div>
                  <div class="pull-left" style="padding-left: 20px;">
                    <span translate="orders.spec.label">Label</span>
                  </div>
                </div>
              </div>
              <div class="col os-col-30">
                <span translate="orders.spec.desc">Description</span>
              </div>
              <div class="col os-col-20">
                <span translate="orders.spec.cp">Collection Protocol</span>
              </div>
              <div class="col os-col-10">
                <span translate="orders.spec.quantity">Quantity</span>
              </div>
              <div class="col os-col-15">
                <span translate="orders.status">Status</span>
              </div>
            </div>
          </div>
          <div class="os-table-body">
            <div class="row" ng-class="{selected: item.selected}" ng-repeat="item in order.orderItems"
              ng-init="specimen = item.specimen">
              <div class="col os-col-25">
                <div class="clearfix">
                  <div class="pull-left os-select-specimen-cb" ng-if="order.status == 'EXECUTED'">
                    <os-checkbox ng-model="item.selected" ng-change="toggleItemSelect(item)"></os-checkbox>
                  </div>
                  <div class="pull-left" style="padding-left: 20px;">
                    <a ui-sref="specimen({specimenId: specimen.id})">
                      <span>{{specimen.label}}</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col os-col-30">
                <a ui-sref="specimen({specimenId: specimen.id})">
                  <os-specimen-desc specimen="specimen" detailed="true"></os-specimen-desc>
                </a>
              </div>
              <div class="col os-col-20">
                <span>{{specimen.cpShortTitle}}</span>
              </div>
              <div class="col os-col-10">
                <span>{{item.quantity}}</span>
                <os-specimen-unit specimen-class="specimen.specimenClass" type="specimen.type">
                </os-specimen-unit>
              </div>
              <div class="col os-col-15">
                <span>{{'orders.item_statuses.' + item.status | translate}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
