<div class="os-search">
  <div class="os-head">
    <h3 class="os-title" translate="orders.filters">
      Filters
    </h3>
  </div>

  <div class="os-body">
    <div class="form-group">
      <input type="text" ng-model="filterOpts.title" class="form-control"
        os-md-input placeholder="{{'orders.name' | translate}}">
    </div>

    <div class="form-group">
      <div os-md-input ng-model="filterOpts.requestorId" placeholder="{{'orders.requestor' | translate}}">
        <os-users ng-model="filterOpts.requestorId" placeholder="{{'orders.requestor' | translate}}" select-prop="id"> 
        </os-users>
      </div>
    </div>

    <div class="form-group">
      <div os-md-input ng-model="filterOpts.receivingInstitute" placeholder="{{'orders.receiving_institute' | translate}}">
        <os-select ng-model="filterOpts.receivingInstitute" class="form-control"
          list="instituteNames" os-md-input placeholder="{{'orders.receiving_institute' | translate}}">
        </os-select>
      </div>
    </div>

    <div class="form-group">
      <div os-md-input ng-model="filterOpts.dpId" placeholder="{{'orders.dp' | translate}}">
        <os-select ng-model="filterOpts.dpId" class="form-control"
          display-prop="shortTitle" list="dps" select-prop="id"
          os-md-input refresh="loadDps" placeholder="{{'orders.dp' | translate}}">
        </os-select>
      </div>
    </div>

    <div class="form-group">
      <os-date-picker date="filterOpts.executionDate" md-type="true" date-only="true"
        placeholder="{{'orders.execution_date' | translate}}">
      </os-date-picker>
    </div>

    <div class="form-group os-btns">
      <button class="default full-width" ng-click="clearFilters()">
        <span translate="common.buttons.clear_filters">Clear Filters</span>
      </button>
    </div>
  </div>
</div>
