html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

.os-home {
  background: #2d67a3;
  height: 100%;
  width: 100%;
}

.os-navbar {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.os-navbar:after {
  content: '';
  display: block;
  clear: both;
}

.os-navbar .logo {
  height: 40px;
  width: 235px;
  padding: 2.5px;
  flex-grow: 0.25;
  position: relative;
}

.os-navbar .logo img {
  height: 30px;
}

.os-navbar .logo .deploy-env {
  font-size: 10px;
  color: #fff;
  background-color: #c33;
  padding: 2px 4px;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  top: 7px;
  margin-left: 6px;
}

.os-navbar .search {
  flex-grow: 1;
  padding-top: 3px;
  display: flex;
  margin-left: 100px;
}

.os-navbar .search input {
  font-weight: normal;
}

.os-navbar .search .btn {
  margin-left: -7px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 34px;
}

.os-navbar .menu {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
}

.os-navbar .menu {
  list-style: none;
  padding: 0px 10px 0px 20px;
  margin-bottom: 0px;
}

.os-navbar .menu > li {
  padding: 10px 5px;
}

.os-navbar-default {
  background: #205081;
  border-bottom: 1px solid #2e3d54;
  color: #fff;
  font-weight: bold;
}

.os-navbar > ul > li > a {
  text-decoration: none;
  padding: 15px 15px;
}

.os-navbar > ul > li > a.btn {
  padding: 6px 12px;
}

.os-navbar-default > ul > li > a {
  color: #fff;
}

.os-navbar-default > ul > li > a > span.fa {
  font-size: 20px;
}

.os-navbar-default > ul > li:hover {
  background: #2d67a3;
}
 
.os-navbar > ul > li.form-input  {
  padding: 4px 12px;
}

.os-navbar > ul > li.form-input > .btn {
  padding: 4px 8px!important;
  font-weight: bold;
}

.os-navbar > ul > li.form-input:hover  {
  background: inherit;
}

.os-navbar-docked {
  position: fixed;
  top: 0px;
  z-index: 3000;
}

.os-navbar .search {
  flex-direction: column;
}

.os-signin-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #fff;
  border-top: 1px solid #82a3c7;
  text-align: center;
  width: 100%;
  padding: 15px 5px;
  height: auto!important;
  height: initial!important;
}

.os-signin-footer a {
  color: #fff;
}

.os-custom-banner {
  text-align: center;
  color: #fff;
}

.os-center-box {
  width: 274px;
  padding: 40px;
  margin-bottom: 20px;
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 0px auto 25px;
  width: 354px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.os-sign-up-box {
  margin-top: 50px;
  width: 600px;
  padding: 0px;
  border-radius: 6px;
}

.os-sign-up-box .os-header {
  color: #666666;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 6px 6px 0 0;
}

.os-sign-up-box .os-body {
  padding: 15px 25px 20px;
}

.os-sign-up-box .os-body .link {
  text-align: center;
  padding-bottom: 20px;
}

.os-center-box .os-rounded-img {
  width: 96px;
  height: 96px;
  margin: 0px auto 10px;
  display: block;
  border-radius: 50%;
}

.os-group-controls {
  margin-bottom: 15px;
}

.os-group-controls .form-control {
  border-radius: 0px;
  height: 44px;
}

.os-group-controls .form-control:not(:last-child) {
  border-bottom: none;
}

.os-error-msg {
  color: #dd4b39;
  line-height: 17px;
  display: block;
  margin: 7px 0px;
}

.os-nav-button {
  color: #666;
  background: transparent;
  border: none;
  outline: none;
}

button.btn.os-round-btn {
  height: 24px;
  width: 24px;
  border-radius: 100%; 
  padding: 0px;
}

h4 + .btn-group {
  margin-left: 10px;
}

.os-page-header ~ .os-container-wrapper .container,
.os-page-header ~ .container {
  position: absolute;
  top: 107px;
  padding-top: 10px;
  bottom: 0px;
  height: auto;
  width: 100%;
  overflow: auto;
}

.os-page-header ~ .container.os-de-form {
  padding: 0px 0px 5px;
}

.os-page-commands ~ .os-container-wrapper .container,
.os-page-commands ~ .container{
  top: 161px!important;
  padding-top: 0px!important;
}

.os-page-header ~ .os-cards {
  position: absolute;
  top: 114px;
  bottom: 0px;
  height: auto;
  overflow-y: auto;
  transition: width 0.25s ease-in-out 0s;
}

.os-page-header .os-more-options {
  position: absolute;
  right: 0px;
  top: 25px;
}

.os-inline-btn {
  display: inline-block;
  position: relative;
}

.os-btns a.btn, 
.os-btns button {
  border-radius: 3px;
  padding: 4px 10px;
  display: inline-block;
}

.os-btns button.primary {
  color: #fff;
  background: #428bca;
  border: 1px solid #357ebd;
}

.os-btns button.primary:hover {
  color: #fff;
  background: #3071a9;
  border: 1px solid #357ebd;
}

.os-btns a.default,
.os-btns button.default {
  color: #666666;
  background: #f5f5f5;
  border: 1px solid #ccc;
  vertical-align: initial;
}

.os-btns a.default:hover,
.os-btns button.default:hover {
  background: #ddd;
  border: 1px solid #a5a5a5;
}

.os-btns button.full-width {
  width: 100%;
}

.panel .panel-heading .os-btns {
  position: absolute;
  top: 5px;
  margin-left: 10px;
}

.panel .panel-heading .os-btns.right {
  right: 10px;
}

.panel .panel-heading .os-btns .os-btn-text {
  color: #777;
  font-size: 20px;
  margin-top: -2px;
}

.os-more-options {
  position: absolute;
  cursor: pointer;
}

.list-group-item .os-more-options {
  top: 7px;
  right: 0px;
  width: 40px;
  text-align: center;
}

.list-group-item .os-more-options .dropdown-toggle, 
.list-group-item .os-more-options > .fa {
  font-size: 18px;
  color: #777777;
}

.list-group-item.active .os-more-options .dropdown-toggle, 
.list-group-item.active .os-more-options > .fa {
  color: white;
}

.os-table-body .row .col.os-more-options {
  position: relative;
  text-align: center;
  padding: 0px!important;
  overflow: visible;
  top: 0px!important;
}

.os-table-body .row .col.col-xs-1.os-more-options {
  width: 8.33333333%!important;
}

.os-table-body .os-more-options .dropdown-toggle {
  font-size: 20px;
  color: #777777;
  background: transparent;
  border: 0px;
  margin-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.os-table-body .os-more-options .dropdown-menu.dropdown-menu-right {
  margin-right: 19px!important;
}

.os-table-body .os-more-options .dropdown-menu {
  margin-left: 15px;
}

.os-table-body .os-more-option-btns .os-more-options .dropdown-toggle {
  margin-top: -4px!important;
}

.os-table-body .os-more-option-btns .os-more-options .dropdown-menu.dropdown-menu-right {
  margin-right: 0px!important;
}

.os-table-body .os-more-option-btns {
  /* max 2 buttons and one vertical ellipsis so that they don't contract and show up on different lines */
  min-width: 71px;
}

.os-btn-icon, a {
  cursor: pointer;
}

.os-modal-800 .modal-content {
  width: 800px;
}

.os-btn-col {
  margin-left: 15px;
  margin-right: 15px;
}

.os-section-hdr {
  background: #f5f5f5;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.list-group .list-group-item.os-section-hdr {
  margin-bottom: 0px;
  border-bottom: none;
}

.os-section-hdr label {
  margin-bottom: 0px;
}

input.ng-dirty.ng-invalid {
  border-color: #FA787E;
  box-shadow: none;
}
 
.os-btn-secondary {
  color: #ffffff;
  background: #888;
  border-color: #666;
}

.os-btn-secondary:hover, .os-btn-secondary:focus, .os-btn-secondary:active {
  color: #ffffff;
  background: #777;
  border-color: #555;
}

.os-btn-text {
  background: transparent;
  color: #428bca;
}

.os-btn-text-secondary {
  background: transparent;
  color: #a6a6a6;
}

.os-lavatar {
  border-radius: 100%;
  background: #d5d5d5;
  display: inline-block;
  text-align: center;
  color: #ffffff;
}

.os-lavatar-sm {
  height: 32px;
  width: 32px;
}

.os-lavatar-bg {
  height: 64px;
  width: 64px;
}

.os-items-group {
  width: 100%;
}

.os-items-group:after {
  content: '';
  display: block;
  clear: both;
}

.os-item {
  float: left;
  padding: 0px 15px;
}

h1.os-section-title, h2.os-section-title, h3.os-section-title,
h4.os-section-title, h5.os-section-title, h6.os-section-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 20px;
}

h1.os-sub-section-title, h2.os-sub-section-title, h3.os-sub-section-title,
h4.os-sub-section-title, h5.os-sub-section-title, h6.os-sub-section-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.os-action-btns a {
  text-decoration: none;
}

.os-action-btns-md {
  font-size: 18px;
}

.os-key-values {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  padding: 0;
}

.os-key-values:after {
  content: '';
  display: block;
  clear: both;
}

.os-key-values .item {
  margin: 2px 0px 0px 0px;
  float: left;
  position: relative;
  padding-left: 150px;
}

.os-one-col > .item {
  width: 100%;
}

.os-two-cols > .item {
  width: 50%;
}

.os-line-section >.key:after {
  content: '';
  display: block;
  margin-top: -10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid ;
  border-color: #E6E6E6;
}

.os-line-section >.key {
  background: #ffffff;
}

.os-section-divider {
  border-top: 1px solid #ddd;
  font-weight: bold;
  color: #959595;
  margin-top: 30px;
  font-size: 12px;
  padding-top: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.os-key-values .item .key, .os-key-values .item .value {
  /*word-wrap: break-word;
  word-break: break-word;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px 5px 2px 5px;
  line-height: 24px;
  width: 100%;
  float: left;
}

.os-key-values .item .key {
  color: #707070;
  font-weight: normal;
  clear: left;
  margin-left: -150px;
  width: 150px;
}

.popover .os-key-values {
  margin-bottom: 0px;
}

.os-activity-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.os-activity-list .os-activity {
  margin-bottom: 15px;
}

.os-activity-list .os-activity .title {
  font-size: 14px;
}

.os-activity-list .os-activity .info {
  font-size: 12px;
  color: #707070;
}

.os-btn-section-collapse {
  float: left;
  margin: -4px 0px 0px -15px;
  color: #707070;
}

.os-btn-transparent {
  background: none;
  border: none;
  padding-left: 0px;
  padding-right: 0px;
}

.os-btn-transparent:focus {
  outline: 0;
}

.os-section {
  margin-bottom: 20px;
}

.os-section pre {
  background: transparent;
  border: none;
}

.os-line-section .os-btn-section-collapse {
  padding-top: 3px;
} 

.btn-xs.os-btn-icon {
  padding: 0px 4px!important;
  font-size: 11px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #428bca;
  color: #ffffff;
}

.os-left-align {
  text-align: left;
}

.os-right-align {
  text-align: right;
}

.os-input-addon-grp {
  position: relative;
}

.os-input-addon-right, .os-input-addon-left {
  position: absolute;
  top: 0px;
  background: #eee;
  color: #707070;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.os-input-addon-right {
  right: 0px;
}

.os-input-addon-left {
  left: 0px;
}

.os-form-err-msg.ng-inactive {
  display: none;
}

.alert.os-form-err-msg {
  margin: 5px 0px 0px 0px;
  padding: 7px 15px;
  position: relative;
}

.alert.os-form-err-msg:after {
  position: absolute;
  top: -10px;
  content: "";
  left: 20px;
  border-style: solid;
  border-width: 5px;
}

.alert-warning.os-form-err-msg:after {
  border-color: transparent transparent #faebcc;
}

.alert-danger.os-form-err-msg:after {
  border-color: transparent transparent #ebccd1;
}

#loading-bar .bar {
  background: #b91f1f!important;
  top: 40px!important;
  height: 3px!important;
}

#loading-bar .peg {
  box-shadow: 0 0 10px #b91f1f, 0 0 5px #b91f1f;
  height: 3px!important;
}

#loading-bar-spinner {
  display: none; /* For now disabled */
}

.os-panel-footer {
  padding: 10px 15px;
  background: #f5f5f5;
  margin: 0px -15px -15px -15px;
  border-top: 1px solid #ddd;
}

.os-panel-footer:after {
  content: '';
  clear: both;
  display: block;
}

.os-divider {
  width: 100%;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}

.dropdown-menu li.divider:first-child,
.dropdown-menu li.divider + li.divider {
  display: none;
}

.os-enable-on-hover .os-action-btns {
  display: none;
  position: absolute;
  right: 0;
}

.os-enable-on-hover:hover .os-action-btns {
  display: inline-block;
  z-index: 2;
}

.os-quick-edit-overlay {
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%; 
  z-index: 10; 
  background: rgba(0, 0, 0, 0.6);
}

.os-quick-edit {
  z-index: 15;
  position: relative;
  background: #fff;
}

.list-group-item .table {
  margin-bottom: 0px;
}

.list-group-item .alert {
  margin-bottom: 0px;
}

.os-md-input .os-value, .os-ellipsis {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.os-md-input .os-value {
  display: block;
}

/**
 * Inplace form edit PO
 */

.os-inplace-form-edit-po {
  border: 1px solid #ddd;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  background-clip: padding-box;
}

.os-inplace-form-edit-po .title {
  background: #edeff0;
  border-bottom: 1px solid #ddd;
}

.os-inplace-form-edit-po .list-group-item .title {
  margin: -10px -15px 9px -15px; 
  padding: 10px 15px;
}

.os-inplace-form-edit-po .content {
  padding: 9px 15px;
}

.os-inplace-form-edit-po .content .alert {
  padding: 6px 12px;
}

.os-border {
  border: 1px solid #ddd;
}

.panel-heading {
  position: relative;
}

.panel-heading .os-action-btns {
  position: absolute;
  right: 15px;
  top: 3px;
}

.os-col-2,.os-col-5,.os-col-10,.os-col-12,.os-col-15,.os-col-20,.os-col-25,
.os-col-30,.os-col-35,.os-col-40,.os-col-45,.os-col-50,
.os-col-55,.os-col-60,.os-col-65,.os-col-70,.os-col-75,
.os-col-80,.os-col-85,.os-col-90,.os-col-95,.os-col-100 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.os-col-2 {
  width: 2%;
}

.os-col-5 {
  width: 5%;
}

.os-col-10 {
  width: 10%;
}

.os-col-12 {
  width: 12%;
}

.os-col-15 {
  width: 15%;
}

.os-col-20 {
  width: 20%;
}

.os-col-25 {
  width: 25%;
}
.os-col-30 {
  width: 30%;
}

.os-col-35 {
  width: 35%;
}
.os-col-40 {
  width: 40%;
}

.os-col-45 {
  width: 45%;
}
.os-col-50 {
  width: 50%;
}

.os-col-55 {
  width: 55%;
}
.os-col-60 {
  width: 60%;
}

.os-col-65 {
  width: 65%;
}
.os-col-70 {
  width: 70%;
}

.os-col-75 {
  width: 75%;
}
.os-col-80 {
  width: 80%;
}

.os-col-85 {
  width: 85%;
}

.os-col-90 {
  width: 90%;
}

.os-col-95 {
  width: 95%;
}

.os-col-100 {
  width: 100%;
}

.os-pointer-cursor {
  cursor: pointer;
}

/* Container selector modal */
.os-select-container-cb {
  height: 13px;
  margin-top: 4px;
  margin-right: 8px;
}

.os-select-container-tab {
  max-height: 450px;
  overflow: auto;
}

.os-modal-alert {
  position: absolute;
  margin-top: -10px;
  margin-left: -20px;
  width: 100%;
  border-radius: 0;
  text-align: center;
}

.os-margin-10 {
  margin: 10%;
}

.os-padding-top-4 {
  padding-top: 4px;
}

.os-no-padding {
  padding: 0px;
}

.os-no-left-padding {
  padding-left: 0px;
}

.os-big-dropdown-menu {
  max-height: 400px;
  overflow: auto;
}

.os-pre-line {
  white-space: pre-line;
}

.os-textarea-lg {
  width: 100%;
  height: 390px!important;
  display: block;
}
 
.list-group-item .os-btns.right {
  position: absolute;
  top: 4px;
  right: 10px;
} 

.os-welcome-box {
  text-align: center;
  padding-top: 10px;
}

.os-welcome-box div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.os-search .form-group {
  margin-bottom: 30px;
}

.os-about-po {
  width: 300px;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.os-about-modal.modal.in {
  display: flex!important;
  align-items: center;
}

.os-about-modal .os-about-po {
  width: 100%;
}

.dropdown-menu .os-about-po { /** offset dropdown menu's padding  **/
  margin-top: -5px;
  margin-bottom: -5px;
  border: none;
}

.os-about-po .title {
  padding: 15px; 
  background: #f5f5f5;
  color: #333; 
  border-color: #ddd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.os-about-po .content {
  padding: 15px;
  color: #333;
  font-weight: normal;
}

.os-about-po .footer {
  font-style: italic;
}

.os-about-po .footer a {
  color: #333;
}

.os-command-bar {
  padding: 0px 15px 10px 15px;
  margin-bottom: 30px;
}

.os-command-bar button {
  margin-right: 10px;
}

.os-alert-container.inline,
.os-modal-body .os-alert-container.show {
  position: static;
  width: 100%;
}

.os-cfg-settings .col.forced-wrap {
  word-break: break-all;
}

.os-cfg-settings .os-table-body .row {
  cursor: pointer;
}

.os-full-width-container, .os-full-size-container {
  width: 100%;
}

.os-full-height-container, .os-full-size-container {
  height: 100%;
}

.os-menu-list > li > input {
  width: 260px;
  margin: 3px 20px;
}

.os-menu-list .dropdown-menu-subgroup {
  max-height: 150px;
  overflow: auto;
}

.os-label-value-pairs {
  display: table;
}

.os-label-value-pair {
  display: table-row;
}

.os-label-value-pair .os-label {
  display: table-cell;
  color: #707070;
  padding: 5px 10px;
}

.os-label-value-pair .os-value {
  display: table-cell;
  padding: 5px 10px;
  width: 66%;
}

.os-compact-form .form-group {
  margin-bottom: 5px!important;
}

.os-compact-form .panel-body {
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}

.os-bottom-border {
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}

/*** START: time picker popup spinner fixes ***/
.icon-chevron-up, .icon-chevron-down {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-smoothing: antialiased;
  font-smoothing: grayscale;
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
  border-top: 7px solid #fff!important;
}

/*** END: time picker popup spinner fixes ***/

.form-horizontal .control-text {
  padding-top: 7px;
}
