html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

.os-home {
  background: #2d67a3;
  height: 100%;
  width: 100%;
}

.os-navbar {
  height: 57px;
  width: 100%;
}

.os-navbar:after {
  content: '';
  display: block;
  clear: both;
}

.os-navbar .logo {
  float: left;
  height: 57px;
  width: 275px;
}

.os-navbar-default {
  background: #205081;
  border-bottom: 1px solid #2e3d54;
  color: #fff;
  font-weight: bold;
}

.os-navbar > ul {
  padding-left: 20px; 
  padding-right: 10px;
}

.os-navbar > ul.primary {
  float: left;
}

.os-navbar > ul.secondary {
  float: right;
}

.os-navbar > ul:after {
  content: '';
  display: block;
  clear: both;
}

.os-navbar > ul > li {
  float: left;
  padding: 15px 15px;
  list-style-type: none;
}

.os-navbar > ul > li > a {
  text-decoration: none;
}

.os-navbar-default > ul > li > a {
  color: #fff;
}

.os-navbar-default > ul > li:hover {
  background: #2d67a3;
}
 
.os-navbar > ul > li.form-input  {
  padding: 8px 15px;
}

.os-navbar > ul > li.form-input > button {
  font-weight: bold;
}

.os-navbar > ul > li.form-input:hover  {
  background: inherit;
}
 
.os-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #c0c0c0;
  border-top: 1px solid #82a3c7;
  text-align: center;
  width: 100%;
  padding: 20px 5px;
}

.os-custom-banner {
  text-align: center;
  color: #fff;
}

.os-center-box {
  width: 274px;
  padding: 40px;
  margin-bottom: 20px;
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 0px auto 25px;
  width: 354px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.os-center-box .os-rounded-img {
  width: 96px;
  height: 96px;
  margin: 0px auto 10px;
  display: block;
  border-radius: 50%;
}

.os-group-controls {
  margin-bottom: 15px;
}

.os-group-controls .form-control {
  border-radius: 0px;
  height: 44px;
}

.os-group-controls .form-control:not(:last-child) {
  border-bottom: none;
}

.os-error-msg {
  color: #dd4b39;
  line-height: 17px;
  display: block;
  margin: 7px 0px;
}

.os-page-hdr {
  padding: 20px;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.os-page-hdr:after {
  display: block;
  content: '';
  clear: both;
}

.os-page-hdr h1, .os-page-hdr h2, .os-page-hdr h3, .os-page-hdr h4 {
  float: left;
  margin: 0px;
}

.os-page-hdr .os-icon-btn {
  float: left;
  margin-left: 10px;
  font-size: 20px;
}

.os-icon-btn, a {
  cursor: pointer;
}

.os-modal-800 .modal-content {
  width: 800px;
}

.os-btn-col {
  margin-left: 15px;
  margin-right: 15px;
}

.os-section-hdr {
  background: #edeff0;
}

.os-alert {
  text-align: center;
  z-index: 100;
  position: absolute;
  width:100%;
  border-radius: 0px;
  left: 0;
}

input.ng-dirty.ng-invalid {
  border-color: #FA787E
}
 
.os-btn-secondary {
  color: #ffffff;
  background: #888;
  border-color: #666;
}

.os-btn-secondary:hover, .os-btn-secondary:focus, .os-btn-secondary:active {
  color: #ffffff;
  background: #777;
  border-color: #555;
}

.os-btn-text {
  background: transparent;
  color: #428bca;
}
