
.os-participant-ids {
  max-height: 275px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.os-participant-matching {
  border-top: 1px dashed #ccc;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  padding-left: 15px;
}

.os-participant-matching-msg {
  padding: 5px 0px;
}

.os-participant-matching-tbl {
  max-height: 100px;
  overflow-y: auto;
  margin-bottom: 5px;
}

.os-participant-matching .form-group {
  margin-bottom: 5px;
}

.os-visits .list-group-item h5 {
  color: #666;
  font-weight: bold;
}

.os-visits .list-group-item.active h5 {
  color: #fff;
  font-weight: bold;
}

.fa.os-status-collected:before {
  color: #5cb85c;
  padding: 0px 4px;
}

.fa.os-status-pending:before {
  color: #f0ad4e;
  padding: 0px 4px;
}

.fa.os-status-not-collected:before {
  color: #d9534f;
  padding: 0px 4px;
}
