
.os-breadcrumbs {
  margin: 10px 0px 0px;
  list-style-type: none;
  padding-left: 0px;
}

.os-breadcrumbs:after {
  content: '';
  display: block;
  clear: both;
}

.os-breadcrumbs > li {
  float: left;
  margin-right: 10px;
}

.os-breadcrumbs > li > a {
  padding-right: 5px;
}

.os-breadcrumbs .divider:after {
  content: '/'
}
  
