
.os-checkbox {
  position: relative;
  margin: 0;
}

.os-checkbox input[type="checkbox"] {
  opacity: 0;
}

.os-checkbox input[type="checkbox"] ~ span.box {
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 1px solid rgba(155, 155, 155, 0.57);
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
}

.os-checkbox input[type="checkbox"]:checked ~ span.tick {
  display: inline-block;
  height: 6px;
  width: 12px;
  position: absolute;
  left: 2px;
  top: 0px;
  border-left: 2px solid #777;
  border-bottom: 2px solid #777;
  transform: rotate(-45deg);
}

.os-table .os-table-head .row .col .os-checkbox-container {
  height: 17px;
}

.os-table .os-table-head .row .col .os-checkbox-container .os-checkbox {
  position: relative;
  top: 2px;
}

.os-table .os-table-head .row .col .os-checkbox-container .os-checkbox-label {
  position: relative;
  top: -4px;
}

.os-table .os-table-body .row .col .os-checkbox-container {
  padding-top: 6px;
}

.os-table.bulk-edit .os-checkbox {
  top: 12px;
  height: 14px;
}

.os-dist-spmns-table.os-table.bulk-edit .os-checkbox {
  top: 2px!important;
}
