
.os-table .os-table-head .row .col.os-table-header-checkbox {
  padding-bottom: 3px;
}

.os-table .os-table-head .row .col.os-table-header-checkbox .os-checkbox {
  position: relative;
  top: 2px;
}

.os-table .os-table-head .row .col.os-table-header-checkbox > span {
  position: relative;
  top: -4px;
  left: 4px;
}

.os-table .os-table-body .row .col.os-order-item-checkbox {
  padding-top: 14px;
  padding-bottom: 0px;
}

