.os-page-header {
  position: absolute;
  top: 40px;
  padding: 10px 15px 0px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.os-page-header .os-nav-button-wrapper {
  float: left;
  font-size: 24px;
  margin: 2px 10px 0px -5px;
}

.os-page-commands {
  position: absolute;
  top: 106px;
  padding: 10px 15px 15px;
  width: 100%;
}

.os-page-commands:after {
  content: ' ';
  display: block;
  clear: both;
}

.os-page-commands .left {
  float: left;
  margin-right: 10px;
}

.os-page-commands .right {
  float: right;
  margin-left: 10px;
  margin-right: 15px;
}

.os-page-header-inner {
  display: flex;
  padding-left: 30px;
}

.os-page-header.no-breadcrumbs .os-page-header-inner {
  margin-top: 8px;
}

.os-page-header-content-wrapper {
  flex: 3;
}

.os-page-header-content h1, .os-page-header-content h2, 
.os-page-header-content h3, .os-page-header-content h4, 
.os-page-header-content h5, .os-page-header-content h6 {
  margin-top: 0px;
}

.os-page-header-actions-wrapper {
  flex: 1;
  margin: auto;
}

.os-page-header-actions-wrapper:after {
  content: ' ';
  display: block;
  clear: both;
}

.os-page-header-actions {
  float: right;
  padding-right: 15px;
}

.os-page-header-actions button,
.os-page-commands a.btn, 
.os-page-commands button {
  border-radius: 3px;
  padding: 4px 10px;
  display: inline-block;
  outline: 0px;
}

.os-page-header-actions button.primary,
.os-page-commands button.primary {
  color: #fff;
  background: #428bca;
  border: 1px solid #357ebd;
}

.os-page-header-actions button.primary:hover,
.os-page-commands button.primary:hover {
  color: #fff;
  background: #3071a9;
  border: 1px solid #357ebd;
}

.os-page-header-actions button.default,
.os-page-commands a.default,
.os-page-commands button.default {
  color: #666666;
  background: #f5f5f5;
  border: 1px solid #ccc;
  vertical-align: initial;
}

.os-page-header-actions button.default:hover,
.os-page-commands a.default:hover,
.os-page-commands button.default:hover {
  background: #ddd;
  border: 1px solid #a5a5a5;
}

.os-page-header-actions div.inline,
.os-page-commands div.inline {
  display: inline;
  position: relative;
}
