
.os-query-select-cb {
  height: 16px;
  margin-left: -8px;
  margin-top: 4px;
  margin-right: 8px;
  position: absolute;
}

.os-query-selected-folder:before {
  content: ' ';
  display: block;
  border-left: 3px solid #DD4B39;
  position: absolute;
  height: 20px;
}

.os-query-selected-folder {
  color: #DD4B39;
}

.os-query-folders {
  max-height: 150px; 
  overflow-y: auto;
  overflow-x: hidden;
}

.os-query-folders .folder {
  padding: 2px 8px;
}

.os-query-folders .folder div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 83%;
  white-space: nowrap;
  padding-left: 10px;
}

.os-query-folders .folder:hover {
  background-color: #eee;
  cursor: pointer;
}

.os-query-folders .folder .btn {
  border: 0px;
}

.os-query-folders-dd > li > input { 
  width: 260px;
  margin: 3px 20px;
}

.os-query-folders-dd .dropdown-menu-subgroup {
  max-height: 150px;
  overflow: auto;
}

.os-folder-queries-section {
  height: 180px; 
  margin-bottom: 20px; 
  width: 100%; 
  overflow:auto;
}

.os-folder-users-section {
  height: 100px;
}

.os-folder-users-section .users-select-container {
  height: 80px;
}

.os-folder-share-with-all-cb {
  margin-top: 4px;
  margin-right: 8px;
}
