.os-quick-search {
  position: relative;
  color: #666;
  font-weight: normal !important;
  background-color: white;
  border: 1px #ddd solid;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.os-quick-search .form-horizontal {
  padding-top:20px;
}

.os-quick-search .form-group {
  width: 90%;
  margin-left: 15px;
}

.os-quick-search .btn-primary {
  margin-left: 0px !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  padding: 0px 15px 0px 15px !important;
}

.os-quick-search .col-xs-6 {
  bottom: 12px
}

.os-quick-search .ui-select-toggle {
  margin-left: 0px !important;
}

.os-navbar .search .input-search {
  flex-grow: 1;
  display: flex;
}

.input-search input {
  cursor: pointer !important;
  background-color: #fff !important;
}