
.os-side-menu-wrapper {
  position: absolute;
  width: 30px;
  padding: 0px;
  margin: 0px;
  background: #f5f5f5;
  top: 0px;
  bottom: 0px;
  height: auto;
  z-index: 1;
}

.os-page-hdr + .os-side-menu-wrapper {
  top: 121px;
}
  

.os-side-menu-wrapper.os-show-side-menu {
  width: 100px!important;
  z-index: 10;
}

.os-side-menu-wrapper.docked {
  position: fixed;
  top: 0px;
}

.os-side-menu-show-btn, .os-side-menu-close-btn {
  padding: 5px 7px;
  background: #f5f5f5;
  color: #777777;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  border: none;
}

.os-side-menu-close-btn {
  display: none;
  margin-left: 100px;
}

.os-show-side-menu .os-side-menu-show-btn {
  display: none;
}

.os-show-side-menu .os-side-menu-close-btn {
  display: inline-block;
}

ul.os-side-menu {
  width: 100px;
  background: #f5f5f5;
  position: absolute;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  top: 0px;
  bottom: auto;
  display: none;
}

.os-show-side-menu ul.os-side-menu {
  display: block!important;
}

ul.os-side-menu li {
  border-top: 1px solid #fff;
}

ul.os-side-menu li:after {
  border-top: 1px solid #ddd;
  content: '';
  display: block;
}

ul.os-side-menu li:first-child {
  border-top: none;
}

ul.os-side-menu li:last-child {
  border-bottom: 1px solid #fff;
}

ul.os-side-menu > li a {
  display: block;
  color: #232323;
  height: 100%;
  width: 100%;
  padding: 15px 5px;
  text-align: center;
}

ul.os-side-menu > li a > .fa {
  display: block;
  font-size: 26px;
  text-decoration: none;
}

ul.os-side-menu > li:hover {
  background: #e0e0e0;
}

ul.os-side-menu > li:hover a {
  text-decoration: none;
}

ul.os-side-menu > li.active a {
  color: rgb(66, 139, 202);
  border-left: 4px solid rgb(66, 139, 202);
  padding-left: 0px;
  text-decoration: none;
}

.os-side-menu-wrapper.docked  ul.os-side-menu {
  height: 100%;
}

.os-side-menu-page-content {
  padding: 15px 20px 0px 40px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: auto;
  overflow-y: auto;
  width: 100%;
}

.os-page-hdr ~ .os-side-menu-page-content {
  top: 121px;
}
