.os-tree ul {
  list-style-type: none;
  padding-left: 15px;
}

.os-tree-node-toggle-marker, .os-tree-node-checkbox {
  margin-right: 4px;
  float: left;
  cursor: pointer;
}

.os-tree-node-toggle-marker {
  margin-top: 6px;
}

.os-tree-node-label {
  margin-top: 2px;
  float: left;
}

.os-tree-node-offset {
  padding-left: 15px;
}

