<div>
  <div os-page-header>
    <h3>Collect Aliquots</h3>
  </div>
  <div class="container os-le-box-container">
    <div style="-webkit-flex: 1; flex: 1; margin-bottom: 20px;">
      <div>
        <div class="input-group" os-textarea-input-group>
          <textarea ng-model="boxData.csLabels" ng-model-options="{debounce: 500}" 
            ng-change="processAliquotLabels(boxData.csLabels)" os-enable-tab
            class="form-control" placeholder="Paste labels from Clipboard" rows="2">
          </textarea>
          <span class="input-group-btn os-btns">
            <button class="btn btn-primary" ng-click="saveAliquots()">
              <span>Save Aliquots</span>
            </button>
            <button class="btn default" ng-click="toggleView()" ng-switch on="childSpmnsData.view">
              <span ng-switch-when="box">Tree View</span>
              <span ng-switch-when="tree">Box View</span>
            </button>
          </span>
        </div>
      </div>
    </div>  
    <div style="-webkit-flex: 9; flex: 9; overflow: auto" ng-switch on="childSpmnsData.view">
      <le-specimen-box ng-switch-when="box" ctrl="boxData.ctrl" opts="boxOpts"></le-specimen-box>
      <div ng-switch-when="tree">
        <div ng-include src="'le/aliquots-tree-view.html'"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="le/aliquots-tree-view.html">
  <form name="cspecimens" class="form-horizontal" os-form-validator="cspecimens" validator="cspmnsVld" novalidate>
    <div class="panel panel-default" ng-form="csform" 
      ng-repeat="partSpmns in childSpmnsData.specimens track by $index">
      <div class="panel-heading">
        <div class="panel-title">
          <span>Participant: {{partSpmns.empi}} ({{partSpmns.ppid}})</span>
        </div>
      </div>
      <div class="panel-body">
        <div class="os-table os-table-fixed os-table-tree bulk-edit">
          <div class="os-table-head">
            <div class="row">
              <div class="col os-col-30">
                <span>Specimen</span>
              </div>
              <div class="col os-col-15">
                <span>Label</span>
              </div>
              <div class="col os-col-10">
                <span>Quantity</span>
              </div>
              <div class="col os-col-15">
                <span>Frozen Date</span>
              </div>
              <div class="col os-col-10">
                <span>Frozen Time</span>
              </div>
              <div class="col os-col-20">
                <span>Frozen By</span>
              </div>
            </div>
          </div>
          <div class="os-table-body">
            <div class="row" ng-repeat="spmn in partSpmns.specimens track by $index" 
              ng-form="sform" ng-if="spmn.showInTree" ng-class="{'os-le-aliquot': spmn.lineage == 'Aliquot'}">
              <div class="col os-col-30">
                <div style="padding-left: {{spmn.depth * 20}}px">
                  <os-specimen-desc specimen="spmn"></os-specimen-desc>
                  <span ng-if="spmn.group.length > 0">
                    <span ng-switch on="!!spmn.expanded">
                      <button class="btn btn-xs btn-default" ng-switch-when="true" 
                        ng-click="collapseAliquotsGroup(spmn)">
                        <span class="fa fa-minus"></span>
                        <span>({{spmn.group.length}})</span>
                      </button>
                      <button class="btn btn-xs btn-default" ng-switch-when="false" 
                        ng-click="expandAliquotsGroup(spmn)">
                        <span class="fa fa-plus">
                        <span>({{spmn.group.length}})</span>
                      </button>
                    </span>
                  </span>
                </div>
              </div>
              <div class="col os-col-15" ng-switch on="spmn.storageType != 'Virtual' || !!spmn.label">
                <span ng-switch-when="true">{{spmn.label | osNoValue}}</span>
                <span ng-switch-when="false">Auto</span>
              </div>
              <div class="col os-col-10">
                <div class="os-input-addon-grp">
                  <input type="text" os-md-input edit-when="spmn.status != 'Collected'"
                    name="qty" ng-model="spmn.initialQty" ng-required="spmn.status != 'Collected'"
                    ng-model-options="{allowInvalid: 'true'}">
                  <div class="os-input-addon-right os-md-input-addon">
                    <os-specimen-qty-unit specimen-class="spmn.specimenClass" type="spmn.type">
                    </os-specimen-qty-unit>
                  </div>
                </div>
                <div os-field-error field="sform.qty"></div>
              </div>
              <div class="col os-col-15 input">
                <div>
                  <div os-md-input ng-model="spmn.frozenTime">
                    <input ng-model="spmn.frozenTime" class="form-control" type="text"
                      datepicker-popup="{{global.dateFmt}}" show-button-bar="true" datepicker-append-to-body="true" 
                      is-open="frozenDt.isOpen" ng-focus="frozenDt.isOpen=true">
                  </div>
                </div>
              </div>
              <div class="col os-col-10 input">
                <div class="os-md-input">
                  <timepicker class="os-time-no-wheels" ng-model="spmn.frozenTime" show-meridian="false">
                  </timepicker>
                </div>
              </div>
              <div class="col os-col-20 input">
                <div class="os-md-input">
                  <os-users ng-model="spmn.frozenBy" default-list="users"> </os-users>
                </div>
              </div>
            </div> <!-- End of row -->
          </div>   <!-- End of table body -->
        </div>     <!-- End of table -->
      </div>       <!-- End of panel body -->
    </div>         <!-- End of panel -->
  </form>  
  <div ng-init="setTreeViewFormValidator(cspmnsVld)"></div>
</script>
