
<div class="clearfix">
  <div class="col-xs-8">
    <ul class="os-key-values os-one-col" os-inline-editors on-save="editRole">
      <li class="item">
        <strong class="key key-sm" translate="role.name">Name</strong>
        <os-inline-edit editor="nameEditor" name="name" class="value value-md" value="role.name">
          <span ng-if="nameEditor.isDisplayMode()">{{nameEditor.viewValue | osNoValue}}</span>
          <input ng-if="nameEditor.isEditMode()" type="text" ng-model="nameEditor.editValue" 
            class="form-control" placeholder="{{'role.name' | translate}}">
        </os-inline-edit>
      </li>
      
      <li class="item">
        <strong class="key key-sm" translate="role.description">Description</strong>
        <os-inline-edit editor="descriptionEditor" name="description" class="value value-md" value="role.description">
          <span ng-if="descriptionEditor.isDisplayMode()">{{descriptionEditor.viewValue | osNoValue}}</span>
          <textarea ng-if="descriptionEditor.isEditMode()" type="text" ng-model="descriptionEditor.editValue" 
            class="form-control" placeholder="{{'role.description' | translate}}"></textarea>
        </os-inline-edit>
      </li>
    </ul>

    <div class="os-section">

      <h3 class="os-sub-section-title" translate="role.resources">Resources</h3>

      <div>
        <span ng-if="role.acls.length == 0" translate="common.none">None</span>
        <div class="os-table os-table-muted-hdr os-border" ng-if="role.acls.length > 0">
          <div class="os-table-head">
            <div class="row">
              <div class="col col-xs-6" translate="role.resource">resource</div>
              <div class="col col-xs-6" translate="role.permission">Permission</div>
            </div>
          </div>
          <div class="os-table-body">
            <div ng-repeat="acl in role.acls">
              <div class="row title">
                <div class="col col-xs-6">{{acl.resource}}</div>

                <div class="col col-xs-6">
                  <div class="os-round-icon pull-left" ng-if="acl.permissions.indexOf(permissions.create) != -1">
                    <span class="fa fa-plus" title="{{'role.create_permission' | translate}}"></span>
                  </div>
                  <div class="os-round-icon pull-left" ng-if="acl.permissions.indexOf(permissions.read) != -1">
                    <span class="fa fa-eye" title="{{'role.read_permission' | translate}}"></span>
                  </div>
                  <div class="os-round-icon pull-left" ng-if="acl.permissions.indexOf(permissions.update) != -1">
                    <span class="fa fa-pencil" title="{{'role.update_permission' | translate}}"></span>
                  </div>
                  <div class="os-round-icon pull-left" ng-if="acl.permissions.indexOf(permissions.delete) != -1">
                    <span class="fa fa-trash" title="{{'role.delete_permission' | translate}}"></span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>