
<div class="os-items-group">
  <div class="os-item">
    <h3 class="os-section-title"> 
      <span>{{role.name}}</span>
    </h3>
  </div>
  
  <div class="os-item os-action-btns os-action-btns-md">
    <a><span class="glyphicon glyphicon-pencil"></span></a>
  </div>  
</div>

<div class="clearfix">
  <div class="col-xs-8">
    <ul class="os-key-values os-two-cols" os-inline-editors on-save="editRole">
      <li class="item">
        <strong class="key key-sm" translate="role.name">Name</strong>
        <os-inline-edit editor="nameEditor" name="name" class="value value-md" value="role.name">
          <span ng-if="nameEditor.isDisplayMode()">{{nameEditor.viewValue | osNoValue}}</span>
          <input ng-if="nameEditor.isEditMode()" type="text" ng-model="nameEditor.editValue" 
            class="form-control" placeholder="{{'role.name' | translate}}">
        </os-inline-edit>
      </li>
      
      <li class="item">
        <strong class="key key-sm" translate="role.description">Description</strong>
        <os-inline-edit editor="descriptionEditor" name="description" class="value value-md" value="role.description">
          <span ng-if="descriptionEditor.isDisplayMode()">{{descriptionEditor.viewValue | osNoValue}}</span>
          <textarea ng-if="descriptionEditor.isEditMode()" type="text" ng-model="descriptionEditor.editValue" 
            class="form-control" placeholder="{{'role.description' | translate}}"></textarea>
        </os-inline-edit>
      </li>
      
      <li class="item">
        <strong class="key key-sm" translate="role.resource">Resources</strong>
        <span class="value value-md" os-inline-edit>{{role.acl | osArrayJoin:getResourceDisplayText | osNoValue}}</span>
      </li>
    </ul>  
  </div>
</div>
