
.cp-padded-hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cp-clear {
  clear: both;
}

.cp-select {
  background-color: rgb(245, 245, 245);
}

.cp-form {
  font-size: 14px;
}

.cp-round-button-icon {
  width: 40px;
  height:40px;
  border-radius:100%;
}

.cp-notifs {
  text-align: center;
  z-index: 100;
  position: fixed;
  width:100%;
  top: 0;
}

.cp-de-form {
  font-size: 14px;
}

.cp-print-label {
  border-top: none !important;
  vertical-align: middle;
  width: 20%;
  text-align: right;
  padding-left: 20px;
  font-weight: bold;
}

.cp-print-value {
  border-top: none !important;
  vertical-align: middle;
  width: 30%;
  text-align: left;
  padding-left: 20px;
}

.ka-tree ul {
  list-style-type: none;
  padding-left: 15px;
}

.ka-tree-node-toggle-marker, .ka-tree-node-checkbox {
  margin-right: 4px;
  float: left;
  cursor: pointer;
}

.ka-tree-node-toggle-marker {
  margin-top: 6px;
}

.ka-tree-node-label {
  margin-top: 2px;
  float: left;
}

.ka-tree-node-offset {
  padding-left: 15px;
}

.tooltip {
	z-index: 9999;
}

.watch-tutorial {
  margin-top: 10px;
  float: left;
  padding-left: 20px;
}

.plus-addon {
  position: relative;
}

.plus-addon-input-right input {
  padding-right: 30px;
}

.plus-addon-input-right span {
  position: absolute;
  right: 0px;
  padding: 10px 20px;
  pointer-events: none;
}

.ka-tags-container {
  border: 1px solid lightgray;
  border-radius: 4px;
}

.ka-tags-container .ka-tags {
  clear: both;
  padding-left: 0px;
}

.ka-tags-container .ka-tags  .ka-tag {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  background-color: #e4e4e4;
}

.ka-tags-container .ka-tags .ka-tags-remove {
  left: 3px;
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url('../external/select2/css/select2.png') right top no-repeat;
  line-height: 13px;
}

.ka-tags-container .ka-tags li {
  float: left;
  list-style: none;
}

.ka-tags-container .ka-tags .ka-tag-input {
  height: 28px;
  line-height: 27px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}
  
.ka-tags-container .ka-tags .ka-tag-input input {
  padding: 5px;
  margin: 1px 0;
  height: 27px;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
  width: 100%;
}

.ka-confirm-modal .modal-content {
  height: 250px!important;
}
