.dhtmlxcalendar_classic {
	background: url(../imgs/__dhxCal_skin_Classic/cal_bg_single.gif) no-repeat;
	background-color:white;
	border: 1px solid gray;
	font-family: Arial;
	z-index:99;
	height:auto;
	width:145px;
	padding:5px 10px 5px 10px;
}

.dhtmlxcalendar_classic_maxi{
  height:auto;
}

.dhtmlxcalendar_classic_ifr,
.dhtmlxcalendar_classic_mini_ifr,
.dhtmlxcalendar_classic_maxi_ifr {
  height:147px;
  width:167px;
}
  
.dhtmlxcalendar_classic_mini_ifr {
  height: 14px;
}

.dhtmlxcalendar_classic_maxi_ifr {
  height: 176px;
}

.dhtmlxcalendar_classic_mini {
  height: 14px;
}

.dhtmlxcalendar_classic_mini .winHeader{
  -moz-user-select:none;
}

.dhtmlxcalendar_classic .winHeader {
  height: 14px;
  width: 144px;
  margin-bottom: 7px;
  -moz-user-select:none;
}

.dhtmlxcalendar_classic .winTitle {
  color: #383838;
  font-size:12px;
  float:left;
  cursor: move;  
  width: 90px; 
  height: 15px;
  overflow: hidden;
  margin-top: -2px;
}

.dhtmlxcalendar_classic .btn_maxi,
.dhtmlxcalendar_classic .btn_mini,
.dhtmlxcalendar_classic .btn_close,
.dhtmlxcalendar_classic .btn_today,
.dhtmlxcalendar_classic .btn_clear {
  background: url(../imgs/__dhxCal_skin_Classic/btns.gif) no-repeat;
  float:right;
  height:12px;
  width:12px;  
  margin-left:1px;
}

.dhtmlxcalendar_classic .btn_mini {
  background-position: -48px 0;
}

.dhtmlxcalendar_classic .btn_maxi {
  background-position: -36px 0;
}

.dhtmlxcalendar_classic .btn_close {
  background-position: 0 0;
}

.dhtmlxcalendar_classic .btn_today {
  background-position: -12px 0;
}

.dhtmlxcalendar_classic .btn_clear {
  background-position: -24px 0;
}

.dhtmlxcalendar_classic .entbox{
	width:145px;
}

.dhtmlxcalendar_classic td {
	font-size: 11px;
	font-family: Tahoma;
	text-align:center;
	font-weight: bold;	
}

.dhtmlxcalendar_classic .dxcalmonth div.planeYear{
	margin-left:4px;
	
}

.dhtmlxcalendar_classic .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_classic .dxcalmonth td.month_btn_right {
	background: url(../imgs/__dhxCal_skin_Black/btns.gif) no-repeat;
	background-position: -60px 0;
	width: 6px;
}
.dhtmlxcalendar_classic .dxcalmonth td.month_btn_right {
	background-position: -66px 0;
}

.dhtmlxcalendar_classic .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_classic .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_classic .dxcalmonth table {
  margin: auto;
}
.dhtmlxcalendar_classic .dxcaldlabel {
	border-bottom: 0px solid #7e7e7e;
	color:#7e7e7e;
	background-color: #eeeeee;
	margin-top: 5px;
}
.dhtmlxcalendar_classic .dxcaldlabel td,
.dhtmlxcalendar_classic .dxcaldays td,
.dhtmlxcalendar_classic .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	font-weight: normal;	
	text-align: left;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	color: black;
}

.dhtmlxcalendar_classic .dxcaldlabel{

  	border-top: 1px solid #7e7e7e;
}
.dhtmlxcalendar_classic .dxcaldays td,
.dhtmlxcalendar_classic .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
}
.dhtmlxcalendar_classic .dxcaldays_ie td{
	height:16px;
}
.dhtmlxcalendar_classic td.comma{
	visibility:visible;
}
.dhtmlxcalendar_classic div.planeMonth,
.dhtmlxcalendar_classic div.planeYear {
	height: auto;
	overflow: auto;
}
div.dhtmlxcalendar_classic div.planeYear{
	display:inline;
	width:28px;
}

/* begin: days colors */
.dhtmlxcalendar_classic td.thismonth{
    border-top: 1px solid #7e7e7e;
	color:#0052ab;
	text-decoration:underline;
	padding:1px;
}

.dhtmlxcalendar_classic td.othermonth{
   	border-top: 1px solid #7e7e7e;
	visibility:visible;
	color:#0052ab;
}

.dhtmlxcalendar_classic td.weekend{
  	border-top: 1px solid #7e7e7e;  
	color:#0052ab;
	text-decoration:underline;
	padding:1px;
}

.dhtmlxcalendar_classic td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_classic td.selected{
  	border-top: 1px solid #7e7e7e;
  	background-color: #f5c453;
	color:#0052ab !important;
}


.dhtmlxcalendar_classic td.current{
  	border-top: 1px solid #7e7e7e;
  	color:#0052ab;
	font-weight:bold !important
}

.dhtmlxcalendar_classic td.hover{
  	border: 1px solid #f5c453;
	padding:0px;
}

.dhtmlxcalendar_classic td.holiday{ 
	font-weight:bold;
	color:#0052ab;
}

/* begin: dhtmlxRichSelector */
 .dhtmlxcalendar_classic div.dhtmlxRichSelector {
  position: relative;
  background-color:#ffffff;
  display: block;
  width: 1px;
  height: 1px;
}

.dhtmlxcalendar_classic textarea.dhtmlxRichSelector,
.dhtmlxcalendar_classic select.dhtmlxRichSelector {
  position: absolute;
  font-family: Arial;
  font-size: 10pt; 
  overflow: hidden;
  border-width: 0px;
  z-index:100;
  left: 0px;
  top: 0px;
}
.dhtmlxcalendar_classic select.dhtmlxRichSelector {
	border: 1px solid #555555;
}