iframe.dhxeditor_mainiframe_standard {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
td.dhxeditor_toolbar_standard {
	position: relative;
	height: 26px;
}
td.dhxeditor_toolbar_standard div.dhtmlxToolbar_standard {
	height: 26px !important;
	background-repeat: repeat-x;
}
div.dhxeditor_container_standard {
	position: relative;
	width: 100%;
	height: 100%;
}