.dhtmlxcalendar_dhx_black {
	background: url(../imgs/__dhxCal_skin_Black/cal_bg_single.png) no-repeat;
	font-family: Arial;
	z-index:99;
	height:173px;
	padding: 14px 10px 0px 8px;
	width:161px;	
}

.dhtmlxcalendar_dhx_black_mini {
	background: url(../imgs/__dhxCal_skin_Black/cal_bg_single_mini.gif) no-repeat;
	height:25px;
	padding-top: 14px;
  width:161px;;
}

.dhtmlxcalendar_dhx_black_maxi {
  background: url(../imgs/__dhxCal_skin_Black/cal_bg_single_maxi.gif) no-repeat;
  height:185px;
}

.dhtmlxcalendar_dhx_black_ifr,
.dhtmlxcalendar_dhx_black_mini_ifr,
.dhtmlxcalendar_dhx_black_maxi_ifr {
	height:173px;
	width:179px;
}

.dhtmlxcalendar_dhx_black_mini_ifr {
  height:25px;
}

.dhtmlxcalendar_dhx_black_maxi_ifr {
  height:185px;
}

.dhtmlxcalendar_dhx_black_mini .winHeader{
  -moz-user-select: none;
}

.dhtmlxcalendar_dhx_black .winHeader {
	height: 13px;
  margin: -7px 0 7px;
  -moz-user-select:none;
  width: 161px;
}

.dhtmlxcalendar_dhx_black .winTitle {
	color:#b2b2b2;
	font-size:12px;
	float:left;
	cursor: move;	
  margin-top: -2px;
  overflow: hidden;
}

.dhtmlxcalendar_dhx_black .btn_maxi,
.dhtmlxcalendar_dhx_black .btn_mini,
.dhtmlxcalendar_dhx_black .btn_close,
.dhtmlxcalendar_dhx_black .btn_today,
.dhtmlxcalendar_dhx_black .btn_clear {
  background: url(../imgs/__dhxCal_skin_Black/btns.gif) no-repeat;
	float:right;
	height:12px;
	width:12px;	
  margin-left:1px;
}

.dhtmlxcalendar_dhx_black .btn_close {
    background-position:0 0;
}
.dhtmlxcalendar_dhx_black .btn_today {
    background-position:-12px 0;
}
.dhtmlxcalendar_dhx_black .btn_clear {
    background-position:-24px 0;
}
.dhtmlxcalendar_dhx_black .btn_maxi {
  	background-position:-36px 0;
}

.dhtmlxcalendar_dhx_black .btn_mini {
  	background-position:-48px 0;
}

.dhtmlxcalendar_dhx_black .entbox{
	width:161px;
	clear:both;
}

.dhtmlxcalendar_dhx_black td {
	font-size: 11px;
	font-family: Tahoma;
	text-align:center;
}

.dhtmlxcalendar_dhx_black .dxcalmonth td{
	color: #ffd028;
	font-weight: bold;
}

.dhtmlxcalendar_dhx_black .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_dhx_black .dxcalmonth td.month_btn_right {
	background: url(../imgs/__dhxCal_skin_Black/btns.gif) no-repeat;
	background-position: -60px 0;
	width: 6px;
}

.dhtmlxcalendar_dhx_black .dxcalmonth td.month_btn_right {
	background-position: -66px 0;
}

.dhtmlxcalendar_dhx_black .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_dhx_black .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_dhx_black .dxcalmonth table {
  margin: auto;
}

.dhtmlxcalendar_dhx_black .dxcaldlabel {
	border-bottom: 1px solid #fff;
	border-top: 0px;
	padding-left:2px;
	margin-top: 4px;
}

.dhtmlxcalendar_dhx_black .dxcaldays{
  margin-top:10px;
}

.dhtmlxcalendar_dhx_black .dxcaldays_ie{
  width: 161px;
  margin-top:13px;
  height: 102px;
}

.dhtmlxcalendar_dhx_black .dxcaldlabel td,
.dhtmlxcalendar_dhx_black .dxcaldays td,
.dhtmlxcalendar_dhx_black .dxcaldays_ie td{
	color:#fff;
	font-size: 11px;
	font-family: Tahoma;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	height: 17px;
}

.dhtmlxcalendar_dhx_black .dxcaldays td,
.dhtmlxcalendar_dhx_black .dxcaldays_ie td{
	border: 0px;
	cursor: pointer;
	color: #fff;
}

.dhtmlxcalendar_dhx_black .dxcaldays_ie td{
	height:15px;
}

.dhtmlxcalendar_dhx_black td.comma{
	visibility:visible;
	padding-right: 3px;
}

.dhtmlxcalendar_dhx_black div.planeMonth,
.dhtmlxcalendar_dhx_black div.planeYear {
	height: auto;
	overflow: auto;
}

div.dhtmlxcalendar_dhx_black div.planeYear{
	display:inline;
	width:28px;
}

.dhtmlxcalendar_dhx_black td.thismonth{
	color: #fff;
	padding:1px;
}

.dhtmlxcalendar_dhx_black td.othermonth{
	visibility: visible;
	color: #fedb2f;
}

.dhtmlxcalendar_dhx_black td.weekend{
	color:#b1b1b1;
	padding:1px;
}

.dhtmlxcalendar_dhx_black td.insensitive{
	color:#333;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_dhx_black td.selected{
	background: url(../imgs/__dhxCal_skin_Black/cell_select.png) center center no-repeat;
	color:white !important;
}

.dhtmlxcalendar_dhx_black td.current{
	font-weight:bold  !important;
	color:#fff;
}

.dhtmlxcalendar_dhx_black td.hover{
	border:1px solid #b5b5b5;
	padding:0px;
}

.dhtmlxcalendar_dhx_black td.holiday{ 
	font-weight:bold;
	color:#FF00D4;
}



/* begin: dhtmlxDblCalendarObject */
.dhtmlxdblcalendar_dhx_black {
	background: url(_dhx_black/cal_bg_double.png) no-repeat;
	padding: 0px;
}
.dhtmlxdblcalendar_dhx_black .dhtmlxcalendar {
	background-image: url(../imgs/blank.gif);
}
/* end: dhtmlxDblCalendarObject */

/* begin: dhtmlxRichSelector */
.dhtmlxcalendar_dhx_black div.dhtmlxRichSelector {
	position: absolute;
	background-color:#ffffff;
	display: block;
}
.dhtmlxcalendar_dhx_black textarea.dhtmlxRichSelector,
.dhtmlxcalendar_dhx_black select.dhtmlxRichSelector {
	font-family: verdana;
	position: absolute;
	font-size: 9px;
	overflow: hidden;
	border-width: 0px;
	z-index:100;
}
.dhtmlxcalendar_dhx_black select.dhtmlxRichSelector {
	border: 1px solid #555555;
}
/* end: dhtmlxRichSelector */