.dhtmlxcalendar_vista {
	background: url(../imgs/__dhxCal_skin_Vista/cal_bg_single.png) no-repeat;
	border: 0px solid green;
	font-family: Arial;
	z-index:99;
	height:163px;
	width:163px;
	padding:16px;
}


.dhtmlxcalendar_vista_mini {
  background: url(../imgs/__dhxCal_skin_Vista/cal_bg_single_mini.gif) no-repeat;
  height:25px;
  padding-top: 16px;
  width:163px;
}

.dhtmlxcalendar_vista_maxi {
  height:163px;
}

.dhtmlxcalendar_vista_ifr,
.dhtmlxcalendar_vista_mini_ifr,
.dhtmlxcalendar_vista_maxi_ifr {
  height:195px;
  width:195px;
}

.dhtmlxcalendar_vista_mini_ifr {
  height:34px;
}

.dhtmlxcalendar_vista_mini .winHeader{
  -moz-user-select: none;
}

.dhtmlxcalendar_vista .winHeader {
  height: 13px;
  margin-top: -5px;
  margin-bottom: 3px;
  width: 168px;
  -moz-user-select:none;
}

.dhtmlxcalendar_vista .winTitle {
  color:#018ad1;
  font-size:12px;
  float:left;
  cursor: move;  
  width: 100px;
  margin-top: -1px;
  overflow: hidden;
}

.dhtmlxcalendar_vista .btn_maxi,
.dhtmlxcalendar_vista .btn_mini,
.dhtmlxcalendar_vista .btn_close,
.dhtmlxcalendar_vista .btn_today,
.dhtmlxcalendar_vista .btn_clear {   
  background: url(../imgs/__dhxCal_skin_Vista/btns.gif) no-repeat;
  float:right;
  height:12px;
  width:12px;  
  margin-left:1px;
}

.dhtmlxcalendar_vista .btn_mini {
  background-position: -48px 0;
}

.dhtmlxcalendar_vista .btn_maxi {
  background-position: -36px 0;
}

.dhtmlxcalendar_vista .btn_close {
  background-position: 0 0;
}

.dhtmlxcalendar_vista .btn_today {
  background-position: -12px 0;
}

.dhtmlxcalendar_vista .btn_clear {
  background-position: -24px 0;
}

.dhtmlxcalendar_vista .entbox{
	height:163px;
	width:163px;
}

.dhtmlxcalendar_vista td {
	font-size: 10px;
	font-family: Tahoma;
	text-align:center;
}

.dhtmlxcalendar_vista .dxcalmonth{
	color:#018ad1;
}

.dhtmlxcalendar_vista .dxcalmonth td{
	font-size: 12px;
	font-weight:bold;		
}

.dhtmlxcalendar_vista .dxcalmonth .planeYear{
	margin-left:4px;
}


.dhtmlxcalendar_vista .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_vista .dxcalmonth td.month_btn_right {
  background: url(../imgs/__dhxCal_skin_Vista/btns.gif) no-repeat;
	background-position: -60px 0;
	width: 4px;
}
.dhtmlxcalendar_vista .dxcalmonth td.month_btn_right {
	background-position: -64px 0;
}

.dhtmlxcalendar_vista .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_vista .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_vista .dxcalmonth table {
  margin: auto;
}

.dhtmlxcalendar_vista .dxcaldlabel {
	border-bottom: 1px solid #7e7e7e;
	color:#7e7e7e;
  	margin-top: 5px;	
}
.dhtmlxcalendar_vista .dxcaldlabel td,
.dhtmlxcalendar_vista .dxcaldays td,
.dhtmlxcalendar_vista .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	font-weight:normal;	
	text-align: center;
	vertical-align: middle;
	width: 24px;
	height: 21px;
	color: #7e7e7e;
}

.dhtmlxcalendar_vista .dxcaldlabel{
	border-top: 0px;
}

.dhtmlxcalendar_vista .dxcaldlabel td{
	color: black;
}

.dhtmlxcalendar_vista .dxcaldays td,
.dhtmlxcalendar_vista .dxcaldays_ie td{
	border: 0px;
	text-align: center;
	cursor: pointer;
  height:19px;
}
.dhtmlxcalendar_vista .dxcaldays_ie td{
	height:16px;
}
.dhtmlxcalendar_vista td.comma{
	visibility:visible;
}
.dhtmlxcalendar_vista div.planeMonth,
.dhtmlxcalendar_vista div.planeYear {
	height: auto;
	overflow: auto;
}
div.dhtmlxcalendar_vista div.planeYear{
	display:inline;
	width:auto;
}

/* begin: days colors */
.dhtmlxcalendar_vista td.thismonth{
	color:black;
	padding:1px;
	width: 24px;
}

.dhtmlxcalendar_vista td.othermonth{
	visibility: visible;
}

.dhtmlxcalendar_vista td.weekend{
	color:black;
	padding:1px;
}

.dhtmlxcalendar_vista td.insensitive{
	color:#b5b5b5;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_vista td.selected{
	background: url(../imgs/__dhxCal_skin_Vista/cell_select.png) center center no-repeat;
	color:black !important;
}


.dhtmlxcalendar_vista td.current{
	color:black;
	font-weight:bold  !important;
}

.dhtmlxcalendar_vista td.hover{
	background: url(../imgs/__dhxCal_skin_Vista/cell_hover.png) center center no-repeat;
	color: #000000;
}

.dhtmlxcalendar_vista td.holiday{ 
	font-weight:bold;
	text-decoration:underline;
	color:#000;
}

/* begin: dhtmlxRichSelector */
 .dhtmlxcalendar_vista div.dhtmlxRichSelector {
  position: relative;
  background-color:#ffffff;
  display: block;
  width: 1px;
  height: 1px;
}

.dhtmlxcalendar_vista textarea.dhtmlxRichSelector,
.dhtmlxcalendar_vista select.dhtmlxRichSelector {
  position: absolute;
  font-family: Arial;
  font-size: 10pt;
  overflow: hidden;
  border-width: 0px;
  z-index:100;
  left: 0px;
  top: 0px;
}

.dhtmlxcalendar_vista select.dhtmlxRichSelector {
	border: 1px solid #7b9ebd;
}
/* end: dhtmlxRichSelector */