.dhtmlxcalendar_dhx_blue{
  background: url(../imgs/__dhxCal_skin_Blue/cal_bg_single.gif) no-repeat;
  font-family: Arial;
  z-index:99;
  height:173px;
  padding: 14px 10px 0px 8px;
  width:161px;  
}

.dhtmlxcalendar_dhx_blue_mini{
  background: url(../imgs/__dhxCal_skin_Blue/cal_bg_single_mini.gif) no-repeat;
  height:25px;
  padding-top: 14px;
  width:161px;;
}

.dhtmlxcalendar_dhx_blue_maxi{
  background: url(../imgs/__dhxCal_skin_Blue/cal_bg_single_maxi.gif) no-repeat;
  height:185px;
}

.dhtmlxcalendar_dhx_blue_ifr,
.dhtmlxcalendar_dhx_blue_mini_ifr,
.dhtmlxcalendar_dhx_blue_maxi_ifr {
  height:173px;
  width:179px;
}

.dhtmlxcalendar_dhx_blue_mini_ifr {
  height:25px;
}

.dhtmlxcalendar_dhx_blue_maxi_ifr {
  height:185px;
}

.dhtmlxcalendar_dhx_blue_mini .winHeader{
  -moz-user-select:none;
}

.dhtmlxcalendar_dhx_blue .winHeader {
  height: 13px;
  margin: -7px 0 7px;
  width: 161px;
  -moz-user-select:none;
}

.dhtmlxcalendar_dhx_blue .winTitle {
  color: #01699E;
  font-size:12px;
  float:left;
  cursor: move;  
  width: 105px;
  margin-top: -2px;
}

.dhtmlxcalendar_dhx_blue .btn_maxi,
.dhtmlxcalendar_dhx_blue .btn_mini,
.dhtmlxcalendar_dhx_blue .btn_close,
.dhtmlxcalendar_dhx_blue .btn_today,
.dhtmlxcalendar_dhx_blue .btn_clear {
  background: url(../imgs/__dhxCal_skin_Blue/btns.gif) no-repeat;
  float:right;
  height:12px;
  width:12px;  
  margin-left: 1px;
}

.dhtmlxcalendar_dhx_blue .btn_mini {
    background-position: -48px 0;
}

.dhtmlxcalendar_dhx_blue .btn_maxi {
    background-position: -36px 0;
}

.dhtmlxcalendar_dhx_blue .btn_close {
    background-position: 0 0;
}

.dhtmlxcalendar_dhx_blue .btn_today {
    background-position: -12px 0;

}

.dhtmlxcalendar_dhx_blue .btn_clear {
    background-position: -24px 0;
}

.dhtmlxcalendar_dhx_blue .entbox{
	width:161px;
	clear:both;
}

.dhtmlxcalendar_dhx_blue td {
	font-size: 11px;
	font-family: Tahoma;
	text-align:center;
}

.dhtmlxcalendar_dhx_blue .dxcalmonth td{
	color: #01699e;
	font-weight: bold;
}

.dhtmlxcalendar_dhx_blue .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_dhx_blue .dxcalmonth td.month_btn_right {
	background: url(../imgs/__dhxCal_skin_Blue/btns.gif) no-repeat;
	background-position: -60px;
	width: 6px;
}

.dhtmlxcalendar_dhx_blue .dxcalmonth td.month_btn_right {
	background-position: -66px;
}

.dhtmlxcalendar_dhx_blue .dxcalmonth td.month_btn_left span,
.dhtmlxcalendar_dhx_blue .dxcalmonth td.month_btn_right span{
	visibility: hidden;
}

.dhtmlxcalendar_dhx_blue .dxcalmonth table {
  margin: auto;
}

.dhtmlxcalendar_dhx_blue .dxcaldlabel {
	border-bottom: 1px solid #fff;
	border-top: 0px;
	padding-left:2px;
	margin-top: 4px;
}

.dhtmlxcalendar_dhx_blue .dxcaldays{
  margin-top:10px;
  height: 114px;
}

.dhtmlxcalendar_dhx_blue .dxcaldays_ie{
  width: 161px;
  margin-top:13px; 
  height: 102px;
}

.dhtmlxcalendar_dhx_blue .dxcaldlabel td {
	color:#5e6366;
}

.dhtmlxcalendar_dhx_blue .dxcaldlabel td,
.dhtmlxcalendar_dhx_blue .dxcaldays td,
.dhtmlxcalendar_dhx_blue .dxcaldays_ie td{
	font-size: 11px;
	font-family: Tahoma;
	text-align: center;
	vertical-align: middle;
	width: 20px;
}

.dhtmlxcalendar_dhx_blue .dxcaldays td,
.dhtmlxcalendar_dhx_blue .dxcaldays_ie td{
	border: 0px;
	cursor: pointer;
	color: #fff;
}

.dhtmlxcalendar_dhx_blue .dxcaldays_ie td{
  height: 16px;
}

.dhtmlxcalendar_dhx_blue td.comma{
	visibility:visible;
	padding-right: 3px;
}

.dhtmlxcalendar_dhx_blue div.planeMonth,
.dhtmlxcalendar_dhx_blue div.planeYear {
	height: auto;
	overflow: auto;
}

div.dhtmlxcalendar_dhx_blue div.planeYear{
	display:inline;
	width:28px;
}

.dhtmlxcalendar_dhx_blue td.thismonth{
	color: #919294;
	padding:1px;
}

.dhtmlxcalendar_dhx_blue td.othermonth{
	visibility: visible;
	color: #73aabe;
}

.dhtmlxcalendar_dhx_blue td.weekend{
	color:#036497;
	padding:1px;
}

.dhtmlxcalendar_dhx_blue td.insensitive{
	color:#d0d0d0;
	cursor: default;
	padding:1px;
}

.dhtmlxcalendar_dhx_blue td.selected{
	background: #04648c;
	color:white !important;
	font-weight: bold;
}

.dhtmlxcalendar_dhx_blue td.current{
	font-weight:bold  !important;
	color:#919294;
}

.dhtmlxcalendar_dhx_blue td.hover{
	border:1px solid #b5b5b5;
	padding:0px;
}

.dhtmlxcalendar_dhx_blue td.holiday{ 
	font-weight:bold;
	color:#ed3a64;
}

/* begin: dhtmlxDblCalendarObject */
.dhtmlxdblcalendar_dhx_blue {
	background: url(_dhx_blue/cal_bg_double.png) no-repeat;
	padding: 0px;
}
.dhtmlxdblcalendar_dhx_blue .dhtmlxcalendar {
	background-image: url(../imgs/blank.gif);
}
/* end: dhtmlxDblCalendarObject */

/* begin: dhtmlxRichSelector */
.dhtmlxcalendar_dhx_blue div.dhtmlxRichSelector {
	position: absolute;
	background-color:#ffffff;
	display: block;
}
.dhtmlxcalendar_dhx_blue textarea.dhtmlxRichSelector,
.dhtmlxcalendar_dhx_blue select.dhtmlxRichSelector {
	font-family: verdana;
	position: absolute;
	font-size: 9px;
	overflow: hidden;
	border-width: 0px;
	z-index:100;
}
.dhtmlxcalendar_dhx_blue select.dhtmlxRichSelector {
	border: 1px solid #555555;
}
/* end: dhtmlxRichSelector */