<div class="os-modal-header">
  <div ng-switch on="!dependentEntities || dependentEntities.length == 0">
    <span ng-switch-when="true"> {{'delete_entity.title' | translate: {entityName: entityProps.name} }}</span>
    <span class="text-danger" ng-switch-default> {{'delete_entity.dependents_title' | translate: {entityName: entityProps.name} }}</span>
  </div>
</div>
<div class="os-modal-body">
  <div ng-switch on="!dependentEntities || dependentEntities.length == 0">
    <div ng-switch-when="true">
      {{ 'delete_entity.confirm_delete' | translate:{entityName: entityProps.name, entityType: entityProps.type} }}
    </div>
    <div ng-switch-default>
      <h5>{{'delete_entity.dependents_details' | translate:{entityName: entityProps.name, entityType: entityProps.type} }}</h5>
      <div class="os-section">
        <div class="os-table os-table-muted-hdr os-border">
          <div class="os-table-head">
            <div class="row">
              <div class="col col-xs-6" translate="delete_entity.object_name">Object Name</div>
              <div class="col col-xs-6" translate="delete_entity.count">Count</div>
            </div>
          </div>
          <div class="os-table-body">
            <div class="row" ng-repeat="dependentEntity in dependentEntities">
              <div class="col col-xs-6">{{dependentEntity.name}}</div>
              <div class="col col-xs-6">{{dependentEntity.count}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="os-modal-footer">
  <div ng-switch on="!dependentEntities || dependentEntities.length == 0">
    <div ng-switch-when="true">
      <button class="btn os-btn-text" ng-click="cancel()" translate="common.buttons.cancel">Cancel</button>
      <button class="btn btn-danger" ng-click="delete()" translate="common.yes">Yes</button>
    </div>
    <div ng-switch-default>
      <button class="btn btn-primary" ng-click="cancel()" translate="common.buttons.ok">Ok</button>
    </div>
  </div>
</div>

