<div class="os-modal-header">
  <span ng-if="!entityDependencyStat">{{'entity.delete_title' | translate: {name: entityProps.name} }}</span>
  <span ng-if="entityDependencyStat" class="text-danger">{{'entity.dependency_title' | translate: {name: entityProps.name} }}</span>
</div>
<div class="os-modal-body">
  <div ng-if="!entityDependencyStat">
    {{ 'entity.confirm_delete' | translate:{name: entityProps.name} }}
  </div>

  <div ng-if="entityDependencyStat">
    <h5>{{'entity.dependency_details' | translate: {name: entityProps.name} }}</h5>
    <div class="os-section">
      <div class="os-table os-table-muted-hdr os-border">
        <div class="os-table-head">
          <div class="row">
            <div class="col col-xs-6">Object Name</div>
            <div class="col col-xs-6">Count</div>
          </div>
        </div>
        <div class="os-table-body">
          <div class="row" ng-repeat="stat in entityDependencyStat">
            <div class="col col-xs-6">{{stat.entityName}}(s)</div>
            <div class="col col-xs-6">{{stat.count}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="os-modal-footer">
  <button class="btn os-btn-text" ng-click="cancel()" ng-if="!entityDependencyStat" translate="common.buttons.cancel">Cancel</button>
  <button class="btn btn-danger" ng-click="delete()" ng-if="!entityDependencyStat" translate="common.yes">Yes</button>
  <button class="btn btn-primary" ng-click="cancel()" ng-if="entityDependencyStat" translate="common.buttons.ok">Ok</button>
</div>

