<div class="os-modal-header">
  <span ng-if="!siteDependencies">{{'site.delete_site' | translate: {name: site.name} }}</span>
  <span ng-if="siteDependencies" class="text-danger">{{'site.dependency_title' | translate: {name: site.name} }}</span>
</div>
<div class="os-modal-body">
  <div ng-if="!siteDependencies">
    {{ 'site.confirm_delete' | translate: {name: site.name} }}
  </div>

  <div ng-if="siteDependencies">
    <h5>{{'site.dependency_details' | translate: {name: site.name} }}</h5>
    <div class="os-section">
      <h3 class="os-sub-section-title" translate="container.list">Storage Containers</h3>
      <div class="os-table os-table-muted-hdr os-border">
        <div class="os-table-head">
          <div class="row">
            <div class="col col-xs-6" translate="container.name">Name</div>
            <div class="col col-xs-6" translate="container.dimension">Dimension</div>
          </div>
        </div>
        <div class="os-table-body">
          <div class="row" ng-repeat="container in siteDependencies.storageContainers">
            <div class="col col-xs-6">{{container.name}}</div>
            <div class="col col-xs-6">{{container.dimensionOneCapacity}} x {{container.dimensionTwoCapacity}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="os-modal-footer">
  <button class="btn os-btn-text" ng-click="cancel()" ng-if="!siteDependencies" translate="common.buttons.cancel">Cancel</button>
  <button class="btn btn-danger" ng-click="delete()" ng-if="!siteDependencies" translate="common.yes">Yes</button>
  <button class="btn btn-primary" ng-click="cancel()" ng-if="siteDependencies" translate="common.buttons.ok">Ok</button>
</div>

