<div>
  <div os-page-header>
    <h3>
      <span translate="site.list">Sites</span>
    </h3>

    <button class="os-round-btn" title="{{'site.tooltip.create_site' | translate}}" ui-sref="site-addedit({siteId: ''})">
      <span class="fa fa-plus"></span>
    </button>
    <div class="os-more-options">
      <button os-right-drawer-toggle class="os-search-button" title="{{'site.tooltip.search' | translate}}">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </div>

  <div class="os-cards">
    <div class="os-card" ng-repeat="site in siteList" ng-click="showSiteOverview(site)">
      <h4>
        <a title="{{'site.tooltip.view_details' | translate}}" ui-sref="site-detail.overview({siteId: site.id})"> {{site.name}} </a>
      </h4>
      <h5 title="{{'site.type' | translate}}">{{site.type}}</h5>
      <p title="{{'site.code' | translate}}">{{site.code || 'N/A'}}</p>
      <div class="stats">
        <div class="stat col-xs-6" title="{{'site.tooltip.cp_count' | translate}}">
          <span class="fa fa-calendar"></span>
          <span>{{site.cpCount || 0 | number: 0}}</span>
        </div>
      </div>
    </div>
  </div>

  <div os-right-drawer>
    <div class="os-head">
      <h3 class="os-title" translate="site.filter.filters">Site Filter</h3>
    </div>

    <div class="os-body">
      <div class="form-group">
        <label class="control-label" translate="site.name">Name</label>
        <input os-md-input type="text" ng-model="siteFilterOpts.name"
          ng-model-options="{debounce: 500}" ng-change="filter(siteFilterOpts)"
          class="form-control" placeholder="{{'site.filter.name' | translate}}">
      </div>
    </div>
  </div>
</div>
