<div>
  <div class="os-page-hdr">
     <h3 translate="site.list">Sites</h3>
     <a class="os-btn-icon" title="{{'site.tooltip.add' | translate}}" ui-sref="site-new">
       <span class="glyphicon glyphicon-plus"></span>
     </a>
  </div>

  <div class="os-cards">
    <div class="os-card" ng-repeat="site in siteList" ng-click="showSiteOverview(site)">
      <h4>
        <a title="{{'site.tooltip.viewDetails' | translate}}" ui-sref="site-detail.overview({siteId: site.id})"> {{site.name}} </a>
      </h4>
      <h5 title="{{'site.type' | translate}}">{{site.type}}</h5>
      <p title="{{'site.code' | translate}}">{{site.code || 'N/A'}}</p>
      <div class="stats">
        <div class="stat col-xs-6" title="{{'site.tooltip.cp_count' | translate}}">
          <span class="os-lavatar os-lavatar-sm">C</span>
          <span>{{site.cpCount || 0 | number: 0}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
