<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:separate">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;line-height:20px">
          <tbody>
            <tr>
              <td style="border-collapse:collapse;padding:0px;padding-bottom:10px">
                <p style="margin:10px 0 0 0">
                  Hello $user.firstName $user.lastName,
                  <br><br>
                  #if( $sr.collectionProtocol )  
                    #set( $cp = $sr.collectionProtocol.shortTitle )
                  #else
                    #set( $cp = "All current and future")
                  #end
                  
                  #if( $sr.site )
                    #set( $site = $sr.site.name)
                  #else
                    #set( $site = "All sites")
                  #end
                  
                  Your <b>$sr.role.name</b> role on <b>$cp</b> collection protocol(s) for site(s) <b>$site</b> has been removed.
                  <br><br>
                  Kindly contact administrator in case of any queries.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="height:5px;line-height:5px;">&nbsp;</td>
    </tr>
    <tr>
      <td>
        #parse( $footer )
      </td>
    <tr>
  </tbody>
</table>
