<div>
  <div os-page-header>
    <h3>
      <span translate="rde.collect_visits">
        Collect Visit Details
      </span>
    </h3>
    <div class="os-btns right">
      <button class="primary" ng-click="saveSession()">
        <span translate="rde.save_session">Save Session</span>
      </button>
    </div>
  </div>

  <div class="container">
    <div class="col-xs-12">
      <form name="visitsForm" os-form-validator="visitsForm" novalidate>
        <table class="os-table os-table-fixed bulk-edit">
          <thead class="os-table-head">
            <tr class="row">
              <th class="col os-col-20">
                <span translate="rde.cp">Collection Protocol</span>
              </th>
              <th class="col os-col-15">
                <span translate="rde.site">Site</span>
              </th>
              <th class="col os-col-15">
                <span translate="rde.mrn">MRN</span>
              </th>
              <th class="col os-col-15">
                <span translate="rde.ppid">Protocol Participant ID</span>
              </th>
              <th class="col os-col-15">
                <span translate="rde.visit_date">Date of Receipt</span>
              </th>
              <th class="col os-col-20">
                <span translate="rde.event">Event</span>
              </th>
            </tr>
          </thead>
          <tbody class="os-table-body" ng-repeat="participant in input.participants" ng-form="vform">
            <tr class="row">
              <td class="col os-col-20">
                <span>{{participant.cpShortTitle}}</span>
              </td>
              <td class="col os-col-15">
                <span>{{participant.pmi.siteName | osNoValue}}</span>
              </td>
              <td class="col os-col-15">
                <span>{{participant.pmi.mrn | osNoValue}}</span>
              </td>
              <td class="col os-col-15">
                <span>{{participant.ppid | osNoValue}}</span>
              </td>
              <td class="col os-col-15">
                <span>{{participant.regDate | date: global.dateFmt}}</span>
              </td>
              <td class="col os-col-20" style="overflow: visible;">
                <os-select name="eventLabel" os-md-input ng-model="participant.eventLabel" list="participant.events" 
                  select-prop="eventLabel" display-prop="eventLabel" ng-click="loadCpEvents(participant)" required>
                </os-select>
                <div os-field-error field-name="vform.eventLabel"></div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="os-divider"></div>

        <div>
          <button class="btn btn-primary" ng-click="registerVisits()">
            <span translate="rde.collect_specimens">Proceed to Collect Specimens</span>
          </button>
          <button class="btn os-btn-text" >
            <span translate="common.buttons.back">Back</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
