<div>
  <div os-page-header>
    <h3>Collect Visits</h3>
  </div>

  <div class="container">
    <div class="col-xs-8">
      <form name="visitsForm" os-form-validator="visitsForm" novalidate>
        <table class="os-table os-table-fixed bulk-edit">
          <thead class="os-table-head">
            <tr class="row">
              <th class="col os-col-45">
                <span>Clinical Barcode</span>
              </th>
              <th class="col os-col-45">
                <span>Date of Receipt</span>
              </th>
              <th class="col os-col-10">
                <span>&nbsp;</span>
              </th>
            </tr>
          </thead>
          <tbody class="os-table-body" os-unique-items>
            <tr class="row" ng-repeat="visit in input.visits" ng-form="vform">
              <td class="col os-col-45">
                <input os-md-input class="form-control" type="text"
                  name="barcode" ng-model="visit.barcode" required os-unique-item
                  ng-model-options="{allowInvalid: true, updateOn: 'blur'}">
                <div os-field-error field="vform.barcode"></div>
              </td>
              <td class="col os-col-45">
                <os-date-picker md-type="true" name="visitDate" date="visit.visitDate"
                  required placeholder="">
                </os-date-picker>
                <div os-field-error field="vform.visitDate"></div>
              </td>
              <td class="col os-col-10">
                <button class="btn btn-xs btn-default" ng-click="removeVisit(visit)">
                  <span class="fa fa-remove"></span>
                </button>
              </td>
            </tr>
            <tr class="row">
              <td class="col" colspan="3">
                <a ng-click="addVisit()">
                  <span>Add Visit</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="os-divider"></div>

        <div>
          <button class="btn btn-primary" os-form-submit="validate()" local-form="true">
            <span>Validate</span>
          </button>
          <button class="btn os-btn-text">
            <span>Cancel</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
