<div>
  <div class="os-modal-header">
    <span>Confirm Exit</span>
    <div class="os-close" ng-click="close(true)">&times;</div>
  </div>
  <div class="os-modal-body">
    <div>
      <span>Would you like to continue to add more specimens to new container(s)?</span>
    </div>
  </div>
  <div class="os-modal-footer">
    <button class="btn btn-danger" ng-click="close(false)">
      <span>No</span>
    </button>
    <button class="btn btn-primary" ng-click="close(true)">
      <span>Yes</span>
    </button>
  </div>
</div>
