<div>
  <div os-page-header>
    <h3>
      <span translate="rde.sessions_list">
        Specimen Collection Sessions
      </span>
    </h3>
    <div class="os-btns right">
      <button class="primary" ng-click="newSession()">
        <span translate="rde.new_session">New Session</span>
      </button>
    </div>
  </div>
  <div class="container">
    <table class="os-table os-table-hover">
      <thead class="os-table-head">
        <tr class="row">
          <th class="col">
            <span translate="rde.session_time">Date and Time</span>
          </th>
          <th class="col">
            <span translate="rde.session_workflow">Workflow</span>
          </th>
          <th class="col">
            <span translate="rde.session_step">Step</span>
          </th>
          <th class="col">
            <span>&nbsp;</span>
          </th>
        </tr>
      </thead>
      <tbody class="os-table-body">
        <tr class="row" ng-repeat="session in sessions" os-row-click="restoreSession(session)">
          <td class="col">
            <span>{{session.createdOn | date: global.dateTimeFmt}}</span>
          </td>
          <td class="col">
            <span>{{'rde.workflows.' + session.data.workflow | translate}}</span>
          </td>
          <td class="col">
            <span>{{'rde.steps.' + session.data.step | translate}}</span>
          </td>
          <td class="col os-click-esc">
            <button class="btn btn-xs btn-default" ng-click="deleteSession(session)">
              <span class="fa fa-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

