<div>
  <div os-page-header>
    <h3>
      <span translate="rde.visit_details">
        Visit Details
      </span>
    </h3>

    <div class="os-btns right">
      <button class="primary" ng-click="saveSession()">
        <span translate="rde.save_session">Save Session</span>
      </button>
    </div>
  </div>

  <div class="container">
    <div class="col-xs-12">
      <form name="visitsForm" os-form-validator="visitsForm" novalidate>
        <table class="os-table os-table-fixed bulk-edit">
          <thead class="os-table-head">
            <tr class="row">
              <th class="col os-col-15">
                <span translate="rde.visit_name">Visit Name</span>
              </th>
              <th class="col" style="width: {{input.columnWidth}}%" ng-repeat="header in input.headers">
                <span>{{header.caption}}</span>
              </th>
            </tr>
          </thead>
          <tbody class="os-table-body" os-unique-items>
            <tr class="row" ng-repeat="visit in input.visits" ng-form="vform">
              <td class="col os-col-15">
                <input os-md-input class="form-control" type="text" 
                  name="barcode" ng-model="visit.barcode" required os-unique-item
                  ng-model-options="{allowInvalid: true}">
                <div os-field-error field="vform.barcode"></div>
              </td>
              <td class="col" style="width: {{input.columnWidth}}%" ng-repeat="header in input.headers"
                ng-class="{'error': !!visit.detail[header.token].errorCode}">
                <div style="position: relative;">
                  <span>{{visit.detail[header.token].displayValue}} ({{visit.detail[header.token].code}})</span>
                  <div style="position: absolute; top: 0px; right: 0px;" ng-if="$last">
                    <button class="btn btn-default btn-xs" ng-click="removeVisit(visit)">
                      <span class="fa fa-remove"></span>
                    </button>
                  </div>
                </div>
                <div ng-if="!!visit.detail[header.token].errorCode">
                  <span>{{('rde.errors.' + visit.detail[header.token].errorCode) | translate}}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div>
          <span ng-switch on="!input.error && !visitsForm.$dirty">
            <button class="btn btn-primary" os-form-submit="addOrUpdateVisits()" ng-switch-when="true">
              <span translate="rde.collect_specimens">Proceed to Collect Specimens</span>
            </button>
            <button class="btn btn-primary" os-form-submit="validate(visitsForm)" ng-switch-default>
              <span translate="rde.revalidate_visit_names">Re-validate</span>
            </button>
          </span>
          <button class="btn os-btn-text" ui-sref="rde-collect-visit-names({sessionId: ctx.sessionId})">
            <span translate="common.buttons.back">Back</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
