<style>
  .os-table-body .row .col.error {
    background: #d9534f;
    color: #fff;
  }
</style>

<div>
  <div os-page-header>
    <h3>Visit Details</h3>
  </div>

  <div class="container">
    <div class="col-xs-12">
      <form name="visitsForm" os-form-validator="visitsForm" novalidate>
        <table class="os-table os-table-fixed bulk-edit">
          <thead class="os-table-head">
            <tr class="row">
              <th class="col os-col-15">
                <span>Clinical Barcode</span>
              </th>
              <th class="col" style="width: {{ctx.visitBcHeaderWidth}}%" ng-repeat="header in ctx.visitBcHeaders">
                <span>{{header.caption}}</span>
              </th>
            </tr>
          </thead>
          <tbody class="os-table-body" os-unique-items>
            <tr class="row" ng-repeat="visit in visits" ng-form="vform">
              <td class="col os-col-15">
                <input os-md-input class="form-control" type="text" 
                  name="barcode" ng-model="visit.barcode" required os-unique-item
                  ng-model-options="{allowInvalid: true}">
                <div os-field-error field="vform.barcode"></div>
              </td>
              <td class="col" style="width: {{ctx.visitBcHeaderWidth}}%" ng-repeat="header in ctx.visitBcHeaders"
                ng-class="{'error': !!visit.detail[header.token].errorCode}">
                <div style="position: relative;">
                  <span>{{visit.detail[header.token].displayValue}} ({{visit.detail[header.token].code}})</span>
                  <div style="position: absolute; top: 0px; right: 0px;" ng-if="$last">
                    <button class="btn btn-default btn-xs" ng-click="removeVisit(visit)">
                      <span class="fa fa-remove"></span>
                    </button>
                  </div>
                </div>
                <div ng-if="!!visit.detail[header.token].errorCode">
                  <span>{{('rde.errors.' + visit.detail[header.token].errorCode) | translate}}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div>
          <span ng-switch on="!ctx.error && !visitsForm.$dirty">
            <button class="btn btn-primary" os-form-submit="addOrUpdateVisits()" ng-switch-when="true">
              <span>Proceed to Collect Specimens</span>
            </button>
            <button class="btn btn-primary" os-form-submit="validateVisitBarcodes(visitsForm)" ng-switch-default>
              <span>Re-validate</span>
            </button>
          </span>
          <button class="btn os-btn-text" ng-click="collectVisitBcs()">
            <span>Back</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
