<rows>
	#foreach( $gridData in $gridPopulateObjectList )
	<row>
		<cell><![CDATA[${gridData.aliqoutLabel}]]></cell>
		<cell><![CDATA[${gridData.barCode}]]></cell>	
		<cell><![CDATA[${gridData.quantity}]]></cell>
		<cell><![CDATA[${gridData.storagecontainer}]]></cell>	
		<cell><![CDATA[${gridData.pos1}]]></cell>
		<cell><![CDATA[${gridData.pos2}]]></cell>
		<cell></cell>
		<cell><![CDATA[${gridData.aliquotId}]]></cell>
	 </row>
	#end
</rows>