<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

    	<property name="show_sql">false</property>
    	<property name="dialect">edu.wustl.catissuecore.hibernate.dialect.MySqlCustomDialect</property>
	    <property name="connection.datasource">java:/catissuecore</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
    	<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.jdbc.batch_size">0</property>
		<property name="hibernate.current_session_context_class">thread</property>

  <!--
     	<property name="show_sql">false</property>
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.cache.provider_class">net.sf.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.jdbc.batch_size">0</property>
       
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	    <property name="connection.url">jdbc:mysql://localhost:3306/catissue_12</property>
	    <property name="connection.username">root</property>
	    <property name="connection.password">root</property> -->
	    
    	<!--Consent Tracking Suite-->
		<mapping resource="edu/wustl/catissuecore/hbm/ConsentTier.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ConsentTierResponse.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ConsentTierStatus.hbm.xml"/>
		<!--Consent Tracking Suite-->

		<!-- caTIES Suite-->
    	<mapping resource="edu/wustl/catissuecore/hbm/Concept.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ConceptReferent.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ConceptReferentClassification.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/PathologyReportReviewParameter.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/QuarantineEventParameter.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ReportContent.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ReportLoaderQueue.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ReportSection.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SemanticType.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SurgicalPathologyReport.hbm.xml"/>
		<!-- caTIES Suite-->

        <!-- List of all Mapping files -->
        <mapping resource="edu/wustl/catissuecore/hbm/Address.hbm.xml"/>
		<mapping resource="edu/wustl/common/hbm/AuditEvent.hbm.xml"/>
		<mapping resource="edu/wustl/common/hbm/AuditEventDetails.hbm.xml"/>
		<mapping resource="edu/wustl/common/hbm/AuditEventLog.hbm.xml"/>
	  	<mapping resource="edu/wustl/common/hbm/AbstractAuditEventLog.hbm.xml"/>
		<mapping resource="edu/wustl/common/hbm/LoginEvent.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Biohazard.hbm.xml"/> 
		<mapping resource="edu/wustl/catissuecore/hbm/Capacity.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/CancerResearchGroup.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/CollectionProtocolRegistration.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Department.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/DistributedItem.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ExternalIdentifier.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Institution.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Participant.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Race.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ParticipantMedicalIdentifier.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ReportedProblem.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Site.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenRequirement.hbm.xml"/>
        <mapping resource="edu/wustl/catissuecore/hbm/Specimen.hbm.xml"/>
		
		<mapping resource="edu/wustl/catissuecore/hbm/CollectionProtocolEvent.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenCollectionGroup.hbm.xml"/>
		
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenEventParameters.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/CollectionProtocol.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/DistributionProtocol.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/DistributionSpecimenRequirement.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Container.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Password.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/User.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Distribution.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenArrayContent.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ContainerType.hbm.xml"/>
		<mapping resource="edu/wustl/common/hbm/CDEImpl.hbm.xml"/>
		<mapping resource="edu/wustl/common/hbm/PermissibleValueImpl.hbm.xml"/>
		<mapping resource="edu/wustl/common/hbm/KeySequenceId.hbm.xml"/>

		<mapping resource="edu/wustl/simplequery/hbm/QueryColumnData.hbm.xml"/>
		<mapping resource="edu/wustl/simplequery/hbm/QueryTableData.hbm.xml"/>

		<mapping resource="edu/wustl/catissuecore/hbm/OrderItem.hbm.xml" />
		<mapping resource="edu/wustl/catissuecore/hbm/OrderDetails.hbm.xml" />

		<!--  mapping resource="edu/wustl/common/hbm/BaseExpression.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/Condition.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/Connector.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/Constraints.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/Expression.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/ExpressionOperand.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/IOperand.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/JoinGraph.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/ModelAssociation.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/OutputAttribute.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/Query.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/QueryEntity.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/QueryHQL.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/Term.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/ArithmeticOperand.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/CustomFormula.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/OutputTerm.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/PersistentGraph.hbm.xml" />
		<mapping resource="edu/wustl/common/hbm/Parameter.hbm.xml" / -->

		<mapping resource="edu/wustl/catissuecore/hbm/CpSyncAudit.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/AbstractPosition.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ClinicalDiagnosis.hbm.xml"/>

		<!-- Shipping Tracking Merge Himanshu-->
		<mapping resource="edu/wustl/catissuecore/hbm/shippingtracking/BaseShipment.hbm.xml"/>
		<!-- shipping tracking merge ends -->

		<!-- bulk Operations-->
		<mapping resource="edu/wustl/bulkoperator/hbm/JobDetails.hbm.xml"/>

		<mapping resource="edu/wustl/bulkoperator/hbm/MatchingJobDetails.hbm.xml"/>		
		
		<!-- caTissue-cider integration -->
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenCiderMessage.hbm.xml"/>
		
		<!-- CS Dashboard-->
		<mapping resource="edu/wustl/common/labelSQLApp/hbm/LabelSQL.hbm.xml" />
		<mapping resource="edu/wustl/common/labelSQLApp/hbm/LabelSQLAssociation.hbm.xml" />
		<mapping resource="edu/wustl/common/labelSQLApp/hbm/LabelSQL_HQL.hbm.xml" />
		
		<mapping resource="QueryTag.hbm.xml" />
		<mapping resource="QueryTagItem.hbm.xml" />
		

		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenListTagItem.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenListTag.hbm.xml"/>
		
		<!-- Scheduler -->
		<mapping resource="edu/wustl/common/scheduler/hbm/Schedule.hbm.xml" />
		<mapping resource="edu/wustl/common/scheduler/hbm/GeneratedFileDetails.hbm.xml" />

		<!--  Form Context and Record Entry -->
		<mapping resource="krishagni/catissueplus/hbm/FormContextBean.hbm.xml" />
		<mapping resource="krishagni/catissueplus/hbm/FormRecordEntryBean.hbm.xml" />
		
		<!-- mapping for new domain objects added -->
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/CollectionProtocolRegistration.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Participant.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/ParticipantMedicalIdentifier.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Specimen.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/SpecimenList.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/SpecimenCollectionGroup.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/ConsentTierResponse.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Department.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/User.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Address.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Password.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Audit.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/ExternalApplication.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/ExtAppNotificationStatus.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/CollectionProtocolStudyMapping.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/SavedQuery.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/QueryAuditLog.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/QueryFolder.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Ldap.hbm.xml" />		
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Site.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/CollectionProtocol.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/AuthDomain.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/AuthProvider.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/ExternalIdentifier.hbm.xml" />
		
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/CPSiteRole.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/UserCPRole.hbm.xml" />		
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Role.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Privilege.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Institute.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/KeyGenerator.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Biohazard.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/StorageContainer.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/DistributionProtocol.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/SpecimenPrintRule.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Equipment.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/Image.hbm.xml" />
		<mapping resource="com/krishagni/catissueplus/core/repository/hbm/PermissibleValue.hbm.xml"/>
		
		<mapping resource="com/krishagni/rbac/resources/Group.hbm.xml"/>
		<mapping resource="com/krishagni/rbac/resources/GroupRole.hbm.xml"/>
		<mapping resource="com/krishagni/rbac/resources/Operation.hbm.xml"/>
		<mapping resource="com/krishagni/rbac/resources/Permission.hbm.xml"/>
		<mapping resource="com/krishagni/rbac/resources/Role.hbm.xml"/>
		<mapping resource="com/krishagni/rbac/resources/Resource.hbm.xml"/>
		<mapping resource="com/krishagni/rbac/resources/ResourceInstanceOp.hbm.xml"/>
		<mapping resource="com/krishagni/rbac/resources/RoleAccessControl.hbm.xml"/>
		<mapping resource="com/krishagni/rbac/resources/Subject.hbm.xml"/>
		<mapping resource="com/krishagni/rbac/resources/SubjectRole.hbm.xml"/>
		
    </session-factory>

</hibernate-configuration>
