<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
 
<hibernate-configuration>
	
    <session-factory>
    	<property name="show_sql">true</property>
    	
    	
        <!-- List of all Mapping files -->
        <mapping resource="edu/wustl/catissuecore/hbm/Address.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/AuditEvent.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/AuditEventDetails.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/AuditEventLog.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Biohazard.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/CancerResearchGroup.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ClinicalReport.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/CollectionProtocolEvent.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/CollectionProtocolRegistration.hbm.x
		<mapping resource="edu/wustl/catissuecore/hbm/CVS
		<mapping resource="edu/wustl/catissuecore/hbm/Department.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/DistributedItem.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ExternalIdentifier.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Institution.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Participant.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ParticipantMedicalIdentifier.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/ReportedProblem.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Site.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/Specimen.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenCharacteristics.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenCollectionGroup.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenEventParameters.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenProtocol.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/SpecimenRequirement.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/StorageContainer.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/StorageContainerCapacity.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/StorageContainerDetails.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/StorageType.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/hbm/User.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>