<div ng-if="showFormCtxts" class="os-form-association">
  <div class="os-modal-header">
    <h4>{{form.caption}}</h4>
  </div>

  <div class="os-modal-body">
    <div class="os-form-association-empty-list" ng-if="!cpFormCtxts || cpFormCtxts.length == 0">
      <h5><i translate="form.not_used">Not used in any collection protocols</i></h5>   
    </div>
    <div class="os-form-association-list" ng-if="cpFormCtxts && cpFormCtxts.length > 0">
      <h5 translate="form.used_in">
        Used in following collection protocols
      </h5>

      <div class="os-section">
        <div class="os-table">
          <div class="os-table-head">
            <div class="row">
              <div class="col col-xs-5" translate="form.collection_protocol">Collection Protocol</div>
              <div class="col col-xs-3" translate="form.level">Level</div>
              <div class="col col-xs-3">&nbsp;</div>
              <div class="col col-xs-1">&nbsp;</div>
            </div>
          </div>
          <div class="os-table-body">
            <div class="row" ng-repeat="ctxt in cpFormCtxts">
              <div class="col col-xs-5">{{ctxt.collectionProtocol.shortTitle}}</div>
              <div class="col col-xs-3">{{ctxt.level.caption}}</div>
              <div class="col col-xs-3">
                <div class="os-tag" ng-if="ctxt.multiRecord" translate="form.multiple_records">Multiple Records</div>
              </div>
              <div class="col col-xs-1">
                <button class="btn btn-default btn-xs" ng-click="confirmRemoveCtx(ctxt, $index)" 
                  ng-if="!ctxt.sysForm">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="os-form-association-form">
      <div ng-show="!cpFormCtxt.selectedEntity.allCps" translate="form.use_in_cps">
        Use form in following collection protocols
      </div>
      <div ng-show="cpFormCtxt.selectedEntity.allCps" translate="form.spe_attached_to_all_cps">
        {{cpFormCtxt.selectedEntity.caption}} forms always attached to all collection protocols. 
      </div>
      <div class="checkbox" ng-show="!cpFormCtxt.selectedEntity.allCps && currentUser.admin">
        <label>
          <input type="checkbox" ng-checked="cpFormCtxt.allProtocols" ng-model="cpFormCtxt.allProtocols"/> 
          <span translate="form.all_cps">All Present and Future Collection Protocols</span>
        </label>
      </div>
      <os-select multiple ng-model="cpFormCtxt.selectedCps" list="cpList" display-prop="shortTitle"
        placeholder="{{'form.select_cps' | translate}}" name="cps" append-to-body="true" 
        ng-show="!cpFormCtxt.allProtocols && !cpFormCtxt.selectedEntity.allCps">
      </os-select>
      <os-select ng-model="cpFormCtxt.selectedEntity" list="extnEntities" display-prop="caption"
        placeholder="{{'form.select_level' | translate }}" append-to-body="true">
      </os-select>
      <div class="checkbox" ng-show="cpFormCtxt.selectedEntity.multipleRecs != false">
        <label>
          <input type="checkbox" ng-checked="cpFormCtxt.isMultiRecord" ng-model="cpFormCtxt.isMultiRecord"/>
          <span translate="form.multiple_records_allowed">Multiple records allowed</span>
        </label>
      </div>
    </div>
  </div>

  <div class="os-modal-footer" ng-switch on="enableAttach(cpFormCtxt)">
    <button ng-switch-when="true"  class="btn os-btn-text" ng-click="cancel()">
      <span translate="common.buttons.cancel">Cancel</span>
    </button>
    <button ng-switch-when="true"  class="btn btn-primary" ng-click="attach(cpFormCtxt)">
      <span translate="form.attach_form">Attach Form</span>
    </button>
    <button ng-switch-when="false" class="btn btn-primary" ng-click="cancel()">
      <span translate="common.buttons.done">Done</span>
    </button>
  </div>
</div>

<div ng-if="!showFormCtxts">
  <div class="os-modal-header">
    <h4>{{form.caption}}</h4>
  </div>
  
  <div class="os-modal-body">
   <span translate="form.confirm_delete_association" translate-values="removeCtxData.ctx">
     Are you sure you want to delete this form at Participant level from ALL protocols? <br/>
     Please note you will no longer be able to access data for this form
   </span>
  </div>

  <div class="os-modal-footer">
    <button class="btn os-btn-text" ng-click="cancelRemoveCtx()" translate="common.buttons.cancel">Cancel</button>
    <button class="btn btn-danger"  ng-click="removeCtx()"       translate="common.buttons.delete">Delete</button>
  </div>
</div> 

