
<div>
  <div os-page-header>
    <h3>
      <span translate="form.list">Forms</span>
    </h3>
    <div class="os-btns right">
      <button class="primary" title="{{'form.tooltip.add' | translate}}" ui-sref="form-addedit({formId: ''})">
        <span class="fa fa-plus"></span>
        <span translate="common.buttons.create">Create</span>
      </button>
      <button class="default" os-right-drawer-toggle title="{{'form.tooltip.search' | translate}}">
        <span class="fa fa-search"></span>
        <span translate="common.buttons.search">Search</span>
      </button>
    </div>
  </div>

  <div class="container">
    <table class="os-table os-table-hover">
      <thead class="os-table-head">
        <tr class="row">
          <th class="col">
            <span translate="form.name">Form Name</span>
          </th>
          <th class="col">
            <span translate="form.created_by">Created By</span>
          </th>
          <th class="col">
            <span translate="form.last_updated">Last Updated</span>
          </th>
          <th class="col">
            <span translate="form.cp_count">CP Count</span>
          </th>
          <th class="col">
            <span>&nbsp;</span>
          </th>
        </tr>
      </thead>
      <tbody class="os-table-body">
        <tr class="row" ng-repeat="form in formsList | filter:searchFormName" os-row-click="openForm(form)">
          <td class="col">
            <a ui-sref="form-addedit({formId: form.formId})" title="{{'form.tooltip.edit' | translate}}">
              <span>{{form.caption}}</span>
            </a>
          </td>
          <td class="col">
            <span>{{form.createdBy | osUserDisplayName}}</span>
          </td>
          <td class="col" ng-if="form.modificationTime">
            <span>{{form.modificationTime | date:global.dateFmt}}</span>
          </td>
          <td class="col" ng-if="!form.modificationTime">
            <span>{{form.creationTime |  date:global.dateFmt}}</span>
          </td>
          <td class="col">
            <span>{{form.cpCount == -1 ? ('form.all' | translate) : form.cpCount}}</span>
          </td>
          <td class="col os-click-esc">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default" ng-click="showFormContexts(form)"
                title="{{'form.tooltip.attach_form_to_cp' | translate}}">
                <span class="fa fa-wrench"></span>
              </button>
              <button type="button" class="btn btn-default" ng-click="confirmFormDeletion(form)" 
                title="{{'form.tooltip.delete' | translate}}"> 
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
