
	.skin0{
		position:absolute;
		width:150px;
		border:1px solid black;
		background-color:menu;
		/*background-color:#def;*/
		font-family:Verdana;
		line-height:20px;
		cursor:default;
		font-size:14px;
		z-index:100;
		visibility:hidden;
	}

	.menuitems{
		padding-left:10px;
		padding-right:10px;
	}
