<div>
  <div class="os-modal-header">
    <span ng-if="!folder.id" translate="queries.new_query_folder">New Query Folder</span>
    <span ng-if="!!folder.id" translate="queries.update_query_folder">Update Query Folder</span>
    <div class="os-close" ng-click="cancel()">&times;</div>
  </div>

  <div class="os-modal-body">
    <div class="form-group">
      <label translate="queries.folder_name">Folder Name</label>
      <input type="text" ng-model="folder.name" class="form-control" 
        placeholder="{{'queries.folder_name' | translate}}">
    </div>

    <div> 
      <label translate="queries.list">Queries</label> 
    </div>
    <div class="os-folder-queries-section">
      <table class="table" ng-if="folder.queries.length > 0">
        <tbody>
          <tr ng-repeat="query in folder.queries">
            <td class="col-xs-11">{{query.title}}</td>
            <td class="col-xs-1">
              <span ng-click="removeQuery(query, $index)" class="fa fa-trash" style="cursor: pointer;"
                title="{{'queries.remove_query_from_folder' | translate}}">
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <span ng-if="folder.queries.length == 0" translate="queries.no_queries_selected">
        No queries selected. Please select at least one query.
      </span>
    </div>

    <div class="clearfix">
      <div class="pull-left os-folder-share-with-all-cb">
        <os-checkbox ng-checked="folder.sharedWithAll" ng-model="folder.sharedWithAll"></os-checkbox>
      </div>
      <div class="pull-left">
        <span translate="queries.share_folder_with_all">
          Share folder with all present and future users
        </span>
      </div>
    </div>

    <div class="os-folder-users-section" ng-if="folder.sharedWithAll != 1 && folder.sharedWithAll != true">
      <label translate="queries.share_folder_with_users">Share folder with following users</label>
      <div class="users-select-container">
        <os-users multiple ng-model="folder.sharedWith" placeholder="{{'queries.users' | translate}}"></os-users>
      </div>
    </div>
  </div>

  <div class="os-modal-footer">
    <button class="btn os-btn-text" 
      ng-click="cancel()" 
      translate="common.buttons.cancel">
      Cancel
    </button>
    <button class="btn btn-danger" ng-if="folder.id"
      ng-click="deleteFolder()"
      translate="common.buttons.delete">
      Delete
    </button>
    <button class="btn btn-primary" 
      ng-disabled="folder.queries.length == 0 || !folder.name" 
      ng-click="saveOrUpdateFolder()" 
      ng-switch on="!folder.id">
      <span ng-switch-when="true" translate="common.buttons.create">
        Create
      </span>
      <span ng-switch-default translate="common.buttons.update">
        Update
      </span>
    </button>
  </div> 
</div>
