<div>
  <div class="os-modal-header">
    <span translate="queries.define_view">Define View</span>
    <div class="os-close" ng-click="cancel()">&times;</div>
  </div>

  <div class="os-modal-body">
    <div os-wizard="defineViewWizard">
      <os-wizard-step on-finish="prepareAggregateOpts" title="{{'queries.select_fields' | translate}}">
        <div class="os-query-dv-select-fields">
          <span translate="queries.define_view_info"></span>
          <div class="form-group">
            <os-tree opts='treeOpts'></os-tree>
          </div>
          <div class="form-group">
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="wideRows" ng-change="setWideRowsMode(wideRows)"
                ng-checked="wideRowMode == 'DEEP'">
              <span translate="queries.enable_wide_rows">
                Enable Wide Rows
              </span>
            </label>
          </div>
        </div>
      </os-wizard-step>

      <os-wizard-step on-finish="preparePivotTableOpts" title="{{'queries.aggregates' | translate}}">
        <div ng-include="'aggregate-functions.html'"></div>
      </os-wizard-step>

      <!-- os-wizard-step title="Pivot Table">
        <div ng-include="'pivot-table.html'"></div>
      </os-wizard-step -->

      <div class="os-modal-footer">
        <button class="btn os-btn-text" ng-click="cancel()" translate="common.buttons.cancel">
          Cancel
        </button>
        <button class="btn os-btn-secondary" ng-if="!defineViewWizard.isFirstStep()" 
          ng-click="defineViewWizard.previous(false)" translate="common.buttons.previous">
          Previous
        </button>
        <button class="btn btn-primary" ng-if="!defineViewWizard.isLastStep()" 
          ng-click="defineViewWizard.next(false)" translate="common.buttons.next">
          Next
        </button>
        <button class="btn btn-primary" ng-click="ok()" translate="common.buttons.done">
          Done
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="aggregate-functions.html">
  <div class="os-query-dv-aggregates"> 
    <div class="row">
      <div class="col-xs-6">
        <label translate="queries.selected_fields">Selected Fields</label>
      </div>

      <div class="col-xs-6">
        <label translate="queries.agg_fns">Functions</label>
      </div> 
    </div>
               
    <div class="row">
      <div class="col-xs-6" style="height: 340px;">
        <div class="list-group">
          <a class="list-group-item os-ellipsis" 
            ng-class="{'active': currField.name == selectedField.name}"
            ng-repeat="selectedField in selectedFields"
            ng-click="showCurrField(selectedField)"
            tooltip="{{selectedField.form}}: {{selectedField.label}}" 
            tooltip-placement="bottom" tooltip-append-to-body="true">
            <span class="badge">
              {{(selectedField.aggFns | filter:{opted: true}).length}}
            </span>
            <span> 
              {{selectedField.form}}: {{selectedField.label}} 
            </span>
          </a>
        </div>
      </div>

      <div class="col-xs-6" ng-if="!currField.name">
        <span translate="queries.select_field_in_left_panel">
          Select field in list on the left side panel
        </span>
      </div>

      <div class="col-xs-6" ng-if="currField.name">
        <div class="row form-group" ng-repeat="fn in currField.aggFns">
          <div class="col-xs-3">
            <label class="checkbox-inline" style="margin-top: 7px">
              <input type="checkbox" 
                ng-model="fn.opted" 
                ng-checked="fn.opted"
                ng-change="toggleAggFn(currField, fn)"> 
              {{fn.label}}
            </label>
          </div>
          <div class="col-xs-9" ng-if="fn.opted">
            <input type="text" class="form-control" ng-model="fn.desc">
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="pivot-table.html">
  <div style="margin-top: 10px; height: 380px; overflow: auto">
    <div class="form-group">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="pivotTable" 
          ng-checked="reporting.type == 'crosstab'" ng-change="createPivotTable(pivotTable)"> 
          Create Pivot Table
      </label>
    </div>

    <div ng-if="reporting.type == 'crosstab'">
      <div class="form-group">
        <label for="group-rows-by">Row Fields</label>
        <os-select id="group-rows-by"
          placeholder="Select fields to use for grouping rows"
          list="groupRowsBy"
          on-change="onGroupRowsByChange"
          multiple ng-model="reporting.params.groupRowsBy">
        </os-select>
      </div>

      <div class="form-group">
        <label for="group-col-by">Column Field</label>
        <os-select id="group-col-by"
          placeholder="Select field to use for grouping columns"
          list="groupColBy"
          on-change="onGroupColByChange"
          ng-model="reporting.params.groupColBy">
        </os-select>
      </div>

      <div class="form-group">
        <label for="summary-value">Value Field</label>
        <os-select id="summary-value"
          placeholder="Select summary field"
          list="summaryFields"
          on-change="onSummaryFieldChange"
          multiple ng-model="reporting.params.summaryFields">
        </os-select>
      </div>

      <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="reporting.params.includeSubTotals" 
            ng-checked="reporting.params.includeSubTotals">
          Include sub-totals
        </label>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="define-view-node.html">
  <div> {{node.val}} </div>
</script>
