<div class="os-query-facets-panel">
  <h4 translate="queries.refine_results"> Refine Results </h4>
  <accordion class="facets-list">
    <accordion-group class="facet" ng-repeat="facet in resultsCtx.facets" is-open="facet.isOpen">
      <accordion-heading class="head">
        <a ng-click="toggleFacetValues(facet)">
          <span class="toggle" ng-switch on="facet.isOpen">
            <span class="fa fa-angle-down"  ng-switch-when="true"></span>
            <span class="fa fa-angle-right" ng-switch-when="false"></span>
          </span>
          <span class="name">
            {{facet.caption}}
          </span>
        </a>
        <a class="clear" ng-if="facet.selectedValues.length > 0" ng-click="clearFacetValueSelection($event, facet)">
          <span class="fa fa-times-circle"></span>
        </a>
      </accordion-heading>
      <div class="values os-scrollbar" ng-if="facet.isOpen">
        <div class="facet-range clearfix" ng-if="facet.isRange">
          <div class="col-xs-5 os-no-left-padding" ng-switch on="facet.dataType">
            <div class="os-md-input" ng-switch-when="DATE">
              <input type="text" ng-model="facet.min" placeholder="{{'queries.range_min' | translate}}"
                os-query-date-picker="{{global.queryDateFmt}}">
            </div>
            <div class="os-md-input" ng-switch-default>
              <input type="text" ng-model="facet.min" placeholder="{{'queries.range_min' | translate}}">
            </div>
          </div>
          <div class="col-xs-5 os-no-left-padding" ng-switch on="facet.dataType">
            <div class="os-md-input" ng-switch-when="DATE">
              <input type="text" ng-model="facet.max" placeholder="{{'queries.range_max' | translate}}"
                os-query-date-picker="{{global.queryDateFmt}}">
            </div>
            <div class="os-md-input" ng-switch-default>
              <input type="text" ng-model="facet.max" placeholder="{{'queries.range_max' | translate}}">
            </div>
          </div>
          <div class="col-xs-2 os-no-left-padding">
            <button class="btn btn-xs btn-success" ng-click="addRangeCond(facet)">
              <span>Go</span>
            </button>
          </div>
        </div>

        <ul>
          <li class="value" ng-repeat="value in facet.values">
            <div class="select-cb">
              <os-checkbox ng-model="value.selected" ng-change="toggleFacetValueSelection(facet, value)">
              </os-checkbox>
            </div>
            <div class="text" ng-if="facet.dataType == 'STRING'">
              <span>{{value.value}}</span>
            </div>
            <div class="text" ng-if="facet.dataType != 'STRING'">
              <span>{{value.value | osFacetRange}}</span>
            </div>
          </li>
        </ul>
      </div>
    </accordion-group>
  </accordion>
</div>
