<div> 
  <div os-page-header>
    <ul os-breadcrumbs>
      <li>
        <a ui-sref="shipment-list" translate="shipments.list">Shipments</a>
      </li>
    </ul>
    <h3>{{shipment.name}}</h3>

    <div class="os-btns right">
      <button class="primary" show-if-allowed="shipmentResource.updateOpts"
        ui-sref="shipment-receive({shipmentId: shipment.id})" ng-if="shipment.status == 'Shipped'">
        <span class="fa fa-inbox"></span>
        <span translate="shipments.buttons.receive">Receive</span>
      </button>
      <button class="primary" show-if-allowed="shipmentResource.updateOpts"
        ui-sref="shipment-addedit({shipmentId: shipment.id})" ng-if="shipment.status == 'Pending'">
        <span class="fa fa-pencil"></span>
        <span translate="common.buttons.edit">Edit</span>
      </button>
      <div dropdown os-show-if-menu-items-present class="inline">
        <button class="default dropdown-toggle">
          <span translate="common.buttons.more">More</span>
          <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a ng-click="downloadReport()" >
              <span class="fa fa-download"></span>
              <span translate="shipments.buttons.download_report">Download Report</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div os-side-menu>
    <ul>
      <li ui-sref-active="active">
        <a ui-sref="shipment-detail.overview"> 
          <i class="fa fa-eye"></i>
          <span class="os-title" translate="shipments.menu.overview">Overview</span>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="os-side-menu-page-content" ui-view></div>
</div>
