<div class="os-search">
  <div class="os-head">
    <h3 class="os-title" translate="shipments.filters">
      Filters
    </h3>
  </div>

  <div class="os-body">
    <div class="form-group">
      <input type="text" ng-model="filterOpts.name" class="form-control"
        os-md-input placeholder="{{'shipments.name' | translate}}">
    </div>

    <div class="form-group">
      <div os-md-input ng-model="filterOpts.recvInstitute" placeholder="{{'shipments.receiving_institute' | translate}}">
        <os-select ng-model="filterOpts.recvInstitute" class="form-control"
          list="instituteNames" os-md-input placeholder="{{'shipments.receiving_institute' | translate}}"
          on-select="onInstituteSelect()">
        </os-select>
      </div>
    </div>
    
    <div class="form-group">
      <os-sites md-type="true" ng-model="filterOpts.recvSite" placeholder="{{'shipments.receiving_site' | translate}}"
        institute="filterOpts.recvInstitute" list-all="true">
      </os-sites>
    </div>

    <!--  will be added later with backend code
    <div class="form-group">
      <os-date-picker date="filterOpts.shippedDate" md-type="true"
        placeholder="{{'shipments.shipped_date' | translate}}">
      </os-date-picker>
    </div>
    -->

    <div class="form-group os-btns">
      <button class="default full-width" ng-click="clearFilters()">
        <span translate="common.buttons.clear_filters">Clear Filters</span>
      </button>
    </div>
  </div>
</div>
