.theam-font-color{
	color: #678F2D;
}
.theam-font-color-orange{
	color: #FF6600;
}
.td_orange_line {
	background-color : #FF6600;
	/*background-image: url(../images/uIEnhancementImages/or_dot.gif);*/
}