BODY
{font-family: verdana, tahoma, arial, sans-serif;
font-size: 10pt;
margin: 0px;
margin-left: 3px;
margin-right: 3px;
padding: 0px;}

P
{padding-top: 10px;
margin: 0px;}

H1
{font-size: 12pt;
font-weight: bold;
padding-top: 15px;
margin: 0;}

table.navbar
{font-size: 8pt;
margin: 0px;
padding: 0px; 
border: 0px; 
font-weight: bold;}

table.menu
{font-size: 8pt;
margin: 0px;
padding: 0px;
font-weight: bold;}

td.menuNormal
{/*padding: 0px;
color: white;
font-weight: bold;
vertical-align: top;
background-color: #c5c5c5;*/
font-family:arial,helvetica,verdana,sans-serif;	
font-size:0.8em;
padding:0px;
background-color:#A1A1A1; /* constant: dark gray */
color:#FFFFFF; /* constant: white */
border-top:1px solid #5C5C5C; /* constant: dark gray */
border-left:1px solid #5C5C5C; /* constant: dark gray */
border-right:1px solid #5C5C5C; /* constant: dark gray */

}

td.menuHover
{/*padding: 0px;
color: white;
font-weight: bold;
vertical-align: top;
/*remove the following line for drop-down menu with images
background-color: black;*/
	
font-family:arial,helvetica,verdana,sans-serif;
padding:0;
font-size:0.8em;
color: white;
font-weight: bold;
/*remove the following line for drop-down menu with images*/
background-color: #A1A1A1;}

div.menuNormal
{display: none;}


div.menuHover
{border: 1px black;
background-color: #C0C0C0;
display: inline;
position: absolute;}

a.menuitem:link
{text-decoration: none;
color: white;
background-color: #c5c5c5;
display: block;}

a.menuitem:visited
{text-decoration: none;
color: white;
background-color: #c5c5c5;
display: block;}

a.menuitem:hover
{text-decoration: none;
color: white;
background-color: #f1f1f1;
display: block;}

a.menuitem:active
{text-decoration: none;
color: white;
background-color: #f1f1f1;
display: block;}

.tdTitle{
font-size:0.8em;
background-color:#FEEDAB; 
color:black;
font-weight:bold;
padding-left:0.8em;
}

.tdoneColor{
font-size:0.8em;
background-color:#f1f1f1; 
color:black;
font-weight:normal;
padding-left:0.8em;

}

.tdsecondColor{
font-size:0.8em;
background-color:#c5c5c5; 
color:black;
font-weight:normal;
padding-left:0.8em;
}

.linkChange{
text-decoration: none;
color: white;
background-color: #A1A1A1;
display: block;
font-family:arial,helvetica,verdana,sans-serif;
padding:0;
font-size:0.7em;
border-bottom:1px solid #CCCCCC; /* constant: medium gray */
}

.onlyBottomBorder{ /* sets only bottom border for the table row */
   #CCCCCC; /* constant: medium gray */
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
}

.linkChangeOnMouseOver{
text-decoration: none;
color: white;
background-color: #A1A1A1;
display: block;
font-family:arial,helvetica,verdana,sans-serif;
padding:0;
font-size:0.7em;
font-weight: bold;
border-bottom:1px solid #CCCCCC; /* constant: medium gray */
}
