/*
 * http://extjs.com/license
 */

#container {
    width:600px;
    height:300px;
    border:3px solid #c3daf9;
}

.calendar {
    background-image:url(../images/uIEnhancementImages/calendar.gif) !important;
}

.blist {
    background-image: url(../images/uIEnhancementImages/list-items.gif) !important;
}

.bmenu {
    background-image: url(../images/uIEnhancementImages/menu-show.gif) !important;
}

.menu-title{
    background: #ebeadb url(../images/uIEnhancementImages/grid3-hrow.gif) repeat-x;
    border-bottom:1px solid #99bbe8;
    color:#15428b;
    font:bold 10px verdana;
    display:block;
    padding:3px;
}